{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/algolia-autocomplete.css') }}">
{% endblock %}
{% block title %}Gestion des séjours nationaux{% endblock %}

{% block headerbody %}
    <h1>{{ include('components/icones/Mes rôles.svg') }}Gestion des séjours nationaux</h1>
    <p>Sur cette page vous pouvez retrouver en fonction de vos rôles, les informations et les fonctionnalités pour gérer l'organisation, la validation, les droits de suivi de vos séjours.</p>
{% endblock %}

{% block body %}
    <div class="wrapper">
        <div class="accordion" id="accordionFlushExample">
            <!-- Séjours nationaux à valider -->
            <div class="accordion-item my-3 ">
                <h2 class="accordion-header " id="flush-headingFour">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="true" aria-controls="flush-collapseFour">
                        <h1>Séjours nationaux à valider</h1>
                    </button>
                </h2>
                <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">   
                        <div class="table-responsive">  
                            <table class="table_a_trier table table-striped">
                                <thead>
                                    <th>Détail</th>
                                    <th>Etat</th>
                                    <th>Séjour</th>
                                    <th>Structure organisatrice</th>
                                    <th>Dates</th>
                                    <th>Type de séjour</th>
                                    <th>Unités partcipantes</th>
                                    <th>Direct·eur·rice</th>
                                    <th>Adresse mail Direct·eur·rice</th>
                                    <th>Tel Direct·eur·rice</th>
                                    <th>Lieu(x)</th>
                                    <th>Lieu(x)</th>
                                    <th>Modifié le</th>
                                </thead>
                                <tbody>       
                                    {% for sejour in sejours_nationaux %}
                                        <tr>
                                            <td>
                                                <a class= "btn btn-primary" href="{{ path('detail_sejour', {id: sejour.id}) }}">Détail</a>
                                            </td>
                                            <td>
                                                {{ include('components/status_sejour.html.twig', {'sejour': sejour}) }}
                                            </td>
                                            <td>{{ sejour.intitule }} </td>
                                            <td>{{ sejour.structureOrganisatrice.nom }} </td>
                                            <td data-sort="{{ sejour.dateDebut|date('U')}}">Du {{ sejour.dateDebut | format_datetime(pattern="d MMMM y", locale='fr')}} au {{ sejour.dateFin | format_datetime(pattern="d MMMM y", locale='fr')}} </td>
                                            <td class="details-unites">{{ sejour.typeSejour }} <i class="fa fa-plus-circle"></i></td>
                                            <td>
                                                {% if sejour.unitesStructureOrganisatrice | length > 0 %}
                                                    <div class="row border rounded border-primary p-3 my-1">
                                                        <div class="col-6">
                                                            <h5>{{ sejour.structureOrganisatrice.nom}}</h5> 
                                                            <div class="text-muted">
                                                                {% if sejour.structureOrganisatrice.structureParent != null and sejour.structureOrganisatrice.structureParent.echelon == constant('ECHELON_STRUCTURE_REGIONAL', sejour.structureOrganisatrice.structureParent) %}
                                                                    {{ sejour.structureOrganisatrice.structureParent.nom }}
                                                                {% else %}
                                                                    National
                                                                {% endif %}
                                                            </div>
                                                            <span class="badge bg-success rounded-pill" >Structure organisatrice</span>                                                            
                                                        </div>
                                                        <div class="col-6">
                                                            <ul>
                                                                {% for uniteParticipante in sejour.unitesStructureOrganisatrice %}
                                                                    <li>
                                                                        {{uniteParticipante.equipe.nom}}
                                                                    </li>
                                                                {% endfor %}
                                                            </ul>
                                                        </div>

                                                    </div>
                                                {% endif %}
                                                {% for structure in sejour.structuresRegroupees %}
                                                    <div class="row border rounded border-primary p-3 my-1">
                                                        {% if structure.estEEDF %}
                                                            <div class="col-6">
                                                                <h5>{{structure.structureEEDF.nom}}</h5> 
                                                                <div class="text-muted">
                                                                    {% if structure.structureEEDF.structureParent != null and structure.structureEEDF.structureParent.echelon == constant('ECHELON_STRUCTURE_REGIONAL', sejour.structureOrganisatrice.structureParent) %}
                                                                        {{ structure.structureEEDF.structureParent.nom }}
                                                                    {% else %}
                                                                        National
                                                                    {% endif %}
                                                                </div>
                                                                {% if structure.statutDemande == constant('STATUT_DEMANDE_ACCEPTE', structure) %}
                                                                    <span class="badge bg-success rounded-pill" >Accepté par le·la repsonsable de la structure</span>
                                                                {% else %}
                                                                    <span class="badge bg-secondary rounded-pill" >En attente d'acceptation de la structure</span>
                                                                {% endif %}
                                                            </div>
                                                            <div class="col-6">
                                                                {% if structure.unitesParticipantes | length > 0 %}
                                                                    <ul>
                                                                        {% for uniteParticipante in structure.unitesParticipantes %}
                                                                            <li>
                                                                                {{uniteParticipante.equipe.nom}}
                                                                            </li>
                                                                        {% endfor %}
                                                                    </ul>
                                                                {% else %}
                                                                    <p><i>Aucune unité de cette structure ne participe au séjour pour l'instant</i></p>
                                                                {% endif %}
                                                            </div>
                                                        {% else %}
                                                            <div class="col-6">
                                                                {{structure.nomStructureNonEEDF}} <span class="badge bg-success rounded-pill" >non EEDF</span>
                                                            </div>
                                                            <div class="col-6">
                                                                {{structure.descriptionStructureNonEEDF}}
                                                            </div>
                                                        {% endif %}
                                                    </div>
                                                {% endfor %} 
                                            </td>
                                            <td class="details-directeur">
                                                {% if sejour.directeur != null %}
                                                    {{ sejour.directeur.prenom }} {{ sejour.directeur.nom }}  <i class="fa fa-plus-circle"></i>
                                                {% endif %}
                                            </td>
                                            <td>{% if sejour.directeur != null %}
                                                    {{ sejour.directeur.adresseMailUsage }}
                                                {% endif %}
                                            </td>
                                            <td>{% if sejour.directeur != null %}
                                                    {% if sejour.directeur.telephoneUsage != null %}
                                                        {{ sejour.directeur.telephoneUsage|phone_number_format('NATIONAL') }}
                                                    {% else %}
                                                        <div class="text-muted">Non défini</div>
                                                    {% endif %}
                                                {% endif %}
                                            </td>
                                            <td class="details-lieux">
                                                {% set arrayLieux = [] %}
                                                 {% for lieu in sejour.utilisationsLieuSejour %}
                                                    {% if lieu.estDefini %}
                                                        {% set arrayLieux = arrayLieux|merge([lieu.lieu.nom]) %}
                                                    {% else %}
                                                        {% set arrayLieux = arrayLieux|merge([lieu.zoneEnvisagee]) %}
                                                    {% endif %}
                                                {% endfor %}
                                                {{ arrayLieux | join(', ', ' et ')}} <i class="fa fa-plus-circle"></i>
                                            </td>
                                            <td>
                                                {% for lieu in sejour.utilisationsLieuSejour %}
                                                    <div class="row">
                                                        <div class="col">
                                                            {% if lieu.estDefini %}
                                                                {{lieu.lieu.nom}}
                                                            {% else %}
                                                                {{lieu.zoneEnvisagee}}
                                                            {% endif %}
                                                        </div>
                                                        <div class="col">
                                                            {% if lieu.estDefini %}
                                                                    <p>{{lieu.lieu.localisation.adresse}}</p>
                                                                    <p>{{lieu.lieu.localisation.codePostalCommune}}</p>
                                                                    <p>{{lieu.lieu.localisation.nomCommune}}</p>
                                                                    <p>{{lieu.lieu.localisation.pays}}</p>
                                                            {% else %}
                                                                    <p class="text-muted">Non renseigné</p>
                                                            {% endif %}
                                                        </div> 
                                                    </div>
                                                {% endfor %}
                                            </td>
                                            <td data-sort="{{sejour.dateModification|date('U')}}">
                                                {{sejour.dateModification|format_datetime(pattern="d MMMM y \à H\:mm", locale='fr')}}
                                            </td>
                                        </tr>
                                    {% else %}
                                        <p>Il n'y a aucun séjour national à valider pour l'instant</p>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Délégation de validation des séjours -->
            <div class="accordion-item my-3 ">
                <h2 class="accordion-header " id="flush-headingFive">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="true" aria-controls="flush-collapseFive">
                        <h1>Délégation du droit de validation</h1>
                    </button>
                </h2>
                <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">     
                        {% for message in app.flashes('success_ajout_valid') %}
                            <div class="alert alert-success" role="alert">{{ message }}</div>
                        {% endfor %}   
                        {% for message in app.flashes('danger_ajout_valid') %}
                            <div class="alert alert-danger" role="alert">{{ message }}</div>
                        {% endfor %} 
                        {% for message in app.flashes('warning_ajout_valid') %}
                            <div class="alert alert-warning" role="alert">{{ message }}</div>
                        {% endfor %}
                        <div class="container border rounded border-secondary p-3 my-1">
                            <h2>Validat·eur·rice·s délégué·e·s des séjours</h2>
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <th>Validat·eur·rice délégué·e</th>
                                        <th>Structure</th>
                                        <th>Séjour</th>
                                        <th>Etat</th>
                                        <th>Dates</th>
                                        <th>Détail</th>
                                        <th>Retirer la délégation de validation</th>
                                    </thead>
                                    <tbody>       
                                        {% for sejour in sejours_nationaux %}
                                            {% for validateur in sejour.validateurs %}
                                                <tr>
                                                    <td>{{ validateur.prenom }} {{ validateur.nom }}</td>
                                                    <td>{{ sejour.structureOrganisatrice.nom }} </td>
                                                    <td>{{ sejour.intitule }} </td>
                                                    <td>
                                                        {{ include('components/status_sejour.html.twig', {'sejour': sejour}) }}
                                                    </td>
                                                    <td>Du {{ sejour.dateDebut | format_datetime(pattern="d MMMM y", locale='fr')}} au {{ sejour.dateFin | format_datetime(pattern="d MMMM y", locale='fr')}} </td>
                                                    <td>
                                                        <a class= "btn btn-primary" href="{{ path('detail_sejour', {id: sejour.id}) }}">Détail</a>
                                                    </td>
                                                    <td>
                                                        <a class= "btn btn-primary" href="{{ path('supprimer_validation_sejour_national', {sejour: sejour.id, personne:validateur.id}) }}">Retirer la délégation de validation</a>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        {% else %}
                                            <p>Il n'y a aucune délégation de validation attribué pour les séjours nationaux pour l'instant</p>
                                        {% endfor %}                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div id="role_validation"class="container border rounded border-secondary p-3 my-1">
                            <h2>Déléguer le rôle de validation à une personne</h2>
                            {{form_start(form_ajout_validateur_sejour_national)}}
                            <div class="form-group">
                                {{form_row(form_ajout_validateur_sejour_national.personne)}}               
                            </div>
                            <div id="selection_structure">
                                <div class="form-group">
                                    {{form_row(form_ajout_validateur_sejour_national.structure)}}               
                                </div>
                                <div id="message_avertissement" style="display:none" class="alert alert-warning" role="alert">Il n'y a aucun séjour en cours pour cette structure</div>
                                <div id="selection_sejour">
                                    <div class="form-group">
                                            {{form_row(form_ajout_validateur_sejour_national.all)}}
                                    </div>
                                    <div id="liste_sejour_valid">
                                        <div class="form-group">
                                            {{form_row(form_ajout_validateur_sejour_national.sejour)}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-error">
                                {{ form_errors(form_ajout_validateur_sejour_national) }}
                            </div>
                            {{form_end(form_ajout_validateur_sejour_national)}}
                        </div>
                    </div>
                </div>
            </div>
            <!-- Archive des séjours validés -->
            {% if archives_sejours_nationaux %}
                <div class="accordion-item my-3 ">
                    <h2 class="accordion-header " id="flush-headingEight">
                        <button class="accordion-button bg-info collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseEight" aria-expanded="true" aria-controls="flush-collapseEight">
                            <h1>Archives des séjours nationaux validés</h1>
                        </button>
                    </h2>
                    <div id="flush-collapseEight" class="accordion-collapse collapse" aria-labelledby="flush-headingEight" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">     
                            <div class="table-responsive">
                                <table class="table_a_trier_archives table table-striped">
                                <thead>
                                    <th>Détail</th>
                                    <th>Etat</th>
                                    <th>Séjour</th>
                                    <th>Structure organisatrice</th>
                                    <th>Dates</th>
                                    <th>Type de séjour</th>
                                    <th>Unités partcipantes</th>
                                    <th>Direct·eur·rice</th>
                                    <th>Adresse mail Direct·eur·rice</th>
                                    <th>Tel Direct·eur·rice</th>
                                    <th>Lieu(x)</th>
                                    <th>Lieu(x)</th>
                                    <th>Modifié le </th>
                                </thead>
                                <tbody>       
                                    {% for sejour in archives_sejours_nationaux %}
                                        <tr>
                                            <td>
                                                <a class= "btn btn-primary" href="{{ path('detail_sejour', {id: sejour.id}) }}">Détail</a>
                                            </td>
                                            <td>
                                                {{ include('components/status_sejour.html.twig', {'sejour': sejour}) }}
                                            </td>
                                            <td>{{ sejour.intitule }} </td>
                                            <td>{{ sejour.structureOrganisatrice.nom }} </td>
                                            <td data-sort="{{ sejour.dateDebut|date('U')}}">Du {{ sejour.dateDebut | format_datetime(pattern="d MMMM y", locale='fr')}} au {{ sejour.dateFin | format_datetime(pattern="d MMMM y", locale='fr')}} </td>
                                            <td class="details-unites">{{ sejour.typeSejour }} <i class="fa fa-plus-circle"></i></td>
                                            <td>
                                                {% if sejour.unitesStructureOrganisatrice | length > 0 %}
                                                    <div class="row border rounded border-primary p-3 my-1">
                                                        <div class="col-6">
                                                            <h5>{{ sejour.structureOrganisatrice.nom}}</h5>
                                                            <div class="text-muted">
                                                                {% if sejour.structureOrganisatrice.structureParent != null and sejour.structureOrganisatrice.structureParent.echelon == constant('ECHELON_STRUCTURE_REGIONAL', sejour.structureOrganisatrice.structureParent) %}
                                                                    {{ sejour.structureOrganisatrice.structureParent.nom }}
                                                                {% else %}
                                                                    National
                                                                {% endif %}
                                                            </div>
                                                            <span class="badge bg-success rounded-pill" >Structure organisatrice</span>                                                            
                                                        </div>
                                                        <div class="col-6">
                                                            <ul>
                                                                {% for uniteParticipante in sejour.unitesStructureOrganisatrice %}
                                                                    <li>
                                                                        {{uniteParticipante.equipe.nom}}
                                                                    </li>
                                                                {% endfor %}
                                                            </ul>
                                                        </div>

                                                    </div>
                                                {% endif %}
                                                {% for structure in sejour.structuresRegroupees %}
                                                    <div class="row border rounded border-primary p-3 my-1">
                                                        {% if structure.estEEDF %}
                                                            <div class="col-6">
                                                                <h5>{{structure.structureEEDF.nom}}</h5> 
                                                                <div class="text-muted">
                                                                    {% if structure.structureEEDF.structureParent != null and structure.structureEEDF.structureParent.echelon == constant('ECHELON_STRUCTURE_REGIONAL', sejour.structureOrganisatrice.structureParent) %}
                                                                        {{ structure.structureEEDF.structureParent.nom }}
                                                                    {% else %}
                                                                        National
                                                                    {% endif %}
                                                                </div>
                                                                {% if structure.statutDemande == constant('STATUT_DEMANDE_ACCEPTE', structure) %}
                                                                    <span class="badge bg-success rounded-pill" >Accepté par le·la repsonsable de la structure</span>
                                                                {% else %}
                                                                    <span class="badge bg-secondary rounded-pill" >En attente d'acceptation de la structure</span>
                                                                {% endif %}
                                                            </div>
                                                            <div class="col-6">
                                                                {% if structure.unitesParticipantes | length > 0 %}
                                                                    <ul>
                                                                        {% for uniteParticipante in structure.unitesParticipantes %}
                                                                            <li>
                                                                                {{uniteParticipante.equipe.nom}}
                                                                            </li>
                                                                        {% endfor %}
                                                                    </ul>
                                                                {% else %}
                                                                    <p><i>Aucune unité de cette structure ne participe au séjour pour l'instant</i></p>
                                                                {% endif %}
                                                            </div>
                                                        {% else %}
                                                            <div class="col-6">
                                                                {{structure.nomStructureNonEEDF}} <span class="badge bg-success rounded-pill" >non EEDF</span>
                                                            </div>
                                                            <div class="col-6">
                                                                {{structure.descriptionStructureNonEEDF}}
                                                            </div>
                                                        {% endif %}
                                                    </div>
                                                {% endfor %} 
                                            </td>
                                            <td class="details-directeur">
                                                {% if sejour.directeur != null %}
                                                    {{ sejour.directeur.prenom }} {{ sejour.directeur.nom }}  <i class="fa fa-plus-circle"></i>
                                                {% endif %}
                                            </td>
                                            <td>{% if sejour.directeur != null %}
                                                    {{ sejour.directeur.adresseMailUsage }}
                                                {% endif %}
                                            </td>
                                            <td>{% if sejour.directeur != null %}
                                                    {% if sejour.directeur.telephoneUsage != null %}
                                                        {{ sejour.directeur.telephoneUsage|phone_number_format('NATIONAL') }}
                                                    {% else %}
                                                        <div class="text-muted">Non défini</div>
                                                    {% endif %}
                                                {% endif %}
                                            </td>
                                            <td class="details-lieux">
                                                {% set arrayLieux = [] %}
                                                 {% for lieu in sejour.utilisationsLieuSejour %}
                                                    {% if lieu.estDefini %}
                                                        {% set arrayLieux = arrayLieux|merge([lieu.lieu.nom]) %}
                                                    {% else %}
                                                        {% set arrayLieux = arrayLieux|merge([lieu.zoneEnvisagee]) %}
                                                    {% endif %}
                                                {% endfor %}
                                                {{ arrayLieux | join(', ', ' et ')}} <i class="fa fa-plus-circle"></i>
                                            </td>
                                            <td>
                                                {% for lieu in sejour.utilisationsLieuSejour %}
                                                    <div class="row">
                                                        <div class="col">
                                                            {% if lieu.estDefini %}
                                                                {{lieu.lieu.nom}}
                                                            {% else %}
                                                                {{lieu.zoneEnvisagee}}
                                                            {% endif %}
                                                        </div>
                                                        <div class="col">
                                                            {% if lieu.estDefini %}
                                                                    <p>{{lieu.lieu.localisation.adresse}}</p>
                                                                    <p>{{lieu.lieu.localisation.codePostalCommune}}</p>
                                                                    <p>{{lieu.lieu.localisation.nomCommune}}</p>
                                                                    <p>{{lieu.lieu.localisation.pays}}</p>
                                                            {% else %}
                                                                    <p class="text-muted">Non renseigné</p>
                                                            {% endif %}
                                                        </div> 
                                                    </div>
                                                {% endfor %}
                                            </td>
                                            <td data-sort="{{sejour.dateModification|date('U')}}">
                                                {{sejour.dateModification|format_datetime(pattern="d MMMM y \à H\:mm", locale='fr')}}
                                            </td>
                                        </tr>
                                    {% else %}
                                        <p>Il n'y a aucun séjour national à valider pour l'instant</p>
                                    {% endfor %}
                                </tbody>
                            </table>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
            <!-- Suivi des séjours -->
            <div class="accordion-item my-3 ">
                <h2 class="accordion-header " id="flush-headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="true" aria-controls="flush-collapseThree">
                        <h1>Suivi des séjours nationaux</h1>
                    </button>
                </h2>
                <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">     
                        {% for message in app.flashes('success_suivi') %}
                            <div class="alert alert-success" role="alert">{{ message }}</div>
                        {% endfor %}   
                        {% for message in app.flashes('danger_suivi') %}
                            <div class="alert alert-danger" role="alert">{{ message }}</div>
                        {% endfor %} 
                        <div class="container border rounded border-secondary p-3 my-1">
                            <h2>Personnes en charge du suivi de séjours nationaux</h2>
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <th>Personne en charge du suivi</th>
                                        <th>Structure</th>
                                        <th>Séjour</th>
                                        <th>Etat</th>
                                        <th>Dates</th>
                                        <th>Détail</th>
                                        <th>Supprimer le suivi</th>
                                    </thead>
                                    <tbody>       
                                        {% for sejour in sejours_nationaux %}
                                            {% for suiveur in sejour.suiveurs %}
                                                <tr>
                                                    <td>{{ suiveur.prenom }} {{ suiveur.nom }}</td>
                                                    <td>{{ sejour.structureOrganisatrice.nom }} </td>
                                                    <td>{{ sejour.intitule }} </td>
                                                    <td>
                                                        {{ include('components/status_sejour.html.twig', {'sejour': sejour}) }}
                                                    </td>
                                                    <td>Du {{ sejour.dateDebut | format_datetime(pattern="d MMMM y", locale='fr')}} au {{ sejour.dateFin | format_datetime(pattern="d MMMM y", locale='fr')}} </td>
                                                    <td>
                                                        <a class= "btn btn-primary" href="{{ path('detail_sejour', {id: sejour.id}) }}">Détail</a>
                                                    </td>
                                                    <td>
                                                        <a class= "btn btn-primary" href="{{ path('supprimer_suivi_sejour_national', {sejour: sejour.id, personne:suiveur.id}) }}">Supprimer le suivi</a>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        {% else %}
                                            <p>Il n'y a aucun suivi attribué pour les séjours nationaux pour l'instant</p>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="container border rounded border-secondary p-3 my-1">
                            <h2>Personnes en charge du suivi des séjours nationaux par structure</h2>
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <th>Personne en charge du suivi</th>
                                        <th>Structure</th>
                                        <th>Supprimer le suivi</th>
                                    </thead>
                                        {% set  structuresNationalesAvecSuivi = [] %}                                                
                                        {% for structureNationale in structuresNationales %}
                                            {% if structureNationale.suiveurs %}
                                                {% set  structuresNationalesAvecSuivi =  structuresNationalesAvecSuivi|merge([structureNationale]) %}
                                            {% endif %}                                    
                                        {% endfor %}
                                        {% for structureNationale in  structuresNationalesAvecSuivi %}
                                            {% for suiveur in structureNationale.suiveurs %}
                                                <tr>
                                                    <td>{{ suiveur.prenom }} {{ suiveur.nom }}</td>
                                                    <td>{{ structureNationale.nom }}</td>
                                                    <td>
                                                        <a class= "btn btn-primary" href="{{ path('supprimer_suivi_structure_nationale', {personne:suiveur.id, structure:structureNationale.id}) }}">Supprimer le suivi</a>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        {% else %}
                                            <p>Il n'y a aucun suivi attribué pour tous les séjours d'une structure pour l'instant</p>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="container border rounded border-secondary p-3 my-1">
                            <h2>Ajouter le rôle de suivi d'un séjour national à une personne</h2>
                            {{form_start(form_ajout_suivi_national)}}
                            <div class="form-group">
                                {{form_row(form_ajout_suivi_national.personne)}}               
                            </div>
                            <div class="form-group">
                                {{form_row(form_ajout_suivi_national.structure)}}               
                            </div>
                            <div id="selection_sejour">
                                <div class="form-group">
                                        {{form_row(form_ajout_suivi_national.all)}}
                                </div>
                                <div id="liste_sejour">
                                    <div class="form-group">
                                        {{form_row(form_ajout_suivi_national.sejour)}}
                                    </div>
                                </div>
                            </div>
                            <div class="form-error">
                                {{ form_errors(form_ajout_suivi_national) }}
                            </div>
                            {{form_end(form_ajout_suivi_national)}}
                        </div>
                    </div>
                </div>
            </div>
            <!-- Visites des séjours -->
            <div class="accordion-item my-3 ">
                <h2 class="accordion-header " id="flush-headingTen">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTen" aria-expanded="true" aria-controls="flush-collapseTen">
                        <h1>Visites des séjours</h1>
                    </button>
                </h2>
                <div id="flush-collapseTen" class="accordion-collapse collapse" aria-labelledby="flush-headingTen" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">     
                        {% for message in app.flashes('success_visite') %}
                            <div class="alert alert-success" role="alert">{{ message }}</div>
                        {% endfor %}   
                        {% for message in app.flashes('danger_visite') %}
                            <div class="alert alert-danger" role="alert">{{ message }}</div>
                        {% endfor %} 
                        <div class="container border rounded border-secondary p-3 my-1">
                            <h2>Personnes en charge des visites de séjours nationaux</h2>
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <th>Séjour</th>
                                        <th>Structure</th>
                                        <th>Dates</th>
                                        <th>Lieu(x)</th>
                                        <th>Etat</th>
                                        <th>Statut des visites</th>
                                    </thead>
                                    <tbody>       
                                        {% for sejour in sejours_visitables %}
                                        <tr>
                                            <td>{{ sejour.intitule }}</td>
                                            <td>{{ sejour.structureOrganisatrice.nom }} </td>
                                            <td>Du {{ sejour.dateDebut | format_datetime(pattern="d MMMM y", locale='fr')}} au {{ sejour.dateFin | format_datetime(pattern="d MMMM y", locale='fr')}} </td>
                                            <td>
                                                {% set arrayLieux = [] %}
                                                {% for lieu in sejour.utilisationsLieuSejour %}
                                                    {% if lieu.estDefini %}
                                                        {% set arrayLieux = arrayLieux|merge([lieu.lieu.nom]) %}
                                                    {% else %}
                                                        {% set arrayLieux = arrayLieux|merge([lieu.zoneEnvisagee]) %}
                                                    {% endif %} 
                                                {% endfor %}
                                                {{ arrayLieux | join(', ', ' et ')}}
                                            </td>
                                            <td>
                                                {{ include('components/status_sejour.html.twig', {'sejour': sejour}) }}
                                            </td>
                                            <td>
                                                {{ include('components/detail_visites_sejour.html.twig', {'sejour': sejour, 'page': 'national'})}}
                                            </td>
                                        {% else %}
                                            <p>Il n'y a aucun séjour national nécessitant de visite pour l'instant</p>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="container border rounded border-secondary p-3 my-1">
                            <h2>Ajouter le rôle de Visiteu·r·se à une personne</h2>
                            {{form_start(form_ajout_visiteur)}}
                            <div class="form-group">
                                {{form_row(form_ajout_visiteur.personne)}}               
                            </div>
                            <div id="selection_structure">
                                <div class="form-group">
                                    {{form_row(form_ajout_visiteur.structure)}}               
                                </div>
                                <div id="selection_sejour">
                                    <div id="liste_sejour_visite">
                                        <div class="form-group">
                                            {{form_row(form_ajout_visiteur.sejour)}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-error">
                                {{ form_errors(form_ajout_visiteur) }}
                            </div>
                            {{form_end(form_ajout_visiteur)}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
{% endblock %}
{% block javascripts %}
    {{ parent() }}

    <script>
            
        /* Formatting function for row details - modify as you need */
        function format_directeur ( d ) {
            // `d` is the original data object for the row
            return '<table class=" border border-secondary" >'+
                '<tr>'+
                    '<td><h4>Coordonnées du·de la direct·eur·rice</h4></td>'+
                '</tr>'+
                '<tr>'+
                    '<td>Adresse mail:</td>'+
                    '<td>'+d[8]+'</td>'+
                '</tr>'+
                '<tr>'+
                    '<td>Téléphone:</td>'+
                    '<td>'+d[9]+'</td>'+
                '</tr>'+
            '</table>';
        }
        function format_lieux ( d ) {
            // `d` is the original data object for the row
            return '<table class="border border-secondary" >'+
                '<tr>'+
                    '<td><h4>Lieu(x) du séjour</h4></td>'+
                '</tr>'+
                '<tr>'+
                    '<td>'+d[11]+'</td>'+
                '</tr>'+
            '</table>';
        }
        function format_unites( d ) {
            // `d` is the original data object for the row
            return '<table class="border border-secondary" >'+
                '<tr>'+
                    '<td><h4>Structures et unités participant au séjour</h4></td>'+
                '</tr>'+
                '<tr>'+
                    '<td>'+d[6]+'</td>'+
                '</tr>'+
            '</table>';
        }

        $(document).ready(function() {
            var col_detail=0,
            col_etat=1,
            col_nom=2,
            col_structure_org=3,
            col_dates=4,
            col_type=5,
            col_unites=6,
            col_dir=7,
            col_mail_dir=8,
            col_tel_dir=9,
            col_lieu=10,
            col_detail_lieu=11,
            col_date_modif=12

            var table_sejours_nationaux = $('.table_a_trier').DataTable({
                autoWidth: false,
                paging: true,
                info: false,
                searching: true,
                language: {
                    emptyTable: "Aucune donnée pour l'instant",
                    search: "Rechercher:",
                    paginate: {
                        previous: "Page précédente",
                        next: "Page suivante"
                    }
                },
                columnDefs: [
                    {   
                        orderable: false, 
                        targets: col_detail 
                    },
                    {
                        targets: [col_unites, col_mail_dir, col_tel_dir, col_detail_lieu],
                        visible: false,
                        searchable: true
                    },
                    { 
                        width: '20%', 
                        targets: [col_nom,col_structure_org,col_dates]
                    }
                ],
                order:[
                        [ col_dates, "asc" ]
                ],
                dom: 'fBtp',
                buttons: [
                    {
                        extend:'excel',
                        className: 'btn btn-secondary btn-xs m-2 py-1',
                        text:'Exporter le tableau',
                        exportOptions: {
                            columns: [ col_etat, col_nom, col_structure_org, col_dates, col_type, col_dir, col_mail_dir, col_tel_dir, col_lieu, col_detail_lieu, col_date_modif]
                        },
                        title: 'Séjours nationaux à valider'
                    }
                ]
            });
            $('.table_a_trier tbody').on('click', 'td.details-directeur', function () {
                var tr = $(this).closest('tr');
                var row = table_sejours_nationaux.row( tr );
        
                if ( row.child.isShown() ) {
                    // This row is already open - close it
                    row.child.hide();
                    tr.find('svg').attr('data-icon', 'circle-plus');    // FontAwesome 5
                }
                else {
                    // Open this row
                    row.child( format_directeur(row.data()) ).show();
                    tr.find('svg').attr('data-icon', 'circle-minus'); // FontAwesome 5
                }
            } );
            $('.table_a_trier tbody').on('click', 'td.details-lieux', function () {
                var tr = $(this).closest('tr');
                var row = table_sejours_nationaux.row( tr );
        
                if ( row.child.isShown() ) {
                    // This row is already open - close it
                    row.child.hide();
                    tr.find('svg').attr('data-icon', 'circle-plus');    // FontAwesome 5
                }
                else {
                    // Open this row
                    row.child( format_lieux(row.data()) ).show();
                    tr.find('svg').attr('data-icon', 'circle-minus'); // FontAwesome 5
                }
            } );
            $('.table_a_trier tbody').on('click', 'td.details-unites', function () {
                var tr = $(this).closest('tr');
                var row = table_sejours_nationaux.row( tr );
        
                if ( row.child.isShown() ) {
                    // This row is already open - close it
                    row.child.hide();
                    tr.find('svg').attr('data-icon', 'circle-plus');    // FontAwesome 5
                }
                else {
                    // Open this row
                    row.child( format_unites(row.data()) ).show();
                    tr.find('svg').attr('data-icon', 'circle-minus'); // FontAwesome 5
                }
            } );

            //Tableau des séjours archivés
            var col_detail=0,
            col_etat=1,
            col_nom=2,
            col_structure_org=3,
            col_dates=4,
            col_type=5,
            col_unites=6,
            col_dir=7,
            col_mail_dir=8,
            col_tel_dir=9,
            col_lieu=10,
            col_detail_lieu=11,
            col_date_modif=12

            var table_sejours_nationaux_archives = $('.table_a_trier_archives').DataTable({
                autoWidth: false,
                paging: true,
                info: false,
                searching: true,
                language: {
                    emptyTable: "Aucune donnée pour l'instant",
                    search: "Rechercher:",
                    paginate: {
                        previous: "Page précédente",
                        next: "Page suivante"
                    }
                },
                columnDefs: [
                    {   
                        orderable: false, 
                        targets: col_detail 
                    },
                    {
                        targets: [col_etat, col_unites, col_mail_dir, col_tel_dir, col_detail_lieu],
                        visible: false,
                        searchable: true
                    },
                    { 
                        width: '20%', 
                        targets: [col_nom,col_structure_org,col_dates]
                    }
                ],
                order:[
                        [ col_dates, "asc" ]
                ],
                dom: 'fBtp',
                buttons: [
                    {
                        extend:'excel',
                        className: 'btn btn-secondary btn-xs m-2 py-1',
                        text:'Exporter le tableau',
                        exportOptions: {
                            columns: [col_nom, col_structure_org, col_dates, col_type, col_dir, col_mail_dir, col_tel_dir, col_lieu, col_detail_lieu, col_date_modif]
                        },
                        title: 'Séjours nationaux validés archivés'
                    }
                ]
            });
            $('.table_a_trier_archives tbody').on('click', 'td.details-directeur', function () {
                var tr = $(this).closest('tr');
                var row = table_sejours_nationaux_archives.row( tr );
        
                if ( row.child.isShown() ) {
                    // This row is already open - close it
                    row.child.hide();
                    tr.find('svg').attr('data-icon', 'circle-plus');    // FontAwesome 5
                }
                else {
                    // Open this row
                    row.child( format_directeur(row.data()) ).show();
                    tr.find('svg').attr('data-icon', 'circle-minus'); // FontAwesome 5
                }
            } );
            $('.table_a_trier_archives tbody').on('click', 'td.details-lieux', function () {
                var tr = $(this).closest('tr');
                var row = table_sejours_nationaux_archives.row( tr );
        
                if ( row.child.isShown() ) {
                    // This row is already open - close it
                    row.child.hide();
                    tr.find('svg').attr('data-icon', 'circle-plus');    // FontAwesome 5
                }
                else {
                    // Open this row
                    row.child( format_lieux(row.data()) ).show();
                    tr.find('svg').attr('data-icon', 'circle-minus'); // FontAwesome 5
                }
            } );
            $('.table_a_trier_archives tbody').on('click', 'td.details-unites', function () {
                var tr = $(this).closest('tr');
                var row = table_sejours_nationaux_archives.row( tr );
        
                if ( row.child.isShown() ) {
                    // This row is already open - close it
                    row.child.hide();
                    tr.find('svg').attr('data-icon', 'circle-plus');    // FontAwesome 5
                }
                else {
                    // Open this row
                    row.child( format_unites(row.data()) ).show();
                    tr.find('svg').attr('data-icon', 'circle-minus'); // FontAwesome 5
                }
            } );
        } );
    </script>
    <script src="https://cdn.jsdelivr.net/autocomplete.js/0/autocomplete.jquery.min.js"></script>
    <script src="{{ asset('js/adherent-autocomplete.js') }}"></script>
    <script src="{{ asset('js/utils.js') }}"></script>
    <script >
        $(document).on('change', '#ajout_role_suivi_sejour_national_structure', function () {
        let $field = $(this)
        let $structureField = $('#ajout_role_suivi_sejour_national_structure')
        let $form = $field.closest('form')
        let target = '#' + $field.attr('id').replace('structure', 'sejour')
        console.log(target);
        // Les données à envoyer en Ajax
        let data = {}
        data[$structureField.attr('name')] = $structureField.val()
        data[$field.attr('name')] = $field.val()

        console.log(data)
        // On soumet les données
        $.post($form.attr('action'), data).then(function (data) {
            // On récupère le nouveau <select>
            let $input = $(data).find(target)
            // On remplace notre <select> actuel
            $(target).replaceWith($input)
        })
        })
    </script>
    <script > // Chargement des séjours d'une structure pour l'ajout du rôle de validation
        $(document).on('change', '#ajout_role_validation_sejour_national_structure', function () {
            let $field = $(this)
            let $structureField = $('#ajout_role_validation_sejour_national_structure')
            let $form = $field.closest('form')
            let target = '#' + $field.attr('id').replace('structure', 'sejour')
            console.log(target);
            // Les données à envoyer en Ajax
            let data = {}
            data[$structureField.attr('name')] = $structureField.val()
            data[$field.attr('name')] = $field.val()

            console.log(data)
            // On soumet les données
            $.post($form.attr('action'), data).then(function (data) {
                // On récupère le nouveau <select>
                let $input = $(data).find(target)
                // On remplace notre <select> actuel
                $(target).replaceWith($input)
                gestionAjoutDelegationValidationSejour($form)
            })
        })
    </script>
    <script >// Chargement des séjours pour la nomination des visites
        $(document).on('change', '#ajout_role_visite_sejour_national_structure', function () {
        let $field = $(this)
        let $structureField = $('#ajout_role_visite_sejour_national_structure')
        let $form = $field.closest('form')
        let target = '#' + $field.attr('id').replace('_structure', '_sejour')
        console.log(target);
        // Les données à envoyer en Ajax
        let data = {}
        data[$structureField.attr('name')] = $structureField.val()
        data[$field.attr('name')] = $field.val()

        console.log(data)
        // On soumet les données
        $.post($form.attr('action'), data).then(function (data) {
            // On récupère le nouveau <select>
            
            let $input = $(data).find(target)
            console.log($input)
            // On remplace notre <select> actuel
            $(target).replaceWith($input)
        })
        })
    </script>

    <script>
        var checkboxTouteLaStructure = document.getElementById("ajout_role_suivi_sejour_national_all");
        var selectSejour = document.getElementById("ajout_role_suivi_sejour_national_sejour");
        var blocListeSejour = document.getElementById("liste_sejour");



        gestionSelectionSejoursSuivi(checkboxTouteLaStructure, selectSejour, blocListeSejour);
        checkboxTouteLaStructure.onclick= function(e){
            gestionSelectionSejoursSuivi(checkboxTouteLaStructure, selectSejour, blocListeSejour)
        };
        var checkboxValidationTouteLaStructure = document.getElementById("ajout_role_validation_sejour_national_all");
        var selectSejourValidation = document.getElementById("ajout_role_validation_sejour_national_sejour");
        var blocListeSejourValidation = document.getElementById("liste_sejour_valid");

        gestionSelectionSejoursSuivi(checkboxValidationTouteLaStructure, selectSejourValidation, blocListeSejourValidation);
        checkboxValidationTouteLaStructure.onclick= function(e){
            gestionSelectionSejoursSuivi(checkboxValidationTouteLaStructure, selectSejourValidation, blocListeSejourValidation)
        };

        function gestionSelectionSejoursSuivi(checkboxTouteLaStructure, selectSejour, blocListeSejour)
        {
            if(checkboxTouteLaStructure !==null)
            {
                if (checkboxTouteLaStructure.checked == true) {
                    selectSejour.required=false;
                    selectSejour.disabled=true;
                    blocListeSejour.style.display = "none";
                } else {
                    
                    selectSejour.required=true;
                    selectSejour.disabled=false;
                    blocListeSejour.style.display = "block";
                }
            }

        }
        function gestionAjoutDelegationValidationSejour($div)
        {
            $div_message_avertissement=$div.find('#message_avertissement')
            $selectSejour=$div.find('#selection_sejour')

            // S'il n'y a qu'une option ("sélectionnez le séjour"), on affiche le message d'avertissement
            if($selectSejour.find('option').length < 2 )
            {
                activerEtAfficherDivForm($div_message_avertissement);
            }else{
                desactiverEtMasquerDivForm($div_message_avertissement);
            }
        }
    </script>
{% endblock %}


