{# templates/form/fields.html.twig #}
{% extends 'form/fields.html.twig' %}


{% block choice_widget_expanded -%}
    <div {{ block('widget_container_attributes') }} class="row">
        {%- for child in form %}
            <div class="col-6">
            {{- form_widget(child, {
                parent_label_class: label_attr.class|default(''),
                translation_domain: choice_translation_domain,
                valid: valid,
            }) -}}
            </div>
        {% endfor -%}
    </div>
{%- endblock choice_widget_expanded %}

