{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block title %}Mes notifications{% endblock %}

{% block headerbody %}
    <h1>{{ include('components/icones/4 - Mes notifications.svg') }}Mes notifications</h1>
    <p>Vous pouvez retrouver sur cette page toutes les notifications liées à votre profil pour toutes les fonctions et tous les périmètres vous concernant.</p>
    <p>Les notifications sont supprimées au bout d'un an.</p>
{% endblock %}

{% block body %}
    <div class="wrapper">   
        <a class= "btn btn-outline-secondary -p-1 m-3" href="{{ path('marquer_toutes_notification_comme_lues')}}">Marquer tout comme lu</a>
        {{ include('notifications/tableau_notifications.html.twig') }} 
    </div> 
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    
    <script>
        $(document).ready(function() {
            let table = $('.table_a_trier').DataTable({
                paging: true,
                info: false,
                searching: true,
                language: {
                    emptyTable: "Aucune notification pour l'instant",
                    search: "Rechercher:",
                    paginate: {
                        previous: "Page précédente",
                        next: "Page suivante"
                    }
                },
                columnDefs: [
                    { orderable: false, targets: 3 }
                ],
                order: [[ 0, "desc" ]],
                dom: 'ftp'
            });
            gestionBoutonSupprimerEtFermer(table)
           table.on( 'draw', function () {
            gestionBoutonSupprimerEtFermer(table)
        })
        } );
        
        
        function gestionBoutonSupprimerEtFermer(table)
        {
            //Gestion du click des boutons de fermeture de modale
            $("button.lu_notif").each(
                function() 
                {
                    
                    $(this).click(function() {
                        
                        var $id= $(this).attr("id")
                        $("#row_"+$id).removeClass("bg-warning")
                        $("#row_"+$id).find('#etat_lecture').first().replaceWith('<td>Lu</td>')
                        $.post('{{path('notification_lue')}}',
                            { id: $id},
                            function(response)
                            {

                            },
                        "json");
                    });
                }
            );

            //Gestion du click des boutons de suppression
            $("button.delete_notif").each(
                function() 
                {
                    $(this).click(function() {
                        
                        var $id_a_supprimer= $(this).attr("id")

                        $('#modal_notification_'+$id_a_supprimer).modal('hide');
                        $('.modal-backdrop').hide();
                        $("#row_"+$id_a_supprimer).remove();
                        $.post('{{path('supprimer_notification')}}',
                            { id: $id_a_supprimer},
                            function(response)
                            {

                            },
                        "json");
                    });
                }
            );
        }
    </script>
{% endblock %}


