<h1>Bonjour {{personne.prenom}} {{personne.nom}}</h1>
<p>Vous avez reçu {{ notifications|length}} nouvelle(s) notification(s) depuis l'outil R.O.A.D.S</p>

<ul>
    {% for notification in notifications %}
        <li class="border">

            <i>le {{ notification.dateCreation | format_datetime(pattern="d MMMM y \à H\:mm", locale='fr') }}</i>
            <h3>"{{notification.titre}}"</h3>
            {{ include(template_from_string(notification.contenuMessage)) }}
        </li>
    {% endfor %}
</ul>
<small>Cet e-mail vous est envoyé automatiquement, merci de ne pas y répondre. Vous pouvez modifier vos paramètres de notifications sur R.O.A.D.S dans la rubrique <a href="{{ url('profil_utilisateur') }}">Mon compte</a></small> 

