<h1>Bonjour {{notification.personne.prenom}} {{notification.personne.nom}}</h1>
<p>Vous avez reçu une nouvelle notification depuis l'outil R.O.A.D.S</p>
<i>{{ notification.dateCreation |format_datetime(pattern="d MMMM y \à H\:mm", locale='fr') }}</i>
<div>
    <h3>"{{notification.titre}}"</h3>
    {{ include(template_from_string(notification.contenuMessage)) }}
</div>
<small>Cet e-mail vous est envoyé automatiquement, merci de ne pas y répondre. Vous pouvez modifier vos paramètres de notifications sur R.O.A.D.S dans la rubrique <a href="{{ url('profil_utilisateur') }}">Mon compte</a></small> 

