<p>Un commentaire de <b>{{commentaire.personne.prenom}} {{commentaire.personne.nom}}</b> a été déposé sur votre projet de séjour "{{sejour.intitule}}" de la structure {{sejour.structureOrganisatrice.nom}}, sur la partie "<b>{{ constant('MAP_EMPLACEMENTS_SUJETS_COMMENTAIRES', commentaire)[commentaire.sujet] }}</b>".</p>
<p>Vous pouvez le retrouver dans le détail du séjour en cliquant <a href="{{ url('detail_sejour', {id: sejour.id}) }}">ici</a></p>