<p>{{personne.prenom}} {{personne.nom}} de la structure {{structure.nom}} a accepté le regroupement avec le séjour "{{sejour.intitule}}" de la structure {{sejour.structureOrganisatrice.nom}}.</p>
<p>{{personne.prenom}} {{personne.nom}} peut désormais suivre ce séjour et également modifier la sélection des participant·e·s des unités de sa structure participant au séjour.</p>
<p> Si ce n'est déjà fait, n'oubliez pas de réaliser une charte de jumelage/regroupement.</p>