<p>{{personne.prenom}} {{personne.nom}} en direction sur le séjour {{sejour.intitule}} s'est désinscrit·e de R.O.A.D.S.</p>
<p>Son rôle de direction dans l'outil a été automatiquement transféré vers {{sejour.structureOrganisatrice.organisateur[0].prenom}} {{sejour.structureOrganisatrice.organisateur[0].nom}} de la structure {{sejour.structureOrganisatrice.nom}}.</p>


