<p>Le séjour "{{sejour.intitule}}" de la structure {{sejour.structureOrganisatrice.nom}} n'a pas été validé par {{personne.prenom}} {{personne.nom}} pour 
{% if sejour.structureOrganisatrice.structureParent.echelon == constant('ECHELON_STRUCTURE_NATIONAL', sejour.structureOrganisatrice) %}
    l'échelon national
{% else %}
    l'échelon régional
{% endif %}.</p>
<p>Le séjour revient à l'état <b>{{ constant('MAP_LABEL_PAR_STATUT_SEJOUR', sejour)[constant('STATUT_SEJOUR_CONSTRUCTION_PROJET', sejour)] }}</b>.</p>
<p> Merci d'effectuer les modifications nécessaires demandées avant de redemander la validation.</p>