<p>Votre séjour "{{sejour.intitule}}" de la structure {{sejour.structureOrganisatrice.nom}} est terminé.</p>
<p>Il convient maintenant de clotûrer le dossier en renseignant plusieurs informations de bilan</p>
<p>Pour cela, vous avez accès à la partie clôture du séjour.</p> 