<p>{{validateur.prenom}} {{validateur.nom}} de la structure {{structure.nom}} a accordé à {{personne.prenom}} {{personne.nom}} les droits pour renseigner les informations de validation des séjours suivants :
<ul>
    {% for sejour_validation in sejours_validation %}
        <li>{{sejour_validation.intitule}}</li>
    {% endfor %}
</ul>
</p>