<p>{{personne.prenom}} {{personne.nom}} s'est désinscrit·e de R.O.A.D.S.</p>
<p> Son rôle d'organisateur·rice/validateur·ice pour {{structure.nom}} n'est donc plus assuré.</p>
<p>Il convient de voir avec les échelons supérieur (région/CD) pour nommer une nouvelle personne et ainsi permettre aux séjours qui en dépendent de pouvoir continuer leur cycle de préparation.</p>  