<p>La visite prévue pour le séjour "<b>{{sejour.intitule}}</b>" de la structure {{sejour.structureOrganisatrice.nom}} par <b>{{personne.prenom}} {{personne.nom}}</b> est annulée avant sa réalisation.</p>