<p>{{validateur.prenom}} {{validateur.nom}} de l'échelon national a accordé à {{personne.prenom}} {{personne.nom}} les droits pour consulter et commenter les informations du séjour "{{sejour.intitule}}" de la structure {{sejour.structureOrganisatrice.nom}}.</p>