<p>{{personne.prenom}} {{personne.nom}} a refusé la direction adjointe du séjour "{{sejour.intitule}}" de la structure {{sejour.structureOrganisatrice.nom}}, Il·elle ne pourra pas remplir ou modifier les informations du séjour.</p>