<p>L'équipe du séjour {{sejour.intitule}} de la structure {{sejour.structureOrganisatrice.nom}} a signalé que le projet du séjour était prêt pour la validation depuis 15 jours.</p>
<p> Si les démarches de validation ont été faites, vous pouvez renseigner les avis de validation en allant dans l'onglet dédié dans le <a href="{{ url('detail_sejour', {id: sejour.id}) }}">détail du séjour</a>.</p>