<p>{{organisateur.prenom}} {{organisateur.nom}} de la structure {{sejour.structureOrganisatrice.nom}} a réactivé le séjour "{{sejour.intitule}}".</p>
<p>Les modifications et les commentaires sur ce projet sont donc de nouveau possible. Le projet est revenu à l'état <b>{{ constant('MAP_LABEL_PAR_STATUT_SEJOUR', sejour)[constant('STATUT_SEJOUR_CONSTRUCTION_PROJET', sejour)] }}</b>.</p>
