<p>Le séjour "<b>{{sejour.intitule}}</b>" de la structure {{sejour.structureOrganisatrice.nom}} commence dans 45 jours, le <b>{{sejour.dateDebut| format_datetime(pattern="d MMMM y", locale='fr')}}</b>.</p>
<p>Si ce n’est déjà fait, il vous reste <b>moins de 15 jours</b> pour réaliser la déclaration auprès des services de la jeunesse et des sports sur la plateforme TAM, pour les camps et séjours le délai est de <b>1 mois</b> avant le début.</p>
<p>Pour faciliter cette déclaration, il existe une fonction <b>“exporter les informations pour la déclaration TAM”</b> sur la fiche du séjour à partir de l’état “en attente de validation”. Cet export vous permet de visualiser précisément comment remplir votre déclaration à condition que vous ayez rempli les informations de votre fiche.</p>
<p>Nous vous demandons de venir mettre une copie du récépissé de déclaration dans la rubrique <b>"informations générales"</b> de votre fiche de séjour sur ROADS.</p>
