<p>{{sejour.directeur.prenom}} {{sejour.directeur.nom}} vous a nommé·e comme assurant une fonction de direction adjointe sur le séjour "{{sejour.intitule}}".</p>
<p>Vous devez valider ou refuser cette mission en vous rendant dans la rubrique <a href="{{ url('profil_utilisateur') }}">Mon compte</a>.</p>