<p>Le séjour "{{sejour.intitule}}" de la structure "{{sejour.structureOrganisatrice.nom}}" vient d'être créé.</p>
<p>Il est à l'état <b>{{ constant('MAP_LABEL_PAR_STATUT_SEJOUR', sejour)[constant('STATUT_SEJOUR_DECLARATION_INTENTION', sejour)] }}</b>, il n'a pas encore été déposé, et donc n'est pas visible par d'autres personnes.</p>