<p>{{validateur.prenom}} {{validateur.nom}} de la structure {{structureValidation.nom}} a retiré à {{personne.prenom}} {{personne.nom}} les droits de suivi du séjour "{{sejour.intitule}}" de la structure {{sejour.structureOrganisatrice.nom}}.</p>