<p>{{personne.prenom}} {{personne.nom}} a accepté la direction adjointe du séjour "{{sejour.intitule}}" de la structure {{sejour.structureOrganisatrice.nom}}.</p>
<p>Il·elle a maintenant la possibilité d'apporter des modifications sur le projet de séjour et les participants. </p>