<p>La fiche du séjour <b>"{{sejour.intitule}}"</b> de la structure {{sejour.structureOrganisatrice.nom}} sera clôturée dans 15 jours, si ce n’est déjà fait, merci de renseigner les éléments de bilan.</p>
<p>Si c’est le cas, vous pouvez sans attendre, vous même clôturer le séjour avec le bouton dédié.</p>