<p>Le compte-rendu de la visite du séjour "<b>{{sejour.intitule}}</b>" de la structure {{sejour.structureOrganisatrice.nom}} à été déposé sur la fiche du séjour par <b>{{personne.prenom}} {{personne.nom}}</b>.</p>