<p>{{personne.prenom}} {{personne.nom}} de la structure {{structure.nom}} a refusé la proposition de regroupement pour le séjour "{{sejour.intitule}}" de la structure {{sejour.structureOrganisatrice.nom}}.</p>
<p>Les participant·e·s et membres de la structure {{structure.nom}} ne sont donc pas disponibles pour être ajouté·e·s sur le séjour.</p>
<p>Si ce n'est déjà fait, n'hésitez pas à entrer en contact directement pour échanger sur cette décision.</p>  