<p>Le séjour {{sejour.intitule}} de la structure {{sejour.structureOrganisatrice.nom}}, commence dans 30 jours.</p>
<p>La demande de validation n'a pas encore été faite, les avis de validation ne peuvent donc pas être remplis.</p>
<p>Pour ce faire, vous devez vous rendre dans le <a href="{{ url('detail_sejour', {id: sejour.id}) }}">détail du séjour</a> et cliquer sur <b>"envoyer le séjour en validation"</b></p>.