<p>La date de début du séjour "{{sejour.intitule}}" de la structure {{sejour.structureOrganisatrice.nom}} est arrivée.</p>
<p>L'état du séjour est maintenant <b>{{ constant('MAP_LABEL_PAR_STATUT_SEJOUR', sejour)[constant('STATUT_SEJOUR_EN_COURS', sejour)] }}</b>.</p>
<p>Il est possible de mettre à jour les informations le concernant jusqu'a sa date de fin.</p>