<p>{{sejour.directeur.prenom}} {{sejour.directeur.nom}} vous propose de rejoindre l'équipe d'encadrement du séjour "{{sejour.intitule}}" de la structure {{sejour.structureOrganisatrice.nom}}.</p>
<p>Vous devez valider ou refuser cette mission en vous rendant dans la rubrique <a href="{{ url('profil_utilisateur') }}">Mon compte</a>.</p>