<p>La déclaration d'intention du séjour <b>"{{sejour.intitule}}"</b> de la structure {{sejour.structureOrganisatrice.nom}} est déposée.</p>
<p>Les dates sont du <b>{{sejour.dateDebut | format_datetime(pattern="d MMMM y", locale='fr')}}</b> au <b>{{sejour.dateFin | format_datetime(pattern="d MMMM y", locale='fr')}}</b>
<p><b>{{sejour.directeur.prenom}} {{sejour.directeur.nom}}</b> a accepté la direction.</p>
<p>La partie construction du projet de séjour est désormais accessible.</p>


