<p>Le séjour "{{ sejour.intitule}}" de {{sejour.structureOrganisatrice.nom}}, qui est un séjour de regroupement, s'est ouvert à l'une de vos structures {{structure.nom}}.</p>
<p>Vous devez valider ou refuser cette demande de regroupement en vous rendant dans la rubrique <a href="{{ url('gestion_structure', {id: structure.id}) }}">"Mes périmetres > demandes de regroupement" </a>.</p>
