<p>Un commentaire déposé sur le projet du séjour "{{demandeModerationCommentaire.commentaire.sejour.intitule}}" de la structure {{demandeModerationCommentaire.commentaire.sejour.structureOrganisatrice.nom}} dans la rubrique "<b>{{ constant('MAP_EMPLACEMENTS_SUJETS_COMMENTAIRES', demandeModerationCommentaire.commentaire)[demandeModerationCommentaire.commentaire.sujet] }}</b>", et qui a reçu une demande de modération, à été conservé par un·e animateur·rice de ROADS.<p>
