<p>L'aspect international du séjour "{{sejour.intitule}}" de la structure {{sejour.structureOrganisatrice.nom}} n'a pas été validé par {{personne.prenom}} {{personne.nom}} pour l'équipe internationale EEDF (ENI).</p>
<p>Le séjour revient à l'état <b>{{ constant('MAP_LABEL_PAR_STATUT_SEJOUR', sejour)[constant('STATUT_SEJOUR_CONSTRUCTION_PROJET', sejour)] }}</b>.</p>
<p>Merci d'effectuer les modifications nécessaires demandées avant de redemander la validation.</p>