<p>Le séjour {{sejour.intitule}} de la structure {{sejour.structureOrganisatrice.nom}}, qui a fini le {{sejour.dateFin|format_datetime(pattern="d MMMM y", locale='fr')}}, n'a pas encore enregistré toutes les informations de bilan, nécessaires à la clôture du séjour.</p>
<p>Ces éléments sont à remplir la partie <a href="{{ url('detail_sejour', {id: sejour.id}) }}">détail du séjour</a>.</p>