<p>Le séjour "{{sejour.intitule}}" de la structure {{sejour.structureOrganisatrice.nom}} a été validé par {{personne.prenom}} {{personne.nom}} pour 
{% if sejour.structureOrganisatrice.structureParent.echelon == constant('ECHELON_STRUCTURE_NATIONAL', sejour.structureOrganisatrice) %}
    l'échelon national
{% else %}
    l'échelon régional
{% endif %}.</p>
 