<p>{{organisateur.prenom}} {{organisateur.nom}} de la structure {{sejour.structureOrganisatrice.nom}} a accordé à {{personne.prenom}} {{personne.nom}} les droits pour consulter et commenter les informations du séjour "{{sejour.intitule}}" de la structure {{sejour.structureOrganisatrice.nom}}.</p>  