<p>Le séjour "{{sejour.intitule}}" de la structure {{sejour.structureOrganisatrice.nom}} a changé de type. Il est maintenant indentifié comme un projet à dimension internationale.</p>
<p>L'équipe internationale a donc les droits dédiés à la validation et au suivi de ce séjour.</p> 
