<p>L'aspect international du séjour "{{sejour.intitule}}" de la structure {{sejour.structureOrganisatrice.nom}} a été validé par {{personne.prenom}} {{personne.nom}} pour l'équipe internationale EEDF (ENI).</p>
<p>Pour être validé, le séjour "{{sejour.intitule}}" doit également recevoir l'avis favorable de 
{% if sejour.structureOrganisatrice.structureParent.echelon == constant('ECHELON_STRUCTURE_NATIONAL', sejour.structureOrganisatrice) %}
    l'échelon national
{% else %}
    l'échelon régional
{% endif %}.</p>