<p>{{validateur.prenom}} {{validateur.nom}} de la structure {{structureValidation.nom}} a retiré à {{personne.prenom}} {{personne.nom}} les droits de suivi du séjour de suivi de tous les séjours de la structure {{structure.nom}}.</p>