<p>{{sejour.directeur.prenom}} {{sejour.directeur.nom}} n'a pas encore accepté sa direction du séjour {{sejour.intitule}} de la structure {{sejour.structureOrganisatrice.nom}}, demandée le {{sejour.dateDepotDeclarationIntention|format_datetime(pattern="d MMMM y", locale='fr')}}.</p>
<p>Vous devez valider ou refuser cette mission en vous rendant dans la rubrique <a href="{{ url('profil_utilisateur') }}">Mon compte</a>.