<p>{{sejour.directeur.prenom}} {{sejour.directeur.nom}} a retiré la fonction d'adjoint·e à {{personne.prenom}} {{personne.nom}} pour le séjour séjour "{{sejour.intitule}}" de la structure {{sejour.structureOrganisatrice.nom}}.</p>