<p>{{personne.prenom}} {{personne.nom}} de la structure {{structure.nom}} a modifié le nombre de participant·e·s de sa structure pour le séjour "{{sejour.intitule}}" de la structure {{sejour.structureOrganisatrice.nom}}.