<p>{{validateur.prenom}} {{validateur.nom}} pour l'équipe internationale EEDF a retiré à {{personne.prenom}} {{personne.nom}} les droits de suivi du séjour "{{sejour.intitule}}" de la structure {{sejour.structureOrganisatrice.nom}}.</p>