<p>{{validateur.prenom}} {{validateur.nom}} de l'échelon national a retiré à {{personne.prenom}} {{personne.nom}} les droits de suivi du séjour "{{sejour.intitule}}" de la structure {{sejour.structureOrganisatrice.nom}}.</p>