<p>{{organisateur.prenom}}
 {{organisateur.nom}} 
 de la structure {{sejour.structureOrganisatrice.nom}} a retiré à 
 {{personne.prenom}} {{personne.nom}} les droits de suivi du séjour "{{sejour.intitule}}" de la structure {{sejour.structureOrganisatrice.nom}}.</p>  