<p><b>{{validateur.prenom}} {{validateur.nom}}</b> de la structure {{sejour.structure.nom}} a retiré à <b>{{personne.prenom}} {{personne.nom}}</b> les droits pour renseigner les informations de validation du séjour <b>{{sejour.intitule}}</b>.</p>