<p>La direction du séjour <b>"{{sejour.intitule}}"</b> de la structure {{sejour.structureOrganisatrice.nom}} évolue.</p>
<p>{{organisateur.prenom}} {{organisateur.nom}} a nommé <b>{{sejour.directeur.prenom}} {{sejour.directeur.nom}}</b> à la place de {{personne.prenom}} {{personne.nom}}.</p>
<p>Nous invitons <b>{{sejour.directeur.prenom}} {{sejour.directeur.nom}}</b> à contacter les personnes en charge de la validation du séjour.</p>

