<p>{{organisateur.prenom}} {{organisateur.nom}} de la structure {{sejour.structureOrganisatrice.nom}} a annulé le séjour "{{sejour.intitule}}".</p>
<p>Les informations concernant ce séjour sont supprimées et ne pourront plus être récupérées.</p>