<p>{{organisateur.prenom}}
 {{organisateur.nom}} 
 de la structure {{structure.nom}} a retiré à 
 {{personne.prenom}} {{personne.nom}} les droits de suivi de tous les séjours de la structure {{structure.nom}}.</p>  