<p>Une demande de modération d'un commentaire a été faite, vous pouvez retrouver et gérer cette demande en suivant ce <a href="{{ url('animation_general') }}">lien</a>, ou en allant dans <b>"gestion de ROADS > Animation"</b>.</p>