<p>Les informations de clôture du séjour "{{sejour.intitule}}" de la structure {{sejour.structureOrganisatrice.nom}} ont été renseignées.</p>
<p>Le séjour est considéré comme clôturé. Bravo et merci à tou·t·es.</p> 