<p>{{validateur.prenom}} {{validateur.nom}} de la structure {{structureValidation.nom}} a accordé à {{personne.prenom}} {{personne.nom}} les droits pour consulter et commenter les informations de tous les séjours de la structure {{structure.nom}}.</p>