<p>Au moins une modification importante à été apportée au séjour "{{sejour.intitule}}" de la structure {{sejour.structureOrganisatrice.nom}}:
    <ul>
        {% for modification_importante in modifications_importantes %}
            <li>{{modification_importante|raw}}</li>
        {% endfor %}
    </ul>
</p>
