<p>{{validateur.prenom}} {{validateur.nom}} pour l'équipe internationale EEDF a accordé à {{personne.prenom}} {{personne.nom}} les droits pour consulter et commenter les informations du séjour "{{sejour.intitule}}" de la structure {{sejour.structureOrganisatrice.nom}}.</p>