<p>Le séjour "<b>{{sejour.intitule}}</b>" de {{sejour.structureOrganisatrice.nom}} commence dans 8 jours, le <b>{{sejour.dateDebut| format_datetime(pattern="d MMMM y", locale='fr')}}</b>.</p>
<p>Si ce n’est déjà fait, il est temps de vérifier et mettre à jour la déclaration TAM du séjour, notamment pour s’assurer que que l’identité de chacun·e est bien reconnu (AIA) et que les responsables stagiaires y sont bien identifié·e·s.</p>
<p><b>Attention, après le dernier jour du séjour, la modification de la déclaration ne sera plus possible</b>.</p>
<p>En cas de doute ou de besoin d'aide vous pouvez écrire à <a href="mailto:tam@eedf.fr">tam@eedf.fr</a>. Nous vous demandons de venir mettre une copie de la déclaration dans informations générales de votre fiche de séjour sur ROADS.</p>