<p>Une fiche de séjour à été ouverte en déclaration d'intention pour la structure {{sejour.structureOrganisatrice.nom}} depuis 30 jours.</p>
<p>Ce séjour n'ayant pas été publié, il n'est pas encore considéré comme un projet de séjour confirmé et n'est pas visible par d'autres pesonne que l'organisat·eur·rice.</p>
<p>Si ce projet de séjour est bien prévu, il faut <b>"publier la déclaration d'intention"</b> en allant dans le <a href="{{ url('detail_sejour', {id: sejour.id}) }}">détail du séjour</a>.</p>