<p>Le nouveau rôle de <b>{{role}}</b> vous a été ajouté par un·e adminstrat·eur·rice de ROADS.</p>
<p>Si vous pensez que c'est une erreur, merci de le signaler en allant dans la rubrique "un problème?".<p>