<p>{{personne.prenom}} {{personne.nom}} s'est désinscrit·e de R.O.A.D.S.</p>
<p>Les démarches ou actions à travers l'outil ne lui sont plus accessibles.</p>
<p>Le renouvellement de son inscription sur R.O.A.D.S sera nécessaire pour toutes futures actions sur l'outil.</p>