<p>Le regroupement de {{structure.nom}} sur le séjour "{{ sejour.intitule}}" de la structure {{sejour.structureOrganisatrice.nom}} a été annulé.</p>
<p>Les membres et particicipant·e·s des unités de cette structure ne sont plus disponibles pour ce séjour. Ce·lles·ux qui étaient déjà inscrit·e·s ont été retiré·e·s de la participation à ce séjour. {{personne.prenom}} {{personne.nom}} n'a plus les droits de suivi sur ce séjour.</p>

