<p>{{organisateur.prenom}} {{organisateur.nom}} de la structure {{sejour.structureOrganisatrice.nom}} a suspendu le séjour "{{sejour.intitule}}".</p>
<p> Les modifications et les commentaires sur ce projet sont donc désactivés. Le projet peut soit être supprimé ou être réactivé.</p>