<div class="table-responsive">
            <table class="table_a_trier table table-striped">
            <thead>
                <th>Date</th>
                <th>Titre</th>
                <th>Etat</th>
                <th>Détail</th>
            </thead>
            <tbody>       
                {% for notification in notificationsAAfficher %}
                    <tr id="row_{{ notification.id}}" {% if notification.lu == false %}class="bg-warning"{% endif %}>
                        <td data-sort="{{ notification.dateCreation|date('U')}}">{{notification.dateCreation|format_datetime(pattern="d MMMM y \à H\:mm", locale='fr')}}</td>
                        <td>{{ notification.titre }}</td>
                        <td id="etat_lecture">{% if notification.lu %}
                                Lu
                            {% else %}
                                <span class="badge rounded-pill bg-secondary">Non lu</span>
                            {% endif %}
                        </td>
                        <td>
                            <a class= "btn btn-outline-secondary" data-target="#modal_notification_{{notification.id}}" data-toggle="modal" href="#">Détails</a>
                            <div class="modal fade" id="modal_notification_{{notification.id}}" tabindex="-1" role="dialog">
                                <div class="modal-dialog modal-xl" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">{{notification.titre}}</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row border rounded border-secondary p-3 m-3">
                                                {{notification.contenuMessage|raw}}
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary delete_notif" id="{{notification.id}}"  data-dismiss="modal">Supprimer</button>
                                            <button type="button" class="btn btn-secondary lu_notif" id="{{notification.id}}" data-dismiss="modal">Fermer</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                {% else %}
                    <p>Vous n'avez aucune notification pour l'instant</p>
                {% endfor %}
            </tbody>
            </table>
        </div>