{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/algolia-autocomplete.css') }}">
{% endblock %}
{% block title %}Documents utiles{% endblock %}

{% block headerbody %}
    <h1> {{ include('components/icones/7 - Documents utiles.svg') }}Documents utiles</h1>
    <p>Vous pouvez retrouver sur cette page les accès aux différents documents ressources disponibles sur R.O.A.D.S</p>
{% endblock %}
{% block body %}
    <div class="wrapper">
        <table class="table table-striped">
            <thead>
                <th class="col-3">Nom</th>
                <th class="col-6">Description</th>
                <th class="col-2">Type</th>
                <th class="col-1"></th>
            </thead>
            <tbody>
            {% for document in documents %}
                <tr>
                    <td>{{document.nom}}</td>
                    <td>{{document.description}}</td>
                    <td>{{document.type}}</td>
                    <td>
                        {% if document.type == constant('App\\Entity\\DocumentRessource::TYPE_FICHIER') %}
                            <a target='_blank' href="{{ vich_uploader_asset(document.document) }}">
                                Télécharger
                            </a>
                        {% else %}
                            <a target='_blank' href="{{document.lien}}">
                                Voir
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %} 
            </tbody>
        </table>
    </div> 
{% endblock %}