{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block title %}Lieux de séjours{% endblock %}

{% block headerbody %}
    <h1>{{ include('components/icones/5 - Lieux de séjours.svg') }}Lieux de séjours</h1>
    <p>Liste des lieux de camps issus de tous les séjours déposés sur ROADS.</p>
{% endblock %}

{% block body %}
    <div class="wrapper">
        <div class="container m-1">
            <table class="table table-striped" id="table_lieux">
                <thead>
                    <th>EEDF</th>
                    <th>Site internet</th>
                    <th>Code postal</th>
                    <th>Commune</th>
                    <th>Adresse</th>
                    <th>Département (ou pays)</th>
                    <th>Structure</th>
                    <th>Dates de présence</th>
                    <th>Nombre de participant·e·s</th>
                </thead>
                <tbody>       
                    {% for utilisationLieu in lieux_sejours %}
                        {% if utilisationLieu.lieu %}
                        <tr>
                            <td>
                                {% if utilisationLieu.lieu.estEEDF %}
                                Oui
                                {% else %}
                                Non
                                {% endif %}
                            </td>
                            <td>
                                {% if utilisationLieu.lieu.siteInternet %}
                                    <a href="{{ utilisationLieu.lieu.siteInternet}}" target="_blank">lien</a>
                                {% endif %}   
                            </td>
                            <td>{{ utilisationLieu.lieu.localisation.codePostalCommune}}</td>
                            <td>{{ utilisationLieu.lieu.localisation.nomCommune}}</td>
                            <td>{{ utilisationLieu.lieu.localisation.adresse}} </br>{{ utilisationLieu.lieu.localisation.complementAdresse}}</td>
                            <td>{% if utilisationLieu.lieu.localisation.pays|lower == "france" %}
                                    {{ utilisationLieu.lieu.localisation.departement}}
                                {% else %} 
                                    {{ utilisationLieu.lieu.localisation.pays}}
                                {% endif %}   
                            </td>
                            <td>{{ utilisationLieu.sejour.structureOrganisatrice.nom}}</td>
                            <td data-sort="{{ utilisationLieu.dateArrivee|date('U')}}">Du {{ utilisationLieu.dateArrivee | format_datetime(pattern="d MMMM y", locale='fr')}} au {{ utilisationLieu.dateDepart | format_datetime(pattern="d MMMM y", locale='fr')}} </td>
                            <td> 
                                {% set effectifs = resumeEffectifs.getResumeEffectifsSejour(utilisationLieu.sejour) %}
                                {{ effectifs.nbTotalEnfants + effectifs.nbTotalEncadrants }}
                            </td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div> 
{% endblock %}
{% block javascripts %}
    {{ parent() }}

    <script>
        $(document).ready(function() {
            var 
            col_eedf=0,
            col_site=1,
            col_code_postal=2,
            col_commune=3,
            col_adresse=4,
            col_departement_ou_pays=5,
            col_structure=6,
            col_dates=7,
            col_nombre_participants=8;
            var table_lieu = $('#table_lieux').DataTable({
                autoWidth: false,
                paging: true,
                info: false,
                searching: true,
                language: {
                    emptyTable: "Aucun lieu pour l'instant",
                    search: "Rechercher:",
                    paginate: {
                        previous: "Page précédente",
                        next: "Page suivante"
                    }
                },
                order:[
                        [ col_commune, "asc" ]
                ],
                dom: 'fBtp',
                buttons: [
                    {
                        extend:'excel',
                        className: 'btn btn-secondary btn-xs m-2 py-1',
                        text:'Exporter les lieux',
                        exportOptions: {
                            columns: [ col_eedf, col_site, col_code_postal, col_commune, col_adresse, col_departement_ou_pays, col_structure, col_dates, col_nombre_participants]
                        },
                        title: 'Lieux de séjours'
                    }
                ]
            });
        });
    </script>
{% endblock %}


