{% extends 'base.html.twig' %}
{% block title %}Accueil R.O.A.D.S{% endblock %}

{% block headerbody %}
        <h1>{{ include('components/icones/1 - Accueil.svg') }}Vous êtes connecté·e dans R.O.A.D.S!</h1>
        <p>Bienvenue sur R.O.A.D.S, la "Route" numérique des Éclaireuses Éclaireurs de France pour faciliter et soutenir l'Organisation, l'Accompagnement et les Déclarations de Séjours.</p>
        <p>Les possibilités d'actions sur cet espace dépendent en majorité de votre fonction associative renseignée sur Jéito. N'hésitez pas à aller vérifier vos informations sur le portail des adhésions EEDF pour être sûr·e de pouvoir réaliser vos missions sur R.O.A.D.S.</p>
        <p>Sur cette page d'accueil sont affichées les informations et notifications concernant les séjours pour lesquels vous avez un rôle. Informations à retrouver sur la page <a class="btn btn-outline-light" href="{{ path('tableau_de_bord') }}" >mes séjours</a>.</p>
        {% if parametrageTexteAccueil and parametrageTexteAccueil.actif %}
                <div class="alert alert-warning row my-1" role="alert">
                        {{parametrageTexteAccueil.texte|raw}}
                </div>
        {% endif %}
         {{ include('components/document_ressource.html.twig', { 'doc': docWikiRoads}) }}
{% endblock %}
{% block body %}
        <div class="wrapper">
                {% for message in app.flashes('warning_adhesion_ancien') %}
                    <div class="alert alert-warning my-3 " role="alert">{{ message }}</div>
                {% endfor %} 
                <div class="accordion" id="accordionFlushExample">
                    <!-- Roles et fonctions -->
                    <div class="accordion-item my-3 ">
                        <h2 class="accordion-header " id="flush-headingSeven">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSeven" aria-expanded="true" aria-controls="flush-collapseSeven">
                                <h1>Mes rôles et fonctions</h1>
                            </button>
                        </h2>
                        <div id="flush-collapseSeven" class="accordion-collapse collapse" aria-labelledby="flush-headingSeven" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <div class="row border rounded border-primary p-3 my-1">
                                    <h2>Mes rôles dans R.O.A.D.S</h2>
                                    <div class="table-responsive">
                                        <table class="table table-striped">
                                            <thead>
                                                <th>Rôle</th>
                                                <th>Périmètre</th>
                                                <th>Détail</th>
                                            </thead>
                                            <tbody>       
                                                {% for role_metier_personne in roles_metier_personne %}
                                                    <tr>
                                                        {% if role_metier_personne.type_perimetre is constant('PERIMETRE_ROLE_METIER_GLOBAL', user) %}
                                                            <td>{{ role_metier_personne.role }} </td>
                                                            <td>Tous les séjours</td>
                                                            <td>
                                                                {% if role_metier_personne.role is constant('LABEL_ROLE_METIER_VALIDATION_INTERNATIONALE', user) %}
                                                                    <a class= "btn btn-primary" href="{{ path('gestion_sejours_internationaux') }}">Détail</a>
                                                                {% elseif (role_metier_personne.role is constant('LABEL_ROLE_METIER_VALIDATION_NATIONALE', user)) %}
                                                                    <a class= "btn btn-primary" href="{{ path('gestion_sejours_nationaux') }}">Détail</a>
                                                                {% endif %}
                                                            </td>
                                                        {% elseif (role_metier_personne.type_perimetre is constant('PERIMETRE_ROLE_METIER_STRUCTURE', user)) %}
                                                            <td>{{ role_metier_personne.role }} </td>
                                                            <td>{{ role_metier_personne.perimetre.nom }} ({{ role_metier_personne.perimetre.type }})</td>
                                                            <td>
                                                                <a class= "btn btn-primary" href="{{ path('gestion_structure', {id: role_metier_personne.perimetre.id}) }}">Détail</a>
                                                            </td>
                                                        {% elseif (role_metier_personne.type_perimetre is constant('PERIMETRE_ROLE_METIER_SEJOUR', user)) %}
                                                            <td>{{ role_metier_personne.role }} </td>
                                                            <td>{{ role_metier_personne.perimetre.intitule }} (Séjour)</td>
                                                            <td>
                                                                <a class= "btn btn-primary" href="{{ path('detail_sejour', {id: role_metier_personne.perimetre.id}) }}">Détail</a>
                                                            </td>
                                                        {% endif %}
                                                    </tr>
                                                {% else %}
                                                    <p>Vous n'avez aucun rôle particulier dans R.O.A.D.S</p>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="row border rounded border-primary p-3 my-1">
                                    <h2>Mes fonctions associatives</h2>
                                    <div class="table-responsive">
                                        <table class="table table-striped">
                                            <thead>
                                                <th>Fonction</th>
                                                <th>Périmètre</th>
                                            </thead>
                                            <tbody>
                                                
                                                {% for fonction in user.fonctions | filter(fonction => (fonction.dateDebut <= date() and (fonction.dateFin is null or fonction.dateFin >= date()))) %}
                                                    <tr>
                                                        <td>{{fonction.nom}}</td>
                                                        <td>
                                                            {{fonction.equipe.nom}} - {{fonction.equipe.structure.nom}}
                                                        </td>
                                                    </tr>
                                                {% else %}
                                                    <p>Vous n'avez actuellement aucune fonction associative</p>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Résumé des notifications -->
                    <div class="accordion-item my-3 ">
                        <h2 class="accordion-header " id="flush-headingResumeNotif">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseResumeNotif" aria-expanded="true" aria-controls="flush-collapseResumeNotif">
                                <h1>Résumé de vos notifications</h1>
                                </button>
                        </h2>
                        <div id="flush-collapseResumeNotif" class="accordion-collapse collapse" aria-labelledby="flush-headingResumeNotif" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                        {% if app.user.nombreNotificationsNonLues > 0 %}
                                                <p>Vous avez <b>{{app.user.nombreNotificationsNonLues}}</b> notifications non lues.
                                        {% endif %}
                                        <a class= "btn btn-primary" href="{{ path('notifications')}}">Détail de vos notifications</a>
                                        <div class="container border rounded border-secondary p-3 my-1">
                                                <h3>Vos notifications non lues des 7 derniers jours</h3>
                                                {{ include('notifications/tableau_notifications.html.twig') }} 
                                        </div>
                                </div>
                        </div> 
                    </div>
                    {{ include('tableau_de_bord/tableau_resume_sejour.html.twig') }}       
                    <a class= "btn btn-primary" href="{{ path('tableau_de_bord')}}">Détail de vos séjours</a>
                </div>
                <div class="container border rounded border-secondary p-3 my-1">
                        <h3>Frise des états successifs d'un séjour dans R.O.A.D.S</h3>
                        <div>
                                <img src="{{ asset('images/Frise v5.png') }}" class="img-fluid" alt="Responsive image">
                        </div>
                </div>
        </div> 
{% endblock %}
{% block javascripts %}
    {{ parent() }}
        <script>
        $(document).ready(function() {
            let table = $('.table_a_trier').DataTable({
                paging: true,
                info: false,
                searching: true,
                language: {
                    emptyTable: "Aucune notification pour l'instant",
                    search: "Rechercher:",
                    paginate: {
                        previous: "Page précédente",
                        next: "Page suivante"
                    }
                },
                columnDefs: [
                    { orderable: false, targets: 3 }
                ],
                order: [[ 0, "desc" ]],
                dom: 'ftp'
            });
            gestionBoutonSupprimerEtFermer(table)
           table.on( 'draw', function () {
            gestionBoutonSupprimerEtFermer(table)
        })
        } );
        
        
        function gestionBoutonSupprimerEtFermer(table)
        {
            //Gestion du click des boutons de fermeture de modale
            $("button.lu_notif").each(
                function() 
                {
                    
                    $(this).click(function() {
                        
                        var $id= $(this).attr("id")
                        $("#row_"+$id).removeClass("bg-warning")
                        $("#row_"+$id).find('#etat_lecture').first().replaceWith('<td>Lu</td>')
                        $.post('{{path('notification_lue')}}',
                            { id: $id},
                            function(response)
                            {

                            },
                        "json");
                    });
                }
            );

            //Gestion du click des boutons de suppression
            $("button.delete_notif").each(
                function() 
                {
                    $(this).click(function() {
                        
                        var $id_a_supprimer= $(this).attr("id")

                        $('#modal_notification_'+$id_a_supprimer).modal('hide');
                        $('.modal-backdrop').hide();
                        $("#row_"+$id_a_supprimer).remove();
                        $.post('{{path('supprimer_notification')}}',
                            { id: $id_a_supprimer},
                            function(response)
                            {

                            },
                        "json");
                    });
                }
            );
        }
    </script>
{% endblock %}
