{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block title %}Accueil non connecté{% endblock %}

{% block headerbody %}
    <h1>{{ include('components/icones/1 - Accueil.svg') }} Bienvenue sur R.O.A.D.S</h1>
    <p>La "Route" numérique des Éclaireuses Éclaireurs de France pour faciliter et soutenir l'Organisation, l'Accompagnement et les Déclarations de Séjours.
Ce service est à destination des adhérent·e·ss EEDF à jour de leur cotisation pour la saison en cours.</p>
    <p>L'accès à ROADS est possible le lendemain de la prise d'adhésion sur le service JEITO.</p>
    <p><strong>La connexion à ROADS se fait désormais grâce à votre compte JEITO. Vous pouvez en créer un en cliquant sur le bouton ci-dessous puis en suivant les indications dans le bandeau jaune</strong></p>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="wrapper">
            <div class="row">  
                <div class="col container p-3">
                    {% for message in app.flashes('deconnexion') %}
                        <div class="alert alert-success">
                            {{ message }}
                        </div>
                    {% endfor %}
                    {% for message in app.flashes('warning') %}
                        <div class="alert alert-warning">
                            {{ message | raw }}
                        </div>
                    {% endfor %}
                    {% for message in app.flashes('error') %}
                        <div class="alert alert-danger">
                            {{ message | raw }}
                        </div>
                    {% endfor %}
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}
                </div>
            </div>
            <div class="row container"> 
                <a class= "btn btn-outline-secondary m-3" href="{{ path('jeito_connect') }}">Se connecter via Jéito</a>
            </div>
            <div class="row container">  
                <div class="col-md  border border-secondary text-secondary m-3 p-3">
                    <h1 class="h3 mb-3 font-weight-normal">Besoin d'infos?</h1>
                    <a class= "btn btn-outline-secondary m-3" href="{{ path('support') }}">Contacter le support</a>
                </div>
            </div>
        </div> 
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}


