{% extends 'base.html.twig' %}
{% block title %}E.E.D.F. R.O.A.D.S. - Mentions légales{% endblock %}

{% block headerbody %}
        <h1>{{ include('components/icones/1 - Accueil.svg') }}E.E.D.F. R.O.A.D.S. - Mentions légales</h1>
{% endblock %}
{% block body %}
        <div class="wrapper">
            <div class="accordion" id="accordionMentionsLegales">
                <div class="accordion-item my-3 ">
                    <h2 class="accordion-header " id="flush-headingInfosGenerales">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseInfosGenerales" aria-expanded="true" aria-controls="flush-collapseInfosGenerales">
                            <h1>Informations générales</h1>
                        </button>
                    </h2>
                    <div id="flush-collapseInfosGenerales" class="accordion-collapse collapse" aria-labelledby="flush-headingInfosGenerales" data-bs-parent="#accordionMentionsLegales">
                        <div class="accordion-body">
                            <p>Ce site est la propriété des Éclaireuses Éclaireurs de France, association loi 1901</p>
                            <p>Siège social : <b><i>12 place Georges Pompidou	93160 Noisy le Grand</i></b></p>
                            <p>Direct·eur·rice de la publication : <b>Olivier Barbey – Délégué Général</b></p>
                            <div class="border rounded border-primary p-3 my-1">
                                <h3>Hébergement</h3>
                                <p>Ce site est hébergé par <b>OVH Groupe SAS</b>, société immatriculée au RCS de Lille sous le numéro <b>537 407 926</b></p>
                                <p>Adresse : <b>2 rue Kellermann - 59100 Roubaix - France</b></p>
                                <p>Téléphone : <b>118 707</b></p>
                            </div>
                        </div>
                    </div> 
                </div>
                <div class="accordion-item my-3 ">
                    <h2 class="accordion-header " id="flush-headingRealisation">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseRealisation" aria-expanded="true" aria-controls="flush-collapseRealisation">
                            <h1>Réalisation</h1>
                        </button>
                    </h2>
                    <div id="flush-collapseRealisation" class="accordion-collapse collapse" aria-labelledby="flush-headingRealisation" data-bs-parent="#accordionMentionsLegales">
                        <div class="accordion-body">
                            <p>Ce site a été réalisé par la société <b>ARIAC Gwenan</b>, SARL au capital de 11.433 €, ayant son siège social <b>48, avenue de la République, 94300 VINCENNES</b>, immatriculée au RCS CRÉTEIL sous le numéro <b>B 428 815 708</b>.</p>
                        </div>
                    </div> 
                </div>
                <div class="accordion-item my-3 ">
                    <h2 class="accordion-header " id="flush-headingPropriete">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapsePropriete" aria-expanded="true" aria-controls="flush-collapsePropriete">
                            <h1>Propriété intellectuelle</h1>
                        </button>
                    </h2>
                    <div id="flush-collapsePropriete" class="accordion-collapse collapse" aria-labelledby="flush-headingPropriete" data-bs-parent="#accordionMentionsLegales">
                        <div class="accordion-body">
                            <p>Les Éclaireuses Éclaireurs de France avisent les utilisateurs de ce site que de nombreux éléments de ce site :
                                <ul>
                                    <li>sont protégés par la législation sur le droit d’auteur : ce peut être notamment le cas des photographies, des articles, des dessins, des séquences animées…</li>
                                    <li>et/ou sont protégés par la législation sur les dessins et modèles,</li>
                                    <li>sont protégés par la législation sur les marques.</li>
                                </ul>
                            Les éléments ainsi protégés sont la propriété des Éclaireuses Éclaireurs de France ou de tiers ayant autorisé les EEDF à les exploiter.</p>
                            <p>Ce site utilise des éléments visuels provenant de documents internes aux EEDF ou créés spécifiquement pour ce site et les différents supports de communication. À ce titre, toute reproduction, représentation, utilisation, adaptation, modification, incorporation, traduction, commercialisation, partielles ou intégrales par quelque procédé et sur quelque support que ce soit (papier, numérique, …) sont interdites, sans l’autorisation écrite préalable de l’AFVP, hormis les exceptions visées à l’article L 122.5 du Code de la Propriété Intellectuelle, sous peine de constituer un délit de contrefaçon de droit d’auteur et/ou de dessins et modèles et/ou de marque, puni de deux ans d’emprisonnement et de 150 000€ d’amende.</p>
                            <p>Enfin, ce site utilise des icônes de menu créées à partir d'icônes sous <a target="_blank" href="https://creativecommons.org/licenses/by/3.0/legalcode">licence CC BY 3.0</a>, disponibles sur <a target="_blank" href="https://thenounproject.com">Noun Project</a> et modifiées par l'ajout du contour de 4 arcs issu du logo EEDF et par la suppression d'un fond dans le cas de l'icône du menu Mes rôles et l'assemblage de 3 icônes dans le cas de l'icône du menu Animation.
                                <ul>
                                    <li>Menu <b>Accueil</b> : "Home" créée par Justiconnic de Noun Project/created by Justiconnic from Noun Project - ajout du contour de 4 arcs issu du logo EEDF</li>
                                    <li>Menu <b>Mon compte</b> : "account" créée par Lyhn de Noun Project/created by Lyhn from Noun Project - ajout du contour de 4 arcs issu du logo EEDF</li>
                                    <li>Menu <b>Mes séjours</b> : "Camping" créée par Ed Piel de Noun Project/created by Ed Piel from Noun Project - ajout du contour de 4 arcs issu du logo EEDF"Map" créée par Atif Arshad de Noun Project/created by Atif Arshad from Noun Project - ajout du contour de 4 arcs issu du logo EEDF</li>
                                    <li>Menu <b>Mes notifications</b> : "Bell" créée par Alice Design de Noun Project/created by Alice Design from Noun Project - ajout du contour de 4 arcs issu du logo EEDF</li>
                                    <li>Menu <b>Données de séjour</b> : "stats" créée par Ranah Pixel Studio de Noun Project/created by Ranah Pixel Studio from Noun Project - ajout du contour de 4 arcs issu du logo EEDF</li>
                                    <li>Menu <b>Documents utiles</b> : "Document" créée par arjuazka de Noun Project/created by arjuazka from Noun Project - ajout du contour de 4 arcs issu du logo EEDF</li>
                                    <li>Menu <b>Animation</b> : "Document" créée par arjuazka de Noun Project/created by arjuazka from Noun Project, "bubble" créée par DinosoftLab de Noun Project/created by DinosoftLab from Noun Project, "Cursor" créée par Ilham Fitrotul Hayat de Noun Project/created by Ilham Fitrotul Hayat from Noun Project - assemblage des 3 icônes et ajout du contour de 4 arcs issu du logo EEDF</li>
                                    <li>Menu <b>Mes rôles</b> : "badges" créée par Smalllike de Noun Project/created by Smalllike from Noun Project - ajout du contour de 4 arcs issu du logo EEDF</li>
                                    <li>Menu <b>Administration</b> : "admin" créée par Gregor Cresnar de Noun Project/created by Gregor Cresnar from Noun Project - ajout du contour de 4 arcs issu du logo EEDF</li>
                                    <li>Menu <b>Un problème ?</b> : "help" créée par Rainbow Design de Noun Project/created by Rainbow Design from Noun Project - ajout du contour de 4 arcs issu du logo EEDF</li>
                                    <li>Menu <b>Aide au support</b> : "pocket knife" créée par Simon Child de Noun Project/created by Simon Child from Noun Project - ajout du contour de 4 arcs issu du logo EEDF</li>
                                </ul>
                            </p>
                        </div>
                    </div> 
                </div>
                <div class="accordion-item my-3 ">
                    <h2 class="accordion-header " id="flush-headingcookies">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapsecookies" aria-expanded="true" aria-controls="flush-collapsecookies">
                            <h1>Mentions relatives à l'utilisation de cookies</h1>
                        </button>
                    </h2>
                    <div id="flush-collapsecookies" class="accordion-collapse collapse" aria-labelledby="flush-headingcookies" data-bs-parent="#accordionMentionsLegales">
                        <div class="accordion-body">
                            <p>Un cookie est un petit fichier informatique déposé sur votre ordinateur qui permet d'analyser le comportement des usager·ère·s lors de la visite d'un site internet.
                            </br>Le site de R.O.A.D.S peut déposer sur votre ordinateur les cookies suivant :
                            <ul>
                                <li>un <b>cookie de session pour le fonctionnement du site</b> (PHPSESSID). Ce cookie de session est supprimé à la fermeture du navigateur, il vous permet de naviguer sur le site tout en restant connecté. <b>Il n'est pas possible de refuser l'utilisation de ce cookie qui est nécessaire au bon fonctionnement du site.</b></p>
                                <i>Si vous consentez à l'usage d'un ou plusieurs cookies, ceux-ci seront conservés pendant 13 mois.</i>
                            </ul>
                        </div>
                    </div> 
                </div>
                <div class="accordion-item my-3 ">
                    <h2 class="accordion-header " id="flush-headingdonneesPerso">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapsedonneesPerso" aria-expanded="true" aria-controls="flush-collapsedonneesPerso">
                            <h1>Mentions relatives à l'utilisation des données personnelles et à la vie privée</h1>
                        </button>
                    </h2>
                    <div id="flush-collapsedonneesPerso" class="accordion-collapse collapse" aria-labelledby="flush-headingdonneesPerso" data-bs-parent="#accordionMentionsLegales">
                        <div class="accordion-body">
                            <div class="accordion" id="accordionDonneesPerso">
                                <div class="accordion-item my-3 ">
                                    <h2 class="accordion-header " id="flush-headingContact">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseContact" aria-expanded="true" aria-controls="flush-collapseContact">
                                            <h1>Contact</h1>
                                        </button>
                                    </h2>
                                    <div id="flush-collapseContact" class="accordion-collapse collapse" aria-labelledby="flush-headingContact" data-bs-parent="#accordionDonneesPerso">
                                        <div class="accordion-body">
                                            <p>Pour contacter les E.E.D.F. au sujet de leur politique de confidentialité ou de la collecte et du traitement de vos données personnelles, vous pouvez envoyer un mail à <a target="_blank" href="mailto:accueil.national@eedf.fr">accueil.national@eedf.fr</a>.</p>
                                            <p>En cas de problème, vous pouvez adresser une plainte auprès de la Commission Nationale de l'Informatique et des Libertés en cliquant sur <a target="_blank" href="https://www.cnil.fr/fr/plaintes">ce lien</a></p>.
                                        </div>
                                    </div> 
                                </div> 
                                <div class="accordion-item my-3 ">
                                    <h2 class="accordion-header " id="flush-headingAccesModif">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseAccesModif" aria-expanded="true" aria-controls="flush-collapseAccesModif">
                                            <h1>Accès, modification et suppression des données personnelles</h1>
                                        </button>
                                    </h2>
                                    <div id="flush-collapseAccesModif" class="accordion-collapse collapse" aria-labelledby="flush-headingAccesModif" data-bs-parent="#accordionDonneesPerso">
                                        <div class="accordion-body">
                                            <p>Vous pouvez à tout moment demander à connaître les données personnelles que les E.E.D.F. possèdent à votre sujet. Pour cela, envoyez un mail à <a target="_blank" href="mailto:accueil.national@eedf.fr">accueil.national@eedf.fr</a> ou <a target="_blank" href="mailto:roads@eedf.fr">roads@eedf.fr</a>. Vous pouvez également demander à ce que certaines ou l'ensemble de vos données soient modifiées ou supprimées en écrivant à la même adresse.</p>
                                            <p>Dans tous les cas, il vous sera demandé de prouver votre identité (par exemple via une copie de votre carte d'identité).</p>
                                        </div>
                                    </div> 
                                </div>
                                <div class="accordion-item my-3 ">
                                    <h2 class="accordion-header " id="flush-headingAdherent">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseAdherent" aria-expanded="true" aria-controls="flush-collapseAdherent">
                                            <h1>Si vous êtes adhérent.e des EEDF</h1>
                                        </button>
                                    </h2>
                                    <div id="flush-collapseAdherent" class="accordion-collapse collapse" aria-labelledby="flush-headingAdherent" data-bs-parent="#accordionDonneesPerso">
                                        <div class="accordion-body">
                                            <div class="border rounded border-primary p-3 my-1">
                                                <h2>Quelles données personnelles sont collectées ?</h2>
                                                <div class="border rounded border-secondary p-3 my-1">
                                                    <h3>Données en provenance du portail EEDF Jeito</h3>
                                                    <p>Un certain nombre de données collectées lors de votre adhésion (par le biais de la fiche d'adhésion) et stockées au sein du portail EEDF Jeito (portail de gestion des adhésions et des nominations aux fonctions internes aux EEDF) sont copiées dans la base de données du site R.O.A.D.S.</p>
                                                    <p>Voir également les mentions relatives à l'utilisation des données personnelles et à la vie privée du portail <a target="_blank" href="https://jeito.eedf.fr/">EEDF Jeito</a>.</p>
                                                    <p>Ces données sont :
                                                        <ul>
                                                            <li>votre nom ;</li>
                                                            <li>votre prénom ;</li>
                                                            <li>votre sexe à l’état civil ;</li>
                                                            <li>votre genre ;</li>
                                                            <li>votre date de naissance ;</li>
                                                            <li>votre numéro d'adhérent.e EEDF ;</li>
                                                            <li>la ou les deux adresse(s) mail(s) que vous avez fournies ;</li>
                                                            <li>votre adresse postale ;</li>
                                                            <li>le ou les deux numéros de téléphone que vous avez fournis ;</li>
                                                            <li>la structure EEDF à laquelle vous avez adhéré (groupe, région, centre, service vacances...) ;</li>
                                                            <li>la région à laquelle appartient cette structure ;</li>
                                                            <li>la fonction que vous occupez au sein de cette structure (<i>exemples: responsable d'animation lutin, trésorier·e régional·e y compris la fonction "adhérent.e de base" ou "enfant"</i>) ;</li>
                                                            <li>la liste des structures EEDF au sein desquelles vous occupez une responsabilité.</li>
                                                        </ul>
                                                    </p>
                                                </div>
                                                <div class="border rounded border-secondary p-3 my-1">
                                                    <h3>Données collectées directement par le site R.O.A.D.S.</h3>
                                                    <p>Le site R.O.A.D.S. collecte, en plus des données copiées depuis le portail EEDF Jeito des données personnelles. Ces données sont :
                                                        <ul>
                                                            <li>les fonctions occupées sur le site R.O.A.D.S. vis-à-vis d'un séjour donné (direction, responsable d'animation sur un séjour donné, suivi de séjour...) ;</li>
                                                            <li>les rôles occupés sur un séjour donné (direct·eur·rice, intendant·e, infirmi·er·ère...) ;</li>
                                                            <li>votre statut au sein de l'association (bénévole, volontaire, salarié·e...) ;</li>
                                                            <li>le lien que vous entretenez avec la personne que vous désignez comme personne à appeler en cas d'urgence ;</li>
                                                            <li>le nom de la personne que vous désignez comme personne à appeler en cas d'urgence ;</li>
                                                            <li>le prénom de la personne que vous désignez comme personne à appeler en cas d'urgence ;</li>
                                                            <li>le numéro de téléphone de la personne que vous désignez comme personne à appeler en cas d'urgence.</li>
                                                        </ul>
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="border rounded border-primary p-3 my-1">
                                                <h2>Pour quel usage ?</h2>
                                                <p>Vos <b>noms</b> et <b>prénoms</b> peuvent être utilisés pour vous rechercher dans la base de données et vous ajouter comme direct·eur·rice ou participant.e à un séjour.</p>
                                                <p>Les <b>rôles que vous occupez sur un séjour donné</b>, ainsi que <b>votre statut au sein de l'association</b>, permettent à l'équipe d'organisation et de direction du séjour, ainsi qu'aux salarié·e·s et bénévoles chargé·e·s du suivi et de la validation de ce séjour, de connaître la composition de l'équipe du séjour. Les <b>fonctions occupées sur le site R.O.A.D.S.</b> vis-à-vis d'un séjour donné permettent son fonctionnement, notamment par l'attribution de droits de lecture et de modification des données d'un séjour (ajout de participant·e·s, rédaction du projet pédagogique, consultation de l'avancement de la préparation, validation...).</p>
                                                <p><b>Toutes les autres données</b> sont utilisées par les organisat·eur·rices et l'équipe de direction des séjours auxquels vous participez pour composer les listes de participant·e·s, de contacts, de personnes à contacter en cas d'urgence, nécessaires à la bonne tenue des séjours.</p>
                                            </div>
                                            <div class="border rounded border-primary p-3 my-1">
                                                <h2>Où sont stockées mes données ?</h2>
                                                <p>Vos données personnelles collectées par le site R.O.A.D.S. (qu'elles soient collectées directement par le site ou copiées du portail EEDF Jeito) sont stockées sur le serveur hébergé chez OVH du site R.O.A.D.S situé (voir chapitre hébergement).</p>
                                            </div>
                                            <div class="border rounded border-primary p-3 my-1">
                                                <h2>Pendant combien de temps ?</h2>
                                                <p>Vos données personnelles stockées sur le serveur du site R.O.A.D.S. sont stockés au maximum 3 ans après votre dernière adhésion aux EEDF, soit 3 ans après la fin de validité de votre dernière adhésion. Il est possible de prolonger le stockage de ces données au-delà de 3 ans.</p>
                                            </div>
                                            <div class="border rounded border-primary p-3 my-1">
                                                <h2>Qui y a accès ?</h2>
                                                <p>Vos <b>noms</b> et <b>prénoms</b> sont accessibles aux salarié·e·s et aux adhérent·e·s des EEDF qui occupent une fonction d'organisation, de direction de séjour ou de direction de séjour adjointe au sein de l'association.</p>
                                                <p>Les <b>rôles que vous occupez sur un séjour donné</b>, ainsi que votre <b>statut au sein de l'association</b>, sont accessibles à l'équipe d'organisation et de direction du séjour, ainsi qu'aux salarié·e·s et bénévoles chargé·e·s du suivi et de la validation de ce séjour.</p>
                                                <p>Les <b>fonctions occupées sur le site R.O.A.D.S.</b> sont accessibles aux salarié·e·s et aux adhérent·e·s des EEDF qui chargé·e·s des fonctions d’administration et de support pour le site R.O.A.D.S.</p>
                                                <p><b>Toutes les autres données sont accessibles</b> aux équipes de direction (direct·eur·rice et direct·eur·rice·s adjoint·e·s) des séjours auxquels vous participez.</p>
                                            </div>
                                            <div class="border rounded border-primary p-3 my-1">
                                                <h2>Sur quelle base légale ?</h2>
                                                <div class="border rounded border-secondary p-3 my-1">
                                                    <h3>Données en provenance du portail EEDF Jeito</h3>
                                                    <p><b>Votre consentement</b>. Vous consentez au stockage et à l'utilisation de ces données lors de votre adhésion aux EEDF.</p>
                                                </div>
                                                <div class="border rounded border-secondary p-3 my-1">
                                                    <h3>Données collectées directement par le site R.O.A.D.S.</h3>
                                                    <p><b>Votre consentement</b>. Vous consentez au stockage et à l'utilisation de ces données lors de votre inscription au site R.O.A.D.S ou lorsque vous entrez ces données dans votre profil, si vous choisissez de le faire.<p>
                                                </div>
                                            </div>
                                        </div>
                                    </div> 
                                </div>
                                <div class="accordion-item my-3 ">
                                    <h2 class="accordion-header " id="flush-headingParentAdherent">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseParentAdherent" aria-expanded="true" aria-controls="flush-collapseParentAdherent">
                                            <h1>Si un·e enfant dont vous êtes responsable légal·e est adhérent·e des EEDF</h1>
                                        </button>
                                    </h2>
                                    <div id="flush-collapseParentAdherent" class="accordion-collapse collapse" aria-labelledby="flush-headingParentAdherent" data-bs-parent="#accordionDonneesPerso">
                                        <div class="accordion-body">
                                            <div class="border rounded border-primary p-3 my-1">
                                                <p>Un certain nombre de données collectées lors de l'adhésion de votre enfant (par le biais de la fiche d'adhésion) et stockées au sein du portail EEDF Jeito (portail de gestion des adhésions et des nominations aux fonctions internes aux EEDF) sont copiées dans la base de données du site R.O.A.D.S. Certaines de ces données sont des données personnelles vous concernant en tant que responsable légal.e d'un.e adhérent·e.</p>
                                                <p>Voir également les mentions relatives à l'utilisation des données personnelles et à la vie privée du portail <a target="_blank" href="https://jeito.eedf.fr/">EEDF Jeito</a>.</p>
                                                <p>Ces données sont :
                                                    <ul>
                                                        <li>votre nom ;</li>
                                                        <li>votre prénom ;</li>
                                                        <li>votre sexe à l’état civil ;</li>
                                                        <li>votre date de naissance ;</li>
                                                        <li>la ou les deux adresse(s) mail(s) fournies à l'adhésion de votre enfant ;</li>
                                                        <li>votre adresse postale ;</li>
                                                        <li>le ou les deux numéros de téléphone fournis à l'adhésion de votre enfant.</li>
                                                    </ul>
                                                </p>
                                            </div>
                                            <div class="border rounded border-primary p-3 my-1">
                                                <h2>Pour quel usage ?</h2>
                                                <p>Ces <b>données</b> sont utilisées par les organisat·eur·rices et les équipes de direction des séjours auxquels au moins un enfant dont vous êtes responsable légal.e participe, pour composer les listes de participant·e·s, de contacts, de personnes à contacter en cas d'urgence, nécessaire à la bonne tenue des séjours.</p>
                                            </div>
                                            <div class="border rounded border-primary p-3 my-1">
                                                <h2>Où sont stockées mes données ?</h2>
                                                <p>Vos données personnelles collectées par le site R.O.A.D.S. sont stockées sur le serveur hébergé chez <b>OVH</b> du site R.O.A.D.S situé (voir chapitre hébergement).</p>
                                            </div>
                                            <div class="border rounded border-primary p-3 my-1">
                                                <h2>Pendant combien de temps ?</h2>
                                                <p>Vos données personnelles stockées sur le serveur du site R.O.A.D.S. sont stockés au maximum 3 ans après la fin des toutes les adhésions aux EEDF d'enfants dont vous êtes responsable légal·e.</p>
                                            </div>
                                            <div class="border rounded border-primary p-3 my-1">
                                                <h2>Qui y a accès ?</h2>
                                                <p>Ces données sont accessibles aux organisat·eur·rices et aux équipes de direction (direct·eur.rice et direct·eur.rice.s adjoint·e·s) des séjours auxquels au moins un enfant dont vous êtes responsable légal.e participe.</p>
                                            </div>
                                            <div class="border rounded border-primary p-3 my-1">
                                                <h2>Sur quelle base légale ?</h2>
                                                <p>Votre <b>consentement</b>. Vous consentez au stockage et à l'utilisation de ces données lors de votre adhésion aux EEDF.</p>
                                            </div>
                                        </div>
                                    </div> 
                                </div>
                                <div class="accordion-item my-3 ">
                                    <h2 class="accordion-header " id="flush-headingUrgence">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseUrgence" aria-expanded="true" aria-controls="flush-collapseUrgence">
                                            <h1>Si vous êtes une personne à contacter en cas d'urgence pour un.e adhérent.e EEDF</h1>
                                        </button>
                                    </h2>
                                    <div id="flush-collapseUrgence" class="accordion-collapse collapse" aria-labelledby="flush-headingUrgence" data-bs-parent="#accordionDonneesPerso">
                                        <div class="accordion-body">
                                            <div class="border rounded border-primary p-3 my-1">
                                                <h2>Quelles données personnelles sont collectées ?</h2>
                                                <p>Si un.e adhérent.e EEDF vous désigne comme personne à contacter en cas d'urgence, il ou elle donnera au site R.O.A.D.S. certaines de vos données personnelles. Ces données sont :</p>
                                                    <ul>
                                                        <li>le lien que vous entretenez avec l'adhérent.e qui vous a désigné comme personne à contacter en cas d'urgence  ;</li>
                                                        <li>votre nom ;</li>
                                                        <li>votre prénom ;</li>
                                                        <li>votre numéro de téléphone.</li>
                                                    </ul>
                                                </p>
                                            </div>
                                            <div class="border rounded border-primary p-3 my-1">
                                                <h2>Pour quel usage ?</h2>
                                                <p>Ces <b>données</b> sont utilisées par les organisat·eur·ices et les équipes de direction des séjours auxquels au moins un.e adhérent.e vous ayant désigné.e comme personne à contacter en cas d'urgence participe, pour composer les listes de participant·e·s, de contacts, de personnes à contacter en cas d'urgence, nécessaire à la bonne tenue des séjours.</p>
                                            </div>
                                            <div class="border rounded border-primary p-3 my-1">
                                                <h2>Où sont stockées mes données ?</h2>
                                                <p>Vos données personnelles collectées par le site R.O.A.D.S. sont stockées sur le serveur hébergé chez <b>OVH</b> du site R.O.A.D.S situé (voir chapitre hébergement).</p>
                                            </div>
                                            <div class="border rounded border-primary p-3 my-1">
                                                <h2>Pendant combien de temps ?</h2>
                                                <p>Vos données personnelles stockées sur le serveur du site R.O.A.D.S. sont stockés au maximum 3 ans après la fin des toutes les adhésions d'adhérent·e·s vous ayant désigné.e comme personne à contacter en cas d'urgence.</p>
                                            </div>
                                            <div class="border rounded border-primary p-3 my-1">
                                                <h2>Qui y a accès ?</h2>
                                                <p>Ces <b>données</b> sont accessibles aux organisat·eur·rices et aux équipes de direction (direct·eur.rice et direct·eur.rice.s adjoint·e·s) des séjours auxquels au moins un.e adhérent.e vous ayant désigné.e comme personne à contacter en cas d'urgence participe.</p>
                                            </div>
                                            <div class="border rounded border-primary p-3 my-1">
                                                <h2>Sur quelle base légale ?</h2>
                                                <p>Les EEDF considère que l’utilisation et le stockage de ces informations relève de l’intérêt légitime (<a target="_blank" href="https://www.cnil.fr/fr/les-bases-legales/interet-legitime">https://www.cnil.fr/fr/les-bases-legales/interet-legitime</a>) pour assurer la protection des personnes.</p>
                                            </div>
                                        </div>
                                    </div> 
                                </div>
                                <div class="accordion-item my-3 ">
                                    <h2 class="accordion-header " id="flush-headingHebergement">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseHebergement" aria-expanded="true" aria-controls="flush-collapseHebergement">
                                            <h1>Si vous hébergez des séjours EEDF</h1>
                                        </button>
                                    </h2>
                                    <div id="flush-collapseHebergement" class="accordion-collapse collapse" aria-labelledby="flush-headingHebergement" data-bs-parent="#accordionDonneesPerso">
                                        <div class="accordion-body">
                                            <div class="border rounded border-primary p-3 my-1">
                                                <h2>Quelles données personnelles sont collectées ?</h2>
                                                <p>Si vous hébergez un ou des séjours EEDF en tant que personne physique (hébergement sur un terrain ou dans un bâtiment à votre nom), certaines de vos données personnelles sont collectées par le site R.O.A.D.S. Ces données sont :</p>
                                                    <ul>
                                                        <li>votre nom ;</li>
                                                        <li>votre prénom ;</li>
                                                        <li>votre adresse mail ;</li>
                                                        <li>votre adresse postale ;</li>
                                                        <li>votre numéro de téléphone.</li>
                                                    </ul>
                                                </p>
                                            </div>
                                            <div class="border rounded border-primary p-3 my-1">
                                                <h2>Pour quel usage ?</h2>
                                                <p>Ces <b>données</b> sont utilisées par les organisat·eur·ices et les équipes de direction des séjours que vous accueillez  ainsi qu'aux salarié·e·s et bénévoles chargé·e·s du suivi et de la validation de ces séjours. Ceci pour faciliter les démarches d’accueil, la prise de contacts, le suivi des éventuels litiges.</p>
                                            </div>
                                            <div class="border rounded border-primary p-3 my-1">
                                                <h2>Où sont stockées mes données ?</h2>
                                                <p>Vos données personnelles collectées par le site R.O.A.D.S. sont stockées sur le serveur hébergé chez <b>OVH</b> du site R.O.A.D.S situé (voir chapitre hébergement).</p>
                                            </div>
                                            <div class="border rounded border-primary p-3 my-1">
                                                <h2>Pendant combien de temps ?</h2>
                                                <p>Vos données personnelles stockées sur le serveur du site R.O.A.D.S. sont stockés au maximum 3 ans après la fin du dernier séjour que vous avez hébergé.</p>
                                            </div>
                                            <div class="border rounded border-primary p-3 my-1">
                                                <h2>Qui y a accès ?</h2>
                                                <p>Les équipes d’organisation et de directions des séjours accueillis ainsi qu'aux salarié·e·s et bénévoles chargé·e·s du suivi et de la validation de ce séjour.</p>
                                            </div>
                                            <div class="border rounded border-primary p-3 my-1">
                                                <h2>Sur quelle base légale ?</h2>
                                                <p>Votre <b>consentement</b>. Vous consentez au stockage et à l'utilisation de ces données lors de la signature de la convention d'hébergement.</p>
                                            </div>
                                        </div>
                                    </div> 
                                </div>
                            </div> 
                        </div> 
                    </div> 
                </div>
            </div>
        </div> 
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
