<a class= "btn btn-secondary m-3" data-target="#confirmation_annulation" data-toggle="modal" href="#">Annuler le séjour</a>
<!-- modal de confirmation confirmation_annulation-->
<div class="modal" id="confirmation_annulation" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Annulation du séjour</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Annuler le séjour effacera définitivement toutes les informations de celui-ci.</p>
                <p>Toutes les personnes ayant des droits recevront une notification d'annulation de ce séjour.</p>
                <p>Voulez-vous confirmer cette suppression ?</p>
            </div>
            <div class="modal-footer">
                {% if sejour.id %}
                    <a class= "btn btn-secondary m-3" href="{{ path('sejour_annulation', {id: sejour.id}) }}">Annuler le séjour</a>
                {% else %}
                    <a class= "btn btn-secondary m-3" href="{{ path('gestion_structure', {id: sejour.structureOrganisatrice.id}) }}">Annuler le séjour</a>
                {% endif %}
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
            </div>
        </div>
    </div>
</div>