<a class= "btn btn-secondary m-3" data-target="#confirmation_cloture" data-toggle="modal" href="#">Clôturer le séjour</a>
<!-- modal de confirmation confirmation_annulation-->
<div class="modal" id="confirmation_cloture" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Clôture du séjour</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>​En cloturant le séjour, vous ne pourrez plus modifier les informations de bilan du séjour.</p>
                <p>Le séjour aura alors terminé son cycle dans ROADS et sera archivé.</p>
                <p>Merci pour toutes les informations partagées qui permettent à l'association d'accompagner et valoriser les projets.</p>
                <p>Voulez vous continuer ?</p>
            </div>
            <div class="modal-footer">
                <a class= "btn btn-secondary m-3" href="{{ path('sejour_cloture', {id: sejour.id}) }}">Clôturer le séjour</a>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
            </div>
        </div>
    </div>
</div>