<a class= "btn btn-secondary m-3" data-target="#confirmation_envoi_validation" data-toggle="modal" href="#">Envoyer le séjour pour validation</a>
<!-- modal de confirmation confirmation_annulation-->
<div class="modal" id="confirmation_envoi_validation" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Envoi du séjour pour validation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Envoyer le projet de séjour pour validation veut dire que vous avez renseigné suffisamment d'informations pour demander la validation associative de votre séjour.</p>
                <p>Cette action enverra une notification aux personnes en charge de la validation, vous pourrez toujours continuer à modifier votre séjour.</p>
                <p>Voulez vous continuer ?</p>
            </div>
            <div class="modal-footer">
                <a class= "btn btn-secondary m-3" href="{{ path('sejour_envoi_validation', {id: sejour.id}) }}">Envoyer le séjour pour validation</a>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
            </div>
        </div>
    </div>
</div>