<a class= "btn btn-secondary m-3" data-target="#confirmation_reactivation" data-toggle="modal" href="#">Réactiver le séjour</a>
<!-- modal de confirmation confirmation_annulation-->
<div class="modal" id="confirmation_reactivation" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Réactivation du séjour</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Réactiver un séjour suspendu permet de remettre le séjour en construction, les informations du séjour pourront à nouveau être renseignées.</p>
                <p>Toutes les personnes ayant des droits recevront une notification de la réactivation.</p>
                <p>Voulez vous confirmer cette réactivation du séjour ?</p>
            </div>
            <div class="modal-footer">
                <a class= "btn btn-secondary m-3" href="{{ path('sejour_reactivation', {id: sejour.id}) }}">Réactiver le séjour</a>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
            </div>
        </div>
    </div>
</div>