<div class="col-6">
    <a class= "btn btn-secondary m-3" data-target="#confirmation_suspension" data-toggle="modal" href="#">Suspendre le séjour</a>
</div>
<!-- modal de confirmation de suspension de séjour-->
<div class="modal" id="confirmation_suspension" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Suspension du séjour</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>La suspension d'un séjour rend impossible les futures modifications sur le projet de séjour.</p>
                <p>Une fois suspendu, un séjour peut être annulé et toutes ses informations sont supprimées, ou réactivé et le séjour reviendra à l'état "<b>{{ constant('MAP_LABEL_PAR_STATUT_SEJOUR', sejour)[constant('STATUT_SEJOUR_CONSTRUCTION_PROJET', sejour)] }}</b>".</p>
                <p>La suspension d'un séjour est notifiée aux différent·e·s act·eur·rice·s ayant un rôle pour ce séjour.</p>
                <p>Voulez-vous confirmer la suspension de ce séjour ?</p>
            </div>
            <div class="modal-footer">
                <a class= "btn btn-primary" href="{{ path('sejour_suspension', {id:sejour.id}) }}">Suspendre le séjour</a>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
            </div>
        </div>
    </div>
</div>