<a class= "btn btn-outline-secondary p-3" data-target="#detail_demande_moderation_{{demande.id}}" data-toggle="modal" href="#">
    Détails
</a>
<div class="modal fade detail_demande_moderation" id="detail_demande_moderation_{{demande.id}}" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Détails de la demande de modération</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row border rounded border-secondary p-3 m-3">
                    {% set commentaireAModerer = demande.commentaire %}
                    {% for commentaire in commentaireAModerer.sejour.commentaires|filter((commentaire) => commentaire.sujet == commentaireAModerer.sujet) %}
                        <div>
                            <div class="row">
                                <div class="col align-self-start text-secondary">{{commentaire.personne.prenom}} {{commentaire.personne.nom}} </div>
                                <div class="col align-self-end text-end text-secondary"> le {{commentaire.date|format_datetime(pattern="d MMMM y \à H\:mm", locale='fr')}}</div>
                            </div>
                            <div class="row border rounded {% if commentaireAModerer.id == commentaire.id %} bg-warning {% endif %} border-primary p-3 my-1">{{commentaire.texte}}</div>
                            {% if commentaireAModerer.id == commentaire.id %} 
                            <div class="row border rounded border-warning  p-3 my-1">
                                <h5>Raison de la demande de modération</h5>
                                <div>{{demande.raison|raw}}</div>
                            </div>
                            {% endif %}
                        </div>
                    {% endfor %}

                </div>
            </div>
            <div class="modal-footer">
                <a class= "btn bg-danger m-3" href="{{ path('accepter_moderation', {demande: demande.id}) }}">Modérer le commentaire</a>
                <a class= "btn btn-outline-danger m-3" href="{{ path('refuser_moderation', {demande: demande.id}) }}">Ne pas modérer</a>
                <button type="button" class="btn btn-secondary m-3" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>