{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/algolia-autocomplete.css') }}">
{% endblock %}
{% block title %}Animation{% endblock %}

{% block headerbody %}
    <h1>{{ include('components/icones/Animation.svg') }}Animation</h1>
    <p>En tant qu'animat.eur·rice, vous pouvez  :
        <ul>
            <li>paramétrer le texte de la page d'accueil</li>
            <li>actualiser les documents de références</li>
            <li>afficher les demandes de modération</li>
            <li>modérer les messages des participant.e.s</li>
            <li>gérer les visites des séjours</li>
        </ul>
    </p>
{% endblock %}

{% block body %}
    <div class="wrapper">
    <!-- Nav tabs -->
        <div class="pane-content-inner">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link {% if panelActif == 1 %} active {% endif %}" id="textes_ressources-tab" data-bs-toggle="tab" data-bs-target="#textes_ressources" type="button" role="tab" aria-controls="textes_ressources" aria-selected="true">Textes et ressources</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link {% if panelActif == 2 %} active {% endif %}" id="moderation-tab" data-bs-toggle="tab" data-bs-target="#moderation" type="button" role="tab" aria-controls="moderation" aria-selected="false">Modération</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link {% if panelActif == 3 %} active {% endif %}" id="visites-tab" data-bs-toggle="tab" data-bs-target="#visites" type="button" role="tab" aria-controls="visites" aria-selected="false">Gestion des visites</button>
                </li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade {% if panelActif == 1 %} show active {% endif %}" id="textes_ressources" role="tabpanel" aria-labelledby="textes_ressources-tab">
                    <div class="container py-2">
                        <div class="accordion accordion-flush" id="accordionFlushExample">
                            <!--Paramétrage des textes -->
                            <div class="accordion-item my-3 ">
                                <h2 class="accordion-header " id="flush-headingFour">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="true" aria-controls="flush-collapseFour">
                                        <h1>Paramétrage des textes</h1>
                                    </button>
                                </h2>
                                <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">        
                                        <div class="container border rounded border-secondary p-3 my-1">
                                            {% for message in app.flashes('success_parametrage_texte') %}
                                                <div class="alert alert-success" role="alert">{{ message }}</div>
                                            {% endfor %} 
                                            {% for message in app.flashes('danger_parametrage_texte') %}
                                                <div class="alert alert-danger" role="alert">{{ message }}</div>
                                            {% endfor %} 
                                            <h3>Page d'accueil d'utilisat·eur·rice connecté·e</h3>
                                            {{form_start(formParametrageTexteAccueil)}}
                                            <div class ="form-row">
                                                {{form_row(formParametrageTexteAccueil.actif)}}   
                                            </div>   
                                            <div class ="form-row">
                                                {{form_row(formParametrageTexteAccueil.texte)}}   
                                            </div>  
                                            <div class ="form-row">
                                                {{form_row(formParametrageTexteAccueil.save)}}   
                                            </div>  
                                            {{form_end(formParametrageTexteAccueil)}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Gestion des documents ressources -->
                            <div class="accordion-item my-3 ">
                                <h2 class="accordion-header " id="flush-headingOne">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="true" aria-controls="flush-collapseOne">
                                        <h1>Documents ressources</h1>
                                    </button>
                                </h2>
                                <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">        
                                        <div class="container border rounded border-secondary p-3 my-1 table-responsive">
                                            {% for message in app.flashes('success_doc') %}
                                                <div class="alert alert-success" role="alert">{{ message }}</div>
                                            {% endfor %} 
                                            <table class="table table-striped">
                                                <thead>
                                                    <th class="col-2">Nom</th>
                                                    <th class="col-3">Description</th>
                                                    <th class="col-2">Type</th>
                                                    <th class="col-4">Contenu</th>
                                                    <th class="col-1">Action</th>
                                                </thead>
                                                <tbody>
                                                    {% for docRessource in docs_ressource %}
                                                        <tr class="doc_ressource">
                                                            {{form_start(docRessource.form)}}
                                                                <td>{{docRessource.doc.nom}}</td>
                                                                <td>{{docRessource.doc.description}}</td>
                                                                <td id="type">{{form_row(docRessource.form.type)}}</td>
                                                                <td>
                                                                    <div id="document" >
                                                                        {{form_row(docRessource.form.document)}}
                                                                    </div>
                                                                    <div id="lien" >
                                                                        {{form_row(docRessource.form.lien)}}
                                                                    </div>
                                                                </td>
                                                                <td>{{form_row(docRessource.form.save)}}</td>
                                                            {{form_end(docRessource.form)}}
                                                        </tr>
                                                    {% endfor %} 
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade {% if panelActif == 2 %} show active {% endif %}" id="moderation" role="tabpanel" aria-labelledby="moderation-tab">
                    <div class="container py-2">   
                        <h1>Demandes de modération des commentaires</h1>     
                        {% for message in app.flashes('success_moderation') %}
                            <div class="alert alert-success" role="alert">{{ message }}</div>
                        {% endfor %} 
                        {% for message in app.flashes('danger_moderation') %}
                            <div class="alert alert-danger" role="alert">{{ message }}</div>
                        {% endfor %} 
                        <div class="container border rounded border-secondary p-3 my-1">
                            <table class="table table-striped">
                                <thead>
                                    <th>Date</th>
                                    <th>Demandé par</th>
                                    <th>Sejour</th>
                                    <th>Detail</th>
                                </thead>
                                <tbody>
                                    {% for demandeModerationCommentaire in demandesModerationCommentaires %}
                                        <tr class="doc_ressource">
                                            <td>{{demandeModerationCommentaire.date|format_datetime(pattern="d MMMM y \à H\:mm", locale='fr')}}</td>
                                            <td>{{demandeModerationCommentaire.personne.prenom}} {{demandeModerationCommentaire.personne.nom}}</td>
                                            <td>{{demandeModerationCommentaire.commentaire.sejour.intitule}}</td>
                                            <td>
                                                {{ include('animation/details_demande_moderation_commentaire.html.twig', {'demande': demandeModerationCommentaire}) }}
                                            </td>
                                        </tr>
                                    {% else %}
                                        Il n'y a aucune demande de modération à traiter pour l'instant
                                    {% endfor %} 
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade {% if panelActif == 3 %} show active {% endif %}" id="visites" role="tabpanel" aria-labelledby="visites-tab">
                    <!-- Visites des séjours à valider -->     
                    {% for message in app.flashes('success_visite') %}
                        <div class="alert alert-success" role="alert">{{ message }}</div>
                    {% endfor %}   
                    {% for message in app.flashes('danger_visite') %}
                        <div class="alert alert-danger" role="alert">{{ message }}</div>
                    {% endfor %} 
                    <div class="container border rounded border-secondary p-3 my-1">
                        <h2>Ajouter le rôle de Visiteu·r·se à une personne</h2>
                        {{form_start(form_ajout_visiteur)}}
                        <div class="form-group">
                            {{form_row(form_ajout_visiteur.personne)}}               
                        </div>
                        <div id="selection_structure">
                            <div class="form-group">
                                {{form_row(form_ajout_visiteur.structure)}}               
                            </div>
                            <div id="selection_sejour">
                                <div id="liste_sejour_visite">
                                    <div class="form-group">
                                        {{form_row(form_ajout_visiteur.sejour)}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-error">
                            {{ form_errors(form_ajout_visiteur) }}
                        </div>
                        {{form_end(form_ajout_visiteur)}}
                    </div> 
                    <div class="container border rounded border-secondary p-3 my-1">
                        <h2>Personnes en charge des visites de séjour</h2>
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <th>Séjour</th>
                                    <th>Structure</th>
                                    <th>Dates</th>
                                    <th>Lieu(x)</th>
                                    <th>Etat</th>
                                    <th>Statut des visites</th>
                                </thead>
                                <tbody>       
                                    {% for sejour in sejours_visitables %}
                                    <tr>
                                        <td>{{ sejour.intitule }}</td>
                                        <td>{{ sejour.structureOrganisatrice.nom }} </td>
                                        <td>Du {{ sejour.dateDebut | format_datetime(pattern="d MMMM y", locale='fr')}} au {{ sejour.dateFin | format_datetime(pattern="d MMMM y", locale='fr')}} </td>
                                        <td>
                                            {% set arrayLieux = [] %}
                                            {% for lieu in sejour.utilisationsLieuSejour %}
                                                {% set arrayLieux = arrayLieux|merge([lieu.lieu.nom]) %} 
                                            {% endfor %}
                                            {{ arrayLieux | join(', ', ' et ')}}
                                        </td>
                                        <td>
                                            {{ include('components/status_sejour.html.twig', {'sejour': sejour}) }}
                                        </td>
                                        <td>
                                            {{ include('components/detail_visites_sejour.html.twig', {'sejour': sejour, 'page': 'animation'})}}
                                        </td>
                                    {% else %}
                                        <p>Il n'y a aucun séjour validé par votre structure nécessitant de visite pour l'instant</p>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div> 
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/autocomplete.js/0/autocomplete.jquery.min.js"></script>
    <script src="{{ asset('js/adherent-autocomplete.js') }}"></script>
    <script>
        $( "tr.doc_ressource" ).each(function( index ) {
            var $bloc_type_doc=$( this ).find("#type");
            var $bloc_select_fichier=$( this ).find("#document");
            var $bloc_input_lien=$( this ).find("#lien");
            gestionSelectionTypeDocument($bloc_type_doc, $bloc_select_fichier, $bloc_input_lien)
        });

        function gestionSelectionTypeDocument($bloc_type_doc, $bloc_select_fichier, $bloc_input_lien)
        {

            var $input_lien=$bloc_input_lien.find('input');
            var $select_fichier=$bloc_select_fichier.find('vich-file');

            $bloc_type_doc.find('[type="radio"]').change(function () 
            {
                if ($(this).val() == "{{ constant('App\\Entity\\DocumentRessource::TYPE_FICHIER') }}")
                {
                    $bloc_select_fichier.show(); 
                    $select_fichier.prop('disabled', false); 
                    $bloc_input_lien.hide(); 
                    $input_lien.prop('disabled', true); 
                } else {
                    $bloc_select_fichier.hide(); 
                    $select_fichier.prop('disabled', true); 
                    $bloc_input_lien.show(); 
                    $input_lien.prop('disabled', false); 
                }
            })

            if ($bloc_type_doc.find('[type="radio"]:checked').val() == "{{ constant('App\\Entity\\DocumentRessource::TYPE_FICHIER') }}")
            {
                $bloc_select_fichier.show(); 
                $select_fichier.prop('disabled', false); 
                $bloc_input_lien.hide(); 
                $input_lien.prop('disabled', true); 
            } else {
                $bloc_select_fichier.hide(); 
                $select_fichier.prop('disabled', true); 
                $bloc_input_lien.show(); 
                $input_lien.prop('disabled', false); 
            }
        }
    </script>
    <script >// Chargement des séjours pour la nomination des visites
        $(document).on('change', '#ajout_role_visite_sejour_animation_structure', function () {
        let $field = $(this)
        let $structureField = $('#ajout_role_visite_sejour_animation_structure')
        let $form = $field.closest('form')
        let target = '#' + $field.attr('id').replace('_structure', '_sejour')
        console.log(target);
        // Les données à envoyer en Ajax
        let data = {}
        data[$structureField.attr('name')] = $structureField.val()
        data[$field.attr('name')] = $field.val()

        console.log(data)
        // On soumet les données
        $.post($form.attr('action'), data).then(function (data) {
            // On récupère le nouveau <select>
            
            let $input = $(data).find(target)
            console.log($input)
            // On remplace notre <select> actuel
            $(target).replaceWith($input)
        })
        })
    </script>

{% endblock %}


