<h1>Récapitulatif de la synchronisation quotidienne des données du portail</h1>

<p>Bonjour, Une nouvelle synchronisation des données du portail a été effectuée vers <b>R.O.A.D.S</b>, voici les informations principales :
    <ul>
    {% for ligne_info in infos %}
        <li>{{ligne_info}}</li>  
    {% endfor %}  
    </ul>  
</p>

<p>
    Cordialement
</p>
<small>Ceci est un message automatique, merci de ne pas y répondre.</small>
