{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block title %}Mes séjours{% endblock %}

{% block headerbody %}
    <h1>{{ include('components/icones/3 - Mes séjours.svg') }}Mes séjours</h1>
    <p>Vous pouvez ici retrouver les tableaux d'informations des séjours qui vous concernent, ainsi que la frise des différents états d'un séjour dans ROADS.</p>
{% endblock %}

{% block body %}
    <div class="wrapper">
        <div class="accordion" id="accordionFlushExample">
            {{ include('tableau_de_bord/tableau_resume_sejour.html.twig') }}       
            {{ include('tableau_de_bord/tableaux_sejours_adherent.html.twig') }}       
        </div>
        <div class="container border rounded border-secondary p-3 my-1">
            <h3>Frise des états successifs d'un séjour dans R.O.A.D.S</h3>
            <div>
                <img src="{{ asset('images/Frise v5.png') }}" class="img-fluid" alt="Responsive image">
            </div>
        </div>
    </div> 
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        /* Formatting function for row details - modify as you need */
        function format_directeur ( d ) {
            // `d` is the original data object for the row
            return '<table class=" border border-secondary" >'+
                '<tr>'+
                    '<td><h4>Coordonnées du·de la direct·eur·rice</h4></td>'+
                '</tr>'+
                '<tr>'+
                    '<td>Adresse mail:</td>'+
                    '<td>'+d[9]+'</td>'+
                '</tr>'+
                '<tr>'+
                    '<td>Téléphone:</td>'+
                    '<td>'+d[10]+'</td>'+
                '</tr>'+
            '</table>';
        }
        function format_lieux ( d ) {
            // `d` is the original data object for the row
            return '<table class="border border-secondary" >'+
                '<tr>'+
                    '<td><h4>Lieu(x) du séjour</h4></td>'+
                '</tr>'+
                '<tr>'+
                    '<td>'+d[12]+'</td>'+
                '</tr>'+
            '</table>';
        }
        function format_unites( d ) {
            // `d` is the original data object for the row
            return '<table class="border border-secondary" >'+
                '<tr>'+
                    '<td><h4>Structures et unités participant au séjour</h4></td>'+
                '</tr>'+
                '<tr>'+
                    '<td>'+d[7]+'</td>'+
                '</tr>'+
            '</table>';
        }
        function format_structure( d ) {
            // `d` is the original data object for the row
            return '<table class="border border-secondary" >'+
                '<tr>'+
                    '<td><h4>Région de rattachement</h4></td>'+
                '</tr>'+
                '<tr>'+
                    '<td>'+d[4]+'</td>'+
                '</tr>'+
            '</table>';
        }
        $(document).ready(function() {
            var col_detail=0,
            col_etat=1,
            col_nom=2,
            col_structure_org=3,
            col_region=4,
            col_dates=5,
            col_type=6,
            col_unites=7,
            col_dir=8,
            col_mail_dir=9,
            col_tel_dir=10,
            col_lieu=11,
            col_detail_lieu=12,
            col_date_modif=13,
            col_roles=14

            var table_sejours_validation_organisation_direction = $('#sejours_validation_organisation_direction').DataTable({
                autoWidth: false,
                paging: true,
                info: false,
                searching: true,
                language: {
                    emptyTable: "Aucune donnée pour l'instant",
                    search: "Rechercher:",
                    paginate: {
                        previous: "Page précédente",
                        next: "Page suivante"
                    }
                },
                columnDefs: [
                    { 
                        orderable: false, 
                        targets: col_detail 
                    },
                    {
                        targets: [col_region, col_unites, col_mail_dir, col_tel_dir, col_detail_lieu],
                        visible: false,
                        searchable: true
                    },
                    { 
                        width: '20%', 
                        targets: [col_nom,col_structure_org,col_dates]
                    }
                ],
                dom: 'fBtp',
                buttons: [
                    {
                        extend:'excel',
                        className: 'btn btn-secondary btn-xs m-2 py-1',
                        text:'Exporter le tableau',
                        exportOptions: {
                            columns: [ col_etat, col_nom, col_structure_org, col_region, col_dates, col_type, col_dir, col_mail_dir, col_tel_dir, col_lieu, col_detail_lieu, col_date_modif]
                        },
                        title: "Séjours en organisation, validation ou direction"
                    }
                ],
                order: 
                    [
                        [ col_dates, "asc" ]
                    ]
            });
            $('#sejours_validation_organisation_direction tbody').on('click', 'td.details-directeur', function () {
                var tr = $(this).closest('tr');
                var row = table_sejours_validation_organisation_direction.row( tr );
        
                if ( row.child.isShown() ) {
                    // This row is already open - close it
                    row.child.hide();
                    $(this).find('svg').attr('data-icon', 'circle-plus');    // FontAwesome 5
                }
                else {
                    // Open this row
                    row.child( format_directeur(row.data()) ).show();
                    $(this).find('svg').attr('data-icon', 'circle-minus'); // FontAwesome 5
                }
            } );
            $('#sejours_validation_organisation_direction tbody').on('click', 'td.details-lieux', function () {
                var tr = $(this).closest('tr');
                var row = table_sejours_validation_organisation_direction.row( tr );
        
                if ( row.child.isShown() ) {
                    // This row is already open - close it
                    row.child.hide();
                    $(this).find('svg').attr('data-icon', 'circle-plus');    // FontAwesome 5
                }
                else {
                    // Open this row
                    row.child( format_lieux(row.data()) ).show();
                    $(this).find('svg').attr('data-icon', 'circle-minus'); // FontAwesome 5
                }
            } );
            $('#sejours_validation_organisation_direction tbody').on('click', 'td.details-unites', function () {
                var tr = $(this).closest('tr');
                var row = table_sejours_validation_organisation_direction.row( tr );
        
                if ( row.child.isShown() ) {
                    // This row is already open - close it
                    row.child.hide();
                    $(this).find('svg').attr('data-icon', 'circle-plus');    // FontAwesome 5
                }
                else {
                    // Open this row
                    row.child( format_unites(row.data()) ).show();
                    $(this).find('svg').attr('data-icon', 'circle-minus'); // FontAwesome 5
                }
            } );
            $('#sejours_validation_organisation_direction tbody').on('click', 'td.details-structure', function () {
                var tr = $(this).closest('tr');
                var row = table_sejours_validation_organisation_direction.row( tr );
        
                if ( row.child.isShown() ) {
                    // This row is already open - close it
                    row.child.hide();
                    $(this).find('svg').attr('data-icon', 'circle-plus');    // FontAwesome 5
                }
                else {
                    // Open this row
                    row.child( format_structure(row.data()) ).show();
                    $(this).find('svg').attr('data-icon', 'circle-minus'); // FontAwesome 5
                }
            } );
            //Gestion de la table de suivi des séjours     

            var col_detail=0,
            col_etat=1,
            col_nom=2,
            col_structure_org=3,
            col_region=4,
            col_dates=5,
            col_type=6,
            col_unites=7,
            col_dir=8,
            col_mail_dir=9,
            col_tel_dir=10,
            col_lieu=11,
            col_detail_lieu=12,
            col_date_modif=13


             var table_sejours_suivis =  $('#sejours_suivis').DataTable({
                autoWidth: false,
                paging: true,
                info: false,
                searching: true,
                language: {
                    emptyTable: "Aucune donnée pour l'instant",
                    search: "Rechercher:",
                    paginate: {
                        previous: "Page précédente",
                        next: "Page suivante"
                    }
                },
                columnDefs: [
                    {   
                        orderable: false, 
                        targets: col_detail 
                    },
                    {
                        targets: [col_region, col_unites, col_mail_dir, col_tel_dir, col_detail_lieu],
                        visible: false,
                        searchable: true
                    },
                    { 
                        width: '20%', 
                        targets: [col_nom,col_structure_org,col_dates]
                    }
                ],
                order:[
                        [ col_dates, "asc" ]
                ],
                dom: 'fBtp',
                buttons: [
                    {
                        extend:'excel',
                        className: 'btn btn-secondary btn-xs m-2 py-1',
                        text:'Exporter le tableau',
                        exportOptions: {
                            columns: [ col_etat, col_nom, col_structure_org, col_region, col_dates, col_type, col_dir, col_mail_dir, col_tel_dir, col_lieu, col_detail_lieu, col_date_modif]
                        },
                        title: "Séjours suivis"
                    }
                ]
            });
            $('#sejours_suivis tbody').on('click', 'td.details-directeur', function () {
                var tr = $(this).closest('tr');
                var row = table_sejours_suivis.row( tr );
        
                if ( row.child.isShown() ) {
                    // This row is already open - close it
                    row.child.hide();
                    $(this).find('svg').attr('data-icon', 'circle-plus');    // FontAwesome 5
                }
                else {
                    // Open this row
                    row.child( format_directeur(row.data()) ).show();
                    $(this).find('svg').attr('data-icon', 'circle-minus'); // FontAwesome 5
                }
            } );
            $('#sejours_suivis tbody').on('click', 'td.details-lieux', function () {
                var tr = $(this).closest('tr');
                var row = table_sejours_suivis.row( tr );
        
                if ( row.child.isShown() ) {
                    // This row is already open - close it
                    row.child.hide();
                    $(this).find('svg').attr('data-icon', 'circle-plus');    // FontAwesome 5
                }
                else {
                    // Open this row
                    row.child( format_lieux(row.data()) ).show();
                    $(this).find('svg').attr('data-icon', 'circle-minus'); // FontAwesome 5
                }
            } );
            $('#sejours_suivis tbody').on('click', 'td.details-unites', function () {
                var tr = $(this).closest('tr');
                var row = table_sejours_suivis.row( tr );
        
                if ( row.child.isShown() ) {
                    // This row is already open - close it
                    row.child.hide();
                    $(this).find('svg').attr('data-icon', 'circle-plus');    // FontAwesome 5
                }
                else {
                    // Open this row
                    row.child( format_unites(row.data()) ).show();
                    $(this).find('svg').attr('data-icon', 'circle-minus'); // FontAwesome 5
                }
            } );
            $('#sejours_suivis tbody').on('click', 'td.details-structure', function () {
                var tr = $(this).closest('tr');
                var row = table_sejours_suivis.row( tr );
        
                if ( row.child.isShown() ) {
                    // This row is already open - close it
                    row.child.hide();
                    $(this).find('svg').attr('data-icon', 'circle-plus');    // FontAwesome 5
                }
                else {
                    // Open this row
                    row.child( format_structure(row.data()) ).show();
                    $(this).find('svg').attr('data-icon', 'circle-minus'); // FontAwesome 5
                }
            } );

            //Séjour en participation
            var col_detail=0,
            col_etat=1,
            col_nom=2,
            col_structure_org=3,
            col_region=4,
            col_dates=5,
            col_type=6,
            col_unites=7,
            col_dir=8,
            col_mail_dir=9,
            col_tel_dir=10,
            col_lieu=11,
            col_detail_lieu=12,
            col_date_modif=13



            var table_sejours_participation  = $('#sejours_participation').DataTable({
                autoWidth: false,
                paging: true,
                info: false,
                searching: true,
                language: {
                    emptyTable: "Aucune donnée pour l'instant",
                    search: "Rechercher:",
                    paginate: {
                        previous: "Page précédente",
                        next: "Page suivante"
                    }
                },
                columnDefs: [
                    {   
                        orderable: false, 
                        targets: col_detail 
                    },
                    {
                        targets: [col_region, col_unites, col_mail_dir, col_tel_dir, col_detail_lieu],
                        visible: false,
                        searchable: true
                    },
                    { 
                        width: '20%', 
                        targets: [col_nom,col_structure_org,col_dates]
                    }
                ],
                order:[
                        [ col_dates, "asc" ]
                ],
                dom: 'fBtp',
                buttons: [
                    {
                        extend:'excel',
                        className: 'btn btn-secondary btn-xs m-2 py-1',
                        text:'Exporter le tableau',
                        exportOptions: {
                            columns: [ col_etat, col_nom, col_structure_org, col_region, col_dates, col_type, col_dir, col_mail_dir, col_tel_dir, col_lieu, col_detail_lieu, col_date_modif]
                        },
                        title: "Séjours en participation"
                    }
                ]
            });
            $('#sejours_participation tbody').on('click', 'td.details-directeur', function () {
                var tr = $(this).closest('tr');
                var row = table_sejours_participation.row( tr );
        
                if ( row.child.isShown() ) {
                    // This row is already open - close it
                    row.child.hide();
                    $(this).find('svg').attr('data-icon', 'circle-plus');    // FontAwesome 5
                }
                else {
                    // Open this row
                    row.child( format_directeur(row.data()) ).show();
                    $(this).find('svg').attr('data-icon', 'circle-minus'); // FontAwesome 5
                }
            } );
            $('#sejours_participation tbody').on('click', 'td.details-lieux', function () {
                var tr = $(this).closest('tr');
                var row = table_sejours_participation.row( tr );
        
                if ( row.child.isShown() ) {
                    // This row is already open - close it
                    row.child.hide();
                    $(this).find('svg').attr('data-icon', 'circle-plus');    // FontAwesome 5
                }
                else {
                    // Open this row
                    row.child( format_lieux(row.data()) ).show();
                    $(this).find('svg').attr('data-icon', 'circle-minus'); // FontAwesome 5
                }
            } );
            $('#sejours_participation tbody').on('click', 'td.details-unites', function () {
                var tr = $(this).closest('tr');
                var row = table_sejours_participation.row( tr );
        
                if ( row.child.isShown() ) {
                    // This row is already open - close it
                    row.child.hide();
                    $(this).find('svg').attr('data-icon', 'circle-plus');    // FontAwesome 5
                }
                else {
                    // Open this row
                    row.child( format_unites(row.data()) ).show();
                    $(this).find('svg').attr('data-icon', 'circle-minus'); // FontAwesome 5
                }
            } );
            $('#sejours_participation tbody').on('click', 'td.details-structure', function () {
                var tr = $(this).closest('tr');
                var row = table_sejours_participation.row( tr );
        
                if ( row.child.isShown() ) {
                    // This row is already open - close it
                    row.child.hide();
                    $(this).find('svg').attr('data-icon', 'circle-plus');    // FontAwesome 5
                }
                else {
                    // Open this row
                    row.child( format_structure(row.data()) ).show();
                    $(this).find('svg').attr('data-icon', 'circle-minus'); // FontAwesome 5
                }
            } );




        // Gestion des séjours archivés

            var col_detail=1,
            col_nom=2,
            col_structure_org=3,
            col_region=4,
            col_dates=5,
            col_type=6,
            col_unites=7,
            col_dir=8,
            col_mail_dir=9,
            col_tel_dir=10,
            col_lieu=11,
            col_detail_lieu=12,
            col_date_modif=13


            var table_sejours_archives= $('#sejours_archives').DataTable({
                autoWidth: false,
                paging: true,
                info: false,
                searching: true,
                language: {
                    emptyTable: "Aucune donnée pour l'instant",
                    search: "Rechercher:",
                    paginate: {
                        previous: "Page précédente",
                        next: "Page suivante"
                    }
                },
                columnDefs: [
                    {   
                        orderable: false, 
                        targets: col_detail 
                    },
                    {
                        targets: [col_detail, col_region, col_unites, col_mail_dir, col_tel_dir, col_detail_lieu],
                        visible: false,
                        searchable: true
                    },
                    { 
                        width: '20%', 
                        targets: [col_nom,col_structure_org,col_dates]
                    }
                ],
                order:[
                        [ col_dates, "asc" ]
                ],
                dom: 'fBtp',
                buttons: [
                    {
                        extend:'excel',
                        className: 'btn btn-secondary btn-xs m-2 py-1',
                        text:'Exporter le tableau',
                        exportOptions: {
                            columns: [  col_nom, col_structure_org, col_region, col_dates, col_type, col_dir, col_mail_dir, col_tel_dir, col_lieu, col_detail_lieu, col_date_modif]
                        },
                        title: "Mes anciens séjours"
                    }
                ]
            });
            
            $('#sejours_archives tbody').on('click', 'td.details-directeur', function () {
                var tr = $(this).closest('tr');
                var row = table_sejours_archives.row( tr );
        
                if ( row.child.isShown() ) {
                    // This row is already open - close it
                    row.child.hide();
                    $(this).find('svg').attr('data-icon', 'circle-plus');    // FontAwesome 5
                }
                else {
                    // Open this row
                    row.child( format_directeur(row.data()) ).show();
                    $(this).find('svg').attr('data-icon', 'circle-minus'); // FontAwesome 5
                }
            } );
            $('#sejours_archives tbody').on('click', 'td.details-lieux', function () {
                var tr = $(this).closest('tr');
                var row = table_sejours_archives.row( tr );
        
                if ( row.child.isShown() ) {
                    // This row is already open - close it
                    row.child.hide();
                    $(this).find('svg').attr('data-icon', 'circle-plus');    // FontAwesome 5
                }
                else {
                    // Open this row
                    row.child( format_lieux(row.data()) ).show();
                    $(this).find('svg').attr('data-icon', 'circle-minus'); // FontAwesome 5
                }
            } );
            $('#sejours_archives tbody').on('click', 'td.details-unites', function () {
                var tr = $(this).closest('tr');
                var row = table_sejours_archives.row( tr );
        
                if ( row.child.isShown() ) {
                    // This row is already open - close it
                    row.child.hide();
                    $(this).find('svg').attr('data-icon', 'circle-plus');    // FontAwesome 5
                }
                else {
                    // Open this row
                    row.child( format_unites(row.data()) ).show();
                    $(this).find('svg').attr('data-icon', 'circle-minus'); // FontAwesome 5
                }
            } );
            $('#sejours_archives tbody').on('click', 'td.details-structure', function () {
                var tr = $(this).closest('tr');
                var row = table_sejours_archives.row( tr );
        
                if ( row.child.isShown() ) {
                    // This row is already open - close it
                    row.child.hide();
                    $(this).find('svg').attr('data-icon', 'circle-plus');    // FontAwesome 5
                }
                else {
                    // Open this row
                    row.child( format_structure(row.data()) ).show();
                    $(this).find('svg').attr('data-icon', 'circle-minus'); // FontAwesome 5
                }
            } );
        } );
    </script>
{% endblock %}


