   
        
        {% if donneesSejours.sejoursValidOrgaDir | length() >0 %}
            <div class="accordion-item my-3 ">
                <h2 class="accordion-header " id="flush-headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="true" aria-controls="flush-collapseOne">
                        <h1>Les séjours dont j'ai la charge de validation/organisation/direction</h1>
                    </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">     
                        <div class="table-responsive">
                            <table id="sejours_validation_organisation_direction" class="table table-striped">
                                <thead>
                                    <th>Détail</th>
                                    <th>Etat</th>
                                    <th>Séjour</th>
                                    <th>Structure organisatrice</th>
                                    <th>Région de rattachement</th>
                                    <th>Dates</th>
                                    <th>Type de séjour</th>
                                    <th>Unités partcipantes</th>
                                    <th>Direct·eur·rice</th>
                                    <th>Adresse mail Direct·eur·rice</th>
                                    <th>Tel Direct·eur·rice</th>
                                    <th>Lieu(x)</th>
                                    <th>Lieu(x)</th>
                                    <th>Modifié le </th>
                                    <th>Rôle(s)</th>
                                </thead>
                                <tbody>       
                                    {% for id_sejour, valeurs in donneesSejours.sejoursValidOrgaDir %}
                                        {% set roles = valeurs['roles'] %}
                                        {% set sejour = valeurs['sejour'] %}
                                        <tr>
                                            <td>
                                                <a class= "btn btn-primary" href="{{ path('detail_sejour', {id: sejour.id}) }}">Détail</a>
                                            </td>
                                            <td>
                                                {{ include('components/status_sejour.html.twig', {'sejour': sejour}) }}
                                                <div class="row">
                                                    {{ include('components/status_visite_sejour.html.twig', {'sejour': sejour}) }}
                                                </div>
                                            </td>
                                            <td>{{ sejour.intitule }}</td>
                                            <td class="details-structure">{{ sejour.structureOrganisatrice.nom }} <i class="fa fa-plus-circle"></i></td>
                                            <td>{% if sejour.structureOrganisatrice.structureParent != null and sejour.structureOrganisatrice.structureParent.echelon == constant('ECHELON_STRUCTURE_REGIONAL', sejour.structureOrganisatrice.structureParent) %}
                                                    {{ sejour.structureOrganisatrice.structureParent.nom }}
                                                {% else %}
                                                    National
                                                {% endif %}
                                            </td>
                                            <td data-sort="{{ sejour.dateDebut|date('U')}}">Du {{ sejour.dateDebut | format_datetime(pattern="d MMMM y", locale='fr')}} au {{ sejour.dateFin | format_datetime(pattern="d MMMM y", locale='fr')}} </td>
                                            <td class="details-unites">{{ sejour.typeSejour }} <i class="fa fa-plus-circle"></i></td>
                                            <td>
                                                {% if sejour.unitesStructureOrganisatrice | length > 0 %}
                                                    <div class="row border rounded border-primary p-3 my-1">
                                                        <div class="col-6">
                                                            <h5>{{ sejour.structureOrganisatrice.nom}}</h5> 
                                                            <div class="text-muted">
                                                                {% if sejour.structureOrganisatrice.structureParent != null and sejour.structureOrganisatrice.structureParent.echelon == constant('ECHELON_STRUCTURE_REGIONAL', sejour.structureOrganisatrice.structureParent) %}
                                                                    {{ sejour.structureOrganisatrice.structureParent.nom }}
                                                                {% else %}
                                                                    National
                                                                {% endif %}
                                                            </div>
                                                            <span class="badge bg-success rounded-pill" >Structure organisatrice</span>                                                            
                                                        </div>
                                                        <div class="col-6">
                                                            <ul>
                                                                {% for uniteParticipante in sejour.unitesStructureOrganisatrice %}
                                                                    <li>
                                                                        {{uniteParticipante.equipe.nom}}
                                                                    </li>
                                                                {% endfor %}
                                                            </ul>
                                                        </div>

                                                    </div>
                                                {% endif %}
                                                {% for structure in sejour.structuresRegroupees %}
                                                    <div class="row border rounded border-primary p-3 my-1">
                                                        {% if structure.estEEDF %}
                                                            <div class="col-6">
                                                                <h5>{{structure.structureEEDF.nom}}</h5> 
                                                                <div class="text-muted">
                                                                    {% if structure.structureEEDF.structureParent != null and structure.structureEEDF.structureParent.echelon == constant('ECHELON_STRUCTURE_REGIONAL', sejour.structureOrganisatrice.structureParent) %}
                                                                        {{ structure.structureEEDF.structureParent.nom }}
                                                                    {% else %}
                                                                        National
                                                                    {% endif %}
                                                                </div>
                                                                {% if structure.statutDemande == constant('STATUT_DEMANDE_ACCEPTE', structure) %}
                                                                    <span class="badge bg-success rounded-pill" >Accepté par le·la repsonsable de la structure</span>
                                                                {% else %}
                                                                    <span class="badge bg-secondary rounded-pill" >En attente d'acceptation de la structure</span>
                                                                {% endif %}
                                                            </div>
                                                            <div class="col-6">
                                                                {% if structure.unitesParticipantes | length > 0 %}
                                                                    <ul>
                                                                        {% for uniteParticipante in structure.unitesParticipantes %}
                                                                            <li>
                                                                                {{uniteParticipante.equipe.nom}}
                                                                            </li>
                                                                        {% endfor %}
                                                                    </ul>
                                                                {% else %}
                                                                    <p><i>Aucune unité de cette structure ne participe au séjour pour l'instant</i></p>
                                                                {% endif %}
                                                            </div>
                                                        {% else %}
                                                            <div class="col-6">
                                                                {{structure.nomStructureNonEEDF}} <span class="badge bg-success rounded-pill" >non EEDF</span>
                                                            </div>
                                                            <div class="col-6">
                                                                {{structure.descriptionStructureNonEEDF}}
                                                            </div>
                                                        {% endif %}
                                                    </div>
                                                {% endfor %} 
                                            </td>
                                            <td class="details-directeur">
                                                {% if sejour.directeur != null %}
                                                    {{ sejour.directeur.prenom }} {{ sejour.directeur.nom }}  <i class="fa fa-plus-circle"></i>
                                                {% endif %}
                                            </td>
                                            <td>{% if sejour.directeur != null %}
                                                    {{ sejour.directeur.adresseMailUsage }}
                                                {% endif %}
                                            </td>
                                            <td>{% if sejour.directeur != null %}
                                                    {% if sejour.directeur.telephoneUsage != null %}
                                                        {{ sejour.directeur.telephoneUsage|phone_number_format('NATIONAL') }}
                                                    {% else %}
                                                        <div class="text-muted">Non défini</div>
                                                    {% endif %}
                                                {% endif %}
                                            </td>
                                            <td class="details-lieux">
                                                {% set arrayLieux = [] %}
                                                 {% for lieu in sejour.utilisationsLieuSejour %}
                                                    {% if lieu.estDefini %}
                                                        {% set arrayLieux = arrayLieux|merge([lieu.lieu.nom]) %}
                                                    {% else %}
                                                        {% set arrayLieux = arrayLieux|merge([lieu.zoneEnvisagee]) %}
                                                    {% endif %}
                                                {% endfor %}
                                                {{ arrayLieux | join(', ', ' et ')}} <i class="fa fa-plus-circle"></i>
                                            </td>
                                            <td>
                                                {% for lieu in sejour.utilisationsLieuSejour %}
                                                    <div class="row">
                                                        <div class="col">
                                                            {% if lieu.estDefini %}
                                                                {{lieu.lieu.nom}}
                                                            {% else %}
                                                                {{lieu.zoneEnvisagee}}
                                                            {% endif %}
                                                        </div>
                                                        <div class="col">
                                                           {% if lieu.estDefini %}
                                                                    <p>{{lieu.lieu.localisation.adresse}}</p>
                                                                    <p>{{lieu.lieu.localisation.codePostalCommune}}</p>
                                                                    <p>{{lieu.lieu.localisation.nomCommune}}</p>
                                                                    <p>{{lieu.lieu.localisation.pays}}</p>
                                                            {% else %}
                                                                    <p class="text-muted">Non renseigné</p>
                                                            {% endif %}
                                                        </div> 
                                                    </div>
                                                {% endfor %}
                                            </td>
                                            <td data-sort="{{ sejour.dateModification|date('U')}}">{{sejour.dateModification|format_datetime(pattern="d MMMM y \à H\:mm", locale='fr')}}</td>
                                            <td>{{ roles | join(', ', ' et ')}}</td>
                                            
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        {% if donneesSejours.sejoursSuivis | length() >0 %}
            <div class="accordion-item my-3 ">
                <h2 class="accordion-header " id="flush-headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="true" aria-controls="flush-collapseTwo">
                        <h1>Les séjours que je suis</h1>
                    </button>
                </h2>
                <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">     
                        <div class="table-responsive">
                            <table id="sejours_suivis"  class="table table-striped">
                                <thead>
                                    <th>Détail</th>
                                    <th>Etat</th>
                                    <th>Séjour</th>
                                    <th>Structure organisatrice</th>
                                    <th>Région de rattachement</th>
                                    <th>Dates</th>
                                    <th>Type de séjour</th>
                                    <th>Unités partcipantes</th>
                                    <th>Direct·eur·rice</th>
                                    <th>Adresse mail Direct·eur·rice</th>
                                    <th>Tel Direct·eur·rice</th>
                                    <th>Lieu(x)</th>
                                    <th>Lieu(x)</th>
                                    <th>Modifié le </th>
                                </thead>
                                <tbody>       
                                    {% for sejour in donneesSejours.sejoursSuivis %}
                                        <tr>
                                            <td>
                                                <a class= "btn btn-primary" href="{{ path('detail_sejour', {id: sejour.id}) }}">Détail</a>
                                            </td>
                                            <td>
                                                {{ include('components/status_sejour.html.twig', {'sejour': sejour}) }}
                                                <div class="row">
                                                    {{ include('components/status_visite_sejour.html.twig', {'sejour': sejour}) }}
                                                </div>
                                            </td>
                                            <td>{{ sejour.intitule }} </td>
                                            <td class="details-structure">{{ sejour.structureOrganisatrice.nom }} <i class="fa fa-plus-circle"></i></td>
                                            <td>{% if sejour.structureOrganisatrice.structureParent != null and sejour.structureOrganisatrice.structureParent.echelon == constant('ECHELON_STRUCTURE_REGIONAL', sejour.structureOrganisatrice.structureParent) %}
                                                    {{ sejour.structureOrganisatrice.structureParent.nom }}
                                                {% else %}
                                                    National
                                                {% endif %}
                                            </td>
                                            <td data-sort="{{ sejour.dateDebut|date('U')}}">Du {{ sejour.dateDebut | format_datetime(pattern="d MMMM y", locale='fr')}} au {{ sejour.dateFin | format_datetime(pattern="d MMMM y", locale='fr')}} </td>
                                            <td class="details-unites">{{ sejour.typeSejour }} <i class="fa fa-plus-circle"></i></td>
                                            <td>
                                                {% if sejour.unitesStructureOrganisatrice | length > 0 %}
                                                    <div class="row border rounded border-primary p-3 my-1">
                                                        <div class="col-6">
                                                            <h5>{{ sejour.structureOrganisatrice.nom}}</h5> 
                                                            <div class="text-muted">
                                                                {% if sejour.structureOrganisatrice.structureParent != null and sejour.structureOrganisatrice.structureParent.echelon == constant('ECHELON_STRUCTURE_REGIONAL', sejour.structureOrganisatrice.structureParent) %}
                                                                    {{ sejour.structureOrganisatrice.structureParent.nom }}
                                                                {% else %}
                                                                    National
                                                                {% endif %}
                                                            </div>
                                                            <span class="badge bg-success rounded-pill" >Structure organisatrice</span>                                                            
                                                        </div>
                                                        <div class="col-6">
                                                            <ul>
                                                                {% for uniteParticipante in sejour.unitesStructureOrganisatrice %}
                                                                    <li>
                                                                        {{uniteParticipante.equipe.nom}}
                                                                    </li>
                                                                {% endfor %}
                                                            </ul>
                                                        </div>
                                                    </div>
                                                {% endif %}
                                                {% for structure in sejour.structuresRegroupees %}
                                                    <div class="row border rounded border-primary p-3 my-1">
                                                        {% if structure.estEEDF %}
                                                            <div class="col-6">
                                                                <h5>{{structure.structureEEDF.nom}}</h5> 
                                                                <div class="text-muted">
                                                                    {% if structure.structureEEDF.structureParent != null and structure.structureEEDF.structureParent.echelon == constant('ECHELON_STRUCTURE_REGIONAL', sejour.structureOrganisatrice.structureParent) %}
                                                                        {{ structure.structureEEDF.structureParent.nom }}
                                                                    {% else %}
                                                                        National
                                                                    {% endif %}
                                                                </div>
                                                                {% if structure.statutDemande == constant('STATUT_DEMANDE_ACCEPTE', structure) %}
                                                                    <span class="badge bg-success rounded-pill" >Accepté par le·la repsonsable de la structure</span>
                                                                {% else %}
                                                                    <span class="badge bg-secondary rounded-pill" >En attente d'acceptation de la structure</span>
                                                                {% endif %}
                                                            </div>
                                                            <div class="col-6">
                                                                {% if structure.unitesParticipantes | length > 0 %}
                                                                    <ul>
                                                                        {% for uniteParticipante in structure.unitesParticipantes %}
                                                                            <li>
                                                                                {{uniteParticipante.equipe.nom}}
                                                                            </li>
                                                                        {% endfor %}
                                                                    </ul>
                                                                {% else %}
                                                                    <p><i>Aucune unité de cette structure ne participe au séjour pour l'instant</i></p>
                                                                {% endif %}
                                                            </div>
                                                        {% else %}
                                                            <div class="col-6">
                                                                {{structure.nomStructureNonEEDF}} <span class="badge bg-success rounded-pill" >non EEDF</span>
                                                            </div>
                                                            <div class="col-6">
                                                                {{structure.descriptionStructureNonEEDF}}
                                                            </div>
                                                        {% endif %}
                                                    </div>
                                                {% endfor %} 
                                            </td>
                                            <td class="details-directeur">
                                                {% if sejour.directeur != null %}
                                                    {{ sejour.directeur.prenom }} {{ sejour.directeur.nom }}  <i class="fa fa-plus-circle"></i>
                                                {% endif %}
                                            </td>
                                            <td>{% if sejour.directeur != null %}
                                                    {{ sejour.directeur.adresseMailUsage }}
                                                {% endif %}
                                            </td>
                                            <td>{% if sejour.directeur != null %}
                                                    {% if sejour.directeur.telephoneUsage != null %}
                                                        {{ sejour.directeur.telephoneUsage|phone_number_format('NATIONAL') }}
                                                    {% else %}
                                                        <div class="text-muted">Non défini</div>
                                                    {% endif %}
                                                {% endif %}
                                            </td>
                                            <td class="details-lieux">
                                                 {% set arrayLieux = [] %}
                                                 {% for lieu in sejour.utilisationsLieuSejour %}
                                                    {% if lieu.estDefini %}
                                                        {% set arrayLieux = arrayLieux|merge([lieu.lieu.nom]) %}
                                                    {% else %}
                                                        {% set arrayLieux = arrayLieux|merge([lieu.zoneEnvisagee]) %}
                                                    {% endif %}
                                                {% endfor %}
                                                {{ arrayLieux | join(', ', ' et ')}} <i class="fa fa-plus-circle"></i>
                                            </td>
                                            <td>
                                                {% for lieu in sejour.utilisationsLieuSejour %}
                                                    <div class="row">
                                                        <div class="col">
                                                            {% if lieu.estDefini %}
                                                                {{lieu.lieu.nom}}
                                                            {% else %}
                                                                {{lieu.zoneEnvisagee}}
                                                            {% endif %}
                                                        </div>
                                                        <div class="col">
                                                           {% if lieu.estDefini %}
                                                                    <p>{{lieu.lieu.localisation.adresse}}</p>
                                                                    <p>{{lieu.lieu.localisation.codePostalCommune}}</p>
                                                                    <p>{{lieu.lieu.localisation.nomCommune}}</p>
                                                                    <p>{{lieu.lieu.localisation.pays}}</p>
                                                            {% else %}
                                                                    <p class="text-muted">Non renseigné</p>
                                                            {% endif %}
                                                        </div> 
                                                    </div>
                                                {% endfor %}
                                            </td>
                                            <td data-sort="{{sejour.dateModification|date('U')}}">
                                                {{sejour.dateModification|format_datetime(pattern="d MMMM y \à H\:mm", locale='fr')}}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        {% if donneesSejours.sejoursParticipation | length() >0 %}
            <div class="accordion-item my-3 ">
                <h2 class="accordion-header " id="flush-headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="true" aria-controls="flush-collapseThree">
                        <h1>Les séjours auxquels je participe</h1>
                    </button>
                </h2>
                <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">     
                        <div class="table-responsive">
                            <table id="sejours_participation" class="table table-striped">
                                <thead>
                                    <th>Détail</th>
                                    <th>Etat</th>
                                    <th>Séjour</th>
                                    <th>Structure organisatrice</th>
                                    <th>Région de rattachement</th>
                                    <th>Dates</th>
                                    <th>Type de séjour</th>
                                    <th>Unités partcipantes</th>
                                    <th>Direct·eur·rice</th>
                                    <th>Adresse mail Direct·eur·rice</th>
                                    <th>Tel Direct·eur·rice</th>
                                    <th>Lieu(x)</th>
                                    <th>Lieu(x)</th>
                                    <th>Modifié le </th>
                                </thead>
                                <tbody>       
                                    {% for sejour in donneesSejours.sejoursParticipation %}
                                        <tr>
                                            <td>
                                                <a class= "btn btn-primary" href="{{ path('detail_sejour', {id: sejour.id}) }}">Détail</a>
                                            </td>
                                            <td>
                                                {{ include('components/status_sejour.html.twig', {'sejour': sejour}) }}
                                                <div class="row">
                                                    {{ include('components/status_visite_sejour.html.twig', {'sejour': sejour}) }}
                                                </div>
                                            </td>
                                            <td>{{ sejour.intitule }} </td>
                                            <td class="details-structure">{{ sejour.structureOrganisatrice.nom }} <i class="fa fa-plus-circle"></i></td>
                                            <td>{% if sejour.structureOrganisatrice.structureParent != null and sejour.structureOrganisatrice.structureParent.echelon == constant('ECHELON_STRUCTURE_REGIONAL', sejour.structureOrganisatrice.structureParent) %}
                                                    {{ sejour.structureOrganisatrice.structureParent.nom }}
                                                {% else %}
                                                    National
                                                {% endif %}
                                            </td>
                                            <td data-sort="{{ sejour.dateDebut|date('U')}}">Du {{ sejour.dateDebut | format_datetime(pattern="d MMMM y", locale='fr')}} au {{ sejour.dateFin | format_datetime(pattern="d MMMM y", locale='fr')}} </td>
                                            <td class="details-unites">{{ sejour.typeSejour }} <i class="fa fa-plus-circle"></i></td>
                                            <td>
                                                {% if sejour.unitesStructureOrganisatrice | length > 0 %}
                                                    <div class="row border rounded border-primary p-3 my-1">
                                                        <div class="col-6">
                                                            <h5>{{ sejour.structureOrganisatrice.nom}}</h5> 
                                                            <div class="text-muted">
                                                                {% if sejour.structureOrganisatrice.structureParent != null and sejour.structureOrganisatrice.structureParent.echelon == constant('ECHELON_STRUCTURE_REGIONAL', sejour.structureOrganisatrice.structureParent) %}
                                                                    {{ sejour.structureOrganisatrice.structureParent.nom }}
                                                                {% else %}
                                                                    National
                                                                {% endif %}
                                                            </div>
                                                            <span class="badge bg-success rounded-pill" >Structure organisatrice</span>                                                            
                                                        </div>
                                                        <div class="col-6">
                                                            <ul>
                                                                {% for uniteParticipante in sejour.unitesStructureOrganisatrice %}
                                                                    <li>
                                                                        {{uniteParticipante.equipe.nom}}
                                                                    </li>
                                                                {% endfor %}
                                                            </ul>
                                                        </div>

                                                    </div>
                                                {% endif %}
                                                {% for structure in sejour.structuresRegroupees %}
                                                    <div class="row border rounded border-primary p-3 my-1">
                                                        {% if structure.estEEDF %}
                                                            <div class="col-6">
                                                                <h5>{{structure.structureEEDF.nom}}</h5> 
                                                                <div class="text-muted">
                                                                    {% if structure.structureEEDF.structureParent != null and structure.structureEEDF.structureParent.echelon == constant('ECHELON_STRUCTURE_REGIONAL', sejour.structureOrganisatrice.structureParent) %}
                                                                        {{ structure.structureEEDF.structureParent.nom }}
                                                                    {% else %}
                                                                        National
                                                                    {% endif %}
                                                                </div>
                                                                {% if structure.statutDemande == constant('STATUT_DEMANDE_ACCEPTE', structure) %}
                                                                    <span class="badge bg-success rounded-pill" >Accepté par le·la repsonsable de la structure</span>
                                                                {% else %}
                                                                    <span class="badge bg-secondary rounded-pill" >En attente d'acceptation de la structure</span>
                                                                {% endif %}
                                                            </div>
                                                            <div class="col-6">
                                                                {% if structure.unitesParticipantes | length > 0 %}
                                                                    <ul>
                                                                        {% for uniteParticipante in structure.unitesParticipantes %}
                                                                            <li>
                                                                                {{uniteParticipante.equipe.nom}}
                                                                            </li>
                                                                        {% endfor %}
                                                                    </ul>
                                                                {% else %}
                                                                    <p><i>Aucune unité de cette structure ne participe au séjour pour l'instant</i></p>
                                                                {% endif %}
                                                            </div>
                                                        {% else %}
                                                            <div class="col-6">
                                                                {{structure.nomStructureNonEEDF}} <span class="badge bg-success rounded-pill" >non EEDF</span>
                                                            </div>
                                                            <div class="col-6">
                                                                {{structure.descriptionStructureNonEEDF}}
                                                            </div>
                                                        {% endif %}
                                                    </div>
                                                {% endfor %} 
                                            </td>
                                            <td class="details-directeur">
                                                {% if sejour.directeur != null %}
                                                    {{ sejour.directeur.prenom }} {{ sejour.directeur.nom }}  <i class="fa fa-plus-circle"></i>
                                                {% endif %}
                                            </td>
                                            <td>{% if sejour.directeur != null %}
                                                    {{ sejour.directeur.adresseMailUsage }}
                                                {% endif %}
                                            </td>
                                            <td>{% if sejour.directeur != null %}
                                                    {% if sejour.directeur.telephoneUsage != null %}
                                                        {{ sejour.directeur.telephoneUsage|phone_number_format('NATIONAL') }}
                                                    {% else %}
                                                        <div class="text-muted">Non défini</div>
                                                    {% endif %}
                                                {% endif %}
                                            </td>
                                            <td class="details-lieux">
                                                {% set arrayLieux = [] %}
                                                 {% for lieu in sejour.utilisationsLieuSejour %}
                                                    {% if lieu.estDefini %}
                                                        {% set arrayLieux = arrayLieux|merge([lieu.lieu.nom]) %}
                                                    {% else %}
                                                        {% set arrayLieux = arrayLieux|merge([lieu.zoneEnvisagee]) %}
                                                    {% endif %}
                                                {% endfor %}
                                                {{ arrayLieux | join(', ', ' et ')}} <i class="fa fa-plus-circle"></i>
                                            </td>
                                            <td>
                                                {% for lieu in sejour.utilisationsLieuSejour %}
                                                    <div class="row">
                                                        <div class="col">
                                                            {% if lieu.estDefini %}
                                                                {{lieu.lieu.nom}}
                                                            {% else %}
                                                                {{lieu.zoneEnvisagee}}
                                                            {% endif %}
                                                        </div>
                                                        <div class="col">
                                                           {% if lieu.estDefini %}
                                                                    <p>{{lieu.lieu.localisation.adresse}}</p>
                                                                    <p>{{lieu.lieu.localisation.codePostalCommune}}</p>
                                                                    <p>{{lieu.lieu.localisation.nomCommune}}</p>
                                                                    <p>{{lieu.lieu.localisation.pays}}</p>
                                                            {% else %}
                                                                    <p class="text-muted">Non renseigné</p>
                                                            {% endif %}
                                                        </div> 
                                                    </div>
                                                {% endfor %}
                                            </td>
                                            <td data-sort="{{sejour.dateModification|date('U')}}">
                                                {{sejour.dateModification|format_datetime(pattern="d MMMM y \à H\:mm", locale='fr')}}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        {% if donneesSejours.sejoursArchives | length() >0 %}
            <div class="accordion-item my-3 ">
                <h2 class="accordion-header " id="flush-headingFour">
                    <button class="accordion-button bg-info collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="true" aria-controls="flush-collapseFour">
                        <h1>Mes anciens séjours</h1>
                    </button>
                </h2>
                <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">     
                        <div class="table-responsive">
                            <table id="sejours_archives" class="table table-striped">
                                <thead>
                                    <th>Détail</th>
                                    <th>Etat</th>
                                    <th>Séjour</th>
                                    <th>Structure organisatrice</th>
                                    <th>Région de rattachement</th>
                                    <th>Dates</th>
                                    <th>Type de séjour</th>
                                    <th>Unités partcipantes</th>
                                    <th>Direct·eur·rice</th>
                                    <th>Adresse mail Direct·eur·rice</th>
                                    <th>Tel Direct·eur·rice</th>
                                    <th>Lieu(x)</th>
                                    <th>Lieu(x)</th>
                                    <th>Modifié le </th>
                                </thead>
                                <tbody>       
                                    {% for sejour in donneesSejours.sejoursArchives %}
                                        <tr>
                                            <td>
                                                <a class= "btn btn-primary" href="{{ path('detail_sejour', {id: sejour.id}) }}">Détail</a>
                                            </td>
                                            <td>
                                                {{ include('components/status_sejour.html.twig', {'sejour': sejour}) }}
                                                <div class="row">
                                                    {{ include('components/status_visite_sejour.html.twig', {'sejour': sejour}) }}
                                                </div>
                                            </td>
                                            <td>{{ sejour.intitule }} </td>
                                            <td class="details-structure">{{ sejour.structureOrganisatrice.nom }} <i class="fa fa-plus-circle"></i></td>
                                            <td>{% if sejour.structureOrganisatrice.structureParent != null and sejour.structureOrganisatrice.structureParent.echelon == constant('ECHELON_STRUCTURE_REGIONAL', sejour.structureOrganisatrice.structureParent) %}
                                                    {{ sejour.structureOrganisatrice.structureParent.nom }}
                                                {% else %}
                                                    National
                                                {% endif %}
                                            </td>
                                            <td data-sort="{{ sejour.dateDebut|date('U')}}">Du {{ sejour.dateDebut | format_datetime(pattern="d MMMM y", locale='fr')}} au {{ sejour.dateFin | format_datetime(pattern="d MMMM y", locale='fr')}} </td>
                                            <td class="details-unites">{{ sejour.typeSejour }} <i class="fa fa-plus-circle"></i></td>
                                            <td>
                                                {% if sejour.unitesStructureOrganisatrice | length > 0 %}
                                                    <div class="row border rounded border-primary p-3 my-1">
                                                        <div class="col-6">
                                                            <h5>{{ sejour.structureOrganisatrice.nom}}</h5> 
                                                            <div class="text-muted">
                                                                {% if sejour.structureOrganisatrice.structureParent != null and sejour.structureOrganisatrice.structureParent.echelon == constant('ECHELON_STRUCTURE_REGIONAL', sejour.structureOrganisatrice.structureParent) %}
                                                                    {{ sejour.structureOrganisatrice.structureParent.nom }}
                                                                {% else %}
                                                                    National
                                                                {% endif %}
                                                            </div>
                                                            <span class="badge bg-success rounded-pill" >Structure organisatrice</span>                                                            
                                                        </div>
                                                        <div class="col-6">
                                                            <ul>
                                                                {% for uniteParticipante in sejour.unitesStructureOrganisatrice %}
                                                                    <li>
                                                                        {{uniteParticipante.equipe.nom}}
                                                                    </li>
                                                                {% endfor %}
                                                            </ul>
                                                        </div>

                                                    </div>
                                                {% endif %}
                                                {% for structure in sejour.structuresRegroupees %}
                                                    <div class="row border rounded border-primary p-3 my-1">
                                                        {% if structure.estEEDF %}
                                                            <div class="col-6">
                                                                <h5>{{structure.structureEEDF.nom}}</h5> 
                                                                <div class="text-muted">
                                                                    {% if structure.structureEEDF.structureParent != null and structure.structureEEDF.structureParent.echelon == constant('ECHELON_STRUCTURE_REGIONAL', sejour.structureOrganisatrice.structureParent) %}
                                                                        {{ structure.structureEEDF.structureParent.nom }}
                                                                    {% else %}
                                                                        National
                                                                    {% endif %}
                                                                </div>
                                                                {% if structure.statutDemande == constant('STATUT_DEMANDE_ACCEPTE', structure) %}
                                                                    <span class="badge bg-success rounded-pill" >Accepté par le·la repsonsable de la structure</span>
                                                                {% else %}
                                                                    <span class="badge bg-secondary rounded-pill" >En attente d'acceptation de la structure</span>
                                                                {% endif %}
                                                            </div>
                                                            <div class="col-6">
                                                                {% if structure.unitesParticipantes | length > 0 %}
                                                                    <ul>
                                                                        {% for uniteParticipante in structure.unitesParticipantes %}
                                                                            <li>
                                                                                {{uniteParticipante.equipe.nom}}
                                                                            </li>
                                                                        {% endfor %}
                                                                    </ul>
                                                                {% else %}
                                                                    <p><i>Aucune unité de cette structure ne participe au séjour pour l'instant</i></p>
                                                                {% endif %}
                                                            </div>
                                                        {% else %}
                                                            <div class="col-6">
                                                                {{structure.nomStructureNonEEDF}} <span class="badge bg-success rounded-pill" >non EEDF</span>
                                                            </div>
                                                            <div class="col-6">
                                                                {{structure.descriptionStructureNonEEDF}}
                                                            </div>
                                                        {% endif %}
                                                    </div>
                                                {% endfor %} 
                                            </td>
                                            <td class="details-directeur">
                                                {% if sejour.directeur != null %}
                                                    {{ sejour.directeur.prenom }} {{ sejour.directeur.nom }}  <i class="fa fa-plus-circle"></i>
                                                {% endif %}
                                            </td>
                                            <td>{% if sejour.directeur != null %}
                                                    {{ sejour.directeur.adresseMailUsage }}
                                                {% endif %}
                                            </td>
                                            <td>{% if sejour.directeur != null %}
                                                    {% if sejour.directeur.telephoneUsage != null %}
                                                        {{ sejour.directeur.telephoneUsage|phone_number_format('NATIONAL') }}
                                                    {% else %}
                                                        <div class="text-muted">Non défini</div>
                                                    {% endif %}
                                                {% endif %}
                                            </td>
                                            <td class="details-lieux">
                                                {% set arrayLieux = [] %}
                                                 {% for lieu in sejour.utilisationsLieuSejour %}
                                                    {% if lieu.estDefini %}
                                                        {% set arrayLieux = arrayLieux|merge([lieu.lieu.nom]) %}
                                                    {% else %}
                                                        {% set arrayLieux = arrayLieux|merge([lieu.zoneEnvisagee]) %}
                                                    {% endif %}
                                                {% endfor %}
                                                {{ arrayLieux | join(', ', ' et ')}} <i class="fa fa-plus-circle"></i>
                                            </td>
                                            <td>
                                                {% for lieu in sejour.utilisationsLieuSejour %}
                                                    <div class="row">
                                                        <div class="col">
                                                            {% if lieu.estDefini %}
                                                                {{lieu.lieu.nom}}
                                                            {% else %}
                                                                {{lieu.zoneEnvisagee}}
                                                            {% endif %}
                                                        </div>
                                                        <div class="col">
                                                           {% if lieu.estDefini %}
                                                                    <p>{{lieu.lieu.localisation.adresse}}</p>
                                                                    <p>{{lieu.lieu.localisation.codePostalCommune}}</p>
                                                                    <p>{{lieu.lieu.localisation.nomCommune}}</p>
                                                                    <p>{{lieu.lieu.localisation.pays}}</p>
                                                            {% else %}
                                                                    <p class="text-muted">Non renseigné</p>
                                                            {% endif %}
                                                        </div> 
                                                    </div>
                                                {% endfor %}
                                            </td>
                                            <td data-sort="{{sejour.dateModification|date('U')}}">
                                                {{sejour.dateModification|format_datetime(pattern="d MMMM y \à H\:mm", locale='fr')}}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}

