<div class="accordion-item my-3 ">
    <h2 class="accordion-header " id="flush-headingResume">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseResume" aria-expanded="true" aria-controls="flush-collapseResume">
            <h1>Résumé des séjours vous concernant</h1>
        </button>
    </h2>
    <div id="flush-collapseResume" class="accordion-collapse collapse" aria-labelledby="flush-headingResume" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body container">     
            <div class="row">
                <div class="col-md-4 table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <th>Etat</th>
                            <th>Nombre</th>
                        </thead>
                        <tbody>     
                            {% if constant('App\\Entity\\Sejour::STATUT_SEJOUR_DECLARATION_INTENTION') in donneesSejours.resumeSejours.arrayNbSejourParEtat|keys %}
                                <tr>
                                    <td>
                                        <span class="badge rounded-pill" style="background-color:#f7a800">
                                            {{ constant('App\\Entity\\Sejour::MAP_LABEL_PAR_STATUT_SEJOUR')[constant('App\\Entity\\Sejour::STATUT_SEJOUR_DECLARATION_INTENTION')] }}
                                        </span>
                                    </td>
                                    <td>{{donneesSejours.resumeSejours.arrayNbSejourParEtat[constant('App\\Entity\\Sejour::STATUT_SEJOUR_DECLARATION_INTENTION')]}}</td>
                                </tr>
                            {% endif %}
                            {% if constant('App\\Entity\\Sejour::STATUT_SEJOUR_ATTENTE_CONFIRMATION_DIRECTEUR') in donneesSejours.resumeSejours.arrayNbSejourParEtat|keys %}
                                <tr>
                                    <td>
                                        <span class="badge rounded-pill" style="background-color:#dcae04">
                                            {{ constant('App\\Entity\\Sejour::MAP_LABEL_PAR_STATUT_SEJOUR')[constant('App\\Entity\\Sejour::STATUT_SEJOUR_ATTENTE_CONFIRMATION_DIRECTEUR')] }}
                                        </span>
                                    </td>
                                    <td>{{donneesSejours.resumeSejours.arrayNbSejourParEtat[constant('App\\Entity\\Sejour::STATUT_SEJOUR_ATTENTE_CONFIRMATION_DIRECTEUR')]}}</td>
                                </tr>
                            {% endif %}
                            {% if constant('App\\Entity\\Sejour::STATUT_SEJOUR_CONSTRUCTION_PROJET') in donneesSejours.resumeSejours.arrayNbSejourParEtat|keys %}
                                <tr>
                                    <td>
                                        <span class="badge rounded-pill" style="background-color:#c1b508">
                                            {{ constant('App\\Entity\\Sejour::MAP_LABEL_PAR_STATUT_SEJOUR')[constant('App\\Entity\\Sejour::STATUT_SEJOUR_CONSTRUCTION_PROJET')] }}
                                        </span>
                                    </td>
                                    <td>{{donneesSejours.resumeSejours.arrayNbSejourParEtat[constant('App\\Entity\\Sejour::STATUT_SEJOUR_CONSTRUCTION_PROJET')]}}</td>
                                </tr>
                            {% endif %}
                            {% if constant('App\\Entity\\Sejour::STATUT_SEJOUR_ATTENTE_VALIDATION') in donneesSejours.resumeSejours.arrayNbSejourParEtat|keys %}
                                <tr>
                                    <td>
                                        <span class="badge rounded-pill" style="background-color:#a6bb0b">
                                            {{ constant('App\\Entity\\Sejour::MAP_LABEL_PAR_STATUT_SEJOUR')[constant('App\\Entity\\Sejour::STATUT_SEJOUR_ATTENTE_VALIDATION')] }}
                                        </span>
                                    </td>
                                    <td>{{donneesSejours.resumeSejours.arrayNbSejourParEtat[constant('App\\Entity\\Sejour::STATUT_SEJOUR_ATTENTE_VALIDATION')]}}</td>
                                </tr>
                            {% endif %}
                            {% if constant('App\\Entity\\Sejour::STATUT_SEJOUR_VALIDE') in donneesSejours.resumeSejours.arrayNbSejourParEtat|keys %}
                                <tr>
                                    <td>
                                        <span class="badge rounded-pill" style="background-color:#89bb23">
                                            {{ constant('App\\Entity\\Sejour::MAP_LABEL_PAR_STATUT_SEJOUR')[constant('App\\Entity\\Sejour::STATUT_SEJOUR_VALIDE')] }}
                                        </span>
                                    </td>
                                    <td>{{donneesSejours.resumeSejours.arrayNbSejourParEtat[constant('App\\Entity\\Sejour::STATUT_SEJOUR_VALIDE')]}}</td>
                                </tr>
                            {% endif %}
                            {% if constant('App\\Entity\\Sejour::STATUT_SEJOUR_EN_COURS') in donneesSejours.resumeSejours.arrayNbSejourParEtat|keys %}
                                <tr>
                                    <td>
                                        <span class="badge rounded-pill" style="background-color:#67b258">
                                            {{ constant('App\\Entity\\Sejour::MAP_LABEL_PAR_STATUT_SEJOUR')[constant('App\\Entity\\Sejour::STATUT_SEJOUR_EN_COURS')] }}
                                        </span>
                                    </td>
                                    <td>{{donneesSejours.resumeSejours.arrayNbSejourParEtat[constant('App\\Entity\\Sejour::STATUT_SEJOUR_EN_COURS')]}}</td>
                                </tr>
                            {% endif %}
                            {% if constant('App\\Entity\\Sejour::STATUT_SEJOUR_TERMINE') in donneesSejours.resumeSejours.arrayNbSejourParEtat|keys %}
                                <tr>
                                    <td>
                                        <span class="badge rounded-pill" style="background-color:#43a990">
                                            {{ constant('App\\Entity\\Sejour::MAP_LABEL_PAR_STATUT_SEJOUR')[constant('App\\Entity\\Sejour::STATUT_SEJOUR_TERMINE')] }}
                                        </span>
                                    </td>
                                    <td>{{donneesSejours.resumeSejours.arrayNbSejourParEtat[constant('App\\Entity\\Sejour::STATUT_SEJOUR_TERMINE')]}}</td>
                                </tr>
                            {% endif %}
                            {% if constant('App\\Entity\\Sejour::STATUT_SEJOUR_SUSPENDU') in donneesSejours.resumeSejours.arrayNbSejourParEtat|keys %}
                                <tr>
                                    <td>
                                        <span class="badge rounded-pill" style="background-color:#bd1220">
                                            {{ constant('App\\Entity\\Sejour::MAP_LABEL_PAR_STATUT_SEJOUR')[constant('App\\Entity\\Sejour::STATUT_SEJOUR_SUSPENDU')] }}
                                        </span>
                                    </td>
                                    <td>{{donneesSejours.resumeSejours.arrayNbSejourParEtat[constant('App\\Entity\\Sejour::STATUT_SEJOUR_SUSPENDU')]}}</td>
                                </tr>
                            {% endif %}
                            <tr class="table-secondary">
                                <td><b>Total des séjours non cloturés</b></td>
                                <td><b>{{donneesSejours.resumeSejours.nbTotalSejoursNonClotures}}</b></td>
                            </tr>
                            {% if constant('App\\Entity\\Sejour::STATUT_SEJOUR_CLOTURE') in donneesSejours.resumeSejours.arrayNbSejourParEtat|keys %}
                                <tr>
                                    <td>
                                        <span class="badge rounded-pill" style="background-color:#1fa0c8">
                                            {{ constant('App\\Entity\\Sejour::MAP_LABEL_PAR_STATUT_SEJOUR')[constant('App\\Entity\\Sejour::STATUT_SEJOUR_CLOTURE')] }}
                                        </span>
                                    </td>
                                    <td>{{donneesSejours.resumeSejours.arrayNbSejourParEtat[constant('App\\Entity\\Sejour::STATUT_SEJOUR_CLOTURE')]}}</td>
                                </tr>
                            {% endif %}
                            <tr class="table-secondary">
                                <td><b>Total</b></td>
                                <td><b>{{donneesSejours.resumeSejours.nbTotalSejours}}</b></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-4 table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <th>Type de séjour</th>
                            <th>Nombre</th>
                        </thead>
                        <tbody>     
                            <tr>
                                <td>D'unité</td>
                                <td>{{donneesSejours.resumeSejours.nbSejourUnite}}</td>
                            </tr>
                            <tr>
                                <td>
                                    De groupe
                                </td>
                                <td>{{donneesSejours.resumeSejours.nbSejourGroupe}}</td>
                            </tr>
                            <tr>
                                <td>
                                    Regroupement
                                </td>
                                <td>{{donneesSejours.resumeSejours.nbSejourRegroupement}}</td>
                            </tr>
                            <tr>
                                <td>
                                    Rassemblement
                                </td>
                                <td>{{donneesSejours.resumeSejours.nbSejourRassemblement}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-4 table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <th>Caractéristiques de séjour</th>
                            <th>Nombre</th>
                        </thead>
                        <tbody>     
                            <tr>
                                <td>
                                    International
                                </td>
                                <td>{{donneesSejours.resumeSejours.nbSejourInternational}}</td>
                            </tr>
                            <tr>
                                <td>
                                    Accueil d'étrangers
                                </td>
                                <td>{{donneesSejours.resumeSejours.nbSejourAccueilEtranger}}</td>
                            </tr>
                            <tr>
                                <td>
                                    Séjours ouverts
                                </td>
                                <td>{{donneesSejours.resumeSejours.nbSejourOuvert}}</td>
                            </tr>
                            <tr>
                                <td>
                                    Colos apprenantes
                                </td>
                                <td>{{donneesSejours.resumeSejours.nbSejourColosApprenantes}}</td>
                            </tr>
                            <tr>
                                <td>
                                    Itinérants
                                </td>
                                <td>{{donneesSejours.resumeSejours.nbSejourItinerant}}</td>
                            </tr>
                            <tr>
                                <td>
                                    Avec appui
                                </td>
                                <td>{{donneesSejours.resumeSejours.nbSejourAvecAppui}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>