{% extends 'base.html.twig' %}

{% block title %}Envoi d'un mail au support{% endblock %}
{% block headerbody %}
    <h1>Envoi d'un mail au support</h1>
{% endblock %}
{% block body %}

    <div class="container border border-primary p-3 m-3">
        <h1>Envoi d'un mail au support</h1>
        <p>Le message a été envoyé avec succès, merci.</p>
        <a class= "btn btn-secondary" href="{{ path('home') }}">Retour</a>
    </div> 
{% endblock %}

