{% extends 'base.html.twig' %}

{% block title %}Un problème ?{% endblock %}

{% block headerbody %}
    <h1>{{ include('components/icones/Un problème.svg') }} Un problème ?</h1>
    <p>Vous avez trouvé un bug, ou vous voulez nous dire quelque chose, suggérer une amélioration ? Super ! vous pouvez nous envoyer un message ici</p>
{% endblock %}

{% block body %}
    <div class="container border border-primary m-3 p-3">
        <h2>Envoi d'un mail au support</h2>
        {{form_start(formSupport)}}
            <div class="border rounded border-secondary my-1 p-3" {% if besoinCoordonnees == false %}disabled required=false style="display:none"{% endif %} >
                <p>Vous n'êtes pas connecté, merci de renseigner vos informations suivantes pour que le support puisse vous recontacter</p>
                <div class="form-group" >
                    {% if besoinCoordonnees  %}
                        {{form_row(formSupport.nom , { 'required': true })}}
                    {% else %}
                        {{form_row(formSupport.nom)}}
                    {% endif %}
                </div>
                <div class="form-group">
                    {% if besoinCoordonnees  %}
                        {{form_row(formSupport.prenom , { 'required': true })}}
                    {% else %}
                        {{form_row(formSupport.prenom)}}
                    {% endif %}
                </div>
                <div class="form-group">
                    {% if besoinCoordonnees  %}
                        {{form_row(formSupport.email , { 'required': true })}}
                    {% else %}
                        {{form_row(formSupport.email)}}
                    {% endif %}
                </div>
                <div class="form-group">
                    {% if besoinCoordonnees  %}
                        {{form_row(formSupport.numeroAdherentOuMatricule , { 'required': true })}}
                    {% else %}
                        {{form_row(formSupport.numeroAdherentOuMatricule)}}
                    {% endif %}
                </div>
            </div>
            <div class="form-group">
                {{form_row(formSupport.rubrique)}}
            </div>
            <div class="form-group">
                {{form_row(formSupport.message)}}
            </div>
            <div>
                {{ form_widget(formSupport.envoyer, {'attr': {'class': 'btn btn-secondary m-3'}}) }}
            </div>
        {{form_end(formSupport)}}
    </div> 
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
