<h1>Demande de support de la part de {{ prenomExpediteur }} {{ nomExpediteur }} - {{ numeroAdherentOuMatricule }} ({{adresseExpediteur}}) </h1>

<p>Bonjour, Une nouvelle demande de support a été envoyée sur <b>R.O.A.D.S</b>.
    <p>Rubrique: <b>{{rubrique}}</b></p> 
    <br>
    <p>Contenu du message:<p>
    <p>"<b>{{contenuMessage}}</b>"</p>      
</p>

<p>
    Cordialement
</p>
