{% if workflow_has_marked_place(sejour, constant('STATUT_SEJOUR_CONSTRUCTION_PROJET', sejour)) %}
        {% if (sejour.validationSejour != null) and not (sejour.validationSejour.estValide) %}
        <div class="alert alert-warning" role="alert">
            Séjour non validé le {{sejour.validationSejour.dateModification |format_datetime(pattern="d MMMM y \à H\:mm", locale='fr') }} par 
            {% if sejour.structureOrganisatrice.structureParent.echelon == constant('ECHELON_STRUCTURE_NATIONAL', sejour.structureOrganisatrice) %}
                l'échelon national
            {% else %}
                l'échelon régional
            {% endif %}
        </div>
        {% endif %}
        {% if (sejour.validationInternationaleSejour != null) and not (sejour.validationInternationaleSejour.estValide) %}
        <div class="alert alert-warning" role="alert">
            Séjour non validé le {{sejour.validationInternationaleSejour.dateModification |format_datetime(pattern="d MMMM y \à H\:mm", locale='fr') }} par l'équipe internationale
        </div>
        {% endif %}
{% endif %}
{% if workflow_has_marked_place(sejour, constant('STATUT_SEJOUR_ATTENTE_VALIDATION', sejour)) %}
    <div class="alert alert-secondary" role="alert">
        La validation de ce projet de séjour a été demandée.
        {% if sejour.international  or sejour.sejourFranceAvecAccueilEtranger %}
            {% if (sejour.validationSejour != null) and sejour.validationSejour.estValide %}
            
                    </br>Le séjour a été validé par
                    {% if sejour.structureOrganisatrice.structureParent.echelon == constant('ECHELON_STRUCTURE_NATIONAL', sejour.structureOrganisatrice) %}
                        l'échelon national
                    {% else %}
                        l'échelon régional
                    {% endif %}
                    , le séjour est en attente de validation par l'équipe internationale
            {% endif %}
            {% if (sejour.validationInternationaleSejour != null) and sejour.validationInternationaleSejour.estValide %}
                    </br>Le séjour a été validé par l'équipe internationale, le séjour est en attente de validation par
                    {% if sejour.structureOrganisatrice.structureParent.echelon == constant('ECHELON_STRUCTURE_NATIONAL', sejour.structureOrganisatrice) %}
                        l'échelon national
                    {% else %}
                        l'échelon régional
                    {% endif %}
                    .  
            {% endif %}
        {% endif %}
    </div>
{% endif %}
{% if workflow_has_marked_place(sejour, constant('STATUT_SEJOUR_VALIDE', sejour)) %}
    <div class="alert alert-secondary" role="alert">
        Ce projet de séjour a reçu un avis favorable
    </div>
{% endif %}
{% if workflow_has_marked_place(sejour, constant('STATUT_SEJOUR_EN_COURS', sejour)) %}
    <div class="alert alert-secondary" role="alert">
        Le séjour est en cours de réalisation
    </div>
{% endif %}
{% if workflow_has_marked_place(sejour, constant('STATUT_SEJOUR_TERMINE', sejour)) %}
    <div class="alert alert-secondary" role="alert">
        {% if is_granted('modif_projet', sejour) %}
            Le séjour est terminé. Pour clôturer le séjour, vous devez renseigner toutes les informations demandées où il apparaît un *.
        {% else %}
            Le séjour est terminé. Pour clôturer le séjour, le·la direct·eur·rice et/ou l'organisat·eur·ice doivent renseigner les informations demandées.
        {% endif %}
     </div>
{% endif %}
