{% if (is_granted('cloture', sejour)) and workflow_has_marked_place(sejour, constant('STATUT_SEJOUR_TERMINE', sejour)) %}
    {{ include('sejour/components/modification/_form_cloture_sejour.html.twig') }}
{% else %}
    {{ include('sejour/components/suivi/detail_cloture_sejour_sans_modif.html.twig', { 'sejour': sejour}) }}
{% endif %}