{% if is_granted('view_details', sejour) %}
<a class= "col-2 position-relative btn btn-block btn-outline-secondary p-3" data-target="#gestion_commentaires_{{sujet}}" data-toggle="modal" href="#">
    <svg class="position-absolute top-50 start-50 translate-middle" xmlns="http://www.w3.org/2000/svg" width="60" fill="currentColor" class="bi bi-chat" viewBox="0 0 16 16">
        <path d="M2.678 11.894a1 1 0 0 1 .287.801 10.97 10.97 0 0 1-.398 2c1.395-.323 2.247-.697 2.634-.893a1 1 0 0 1 .71-.074A8.06 8.06 0 0 0 8 14c3.996 0 7-2.807 7-6 0-3.192-3.004-6-7-6S1 4.808 1 8c0 1.468.617 2.83 1.678 3.894zm-.493 3.905a21.682 21.682 0 0 1-.713.129c-.2.032-.352-.176-.273-.362a9.68 9.68 0 0 0 .244-.637l.003-.01c.248-.72.45-1.548.524-2.319C.743 11.37 0 9.76 0 8c0-3.866 3.582-7 8-7s8 3.134 8 7-3.582 7-8 7a9.06 9.06 0 0 1-2.347-.306c-.52.263-1.639.742-3.468 1.105z"/>
    </svg>
    <h2 class="pt-2">{{commentaires|filter((commentaire) => commentaire.sujet == sujet)|length}}</h2>
</a>
<div class="modal fade gestion_commentaires" id="gestion_commentaires_{{sujet}}" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Commentaires</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row border rounded border-secondary p-3 m-3">
                    {% for commentaire in commentaires|filter((commentaire) => commentaire.sujet == sujet) %}
                        <div>
                            <div class="row">
                                <div class="col align-self-start"> 
                                    <div class="text-secondary">{{commentaire.personne.prenom}} {{commentaire.personne.nom}} </div>
                                        {% set arrayRoles =[] %}
                                        {% if commentaire.personne in sejour.structureOrganisatrice.organisateurs %}
                                            {% set arrayRoles = arrayRoles|merge([constant('LABEL_ROLE_METIER_ORGANISATION_SEJOUR', commentaire.personne)]) %}
                                        {% endif %}
                                        {% if commentaire.personne in sejour.structureOrganisatrice.structureParent.validateurs %}
                                            {% set arrayRoles = arrayRoles|merge([constant('LABEL_ROLE_METIER_VALIDATION_SEJOUR', commentaire.personne)]) %}
                                        {% endif %}
                                        {% if (commentaire.personne in sejour.suiveurs) or (commentaire.personne in sejour.structureOrganisatrice.suiveurs) %}
                                            {% set arrayRoles = arrayRoles|merge([constant('LABEL_ROLE_METIER_SUIVI_SEJOUR', commentaire.personne)]) %}
                                        {% endif %}
                                        {% if commentaire.personne == sejour.directeur %}
                                            {% set arrayRoles = arrayRoles|merge([constant('LABEL_ROLE_METIER_DIRECTION_SEJOUR', commentaire.personne)]) %}
                                        {% endif %}
                                        {% if commentaire.personne in sejour.directeursAdjoints %}
                                            {% set arrayRoles = arrayRoles|merge([constant('LABEL_ROLE_METIER_DIRECTION_ADJOINTE_SEJOUR', commentaire.personne)]) %}
                                        {% endif %}
                                        {% if commentaire.personne in sejour.encadrants %}
                                            {% set arrayRoles = arrayRoles|merge([constant('LABEL_ROLE_METIER_PARTICIPATION_SEJOUR', commentaire.personne)]) %}
                                        {% endif %}
                                        {% if commentaire.personne.hasRole(constant('ROLE_VALIDATION_INTERNATIONALE', commentaire.personne)) %}
                                            {% set arrayRoles = arrayRoles|merge([constant('LABEL_ROLE_METIER_VALIDATION_INTERNATIONALE', commentaire.personne)]) %}
                                        {% endif %}
                                        {% if commentaire.personne.hasRole(constant('ROLE_VALIDATION_NATIONALE', commentaire.personne)) %}
                                            {% set arrayRoles = arrayRoles|merge([constant('LABEL_ROLE_METIER_VALIDATION_NATIONALE', commentaire.personne)]) %}
                                        {% endif %}
                                        {% if (commentaire.personne.hasRole(constant('ROLE_SUIVI_GLOBAL', commentaire.personne))) 
                                            or (commentaire.personne.hasRole(constant('ROLE_ANIMATION', commentaire.personne))) %}
                                            {% set arrayRoles = arrayRoles|merge([constant('LABEL_ROLE_METIER_SUIVI_GLOBAL', commentaire.personne)]) %}
                                        {% endif %}
                                    <div class="text-muted">({{ arrayRoles | join(', ', ' et ')}})</div>
                                </div>
                                <div class="col align-self-end text-end text-secondary"> le {{commentaire.date|format_datetime(pattern="d MMMM y \à H\:mm", locale='fr')}}</div>
                            </div>
                            <div class="row border rounded border-primary p-3 my-1">{{commentaire.texte}}</div>
                            <div class="row">
                                <div class="col-11"></div>
                                <div class="col-1 align-self-end">
                                    <a class= " btn btn-sm btn-outline-danger " href="{{ path('signaler_commentaire', {commentaire: commentaire.id}) }}">Signaler</a>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="text-muted">pas de commentaires pour l'instant</div>
                    {% endfor %}

                </div>
                <div>
                    {% if workflow_has_marked_place(sejour, constant('STATUT_SEJOUR_SUSPENDU', sejour)) %}
                        <div class="text-muted">Le séjour est suspendu, vous ne pouvez pas saisir de commentaires pour l'instant.</div>
                    {% elseif workflow_has_marked_place(sejour, constant('STATUT_SEJOUR_CLOTURE', sejour)) %}
                        <div class="text-muted">Le séjour est clôturé, vous ne pouvez plus saisir de commentaires.</div>
                    {% else %}
                        {% set form= arrayFormsCommentairesParSujet[sujet] %}
                        {{form_start(form)}}
                            {{form_row(form.texte)}}
                            {{form_row(form.publier)}}
                        {{form_end(form)}}
                    {% endif %}
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>
{% endif %}