<div class="accordion" id="accordionEffectifs">
    <div class="row accordion-item my-3 ">
        <h2 class="col accordion-header " id="accordionEffectifs-headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordionEffectifs-collapseThree" aria-expanded="false" aria-controls="accordionEffectifs-collapseThree">
                <h1>Résumé</h1>
            </button>
        </h2>
        {% if type == 'construction' %}
            {{ include('sejour/components/details_commentaires.html.twig', {
                'sujet': constant('App\\Entity\\Commentaire::SUJET_SEJOUR_PROJET_SEJOUR_EFFECTIFS_RESUME')}) }}
        {% else %}
            {{ include('sejour/components/details_commentaires.html.twig', {
                'sujet': constant('App\\Entity\\Commentaire::SUJET_SEJOUR_CLOTURE_EFFECTIFS_RESUME')}) }}
        {% endif %}
        <div id="accordionEffectifs-collapseThree" class="accordion-collapse collapse" aria-labelledby="accordionEffectifs-headingThree" data-bs-parent="#accordionEffectifs">
            <div class="accordion-body">
                {{ include('sejour/components/resume_encadrement.html.twig', { 'resumeEffectifs': resumeEffectifs, 'sejour':sejour}) }}
            </div>
        </div>
    </div>
    <div class="row accordion-item my-3 ">
        <h2 class="col accordion-header " id="accordionEffectifs-headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordionEffectifs-collapseOne" aria-expanded="false" aria-controls="accordionEffectifs-collapseOne">
                <h1>Equipe d'encadrement</h1>
            </button>
        </h2>
        {% if type == 'construction' %}
            {{ include('sejour/components/details_commentaires.html.twig', {
                'sujet': constant('App\\Entity\\Commentaire::SUJET_SEJOUR_PROJET_SEJOUR_EFFECTIFS_ENCADREMENT')}) }}
        {% else %}
            {{ include('sejour/components/details_commentaires.html.twig', {
                'sujet': constant('App\\Entity\\Commentaire::SUJET_SEJOUR_CLOTURE_EFFECTIFS_ENCADREMENT')}) }}
        {% endif %}
        <div id="accordionEffectifs-collapseOne" class="accordion-collapse collapse" aria-labelledby="accordionEffectifs-headingOne" data-bs-parent="#accordionEffectifs">
            <div class="accordion-body">
                {% for message in app.flashes('success_effectifs_direction') %}
                    <div class="alert alert-success" role="alert">{{ message }}</div>
                {% endfor %}   
                {% for message in app.flashes('warning_effectifs_direction') %}
                    <div class="alert alert-warning" role="alert">{{ message }}</div>
                {% endfor %} 
                {% for message in app.flashes('danger_effectifs_direction') %}
                    <div class="alert alert-danger" role="alert">{{ message }}</div>
                {% endfor %}
                {% for message in app.flashes('success_effectifs_encadrants') %}
                    <div class="alert alert-success" role="alert">{{ message }}</div>
                {% endfor %}   
                {% for message in app.flashes('warning_effectifs_encadrants') %}
                    <div class="alert alert-warning" role="alert">{{ message }}</div>
                {% endfor %} 
                {% for message in app.flashes('danger_effectifs_encadrants') %}
                    <div class="alert alert-danger" role="alert">{{ message }}</div>
                {% endfor %} 

                <div class="table-responsive">  
                    <table class="table table-striped">
                        <thead>
                            <th>Nom et prénom</th>
                            <th>Numéro adhérent·e (ou salarié·e)</th>
                            <th>Rôle</th>
                            <th>Fonction</th>
                            <th>Qualification</th>
                            <th>Autre</th>
                            <th>Actions</th>
                        </thead>
                        <tbody name="encadrants" class="encadrantsModif" >
                            <!-- D'abord les qualifications du directeur -->
                            <tr>
                                <td>{{sejour.directeur.prenom}} {{sejour.directeur.nom}}</td>
                                <td>
                                    {{ sejour.directeur.numeroAdherentOuMatricule }}
                                </td>
                                <td><span class="badge bg-secondary rounded-pill" >Direct·eur·rice</span></td>
                                <td> 
                                    {% if sejour.qualificationDirection is not null %}
                                        {{sejour.qualificationDirection.fonction|join(", "," et ")}}
                                    {% endif %}    
                                </td>
                                <td>
                                    {% if (sejour.qualificationDirection is not null) and  (sejour.qualificationDirection.diplomesDirection|length >0) %}
                                        {{sejour.qualificationDirection.diplomesDirection|join(", "," et ") }} 
                                        {% if sejour.qualificationDirection.equivalenceDiplomeDirection is not null %}
                                            {{sejour.qualificationDirection.equivalenceDiplomeDirection}} 
                                        {% endif %} ({{ sejour.qualificationDirection.qualiteDirection }})
                                    {% else %}
                                        <span class=" text-danger " >Non renseignée</span>
                                    {% endif %}
                                </td>
                                <td>
                                    <div class="row">
                                        {% if sejour.qualificationDirection is not null %}
                                            {% if sejour.qualificationDirection.permisB %}
                                                <div class="col">
                                                    <i class="fa fa-car-side"></i>
                                                </div>
                                            {% endif %}
                                            {% if sejour.qualificationDirection.statutAssistantSanitaire %}
                                                <div class="col">
                                                    <i class="fa fa-briefcase-medical"></i>
                                                </div>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                </td>
                                <td>
                                    
                                    {{ include('sejour/components/modification/_form_qualification_direction.html.twig', { 'form': form_qualification_direction_sejour, 'docEquivalenceAnimationDirection':docEquivalenceAnimationDirection, 'docEquivalencePSC1':docEquivalencePSC1, 'type': type}) }}
                                    
                                </td>
                            </tr>
                            <!-- Ensuite chaque encadrant·e -->
                            {% for encadrant in sejour.rolesEncadrants %}
                            <tr>
                                <td>{% if encadrant.estEncadrantEEDF %} 
                                            {{ encadrant.encadrantEEDF.prenom }} {{ encadrant.encadrantEEDF.nom }}
                                    {% else %}
                                            {{ encadrant.infosEncadrantNonEEDF.prenom }} {{ encadrant.infosEncadrantNonEEDF.nom }}
                                    {% endif %} 
                                </td>
                                <td>
                                    {% if encadrant.estEncadrantEEDF %} 
                                            {{ encadrant.encadrantEEDF.numeroAdherentOuMatricule }}
                                    {% else %}
                                            <p class="text-muted">Non défini</p>
                                    {% endif %}
                                </td>
                                <td>{{ encadrant.equipe }}</td>
                                <td>
                                    {% if encadrant.fonction is not null %}
                                        {{encadrant.fonction|join(", "," et ") }} 
                                    {% else %}
                                        <p class="text-muted">Non renseigné</p>
                                    {% endif %}
                                </td>
                                <td>{{encadrant.diplomesAnimation|join(", "," et ") }} 
                                    {% if encadrant.equivalenceDiplomeAnimation is null %}
                                        ({{ encadrant.qualiteAnimation }})
                                    {% endif %} 
                                </td>
                                <td>
                                    <div class="row">
                                        {% if encadrant.permisB %}
                                        <div class="col">
                                            <i class="fa fa-car-side"></i>
                                        </div>
                                        {% endif %}
                                        {% if encadrant.statutAssistantSanitaire %}
                                            <div class="col">
                                                <i class="fa fa-briefcase-medical"></i>
                                            </div>
                                        {% endif %}
                                    </div>
                                </td>
                                <td>
                                    <div class="row">
                                        <div class="col-6">
                                        {{ include('sejour/components/modification/_form_encadrant.html.twig', { 'form': arrayFormViewEncadrant[encadrant.id], 'labelBouton': "Modifier", 'type': type}) }}
                                        </div>
                                        <div class="col-6">
                                            <a class= "btn btn-secondary m-3" data-target="#suppression_encadrant_{{encadrant.id}}" data-toggle="modal" href="#">Supprimer</a>
                                        </div>
                                        <!-- modal de confirmation de suppression d'encadant-->
                                        <div class="modal" id="suppression_encadrant_{{encadrant.id}}" tabindex="-1" role="dialog">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title">
                                                            Suppression de l'encadrant·e 
                                                            {% if encadrant.estEncadrantEEDF %} 
                                                                    {{ encadrant.encadrantEEDF.prenom }} {{ encadrant.encadrantEEDF.nom }}
                                                            {% else %}
                                                                    {{ encadrant.infosEncadrantNonEEDF.prenom }} {{ encadrant.infosEncadrantNonEEDF.nom }}
                                                            {% endif %}
                                                        </h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <p>Êtes-vous sûre de vouloir supprimer cet·te encadrant·e ?</p>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <a class= "btn btn-primary" href="{{ path('supprimer_encadrant_sejour', {sejour:sejour.id, encadrant:encadrant.id}) }}">Supprimer l'encadrant·e</a>
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                            

                        </tbody>
                    </table>
                </div>
                {{ include('sejour/components/modification/_form_encadrant.html.twig', { 'form': form_nouvel_encadrant, 'labelBouton': "Ajouter un·e encadrant·e"}) }}
                <div class="form-group">            
                </div>                     
            </div>
        </div>
    </div>
    <div class="row accordion-item my-3 ">
        <h2 class="col accordion-header " id="accordionEffectifs-headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordionEffectifs-collapseTwo" aria-expanded="false" aria-controls="accordionEffectifs-collapseTwo">
                <h1>Participant·e·s</h1>
            </button>
        </h2>
        {% if type == 'construction' %}
            {{ include('sejour/components/details_commentaires.html.twig', {
                'sujet': constant('App\\Entity\\Commentaire::SUJET_SEJOUR_PROJET_SEJOUR_EFFECTIFS_PARTICIPANTS')}) }}
        {% else %}
            {{ include('sejour/components/details_commentaires.html.twig', {
                'sujet': constant('App\\Entity\\Commentaire::SUJET_SEJOUR_CLOTURE_EFFECTIFS_PARTICIPANTS')}) }}
        {% endif %}
        <div id="accordionEffectifs-collapseTwo" class="accordion-collapse collapse" aria-labelledby="accordionEffectifs-headingTwo" data-bs-parent="#accordionEffectifs">
            <div class="accordion-body">
                {% for message in app.flashes('success_effectifs_participants') %}
                    <div class="alert alert-success" role="alert">{{ message }}</div>
                {% endfor %}   
                {% for message in app.flashes('warning_effectifs_participants') %}
                    <div class="alert alert-warning" role="alert">{{ message }}</div>
                {% endfor %} 
                {% for message in app.flashes('danger_effectifs_participants') %}
                    <div class="alert alert-danger" role="alert">{{ message }}</div>
                {% endfor %} 
                <div class="alert alert-secondary" role="alert">Pour ajouter des unités participantes, rendez vous dans l'onglet <b>Informations générales</b>, rubrique <b>Unités participantes</b></div>
                {% set sejourAvecStructuresEEDF = false %}
                {% for structuresRegroupee in sejour.structuresRegroupees %}
                    {% if (structuresRegroupee.estEEDF) %}
                        {% set sejourAvecStructuresEEDF = true %}
                    {% endif %}
                {% endfor %}
                {% if sejour.unitesStructureOrganisatrice|length > 0 %}
                    {% set sejourAvecStructuresEEDF = true %}
                {% endif %}

                {% if (sejourAvecStructuresEEDF) %}
                    <div class="row border rounded border-secondary p-3 my-1">
                        <h3>Unités EEDF</h3>
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <th>Structure</th>
                                    <th>Unité</th>
                                    <th>Nombre participant·e·s</th>
                                    <th>Nombre non adhérent·e·s</th>
                                    <th>Statut / Action</th>
                                </thead>
                                <tbody>   
                                    <!--TODO unité structure principale -->    
                                    {% for uniteParticipante in sejour.unitesStructureOrganisatrice %}
                                        <tr>
                                            <td>{{ sejour.structureOrganisatrice.nom }} </td>
                                            <td>{{ uniteParticipante.equipe.nom }} </td>
                                            <td>{{ uniteParticipante.participantsAdherents | length }}</td>
                                            <td>{{ uniteParticipante.participantsNonAdherents | length }}</td>
                                            <td>{{ include('sejour/components/modification/_form_participants_unite_eedf.html.twig', { 'id': uniteParticipante.equipe.id, 'form': arrayFormViewParticipantsParUniteEEDF[uniteParticipante.equipe.id],'unite':uniteParticipante.equipe })}}</td>
                                        </tr>
                                    {% endfor %}
                                    {% for structuresRegroupee in sejour.structuresRegroupees %}
                                        {% if structuresRegroupee.estEEDF %}
                                            {% for uniteParticipante in structuresRegroupee.unitesParticipantes %}
                                                <tr>
                                                    <td>{{ structuresRegroupee.structureEEDF.nom }} </td>
                                                    <td>{{ uniteParticipante.equipe.nom }} </td>
                                                    <td>{{ uniteParticipante.participantsAdherents | length }}</td>
                                                    <td>{{ uniteParticipante.participantsNonAdherents | length }}</td>
                                                    {% if structuresRegroupee.statutDemande == constant('STATUT_DEMANDE_ACCEPTE', structuresRegroupee) %}
                                                        <td>{{ include('sejour/components/modification/_form_participants_unite_eedf.html.twig', { 'id': uniteParticipante.equipe.id, 'form': arrayFormViewParticipantsParUniteEEDF[uniteParticipante.equipe.id],'unite':uniteParticipante.equipe })}}</td>
                                                    {% else %}
                                                        <td><span class="badge bg-secondary rounded-pill" >En attente d'acceptation de la structure</span></td>
                                                    {% endif %}
                                                </tr>
                                            {% endfor %}
                                        {% endif %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                {% endif %}
                {% set sejourAvecStructuresNonEEDF = false %}
                {% for structuresRegroupee in sejour.structuresRegroupees %}
                    {% if not (structuresRegroupee.estEEDF) %}
                        {% set sejourAvecStructuresNonEEDF = true %}
                    {% endif %}
                {% endfor %}

                {% if sejourAvecStructuresNonEEDF %}
                    <div class="row border rounded border-secondary p-3 my-1">

                        <h3>Structures non EEDF</h3>
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <th>Structure</th>
                                    <th>Nombre participant·e·s</th>
                                    <th>Action</th>
                                </thead>
                                <tbody>   
                                    {% for structuresRegroupee in sejour.structuresRegroupees %}
                                        {% if not (structuresRegroupee.estEEDF) %}
                                            <tr>
                                                <td>{{ structuresRegroupee.nomStructureNonEEDF }} </td>
                                                <td>{{ structuresRegroupee.nbEnfantMoins14StructNonEEDF +  structuresRegroupee.nbEnfantsPlus14StructNonEEDF }}</td>
                                                <td>{{ include('sejour/components/modification/_form_participants_structure_non_eedf.html.twig', { 'form': arrayFormViewParticipantsParStructureNonEEDF[structuresRegroupee.id],'structure':structuresRegroupee})}}</td>
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                {% endif %}
                <div class="row border rounded border-secondary p-3 my-1">
                    <h3>Participant·e·s à besoins spécifiques</h3>
                    {{form_start(form_besoins_specifiques_sejour)}}
                    <div class="form-group">
                        <div class ="border rounded border-secondary p-3 m-1">
                            {{form_row(form_besoins_specifiques_sejour.aspectsParticipantsBesoinsSpecifiquesSejour)}}   
                        </div>
                        <div class ="form-row">
                            {{form_row(form_besoins_specifiques_sejour.save)}}   
                        </div>             
                    </div>
                    {{form_end(form_besoins_specifiques_sejour)}}
                </div>
            </div>
        </div>
    </div>
</div>