<div class="border rounded border-primary p-3 my-1">
    <h2>Tableau récapitulatif</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <th></th>
                <th>Enfants</th>
                <th>Encadrant·e·s</th>
            </thead>
            <tbody>   
                <tr>
                    <td>Lutin·e·s</td>
                    <td>{{resumeEffectifs.nbEnfantsLutins}}</td>
                    <td>{{resumeEffectifs.nbEncadrantsLutins}}</td>
                </tr>
                <tr>
                    <td>Louvet·eaux·tes</td>
                    <td>{{resumeEffectifs.nbEnfantsLouveteaux}}</td>
                    <td>{{resumeEffectifs.nbEncadrantsLouveteaux}}</td>
                </tr>
                <tr>
                    <td>Eclair·eur.euse.s</td>
                    <td>{{resumeEffectifs.nbEnfantsEcles}}</td>
                    <td>{{resumeEffectifs.nbEncadrantsEcles}}</td>
                </tr>
                <tr>
                    <td>Ainé·e·s</td>
                    <td>{{resumeEffectifs.nbEnfantsAines}}</td>
                    <td>{{resumeEffectifs.nbEncadrantsAines}}</td>
                </tr>
                {% set sejourAvecStructuresNonEEDF = false %}
                {% for structuresRegroupee in sejour.structuresRegroupees %}
                    {% if not (structuresRegroupee.estEEDF) %}
                        {% set sejourAvecStructuresNonEEDF = true %}
                    {% endif %}
                {% endfor %}
                {% if sejourAvecStructuresNonEEDF %}
                <tr>
                    <td>Structures non EEDF</td>
                    <td>{{resumeEffectifs.nbEnfantsStructureNonEEDF}}</td>
                    <td>{{resumeEffectifs.nbEncadrantsStructureNonEEDF}}</td>
                </tr>
                {% endif %}
                <tr>
                    <td>Equipe support</td>
                    <td><span class="text-muted">N/A</span></td>
                    <td>{{resumeEffectifs.nbEncadrantsEquipeSupport}}</td>
                </tr>
                <tr>
                    <td>Membres de l'équipe d'animation non affecté·e·s</td>
                    <td><span class="text-muted">N/A</span></td>
                    <td>{{resumeEffectifs.nbEncadrantsEquipeAnimationAutres}}</td>
                </tr>
                <tr class="table-secondary">
                    <td>Total</td>
                    <td>{{resumeEffectifs.nbTotalEnfants}}</td>
                    <td>{{resumeEffectifs.nbTotalEncadrants}}</td>
                </tr>
                <tr>
                    <td>Dont mineur·e·s en situation de handicap</td>
                    <td>{{resumeEffectifs.nbEnfantsSituationHandicap}}</td>
                    <td><span class="text-muted">N/A</span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="border rounded border-primary p-3 my-1">
    <h2>Encadrement</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <tbody>
                <tr class="table-secondary">
                    <td colspan="2" class="text-center" >Direction</td>
                </tr>
                <tr>
                    <td colspan="2" class="text-center">
                        {% if (sejour.qualificationDirection is not null) and  (sejour.qualificationDirection.diplomesDirection|length >0) %}
                            {{sejour.qualificationDirection.diplomesDirection|join(', ', ' et ')}} ({{sejour.qualificationDirection.qualiteDirection}})
                        {% else %}
                            <span class="text-muted">Non précisé</span>
                        {% endif %}
                    </td>
                </tr>
                <tr class="table-secondary">
                    <td colspan="2" class="text-center">Animation</td>
                </tr>
                <tr>
                    <td>Diplômé·e·s (BAFA ou équivalent)</td>
                    <td>{{resumeEffectifs.nbEncDiplomes}}</td>
                </tr>
                <tr>
                    <td>Stagiaires</td>
                    <td>{{resumeEffectifs.nbEncStagiaires}}</td>
                </tr>
                <tr>
                    <td>Non-diplômé·e·s</td>
                    <td>{{resumeEffectifs.nbEncNonDiplomes}}</td>
                </tr>
                <tr class="table-secondary" >
                    <td colspan="2" class="text-center">Autres qualifications</td>
                </tr>
                <tr>
                    <td>PSC1</td>
                    <td>{{resumeEffectifs.nbEncPSC1}}</td>
                </tr>
                <tr>
                    <td>Permis B</td>
                    <td>{{resumeEffectifs.nbEncPermisB}}</td>
                </tr>
                <tr class="table-secondary" >
                    <td colspan="2" class="text-center">Calcul du taux d'encadrement</td>
                </tr>
                <tr>
                    <td colspan="2" >
                        {% if resumeEffectifs.taux_encadrement_correct %}
                            <div class="alert alert-success" role="alert">
                                <p>L'équipe d'encadrement respecte les critères légaux minimum pour le séjour</p>
                            </div>
                        {% else %}
                            <div class="alert alert-warning" role="alert">
                                <p>L'équipe d'encadrement ne respecte pas les critères légaux minimum suivants pour un séjour :</p>
                                <ul>
                                {% for erreur in resumeEffectifs.errors_taux_encadrement %}
                                    <li>{{ erreur }}</li>
                                {% endfor %} 
                                </ul>
                            </div>
                        {% endif %}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>