{% if (is_granted('validation_internationale', sejour) and sejour.validable)  %}
    {{ include('sejour/components/modification/_form_validation_internationale_sejour.html.twig') }}
{% else %}
    {{ include('sejour/components/suivi/detail_validation_internationale_sejour_sans_modif.html.twig', { 'sejour': sejour}) }}
{% endif %}