{% if (is_granted('validation', sejour)) and sejour.validable %}
    {{ include('sejour/components/modification/_form_validation_sejour.html.twig') }}
{% else %}
    {{ include('sejour/components/suivi/detail_validation_sejour_sans_modif.html.twig', { 'sejour': sejour}) }}
{% endif %}