
<div class="container py-2">
    <p>Retrouvez ici les informations sur les visites du séjour</p>
    {% for message in app.flashes('danger_visite') %}
        <div class="alert alert-danger" role="alert">{{ message |raw}}</div>
    {% endfor %}
    {% for message in app.flashes('warning_visite') %}
        <div class="alert alert-warning" role="alert">{{ message |raw}}</div>
    {% endfor %}
    {% for message in app.flashes('success_visite') %}
        <div class="alert alert-success" role="alert">{{ message |raw}}</div>
    {% endfor %}
    <div class="wrapper" id="visites_sejour">
        <div class="accordion" id="accordionVisites">
            <div class="row accordion-item my-3 ">
                <h2 class="col accordion-header " id="accordionVisites-headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordionVisites-collapseOne" aria-expanded="true" aria-controls="accordionVisites-collapseOne">
                        <h1>Etat des visites du séjour</h1>
                    </button>
                </h2>
                {{ include('sejour/components/details_commentaires.html.twig', {
                        'sujet': constant('App\\Entity\\Commentaire::SUJET_SEJOUR_VISITE')}) }}
                <div id="accordionVisites-collapseOne" class="accordion-collapse collapse" aria-labelledby="accordionVisites-headingOne" data-bs-parent="#accordionVisites">
                    <div class="accordion-body">
                        {{ include('components/tableau_visites_sejour_unique.html.twig', { 'sejour': sejour}) }}
                    </div>
                </div>
            </div>
            {% if is_granted('visite', sejour) and not workflow_has_marked_place(sejour, constant('STATUT_SEJOUR_CLOTURE', sejour)) %}
                <div class="row accordion-item my-3 ">
                    <h2 class="col accordion-header " id="accordionVisites-headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordionVisites-collapseTwo" aria-expanded="true" aria-controls="accordionVisites-collapseTwo">
                            <h1>Ma visite du séjour</h1>
                        </button>
                    </h2>
                    <div id="accordionVisites-collapseTwo" class="accordion-collapse collapse" aria-labelledby="accordionVisites-headingTwo" data-bs-parent="#accordionVisites">
                        <div class="accordion-body">
                            {{form_start(form_visite_sejour)}}
                                <div class="border rounded border-secondary p-3 my-1">
                                    <div id="choixModeVisite" class="form-group">
                                        {{form_row(form_visite_sejour.choixCompteRendu)}}
                                    </div>
                                </div>
                                <div id="modeManuel">
                                    <div class="border rounded border-primary p-3 my-1">
                                        <h5>Classeur du·de la direct·eur·rice</h5>
                                        <div class="form-group">
                                            {{form_row(form_visite_sejour.evalManquesClasseurDirecteur)}}
                                            {{ include('components/document_ressource.html.twig', { 
                                                'doc': docModeleCheckListDirecteur })
                                            }}
                                        </div>
                                        <div class="form-group">
                                            {{form_row(form_visite_sejour.precisionsManquesClasseurDirecteur)}}
                                        </div>
                                    </div>
                                    <div class="border rounded border-primary p-3 my-1">
                                        <h5>Les mesures sanitaires liées à la CoVid</h5>
                                        <div class="form-group">
                                            {{form_row(form_visite_sejour.evalMesuresSanitaires)}}
                                        </div>
                                        <div class="form-group">
                                            {{form_row(form_visite_sejour.autresMesuresSanitaires)}}
                                        </div>
                                    </div>
                                    <div class="border rounded border-primary p-3 my-1">
                                        <h5>Pédagogie et activités</h5>
                                        <div class="form-group">
                                            {{form_row(form_visite_sejour.evalPedagogie)}}
                                        </div>
                                        <div class="form-group">
                                            {{form_row(form_visite_sejour.autresPedagogie)}}
                                        </div>
                                    </div>
                                    <div class="border rounded border-primary p-3 my-1">
                                        <h5>Fonctionnement et gestion d'équipe</h5>
                                        <div class="form-group">
                                            {{form_row(form_visite_sejour.evalGestionEquipe)}}
                                        </div>
                                        <div class="form-group">
                                            {{form_row(form_visite_sejour.autresGestionEquipe)}}
                                        </div>
                                    </div>
                                    <div class="border rounded border-primary p-3 my-1">
                                        <h5>La formation</h5>
                                        <div class="form-group">
                                            {{form_row(form_visite_sejour.evalFormation)}}
                                        </div>
                                        <div class="form-group">
                                            {{form_row(form_visite_sejour.autresFormation)}}
                                        </div>
                                        <div class="form-group ">
                                            {{form_row(form_visite_sejour.sujetsComplementairesFormation)}}
                                        </div>
                                    </div>
                                    <div class="border rounded border-primary p-3 my-1">
                                        <h5>Les installations et les aménagements du camp</h5>
                                        <div class="form-group">
                                            {{form_row(form_visite_sejour.evalAmenagement)}}
                                        </div>
                                        <div class="form-group">
                                            {{form_row(form_visite_sejour.autresAmenagement)}}
                                        </div>
                                    </div>
                                    <div class="border rounded border-primary p-3 my-1">
                                        <h5>L'hygiène</h5>
                                        <div class="form-group">
                                            {{form_row(form_visite_sejour.evalHygiene)}}
                                        </div>
                                        <div class="form-group">
                                            {{form_row(form_visite_sejour.autresHygiene)}}
                                        </div>
                                    </div>
                                    <div class="border rounded border-primary p-3 my-1">
                                        <h5>Cuisine et alimentation</h5>
                                        <div class="form-group">
                                            {{form_row(form_visite_sejour.evalAlimentation)}}
                                        </div>
                                        <div class="form-group">
                                            {{form_row(form_visite_sejour.autresAlimentation)}}
                                        </div>
                                    </div>
                                    <div class="border rounded border-primary p-3 my-1">
                                        <h5>La gestion administrative et financière</h5>
                                        <div class="form-group">
                                            {{form_row(form_visite_sejour.evalGestionAdminFinanciere)}}
                                        </div>
                                        <div class="form-group">
                                            {{form_row(form_visite_sejour.autresGestionAdminFinanciere)}}
                                        </div>
                                        <div class="form-group ">
                                            {{form_row(form_visite_sejour.sousEvaluationBudget)}}
                                        </div>
                                    </div>
                                    <div class="border rounded border-primary p-3 my-1">
                                        <h5>La communication et les relations extérieures</h5>
                                        <div class="form-group">
                                            {{form_row(form_visite_sejour.evalCommunicationExterne)}}
                                        </div>
                                        <div class="form-group">
                                            {{form_row(form_visite_sejour.autresCommunicationExterne)}}
                                        </div>
                                        <div class="form-group ">
                                            {{form_row(form_visite_sejour.dispositifInfosParents)}}
                                        </div>
                                    </div>
                                    <div class="border rounded border-primary p-3 my-1">
                                        <h5>La santé</h5>
                                        <div class="form-group">
                                            {{form_row(form_visite_sejour.evalSante)}}
                                        </div>
                                        <div class="form-group">
                                            {{form_row(form_visite_sejour.autresSante)}}
                                        </div>
                                    </div>
                                    <div class="border rounded border-primary p-3 my-1">
                                        <h5>Général</h5>
                                        <div class="form-group">
                                            {{form_row(form_visite_sejour.evalPointsGeneraux)}}
                                        </div>
                                        <div class="form-group">
                                            {{form_row(form_visite_sejour.evalAvisGeneral)}}
                                        </div>
                                        
                                    </div>
                                </div>
                                <div id="modeFichier" class="form-group ">
                                    <div class="border rounded border-primary p-3 my-1">
                                        {{form_row(form_visite_sejour.compteRendu)}}
                                        {{ include('components/document_ressource.html.twig', { 
                                            'doc': docModeleVisiteCamp})
                                        }}
                                    </div>
                                </div>
                                <div class="border rounded border-secondary p-3 my-1">
                                    <div class="form-group ">
                                        {{form_row(form_visite_sejour.dateVisite)}}
                                    </div>
                                </div>
                                <div class="form-group">
                                    {{form_row(form_visite_sejour.save)}}
                                </div>
                            {{form_end(form_visite_sejour)}}
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>


