<h1>Erreur lors de la mise à jour en temps réel d'AGORA depuis Jéito</h1>

<p>Bonjour, Une erreur est survenue lors de la mise à jour d'un objet Jéito vers <b>ROADS</b> via le broker :</p>
<p>{{ erreur }}</p>  

<p>Voici le contenu du message:</p>
<p>{{message}}</p>


<p>
    Cordialement
</p>
<small>Ceci est un message automatique, merci de ne pas y répondre.</small>
