{% extends 'base.html.twig' %}

{% block title %}Profil utilisateur{% endblock %}

{% block headerbody %}
    <h1>{{ include('components/icones/Profil.svg') }} Profil utilisateur</h1>
    <p>Sur cette page vous pouvez trouver les informations et les fonctionnalités utiles pour la gestion de votre profil d'utilisat·eur·rice ROADS :
        <ul>
            <li>Vos informations personnelles issues de votre fiche d'adhérent·e</li>
            <li>Vos rôles attribués dans ROADS</li> 
            <li>Un rappel de vos fonctions associatives</li>
            <li>Le changement de votre mot de passe</li>
            <li>Le paramétrage de la fréquence des notifications par mail</li>
            <li>La désinscription de ROADS</li>
        </ul>
    </p>
{% endblock %}

{% block body %}

    <div class="wrapper">
        <div class="my-3 ">
            {% for message in app.flashes('success_coordonnees') %}
                <div class="alert alert-success" role="alert">{{ message }}</div>
            {% endfor %} 
            {% for message in app.flashes('danger') %}
                <div class="alert alert-danger" role="alert">{{ message }}</div>
            {% endfor %} 
        </div>
        <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item my-3 ">
                <h2 class="accordion-header " id="flush-headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="true" aria-controls="flush-collapseTwo">
                        <h2>Informations personnelles</h2>
                    </button>
                </h2>
                <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body container">
                        <div class="row border rounded border-primary p-3 my-1">
                            <div class="col-sm-6">
                                Nom
                            </div>
                            <div class="col-sm-6 bg-info">
                                {{user.nom}}
                            </div>
                        </div>
                        <div class="row border rounded border-primary p-3 my-1">
                            <div class="col-sm-6">
                                Prénom
                            </div>
                            <div class="col-sm-6 bg-info">
                                {{user.prenom}}
                            </div>
                        </div>
                        <div class="row border rounded border-primary p-3 my-1">
                            <div class="col-sm-6">
                                Genre
                            </div>
                            <div class="col-sm-6 bg-info">
                                {{user.genre}}
                            </div>
                        </div>
                        <div class="row border rounded border-primary p-3 my-1">
                            <div class="col-sm-6">
                                Date de naissance
                            </div>
                            <div class="col-sm-6 bg-info">
                                {{user.dateNaissance|format_datetime(pattern="d MMMM y", locale='fr')}}
                            </div>
                        </div>
                        {% if user.adherent %}
                        <div class="row border rounded border-primary p-3 my-1">
                            <div class="col-sm-6">
                                Numéro d'adhérent·e
                            </div>
                            <div class="col-sm-6 bg-info">
                                {{user.adherent.numeroAdherent}}
                            </div>
                        </div>
                        {% endif %}
                        {% if user.employe %}
                        <div class="row border rounded border-primary p-3 my-1">
                            <div class="col-sm-6">
                                Numéro employé.e
                            </div>
                            <div class="col-sm-6 bg-info">
                                {{user.employe.numeroSalarie}}
                            </div>
                        </div>
                        {% endif %}
                        <div class="row border rounded border-primary p-3 my-1">
                            <div class="col-sm-6">
                                Adresse e-mail
                            </div>
                            <div class="col-sm-6 bg-info">
                                {{user.adresseMail}}
                            </div>
                        </div>
                        <div class="row border rounded border-primary p-3 my-1">
                            <div class="col-sm-6">
                                Adresse postale
                            </div>
                            <div class="col-sm-6 bg-info">
                                {{user.coordonnees.adressePostale.adresse}}
                                </br>{{user.coordonnees.adressePostale.complementAdresse}}
                                </br>{{user.coordonnees.adressePostale.codePostal}} {{user.coordonnees.adressePostale.ville}}
                                </br>{{user.coordonnees.adressePostale.pays}}
                            </div>
                        </div>
                        <div class="row border rounded border-primary p-3 my-1">
                            <div class="col-sm-6">
                                Téléphone mobile
                            </div>
                            <div class="col-sm-6 bg-info">
                                {{user.telephoneUsage|phone_number_format('NATIONAL')}}
                            </div>
                        </div>
                        <div class="row border rounded border-primary p-3 my-1">
                            <div class="col-sm-6">
                                Téléphone fixe
                            </div>
                            <div class="col-sm-6 bg-info">
                                {{user.coordonnees.telDomicile|phone_number_format('NATIONAL')}}
                            </div>
                        </div>
                        <div class="row border rounded border-primary p-3 my-1">
                            <div class="col-sm-6">
                                Droit à l'image
                            </div>
                            <div class="col-sm-6 bg-info">
                            {% if user.droitImage %}
                            Oui
                            {% else %}
                            Non
                            {% endif %}
                            </div>
                        </div>
                        <div class="row border rounded border-primary p-3 my-1">

                            <div class="alert alert-warning" role="alert">
                                Retrouvez les conditions d'utilisation des données personnelles en suivant <a target ="_blank" href="{{ path('mentions_legales') }}">ce lien</a>
                            </div>
                            {{form_start(form_user_coordonnees)}}
                            <div class="form-group">
                                {{form_row(form_user_coordonnees.nomUrgence)}}
                            </div>
                            <div class="form-group">
                                {{form_row(form_user_coordonnees.prenomUrgence)}}
                            </div>
                            <div class="form-group">
                                {{form_row(form_user_coordonnees.telUrgence)}}
                            </div>
                            <div class="form-group">
                                {{form_row(form_user_coordonnees.lienUrgence)}}
                            </div>
                            <div class="form-group">
                                {{form_row(form_user_coordonnees.save)}}
                            </div>
                            {{form_end(form_user_coordonnees)}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item my-3 ">
                <h2 class="accordion-header " id="flush-headingSeven">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSeven" aria-expanded="true" aria-controls="flush-collapseSeven">
                        <h2>Mes rôles et fonctions</h2>
                    </button>
                </h2>
                <div id="flush-collapseSeven" class="accordion-collapse collapse" aria-labelledby="flush-headingSeven" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <div class="row border rounded border-primary p-3 my-1">
                            <h2>Mes rôles dans R.O.A.D.S</h2>
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <th>Rôle</th>
                                        <th>Périmètre</th>
                                        <th>Détail</th>
                                    </thead>
                                    <tbody>       
                                        {% for role_metier_personne in roles_metier_personne %}
                                            <tr>
                                                {% if role_metier_personne.type_perimetre is constant('PERIMETRE_ROLE_METIER_GLOBAL', user) %}
                                                    <td>{{ role_metier_personne.role }} </td>
                                                    <td>Tous les séjours</td>
                                                    <td>
                                                        {% if role_metier_personne.role is constant('LABEL_ROLE_METIER_VALIDATION_INTERNATIONALE', user) %}
                                                            <a class= "btn btn-primary" href="{{ path('gestion_sejours_internationaux') }}">Détail</a>
                                                        {% elseif (role_metier_personne.role is constant('LABEL_ROLE_METIER_VALIDATION_NATIONALE', user)) %}
                                                            <a class= "btn btn-primary" href="{{ path('gestion_sejours_nationaux') }}">Détail</a>
                                                        {% endif %}
                                                    </td>
                                                {% elseif (role_metier_personne.type_perimetre is constant('PERIMETRE_ROLE_METIER_STRUCTURE', user)) %}
                                                    <td>{{ role_metier_personne.role }} </td>
                                                    <td>{{ role_metier_personne.perimetre.nom }} ({{ role_metier_personne.perimetre.type }})</td>
                                                    <td>
                                                        <a class= "btn btn-primary" href="{{ path('gestion_structure', {id: role_metier_personne.perimetre.id}) }}">Détail</a>
                                                    </td>
                                                {% elseif (role_metier_personne.type_perimetre is constant('PERIMETRE_ROLE_METIER_SEJOUR', user)) %}
                                                    <td>{{ role_metier_personne.role }} </td>
                                                    <td>{{ role_metier_personne.perimetre.intitule }} (Séjour)</td>
                                                    <td>
                                                        <a class= "btn btn-primary" href="{{ path('detail_sejour', {id: role_metier_personne.perimetre.id}) }}">Détail</a>
                                                    </td>
                                                {% endif %}
                                            </tr>
                                        {% else %}
                                            <p>Vous n'avez aucun rôle particulier dans R.O.A.D.S</p>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row border rounded border-primary p-3 my-1">
                            <h2>Mes fonctions associatives</h2>
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <th>Fonction</th>
                                        <th>Périmètre</th>
                                    </thead>
                                    <tbody>
                                        
                                        {% for fonction in user.fonctions | filter(fonction => (fonction.dateDebut <= date() and (fonction.dateFin is null or fonction.dateFin >= date()))) %}
                                            <tr>
                                                <td>{{ fonction.nom}}</td>
                                                <td>
                                                        {{fonction.equipe.nom}} - {{fonction.equipe.structure.nom}}
                                                </td>
                                            </tr>
                                        {% else %}
                                            <p>Vous n'avez actuellement aucune fonction associative</p>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item my-3 ">
                <h2 class="accordion-header " id="flush-headingFive">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="true" aria-controls="flush-collapseFive">
                        <h2>Paramètres de notification</h2>
                    </button>
                </h2>               
                <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                            {% for message in app.flashes('success_param_notif') %}
                                <div class="alert alert-success" role="alert">{{ message }}</div>
                            {% endfor %} 
                            {% for message in app.flashes('danger_param_notif') %}
                                <div class="alert alert-danger" role="alert">{{ message }}</div>
                            {% endfor %} 
                            {{ form_start(formParametresNotification) }}
                                <div class="form-group">
                                    {{ form_row(formParametresNotification.frequenceNotification)}}
                                </div>
                                <div class="form-group">
                                    {{form_row(formParametresNotification.save)}}
                                </div>
                            {{ form_end(formParametresNotification) }}
                    </div>
                </div>
            </div>
            <div class="accordion-item my-3 ">
                <h2 class="accordion-header " id="flush-headingFour">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="true" aria-controls="flush-collapseFour">
                        <h2>Désinscription de R.O.A.D.S</h2>
                    </button>
                </h2>
                <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <p>En vous désinscrivant: 
                            <ul>
                                <li>Vous ne pourrez plus vous connecter à l'outil R.O.A.D.S et ses différentes fonctionnalités, à moins de recommencer la procédure d'inscription.</li>
                                <li>Vos nom, prénom, adresse e-mail, fonction, et mot de passe sont supprimés de notre base de données (mais pas du portail des adhésions EEDF).</li>
                                <li>Tout vos rôles attribués par votre statut associatif ou par nomination seront désactivés (Dans certains cas il y aura transfert du rôle vers quelqu'un d'autre).</li>
                            </ul>
                        </p>
                        <a class= "btn btn-secondary" data-target="#confirmation_unsuscribe" data-toggle="modal" href="#">Me désinscrire</a>
                    </div>
                </div>
            </div>
            <!-- modal de confirmation désinscription-->
            <div class="modal" id="confirmation_unsuscribe" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Désinscription</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>Êtes-vous sûr·e de vouloir vous désinscrire ?</p>
                        </div>
                        <div class="modal-footer">
                            <div>
                                <a class= "btn btn-primary" href="{{path('desinscription_personne')}}">Confirmer</a>
                            </div>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class= "btn btn-primary" href="{{ path('home') }}">Retour</a>
    </div> 
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/autocomplete.js/0/autocomplete.jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

    <script>
        jQuery(document).ready(function() {
            gestionAjoutSuppressionObjetsListe('qualifications','Supprimer la qualification')
        });
       

        function gestionAjoutSuppressionObjetsListe($nomListe,$objet)
        {
            // Get the ul that holds the collection of tags
            var $collectionHolder = $('div.'+$nomListe);
            // add a delete link to all of the existing tag form li elements
            $collectionHolder.find('div.item').each(function() {
                addFormDeleteLink($(this),$objet);
                // Initialisation des documents formation existants
                gestionDocumentFormation($(this))
                gestionAffichageDocumentFormation($(this)) ;
            });

            // count the current form inputs we have (e.g. 2), use that as the new
            // index when inserting a new item (e.g. 2)
            $collectionHolder.data('index', $collectionHolder.find('input').length);

            $('body').on('click', '#add_'+$nomListe, function(e) {
                var $collectionHolderClass = $(e.currentTarget).data('collectionHolderClass');
                // add a new tag form (see next code block)
                addFormToCollection($collectionHolderClass,$objet);
            })
        }
        function gestionAjoutSuppressionObjetsTableau($nomListe,$labelSuppression)
        {
            // Get the ul that holds the collection of tags
            var $collectionHolder = $('tbody.'+$nomListe);

            // add a delete link to all of the existing tag form li elements
            $collectionHolder.find('tr').each(function() {
                addFormDeleteLinkForTable($(this),$labelSuppression);
            });

            // count the current form inputs we have (e.g. 2), use that as the new
            // index when inserting a new item (e.g. 2)
            $collectionHolder.data('index', $collectionHolder.find('input').length);

            $('body').on('click', '#add_'+$nomListe, function(e) {
                var $collectionHolderClass = $(e.currentTarget).data('collectionHolderClass');
                // add a new tag form (see next code block)
                addFormToCollectionTableau($collectionHolderClass,$labelSuppression);
            })
        }


        function addFormToCollectionTableau($collectionHolderClass,$labelSuppression)
        {
            // Get the ul that holds the collection of tags
            var $collectionHolder = $('.' + $collectionHolderClass);

            // Get the data-prototype explained earlier
            var prototype = $collectionHolder.data('prototype');
            // get the new index
            var index = $collectionHolder.data('index');

            var newForm = prototype;
            // You need this only if you didn't set 'label' => false in your tags field in TaskType
            // Replace '__name__' in the prototype's HTML to
            // instead be a number based on how many items we have
            newForm = newForm.replace(/__name__/g, index);

            // increase the index with one for the next item
            $collectionHolder.data('index', index + 1);

            // Display the form in the page in an li, before the "Add a tag" link li
            var $newRow=$('<tr></tr>');
            var $newFormRow = $newRow.append(newForm);

            // add a delete link to the new form
            addFormDeleteLinkForTable($newRow,$labelSuppression);
            $collectionHolder.append($newRow)
        }

        function addFormToCollection($collectionHolderClass,$labelSuppression)
        {
            // Get the ul that holds the collection of tags
            var $collectionHolder = $('.' + $collectionHolderClass);

            // Get the data-prototype explained earlier
            var prototype = $collectionHolder.data('prototype');
            // get the new index
            var index = $collectionHolder.data('index');

            var newForm = prototype;
            // You need this only if you didn't set 'label' => false in your tags field in TaskType
            // Replace '__name__' in the prototype's HTML to
            // instead be a number based on how many items we have
            newForm = newForm.replace(/__name__/g, index);

            // increase the index with one for the next item
            $collectionHolder.data('index', index + 1);

            // Display the form in the page in an li, before the "Add a tag" link li
            var $newLi=$('<div class ="item border rounded border-secondary p-3 m-1" ></div>');
            var $newFormLi = $newLi.append(newForm);
            // spécifique au permanence d'écoute, gestion des partenaires inexistants
           
            gestionAffichageDocumentFormation($newFormLi);
            // add a delete link to the new form
            addFormDeleteLink($newLi,$labelSuppression);
            $collectionHolder.append($newLi)
        }
        function addFormDeleteLink($tagFormLi,$labelSuppression) {
            var $removeFormButton = $('<button type="button" class="btn btn-secondary m-3" >'+$labelSuppression+'</button>');
            $tagFormLi.append($removeFormButton);

            $removeFormButton.on('click', function(e) {
                // remove the li for the tag form
                $tagFormLi.remove();
            });
        }
    </script>
{% endblock %}
