<div class="item_unite_participante">
        <div class="form-group">
                {{form_row(form.structure)}}
        </div>
        <div class="form-group">
                {{form_row(form.unite)}}
        </div>
        <div class="form-group">
                {{form_row(form.save)}}
        </div>
        
</div>
