

<a class= "btn btn-outline-secondary m-3" data-target="#gestion_direction_{{type}}" data-toggle="modal" href="#">Modifier</a>
<div class="modal fade direction" id="gestion_direction_{{type}}" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            {{form_start(form)}}
            <div class="modal-header">
                <h5 class="modal-title">
                    {{sejour.directeur.prenom}} {{sejour.directeur.nom}}
                        <span class="small-text badge bg-warning rounded-pill" >Direct·eur·rice</span> 
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h3>Fonctions et Qualifications</h3>
                        <div class="row">
                                <div class="col">
                                        <div class="form-group diplome">
                                                {{ form_row(form.qualificationDirection.diplomesDirection) }}
                                                
                                        </div>
                                        <div class="form-group equivalence">
                                                {{ form_row(form.qualificationDirection.equivalenceDiplomeDirection) }}
                                        </div>
                                        
                                </div>
                                <div class="col">
                                        <div class="form-group">
                                                {{ form_row(form.qualificationDirection.qualiteDirection) }}
                                        </div>
                                </div>
                                
                        </div>
                        <div class="form-group">
                                {{ include('components/document_ressource.html.twig', { 
                                                                'doc': docEquivalenceAnimationDirection}) }}
                        </div>
                        <div class="form-group">
                                {{ form_row(form.qualificationDirection.statutAssistantSanitaire) }}
                                {{ include('components/document_ressource.html.twig', { 
                                                'doc': docEquivalencePSC1}) }}
                        </div>
                        <div class="form-group">
                                {{ form_row(form.qualificationDirection.permisB) }}
                        </div>
                        <div class="form-group">
                                {{ form_row(form.qualificationDirection.fonction) }}
                        </div>
            </div>
            <div class="modal-footer">
                <div class="form-group">
                    {{form_row(form.save)}}
                </div>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
            </div>
            {{form_end(form)}}
        </div>
    </div>
</div>


