    <div class="tab-pane fade show active" id="projet-sejour" role="tabpanel" aria-labelledby="projet-sejour-tab">
        <div class="container py-2">
            <h2>Bilan du projet</h2> 
            <p>Dans chaque onglet ci-dessous, vérifier, mettre à jour si nécessaire ou remplir les informations demandées pour compléter le bilan.</p>
            <p>Une fois les conditions remplies, vous pouvez clôturer le projet du séjour</p>
        </div>
        <div class="pane-content-inner">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link {% if sejour.panelActif.panelActifCloture == constant('PANEL_CLOTURE_INFOS_GENERALES', sejour.panelActif) %} active {% endif %}" id="cloture-infos-generales-tab" data-bs-toggle="tab" data-bs-target="#cloture-infos-generales" type="button" role="tab" aria-controls="cloture-infos-generales" aria-selected="true">Informations générales</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link {% if sejour.panelActif.panelActifCloture == constant('PANEL_CLOTURE_RETOURS_GENERAUX', sejour.panelActif) %} active {% endif %}" id="cloture-retours-generaux-tab" data-bs-toggle="tab" data-bs-target="#cloture-retours-generaux" type="button" role="tab" aria-controls="cloture-retours-generaux" aria-selected="true">Retours généraux</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link {% if sejour.panelActif.panelActifCloture == constant('PANEL_CLOTURE_EFFECTIFS', sejour.panelActif) %} active {% endif %}" id="cloture-effectifs-tab" data-bs-toggle="tab" data-bs-target="#cloture-effectifs" type="button" role="tab" aria-controls="cloture-effectifs" aria-selected="false">Effectifs</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link {% if sejour.panelActif.panelActifCloture == constant('PANEL_CLOTURE_DATES_LIEUX', sejour.panelActif) %} active {% endif %}" id="cloture-dates-lieux-tab" data-bs-toggle="tab" data-bs-target="#cloture-dates-lieux" type="button" role="tab" aria-controls="cloture-dates-lieux" aria-selected="false">Dates et lieux</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link {% if sejour.panelActif.panelActifCloture == constant('PANEL_CLOTURE_DEMARCHES_PEDA', sejour.panelActif) %} active {% endif %}" id="cloture-peda-tab" data-bs-toggle="tab" data-bs-target="#cloture-peda" type="button" role="tab" aria-controls="cloture-peda" aria-selected="false">Démarches pédagogiques </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link {% if sejour.panelActif.panelActifCloture == constant('PANEL_CLOTURE_LOGISTIQUE', sejour.panelActif) %} active {% endif %}" id="cloture-logistique-tab" data-bs-toggle="tab" data-bs-target="#cloture-logistique" type="button" role="tab" aria-controls="cloture-logistique" aria-selected="false">Aspects logistiques</button>
                </li>
            </ul>
            <div class="tab-content" id="tabClotureSejourContent">
                <div class="tab-pane fade {% if sejour.panelActif.panelActifCloture == constant('PANEL_CLOTURE_INFOS_GENERALES', sejour.panelActif) %} show active {% endif %}" id="cloture-infos-generales" role="tabpanel" aria-labelledby="cloture-infos-generales-tab">
                    {{ include('sejour/components/modification/_form_infos_generales_sejour.html.twig', {'type': 'cloture'})}}
                </div>
                <div class="tab-pane fade {% if sejour.panelActif.panelActifCloture == constant('PANEL_CLOTURE_RETOURS_GENERAUX', sejour.panelActif) %} show active {% endif %}" id="cloture-retours-generaux" role="tabpanel" aria-labelledby="cloture-retours-generaux-tab">
                    <div class="accordion" id="accordionRetoursGeneraux">
                        <div class="row accordion-item my-3 ">
                            <h2 class="col accordion-header " id="accordionRetoursGeneraux-headingOne">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordionRetoursGeneraux-collapseOne" aria-expanded="true" aria-controls="accordionRetoursGeneraux-collapseOne">
                                    <h1>Retours généraux</h1>
                                </button>
                            </h2>
                            {{ include('sejour/components/details_commentaires.html.twig', {
                                    'sujet': constant('App\\Entity\\Commentaire::SUJET_SEJOUR_CLOTURE_RETOURS_GENERAUX')}) }}
                            <div id="accordionRetoursGeneraux-collapseOne" class="accordion-collapse collapse" aria-labelledby="accordionRetoursGeneraux-headingOne" data-bs-parent="#accordionRetoursGeneraux">
                                <div class="accordion-body">
                                    <div class="wrapper">
                                    {{form_start(form_cloture_retours_generaux_sejour)}}
                                        {% for message in app.flashes('success_cloture_retours_generaux') %}
                                            <div class="alert alert-success" role="alert">{{ message }}</div>
                                        {% endfor %}   
                                        {% for message in app.flashes('warning_cloture_retours_generaux') %}
                                            <div class="alert alert-warning" role="alert">{{ message }}</div>
                                        {% endfor %} 
                                        {% for message in app.flashes('danger_cloture_retours_generaux') %}
                                            <div class="alert alert-danger" role="alert">{{ message }}</div>
                                        {% endfor %} 
                                        <div class="form-group border rounded border-primary p-3 my-1" id="cloture_visMonCamp">
                                            {{form_row(form_cloture_retours_generaux_sejour.visMonCamp)}}
                                            <div class="form-group p-3 my-1" id="precisionsVisMonCamp">
                                                {{form_row(form_cloture_retours_generaux_sejour.precisionsVisMonCamp)}}
                                            </div>
                                        </div>
                                        <div class="form-group border rounded border-primary p-3 my-1" id="cloture_medias">
                                            {{form_row(form_cloture_retours_generaux_sejour.parutionMedias)}}                   
                                            <div id="precisionsMedias">
                                                <div class="form-group p-3 my-1">
                                                    {{form_row(form_cloture_retours_generaux_sejour.nomMedia)}}
                                                </div>
                                                <div class="form-group p-3 my-1">
                                                    {{form_row(form_cloture_retours_generaux_sejour.dateMedia)}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group border rounded border-primary p-3 my-1" id="cloture_visites">
                                            {{form_row(form_cloture_retours_generaux_sejour.visiteEtat)}}
                                            <div id="liste_visites" class="border rounded border-secondary p-3 my-1">
                                                <h3>Visites</h3>
                                                <div class="accordion visites" id="accordionVisites" data-prototype="{{ include('sejour/components/modification/_form_visite_etat.html.twig', { 'form': form_cloture_retours_generaux_sejour.visites.vars.prototype, 'sejour':sejour })|escape}}">
                                                    {% for visite in form_cloture_retours_generaux_sejour.visites %}
                                                        {{ include('sejour/components/modification/_form_visite_etat.html.twig', { 'form': visite, 'sejour':sejour}) }}
                                                    {% endfor %}
                                                </div>
                                                <div>
                                                    <button type="button" id="add_visites" class="btn btn-primary add_item_link" data-collection-holder-class="visites">Ajouter une visite</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group border rounded border-primary p-3 my-1" id="cloture_evenements_graves">
                                            {{form_row(form_cloture_retours_generaux_sejour.evenementsGraves)}}
                                            {{ include('components/document_ressource.html.twig', { 'doc': docDefAccidentGrave}) }}                                           
                                            <div id="liste_evenements_graves">
                                                <h3>Evenements graves</h3>
                                                <div class="accordion evenements_graves" id="accordionEvenementsGaves" data-prototype="{{ include('sejour/components/modification/_form_description_evenements_graves.html.twig', { 'form': form_cloture_retours_generaux_sejour.descriptionEvenementsGraves.vars.prototype, 'sejour':sejour })|escape}}">
                                                    {% for evenementGrave in form_cloture_retours_generaux_sejour.descriptionEvenementsGraves %}
                                                        {{ include('sejour/components/modification/_form_description_evenements_graves.html.twig', { 'form': evenementGrave, 'sejour':sejour}) }}
                                                    {% endfor %}
                                                </div>
                                                <div>
                                                    <button type="button" id="add_evenements_graves" class="btn btn-primary add_item_link" data-collection-holder-class="evenements_graves">Ajouter un évenement grave</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group border rounded border-primary p-3 my-1">
                                            {{form_row(form_cloture_retours_generaux_sejour.incidentsMineurs)}}
                                        </div>
                                        <div class="form-group border rounded border-primary p-3 my-1">
                                            {{form_row(form_cloture_retours_generaux_sejour.save)}}
                                        </div>
                                    {{form_end(form_cloture_retours_generaux_sejour)}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade {% if sejour.panelActif.panelActifCloture == constant('PANEL_CLOTURE_EFFECTIFS', sejour.panelActif) %} show active {% endif %}" id="cloture-effectifs" role="tabpanel" aria-labelledby="cloture-effectifs-tab">
                    {{ include('sejour/components/effectifs_sejour.html.twig', {'type': 'cloture'})}}
                </div>
                <div class="tab-pane fade {% if sejour.panelActif.panelActifCloture == constant('PANEL_CLOTURE_DATES_LIEUX', sejour.panelActif) %} show active {% endif %}" id="cloture-dates-lieux" role="tabpanel" aria-labelledby="cloture-dates-lieux-tab">
                    {{ include('sejour/components/modification/_form_dates_lieux_sejour.html.twig', {'type': 'cloture'})}}
                </div>
                <div class="tab-pane fade {% if sejour.panelActif.panelActifCloture == constant('PANEL_CLOTURE_DEMARCHES_PEDA', sejour.panelActif) %} show active {% endif %}" id="cloture-peda" role="tabpanel" aria-labelledby="cloture-peda-tab">
                    <div class="accordion" id="accordionDemarchesPeda">
                        <div class="row accordion-item my-3 ">
                            <h2 class="col accordion-header " id="accordionDemarchesPeda-headingOne">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordionDemarchesPeda-collapseOne" aria-expanded="true" aria-controls="accordionDemarchesPeda-collapseOne">
                                    <h1>Bilans pédagogiques</h1>
                                </button>
                            </h2>
                            {{ include('sejour/components/details_commentaires.html.twig', {
                                    'sujet': constant('App\\Entity\\Commentaire::SUJET_SEJOUR_CLOTURE_PEDA')}) }}
                            <div id="accordionDemarchesPeda-collapseOne" class="accordion-collapse collapse" aria-labelledby="accordionDemarchesPeda-headingOne" data-bs-parent="#accordionDemarchesPeda">
                                <div class="accordion-body">
                                    {{form_start(form_cloture_peda_sejour)}}
                                        {% for message in app.flashes('success_cloture_peda') %}
                                            <div class="alert alert-success" role="alert">{{ message }}</div>
                                        {% endfor %}   
                                        {% for message in app.flashes('warning_cloture_peda') %}
                                            <div class="alert alert-warning" role="alert">{{ message }}</div>
                                        {% endfor %} 
                                        {% for message in app.flashes('danger_cloture_peda') %}
                                            <div class="alert alert-danger" role="alert">{{ message }}</div>
                                        {% endfor %} 
                                        <div class ="item border rounded border-secondary p-3 m-1">
                                            {{ include('components/document_ressource.html.twig', { 'doc': docRepereEvaluation, 'nom':"Document d’aide"}) }}                                           
                                            {{form_row(form_cloture_peda_sejour.bilanPeda)}}       
                                        </div> 
                                        {% if (sejour.international or sejour.sejourFranceAvecAccueilEtranger) %}
                                            <div class ="item border rounded border-secondary p-3 m-1">
                                                {{ include('components/document_ressource.html.twig', { 'doc': docBilanInternational, 'nom':"Télécharger fiche repère bilan international"}) }}                                           
                                                {{form_row(form_cloture_peda_sejour.retourCampInternational)}}       
                                            </div> 
                                        {% endif %}
                                        <div class="form-group border rounded border-primary p-3 my-1">
                                            {{form_row(form_cloture_peda_sejour.save)}}
                                        </div>
                                    {{form_end(form_cloture_peda_sejour)}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade {% if sejour.panelActif.panelActifCloture == constant('PANEL_CLOTURE_LOGISTIQUE', sejour.panelActif) %} show active {% endif %}" id="cloture-logistique" role="tabpanel" aria-labelledby="cloture-logistique-tab">
                    <div class="accordion" id="accordionLogistique">
                        <div class="row accordion-item my-3 ">
                            <h2 class="col accordion-header " id="accordionLogistique-headingOne">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordionLogistique-collapseOne" aria-expanded="true" aria-controls="accordionLogistique-collapseOne">
                                    <h1>Logistique</h1>
                                </button>
                            </h2>
                            {{ include('sejour/components/details_commentaires.html.twig', {
                                    'sujet': constant('App\\Entity\\Commentaire::SUJET_SEJOUR_CLOTURE_LOGISTIQUE')}) }}
                            <div id="accordionLogistique-collapseOne" class="accordion-collapse collapse" aria-labelledby="accordionLogistique-headingOne" data-bs-parent="#accordionLogistique">
                                <div class="accordion-body">
                                    {{form_start(form_cloture_logistique_sejour)}}
                                        {% for message in app.flashes('success_cloture_logistique') %}
                                            <div class="alert alert-success" role="alert">{{ message }}</div>
                                        {% endfor %}   
                                        {% for message in app.flashes('warning_cloture_logistique') %}
                                            <div class="alert alert-warning" role="alert">{{ message }}</div>
                                        {% endfor %} 
                                        {% for message in app.flashes('danger_cloture_logistique') %}
                                            <div class="alert alert-danger" role="alert">{{ message }}</div>
                                        {% endfor %} 
                                        <div class ="item border rounded border-secondary p-3 m-1">
                                            {{ include('components/document_ressource.html.twig', { 'doc': docCompteResultat, 'nom':"Télécharger modèle de compte de résultat"}) }}                                           
                                            {{form_row(form_cloture_logistique_sejour.compteResultat)}}       
                                        </div> 
                                        <div class="form-group border rounded border-primary p-3 my-1">
                                            {{form_row(form_cloture_logistique_sejour.save)}}
                                        </div>
                                    {{form_end(form_cloture_logistique_sejour)}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

