<div class="item_lieu">
        <div class="row">
                {% if sejour.sejourItinerant %}
                <div class="form-group col ">
                        {{form_row(form.dateArrivee)}}
                </div>
                <div class="form-group col">
                        {{form_row(form.dateDepart)}}
                </div>
                {% endif %}
        </div>
        <div id="lieu_defini">
                {{ include('sejour/components/modification/_form_lieu_sejour.html.twig', { 'form': form.lieu}) }}
        </div>
</div>
