
    {% for message in app.flashes('success_logistique') %}
        <div class="alert alert-success" role="alert">{{ message }}</div>
    {% endfor %}   
    {% for message in app.flashes('warning_logistique') %}
        <div class="alert alert-warning" role="alert">{{ message }}</div>
    {% endfor %} 
    {% for message in app.flashes('danger_logistique') %}
        <div class="alert alert-danger" role="alert">{{ message }}</div>
    {% endfor %} 
    <div class="accordion" id="accordionLogistique">
        <div class="row accordion-item my-3 ">
            <h2 class="col accordion-header " id="accordionLogistique-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordionLogistique-collapseOne" aria-expanded="false" aria-controls="accordionLogistique-collapseOne">
                    <h1>Budget prévisionnel</h1>
                </button>
            </h2>
            {{ include('sejour/components/details_commentaires.html.twig', {
                'sujet': constant('App\\Entity\\Commentaire::SUJET_SEJOUR_PROJET_SEJOUR_LOGISTIQUE_BUDGET')}) }}
            <div id="accordionLogistique-collapseOne" class="accordion-collapse collapse" aria-labelledby="accordionLogistique-headingOne" data-bs-parent="#accordionLogistique">
                <div class="accordion-body">
                    {{form_start(form_logistique_budget_sejour)}}
                        <div class="form-group">
                            {{form_row(form_logistique_budget_sejour.aspectBudgetSejour.prixMoyen)}} 
                        </div>
                        <div class ="item border rounded border-secondary p-3 m-1">
                            {{ include('components/document_ressource.html.twig', { 'doc': docModeleBudget, 'nom':"Télécharger modèle de budget"}) }}                                           
                            {{form_row(form_logistique_budget_sejour.aspectBudgetSejour.budgetPrevisionnel)}}       
                        </div>  
                        <div class="form-group">
                            {{form_row(form_logistique_budget_sejour.save)}}               
                        </div>                     
                    {{form_end(form_logistique_budget_sejour)}}   
                </div>
            </div>
        </div>
        <div class="row accordion-item my-3 ">
            <h2 class="col accordion-header " id="accordionLogistique-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordionLogistique-collapseTwo" aria-expanded="false" aria-controls="accordionLogistique-collapseTwo">
                    <h1>Transports</h1>
                </button>
            </h2>
            {{ include('sejour/components/details_commentaires.html.twig', {
                'sujet': constant('App\\Entity\\Commentaire::SUJET_SEJOUR_PROJET_SEJOUR_LOGISTIQUE_TRANSPORT')}) }}
            <div id="accordionLogistique-collapseTwo" class="accordion-collapse collapse" aria-labelledby="accordionLogistique-headingTwo" data-bs-parent="#accordionLogistique">
                <div class="accordion-body">
                    {{form_start(form_logistique_transports_sejour)}}
                        <div class="form-group">
                            {{form_row(form_logistique_transports_sejour.descriptionOrganisationTransport)}}               
                        </div>
                        <div class="form-group">
                            {{form_row(form_logistique_transports_sejour.save)}}               
                        </div>                     
                    {{form_end(form_logistique_transports_sejour)}}   
                </div>
            </div>
        </div>
        <div class="row accordion-item my-3 ">
            <h2 class="col accordion-header " id="accordionLogistique-headingFour">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordionLogistique-collapseFour" aria-expanded="false" aria-controls="accordionLogistique-collapseFour">
                    <h1>Le projet alimentaire</h1>
                </button>
            </h2>
            {{ include('sejour/components/details_commentaires.html.twig', {
                'sujet': constant('App\\Entity\\Commentaire::SUJET_SEJOUR_PROJET_SEJOUR_LOGISTIQUE_ALIMENTAIRE')}) }}
            <div id="accordionLogistique-collapseFour" class="accordion-collapse collapse" aria-labelledby="accordionLogistique-headingFour" data-bs-parent="#accordionLogistique">
                <div class="accordion-body">
                    {{form_start(form_logistique_alimentaire_sejour)}}
                        <div class="form-group">
                            <div class ="item border rounded border-secondary p-3 m-1">
                                {{form_row(form_logistique_alimentaire_sejour.aspectAlimentaireSejour.choixOrganisation)}}   
                                {{ include('components/document_ressource.html.twig', { 'doc': docElaborationMenus, 'nom':"Ressources pour élaborer ses menus", 'description': "Retrouvez via ce lien, une liste de recommandations et d'outils sur ce sujet"}) }}
                            </div>
                            <div class ="item border rounded border-secondary p-3 m-1">
                                {{ include('components/document_ressource.html.twig', { 'doc': docGrilleMenus, 'nom':"Télécharger modèle de grille de menus"}) }}                                           
                                {{form_row(form_logistique_alimentaire_sejour.aspectAlimentaireSejour.grilleMenus)}}       
                            </div>             
                        </div>
                        <div class="form-group">
                            {{form_row(form_logistique_alimentaire_sejour.save)}}               
                        </div>                     
                    {{form_end(form_logistique_alimentaire_sejour)}}   
                </div>
            </div>
        </div>
        <div class="row accordion-item my-3 ">
            <h2 class="col accordion-header " id="accordionLogistique-headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordionLogistique-collapseThree" aria-expanded="false" aria-controls="accordionLogistique-collapseThree">
                    <h1>Communication aux familles</h1>
                </button>
            </h2>
            {{ include('sejour/components/details_commentaires.html.twig', {
                    'sujet': constant('App\\Entity\\Commentaire::SUJET_SEJOUR_PROJET_SEJOUR_LOGISTIQUE_COMMUNCATION')}) }}
            <div id="accordionLogistique-collapseThree" class="accordion-collapse collapse" aria-labelledby="accordionLogistique-headingThree" data-bs-parent="#accordionLogistique">
                <div class="accordion-body">
                    {{form_start(form_logistique_communication_sejour)}}                  
                    {{form_end(form_logistique_communication_sejour)}}   
                </div>
            </div>
        </div>
    </div> 
    