<a class= "btn btn-outline-secondary m-3" data-target="#gestion_participants_structure_non_eedf_{{structure.id}}" data-toggle="modal" href="#">Détails</a>
<div class="modal fade participants_structure_non_eedf" id="gestion_participants_structure_non_eedf_{{structure.id}}" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            {{form_start(form)}}
            <div class="modal-header">
                <h5 class="modal-title">Gestion des participants de la stucture "{{structure.nomStructureNonEEDF}}"</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row border rounded border-secondary p-3 m-3">
                    <div class="form-group">
                        {{form_row(form.nbEnfantMoins14StructNonEEDF)}}
                    </div>
                    <div class="form-group">
                        {{form_row(form.nbEnfantsPlus14StructNonEEDF)}}
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="form-group">
                    {{form_row(form.save)}}
                </div>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
            </div>
            {{form_end(form)}}
        </div>
    </div>
</div>

