    {% for message in app.flashes('success_infos') %}
        <div class="alert alert-success" role="alert">{{ message }}</div>
    {% endfor %}   
    {% for message in app.flashes('warning_infos') %}
        <div class="alert alert-warning" role="alert">{{ message }}</div>
    {% endfor %} 
    {% for message in app.flashes('danger_infos') %}
        <div class="alert alert-danger" role="alert">{{ message | raw }}</div>
    {% endfor %} 
    <div class="accordion" id="accordionInfos">
        <div class="row accordion-item my-3 ">
            <h2 class="col accordion-header " id="accordionInfos-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordionInfos-collapseOne" aria-expanded="false" aria-controls="accordionInfos-collapseOne">
                    <h1>Informations de structure et déclaration</h1>
                </button>
            </h2>
            {% if type == 'construction' %}
                {{ include('sejour/components/details_commentaires.html.twig', {
                    'sujet': constant('App\\Entity\\Commentaire::SUJET_SEJOUR_PROJET_SEJOUR_INFOS_GENERALES_INFOS_GENERALES')}) }}
            {% else %}
                {{ include('sejour/components/details_commentaires.html.twig', {
                    'sujet': constant('App\\Entity\\Commentaire::SUJET_SEJOUR_CLOTURE_INFOS_GENERALES_INFOS_GENERALES')}) }}
            {% endif %}
            <div id="accordionInfos-collapseOne" class="accordion-collapse collapse" aria-labelledby="accordionInfos-headingOne" data-bs-parent="#accordionInfos">
                <div class="accordion-body">  
                    {{form_start(form_infos_generales_sejour)}}    
                        <div class="row border rounded border-primary p-3 my-1">
                            <div class="form-group">
                                {{form_row(form_infos_generales_sejour.intitule)}}               
                            </div>
                        </div>
                        <div class="row border rounded border-primary p-3 my-1">
                            <div class="col-6">
                                Structure organisatrice
                            </div>
                            <div class="col-6">
                                {{sejour.structureOrganisatrice.nom}}
                            </div>
                        </div>
                        <div class="row border rounded border-primary p-3 my-1">
                            <div class="col-6">
                                Responsable de la structure
                            </div>
                            <div class="col-6">
                                {% set arrayResponsablesStructures = [] %}
                                {% if sejour.structureOrganisatrice.equipeGestion is not null %}
                                    {% for fonction in sejour.structureOrganisatrice.equipeGestion.fonctionsActives(constant('App\\Entity\\Fonction::TYPE_FONCTION_RESPONSABLE'),sejour.dateDebut ) %}
                                        {% set arrayResponsablesStructures = arrayResponsablesStructures|merge([fonction.personne.prenom ~ " " ~ fonction.personne.nom]) %}
                                    {% endfor %} 
                                    {{ arrayResponsablesStructures | join(', ', ' et ')}}
                                {% else %} 
                                    Non défini·e
                                {% endif %}
                            </div>
                        </div>
                        <div class="row border rounded border-primary p-3 my-1">
                            <div class="col-6">
                                Région de rattachement de l'organisateur
                            </div>
                            <div class="col-6">
                                {% if sejour.structureOrganisatrice.structureParent.echelon == constant('ECHELON_STRUCTURE_REGIONAL', sejour.structureOrganisatrice) %}
                                    {{sejour.structureOrganisatrice.structureParent.nom}}
                                {% else %}
                                    <p class="text-muted">N/A</p>
                                {% endif %}
                            </div>
                        </div>
                        <div class="row border rounded border-primary p-3 my-1">
                            <div class="col-6">
                                La ou le représentant·e de l'organisateur pour le séjour au regard de la fiche initiale
                                <small><i>(si différent du responsable de la structure)</i></small>
                            </div>
                            <div class="col-6">
                                {% if sejour.structureOrganisatrice.nomOrganisateurDDCS %}
                                    {{sejour.structureOrganisatrice.prenomOrganisateurDDCS}} {{sejour.structureOrganisatrice.nomOrganisateurDDCS}}
                                {% else %}
                                    <p class="text-muted">N/A</p>
                                {% endif %}
                            </div>
                        </div>
                        <div class="row border rounded border-primary p-3 my-1">
                            <div class="col-6">
                                Numéro de déclaration initiale de la déclaration sur TAM (SDJES)
                                <p class="text-muted">La mise à jour de ce numéro se fait dans le menu "<b>mes périmètres</b>" accessible aux personnes avec le droit d'organisation de la structure.</p>
                            </div>
                            <div class="col-6">
                                {{sejour.structureOrganisatrice.numeroDeclarationInitiale}}
                            </div>
                        </div>
                        <div class="row border rounded border-primary p-3 my-1">
                            {% if form_infos_generales_sejour.accompagnant is defined %}
                                <div class="form-group">
                                    {{form_row(form_infos_generales_sejour.accompagnant)}}               
                                </div>
                            {% else %}
                                <div class="col-6">
                                    Personne en charge du suivi du séjour (si différente de l'organisat·eur·rice ou du·de la responsable de structure)
                                </div>
                                <div class="col-6">
                                    {% if sejour.structureOrganisatrice.accompagnant is defined %}
                                        {{sejour.structureOrganisatrice.accompagnant.prenom}} {{sejour.structureOrganisatrice.accompagnant.nom}} ({{sejour.structureOrganisatrice.accompagnant.numeroAdherentOuMatricule}})
                                    {% else %}
                                        <i>Non défini</i>
                                    {% endif %}
                                </div>
                            {% endif %}
                        </div>
                        <div class="row border rounded border-primary p-3 my-1">
                            <div class="form-group">
                                {{form_row(form_infos_generales_sejour.ficheComplementaire)}}               
                            </div>
                        </div>
                        <div class="form-group">
                            {{form_row(form_infos_generales_sejour.save)}}               
                        </div>                                             
                    {{form_end(form_infos_generales_sejour)}}
                </div>  
            </div>
        </div>
        <div class="row accordion-item my-3 ">
            <h2 class="col accordion-header " id="accordionInfos-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordionInfos-collapseTwo" aria-expanded="false" aria-controls="accordionInfos-collapseTwo">
                    <h1>Identification de la personne qui dirige le séjour</h1>
                </button>
            </h2>
            {% if type == 'construction' %}
                {{ include('sejour/components/details_commentaires.html.twig', {
                    'sujet': constant('App\\Entity\\Commentaire::SUJET_SEJOUR_PROJET_SEJOUR_INFOS_GENERALES_DIRECTION')}) }}
            {% else %}
                {{ include('sejour/components/details_commentaires.html.twig', {
                    'sujet': constant('App\\Entity\\Commentaire::SUJET_SEJOUR_CLOTURE_INFOS_GENERALES_DIRECTION')}) }}
            {% endif %}
            <div id="accordionInfos-collapseTwo" class="accordion-collapse collapse" aria-labelledby="accordionInfos-headingTwo" data-bs-parent="#accordionInfos">
                <div class="accordion-body"> 
                    {% if is_granted('organisation', sejour) %}
                        {{form_start(form_direction_sejour)}} 
                            <div class="row border rounded border-primary p-3 my-1">
                                <div class="form-group">
                                    {{form_row(form_direction_sejour.directeur)}}               
                                </div>
                                <div class="alert alert-warning" role="alert">
                                    <p>Attention, si vous modifiez la personne en direction : 
                                        <ul>
                                            <li>Le séjour repassera dans le statut "{{constant('MAP_LABEL_PAR_STATUT_SEJOUR', sejour)[constant('STATUT_SEJOUR_CONSTRUCTION_PROJET', sejour)]}}", et sera soumis à la validation du·de la nouv·eau·elle direct·eur·rice nomm·é·e,</li>
                                            <li>Le·la direct·eur·rice actuel·le perdra ses droits de direction sur ce séjour,</li>
                                            <li>Toutes les personnes ayant un rôle pour ce séjour en seront notifié·e·s.</li>
                                        </ul>  
                                    </p>
                                </div>
                            </div>
                            <div class="alert alert-secondary" role="alert">Les informations ci-dessous sont issues de la base d'adhérent·e·s à partir de la fiche de cette personne. Pour les modifier, vous devez le faire directement sur la fiche de cette personne.</div>
                            <div class="row border rounded border-primary p-3 my-1">
                                <div class="col-6">
                                    Prénom
                                </div>
                                <div class="col-6" id="prenom_dir">
                                </div>
                            </div>
                            <div class="row border rounded border-primary p-3 my-1">
                                <div class="col-6">
                                    Nom
                                </div>
                                <div class="col-6" id="nom_dir">
                                </div>
                            </div>
                            <div class="row border rounded border-primary p-3 my-1">
                                <div class="col-6">
                                    Numéro d'adhérent·e ou matricule salarié
                                </div>
                                <div class="col-6" id="num_adh_dir">
                                </div>
                            </div>
                            <div class="row border rounded border-primary p-3 my-1">
                                <div class="col-6">
                                    Téléphone
                                </div>
                                <div class="col-6" id="tel_dir">
                                </div>
                            </div>
                            <div class="row border rounded border-primary p-3 my-1">
                                <div class="col-6">
                                    Adresse e-mail
                                </div>
                                <div class="col-6" id="mail_dir">
                                </div>
                            </div>
                            <div class="form-group">
                                {{form_row(form_direction_sejour.save)}}               
                            </div>                     
                        {{form_end(form_direction_sejour)}}  
                    {% else %}
                        <div class="alert alert-secondary" role="alert">Les informations ci-dessous sont issues de Jéito à partir de la fiche de cette personne. Pour les modifier, vous devez le faire directement sur la fiche de cette personne.</div>
                        <div class="row border rounded border-primary p-3 my-1">
                            <div class="col-6">
                                Prénom
                            </div>
                            <div class="col-6" >
                                {{sejour.directeur.prenom}}  
                            </div>
                        </div>
                        <div class="row border rounded border-primary p-3 my-1">
                            <div class="col-6">
                                Nom
                            </div>
                            <div class="col-6">
                                {{sejour.directeur.nom}}
                            </div>
                        </div>
                        <div class="row border rounded border-primary p-3 my-1">
                            <div class="col-6">
                                Numéro d'adhérent·e ou matricule salarié
                            </div>
                            <div class="col-6" >
                                {{sejour.directeur.numeroAdherentOuMatricule}}
                            </div>
                        </div>
                        <div class="row border rounded border-primary p-3 my-1">
                            <div class="col-6">
                                Téléphone
                            </div>
                            <div class="col-6" >
                                {{sejour.directeur.telephoneUsage}}
                            </div>
                        </div>
                        <div class="row border rounded border-primary p-3 my-1">
                            <div class="col-6">
                                Adresse e-mail
                            </div>
                            <div class="col-6" >
                                {{sejour.directeur.adresseMailUsage}}
                            </div>
                        </div>
                    {% endif %}
                </div>                                       
            </div>
        </div>
        <div class="row accordion-item my-3 ">
            <h2 class="col accordion-header " id="accordionInfos-headingFour">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordionInfos-collapseFour" aria-expanded="false" aria-controls="accordionInfos-collapseFour">
                    <h1>Unité(s) participante(s)</h1>
                </button>
            </h2>
            {% if type == 'construction' %}
                {{ include('sejour/components/details_commentaires.html.twig', {
                    'sujet': constant('App\\Entity\\Commentaire::SUJET_SEJOUR_PROJET_SEJOUR_INFOS_GENERALES_UNITES_PARTICIPANTES')}) }}
            {% else %}
                {{ include('sejour/components/details_commentaires.html.twig', {
                    'sujet': constant('App\\Entity\\Commentaire::SUJET_SEJOUR_CLOTURE_INFOS_GENERALES_UNITES_PARTICIPANTES')}) }}
            {% endif %}
            <div id="accordionInfos-collapseFour" class="accordion-collapse collapse" aria-labelledby="accordionInfos-headingFour" data-bs-parent="#accordionInfos">
                <div class="accordion-body"> 
                {{form_start(form_unites_participantes_sejour)}} 
                    <div class="row border rounded border-primary p-3 my-1">
                        <div class="form-group" id="type_sejour">
                            {{form_row(form_unites_participantes_sejour.typeSejour)}}         
                            {{ include('components/document_ressource.html.twig', { 
                            'doc': docTypoSejour , 
                            'nom':"Typologie des séjours", 
                            'description': "Présentation des différents types de séjours pour bien se repérer"}) }}      
                        </div>
                    </div>
                    <div class="accordion accordion-flush" id="accordeonUnitesParticipantes">
                        <div class="accordion-item my-3">
                            <h2 class="accordion-header " id="accordeonUnitesParticipantes-headingOne">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordeonUnitesParticipantes-collapseOne" aria-expanded="false" aria-controls="accordeonUnitesParticipantes-collapseOne">
                                    <h1>Unités de la structure organisatrice</h1>
                                </button>
                            </h2>
                            <div id="accordeonUnitesParticipantes-collapseOne" class="accordion-collapse collapse" aria-labelledby="accordeonUnitesParticipantes-headingOne" data-bs-parent="#accordeonUnitesParticipantes">
                                <div class="accordion-body"> 
                                    <div class="form-group" >
                                        {{form_row(form_unites_participantes_sejour.unites)}}              
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item my-3" id="structures_regroupement">
                            <h2 class="accordion-header " id="accordeonUnitesParticipantes-headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordeonUnitesParticipantes-collapseTwo" aria-expanded="false" aria-controls="accordeonUnitesParticipantes-collapseTwo">
                                    <h1>Autres structures et unités participant au séjour</h1>
                                </button>
                            </h2>
                            <div id="accordeonUnitesParticipantes-collapseTwo" class="accordion-collapse collapse" aria-labelledby="accordeonUnitesParticipantes-headingTwo" data-bs-parent="#accordeonUnitesParticipantes">
                                <div class="accordion-body">  
                                    <div class="form-group">
                                        <div class="structuresRegroupeesModif" data-prototype="{{ include('sejour/components/modification/_form_structure_regroupement.html.twig', { 'form': form_unites_participantes_sejour.structuresRegroupees.vars.prototype })|escape}}">
                                            {% for structure in form_unites_participantes_sejour.structuresRegroupees %}
                                            <div class ="item border rounded border-secondary p-3 m-1">
                                                {{ include('sejour/components/modification/_form_structure_regroupement.html.twig', { 'form': structure}) }}
                                            </div>
                                            {% endfor %}
                                        </div>
                                        <button type="button" id="add_structuresRegroupeesModif" class="btn btn-primary add_item_link" data-collection-holder-class="structuresRegroupeesModif">Ajouter une structure</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        {{form_row(form_unites_participantes_sejour.save)}}               
                    </div>                     
                {{form_end(form_unites_participantes_sejour)}}  
                </div>
            </div>
        </div>
        <div class="row accordion-item my-3 ">
            <h2 class="col accordion-header " id="accordionInfos-headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordionInfos-collapseThree" aria-expanded="false" aria-controls="accordionInfos-collapseThree">
                    <h1>Modalités de séjour</h1>
                </button>
            </h2>
            {% if type == 'construction' %}
                {{ include('sejour/components/details_commentaires.html.twig', {
                    'sujet': constant('App\\Entity\\Commentaire::SUJET_SEJOUR_PROJET_SEJOUR_INFOS_GENERALES_MODALITES')}) }}
            {% else %}
                {{ include('sejour/components/details_commentaires.html.twig', {
                    'sujet': constant('App\\Entity\\Commentaire::SUJET_SEJOUR_CLOTURE_INFOS_GENERALES_MODALITES')}) }}
            {% endif %}
            <div id="accordionInfos-collapseThree" class="accordion-collapse collapse" aria-labelledby="accordionInfos-headingThree" data-bs-parent="#accordionInfos">
                <div class="accordion-body">  
                {{form_start(form_modalites_sejour)}} 
                    <div class="row border rounded border-primary p-3 my-1">
                        <div class="form-group">
                            {{form_row(form_modalites_sejour.sejourOuvert)}}               
                        </div>
                    </div>
                    <div class="row border rounded border-primary p-3 my-1">
                        <div class="form-group" id="itinerance">
                            {{form_row(form_modalites_sejour.sejourItinerant)}}               
                        </div>
                    </div>
                    <div class="row border rounded border-primary p-3 my-1">
                        <div class="form-group">
                            {{form_row(form_modalites_sejour.international)}}               
                        </div>
                    </div>
                    <div class="row border rounded border-primary p-3 my-1">
                        <div class="form-group">
                            {{form_row(form_modalites_sejour.sejourFranceAvecAccueilEtranger)}}               
                        </div>
                    </div>
                    <div class="row border rounded border-primary p-3 my-1">
                        <div class="form-group">
                            {{form_row(form_modalites_sejour.coloApprenante)}} 
                            {{ include('components/document_ressource.html.twig', { 
                            'doc': docCahierDesChargesColosApprenantes , 
                            'nom':"Cahier des charges des colos apprenantes", 
                            'description': "Pour comprendre ce qui est attendu dans le dispositif vacances apprenantes"}) }}               
                        </div>
                    </div>
                    <div class="row border rounded border-primary p-3 my-1">
                        <div class="form-group">
                            {{form_row(form_modalites_sejour.dispositifAppui)}}
                            {{ include('components/document_ressource.html.twig', { 
                            'doc': docCampsDeBase , 
                            'nom':"Informations sur les camps de base", 
                            'description': "Comprendre ce qu'est un camp de base et toutes les opportunités qui y sont offertes."}) }}  
                            {{ include('components/document_ressource.html.twig', { 
                            'doc': docCampsAccompagnes , 
                            'nom':"Informations sur les camps accompagnés", 
                            'description': "Comprendre ce qu'est un camp accompagné et comment se faire accompagner."}) }} 
                        </div>
                    </div>  
                    <div class="form-group">
                        {{form_row(form_modalites_sejour.save)}}               
                    </div>                     
                {{form_end(form_modalites_sejour)}}                                          
                </div>
            </div>
        </div>
    </div> 
    