
    {% for message in app.flashes('success_dates_lieux') %}
        <div class="alert alert-success" role="alert">{{ message }}</div>
    {% endfor %}   
    {% for message in app.flashes('warning_dates_lieux') %}
        <div class="alert alert-warning" role="alert">{{ message }}</div>
    {% endfor %} 
    {% for message in app.flashes('danger_dates_lieux') %}
        <div class="alert alert-danger" role="alert">{{ message }}</div>
    {% endfor %} 
    <div class="accordion" id="accordionDatesLieux">
        <div class="row accordion-item my-3 ">
            <h2 class="col accordion-header " id="accordionDatesLieux-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordionDatesLieux-collapseOne" aria-expanded="false" aria-controls="accordionDatesLieux-collapseOne">
                    <h1>Dates du séjour</h1>
                </button>
            </h2>
            {% if type == 'construction' %}
                {{ include('sejour/components/details_commentaires.html.twig', {
                    'sujet': constant('App\\Entity\\Commentaire::SUJET_SEJOUR_PROJET_SEJOUR_DATES_LIEUX_DATES')}) }}
            {% else %}
                {{ include('sejour/components/details_commentaires.html.twig', {
                    'sujet': constant('App\\Entity\\Commentaire::SUJET_SEJOUR_CLOTURE_DATES_LIEUX_DATES')}) }}
            {% endif %}
            <div id="accordionDatesLieux-collapseOne" class="accordion-collapse collapse" aria-labelledby="accordionDatesLieux-headingOne" data-bs-parent="#accordionDatesLieux">
                <div class="accordion-body"> 
                    {{form_start(form_dates_lieux_dates_sejour)}}    
                        <div class="row border rounded border-primary p-3 my-1">
                            <div class="form-row">
                                {{form_row(form_dates_lieux_dates_sejour.dateDebut)}}
                            </div>
                            <div class="form-row">
                                {{form_row(form_dates_lieux_dates_sejour.dateFin)}}
                            </div>
                        </div>
                        <div class="form-row">
                            {{form_row(form_dates_lieux_dates_sejour.save)}}
                        </div>
                    {{form_end(form_dates_lieux_dates_sejour)}}
                </div>
            </div>
        </div>
        <div class="row accordion-item my-3 ">
            <h2 class="col accordion-header " id="accordionDatesLieux-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordionDatesLieux-collapseTwo" aria-expanded="false" aria-controls="accordionDatesLieux-collapseTwo">
                    <h1>Lieu(x) du séjour</h1>
                </button>
            </h2>
            {% if type == 'construction' %}
                {{ include('sejour/components/details_commentaires.html.twig', {
                    'sujet': constant('App\\Entity\\Commentaire::SUJET_SEJOUR_PROJET_SEJOUR_DATES_LIEUX_LIEUX')}) }}
            {% else %}
                {{ include('sejour/components/details_commentaires.html.twig', {
                    'sujet': constant('App\\Entity\\Commentaire::SUJET_SEJOUR_CLOTURE_DATES_LIEUX_LIEUX')}) }}
            {% endif %}
            <div id="accordionDatesLieux-collapseTwo" class="accordion-collapse collapse" aria-labelledby="accordionDatesLieux-headingTwo" data-bs-parent="#accordionDatesLieux">
                <div class="accordion-body">
                    {{form_start(form_dates_lieux_lieux_sejour)}}         
                        <div class="form-group" id="lieux_sejour">
                            {{form_errors(form_dates_lieux_lieux_sejour)}} 
                            <div class="accordion lieuxModif" id="accordionLieux" data-prototype="{{ include('sejour/components/modification/_form_utilisation_lieu.html.twig', { 'form': form_dates_lieux_lieux_sejour.utilisationsLieuSejour.vars.prototype, 'sejour':sejour, 'docConventionLieu':docConventionLieu })|escape}}">
                                {% for lieu in form_dates_lieux_lieux_sejour.utilisationsLieuSejour %}
                                    <div class ="item border rounded border-secondary p-3 m-1">
                                        {{ include('sejour/components/modification/_form_utilisation_lieu.html.twig', { 'form': lieu, 'sejour':sejour, 'docConventionLieu':docConventionLieu}) }}
                                    </div>
                                {% endfor %}
                            </div>
                            {% if sejour.sejourItinerant %}
                                <button type="button" id="add_lieuxModif" class="btn btn-primary add_item_link" data-collection-holder-class="lieuxModif">Ajouter un Lieu</button>
                            {% endif %}
                        </div>
                        <div class="form-row">
                            {{form_row(form_dates_lieux_lieux_sejour.save)}}
                        </div>
                    {{form_end(form_dates_lieux_lieux_sejour)}}
                </div>
            </div>
        </div>
    </div>
    