<div class="item_structure_regroupee">
        <div class="form-group" id="est_eedf">
                {{form_row(form.estEEDF)}}
        </div>
        <div id="selection_eedf" style="display:none">
                <div class="form-group">
                        {{form_row(form.structureEEDF)}}
                </div>
        </div>
        <div id="selection_non_eedf" style="display:none">
                <div class="form-group">
                        {{form_row(form.nomStructureNonEEDF)}}
                </div>
                <div class="form-group">
                        {{form_row(form.descriptionStructureNonEEDF)}}
                </div>
        </div>
</div>
