<div class="item_lieu">
        <h1>
                {% if form.lieu.vars.value %} 
                        {{ form.lieu.nom.vars.value }}
                {% elseif form.zoneEnvisagee.vars.value %} 
                        {{ form.zoneEnvisagee.vars.value }} (non défini)
                {% else %}
                        Nouveau lieu
                {% endif %}

        </h1>
        <div class="form-group" id="defini">
                {{form_row(form.estDefini)}}
        </div>
        <div class="form-group" id="lieu_indefini">
                {{form_row(form.zoneEnvisagee)}}
        </div>
        <div id="lieu_defini">
                {{ include('sejour/components/modification/_form_lieu_sejour.html.twig', { 'form': form.lieu}) }}
        </div>
</div>
