
<a class= "btn btn-outline-secondary m-3" data-target="#gestion_encadrant_{{form.vars.id}}_{{type}}" data-toggle="modal" href="#">{{labelBouton}}</a>
<div class="modal fade encadrant" id="gestion_encadrant_{{form.vars.id}}_{{type}}" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            {{form_start(form)}}
            <div class="modal-header">
                <h5 class="modal-title">
                    {% if form.encadrantEEDF.vars.value %} 
                            {{ form.encadrantEEDF.vars.value }}
                    {% elseif form.infosEncadrantNonEEDF.vars.value %}
                            {{ form.infosEncadrantNonEEDF.prenom.vars.value }} {{ form.infosEncadrantNonEEDF.nom.vars.value }} (Non adhérent·e)
                    {% else %}
                            Nouve·au·lle encadrant·e
                    {% endif %}
                    {% if form.fonction.vars.value is not null %}
                            {% if "Direction adjointe" in form.fonction.vars.value %}
                            <span class="small-text badge bg-warning rounded-pill" >Direct·eur·rice adjoint·e</span>
                            {% endif %}
                    {% endif %}
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class ="border rounded border-secondary p-3 m-1">
                    <h3>Identité</h3>
                    <div class="form-group est_eedf">
                            {{ form_row(form.estEncadrantEEDF) }}
                    </div>
                    <div class="encadrant_non_eedf">
                            {{ form_row(form.infosEncadrantNonEEDF) }}
                            {{ include('components/document_ressource.html.twig', { 
                                            'doc': docFormulaireConsentement}) }}
                    </div>
                    <div class="encadrant_eedf">
                            {{ form_row(form.encadrantEEDF) }}
                    </div>
                </div>
                <div class ="border rounded border-secondary p-3 m-1">
                    <h3>Rôles et fonctions pour ce séjour</h3>
                    <div class="form-group equipe">
                            {{ form_row(form.equipe) }}
                    </div>
                    <div class ="equipe_animation border rounded border-primary p-3 m-1">
                            <div class="form-group attacher">
                                    {{ form_row(form.attacher) }}
                            </div>
                            <div class="form-group unite_eedf">
                                    {{ form_row(form.uniteParticipante) }}
                            </div>
                            <div class="form-group structure_non_eedf">
                                    {{ form_row(form.structureNonEEDF) }}
                            </div>
                    </div>
                    <div class="form-group">
                            {{ form_row(form.fonction) }}
                    </div>
                </div>
                <div class ="border rounded border-secondary p-3 m-1">
                    <h3>Qualifications</h3>
                    <div class="row">
                        <div class="col">
                            <div class="form-group diplome">
                                {{ form_row(form.diplomesAnimation) }}
                            </div>
                            <div class="form-group equivalence">
                                {{ form_row(form.equivalenceDiplomeAnimation) }}
                            </div>
                                    
                        </div>
                        <div class="col qualite">
                            <div class="form-group">
                                {{ form_row(form.qualiteAnimation) }}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        {{ include('components/document_ressource.html.twig', { 
                                                        'doc': docEquivalenceAnimationDirection}) }}
                    </div>
                    <div class="form-group">
                            {{ form_row(form.statutAssistantSanitaire) }}
                            {{ include('components/document_ressource.html.twig', { 
                                            'doc': docEquivalencePSC1}) }}
                    </div>
                    <div class="form-group">
                            {{ form_row(form.permisB) }}
                    </div>   
                </div>
            </div>
            <div class="modal-footer">
                <div class="form-group">
                    {{form_row(form.save)}}
                </div>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
            </div>
            {{form_end(form)}}
        </div>
    </div>
</div>
