{% form_theme form.participantsAdherents 'form/fields_two_columns.html.twig' %}
<a class= "btn btn-outline-secondary m-3" data-target="#gestion_participants_{{id}}" data-toggle="modal" href="#">Détails</a>
<div class="modal fade participants_unite" id="gestion_participants_{{id}}" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            {{form_start(form)}}
            <div class="modal-header">
                <h5 class="modal-title">Gestion des participants de l'unité "{{unite.nom}}"</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row border rounded border-secondary p-3 m-3">
                    <h4>Adhérent·e·s</h4>
                    {{form_row(form.participantsAdherents)}}
                </div>
                <div class="row border rounded border-secondary p-3 m-3">
                    <h4>Non adhérent·e·s</h4>
                    <div class="form-group table-responsive" >
                        <table class="table table-striped">
                            <thead>
                                <th>Prénom</th>
                                <th>Nom</th>
                                <th>Âge</th>
                                <th>Commentaires</th>
                            </thead>
                            <tbody name="body_participant_non_eedf" class="participant_non_eedf_{{id}}" data-prototype="{{ include('sejour/components/modification/_form_participant_non_eedf.html.twig', { 'form': form.participantsNonAdherents.vars.prototype })|escape}}">
                            {% for participantNonEEDF in form.participantsNonAdherents %}
                                <tr>{{ include('sejour/components/modification/_form_participant_non_eedf.html.twig', { 'form': participantNonEEDF}) }}</tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <button type="button" id="add_participant_non_eedf_{{id}}" class="btn btn-primary add_item_link" data-collection-holder-class="participant_non_eedf_{{id}}">Ajouter un·e participant·e (non adhérent·e)</button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="form-group">
                    {{form_row(form.save)}}
                </div>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
            </div>
            {{form_end(form)}}
        </div>
    </div>
</div>