<div class="item_structure_regroupee">
        <div class="form-group" id="est_eedf">
                {{form_row(form.estEEDF)}}
        </div>
        <div id="selection_eedf" style="display:none">
                <div class="form-group">
                        {{form_row(form.structureEEDF,
                                {
                                        attr: {
                                        'data-specific-structure-url': path('sejour_construction_structure-select'),
                                        'class': 'js-structure_regroupement-form-structure_eedf'
                                        }
                                }) 
                        }}
                </div>
                <div class="js-specific-structure-target">
                                {{ form_row(form.unites) }}
                </div>
        </div>
        <div id="selection_non_eedf" style="display:none">
                <div class="form-group">
                        {{form_row(form.nomStructureNonEEDF)}}
                </div>
                <div class="form-group">
                        {{form_row(form.descriptionStructureNonEEDF)}}
                </div>
        </div>
</div>
