<div class="lieu_sejour">

        <div class="form-group" id="nom_lieu">
                {{form_row(form.nom)}}
        </div>
        <div class="form-group">
                {{form_row(form.estEEDF)}}
        </div>
        <div class="accordion lieu" id="accordionLieu_{{ form.vars.id }}">
                <div class="accordion-item my-3 border rounded border-secondary p-3 m-1">
                        <h2 class="accordion-header" id="flush-heading_adresse_lieu_{{ form.vars.id }}">
                                <button class="accordion-button bg-info py-0" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse_adresse_lieu_{{ form.vars.id }}" aria-expanded="true" aria-controls="flush-collapse_adresse_lieu_{{ form.vars.id }}">
                                        <h3>Adresse du lieu</h3>
                                </button>
                        </h2>
                        <div id="flush-collapse_adresse_lieu_{{ form.vars.id }}" class="accordion-collapse collapse show" aria-labelledby="flush-heading_adresse_lieu_{{ form.vars.id }}" data-bs-parent="#accordionLieu_{{ form.vars.id }}">
                                {{ include('sejour/components/modification/_form_localisation.html.twig', { 'form': form.localisation}) }}
                        </div>
                </div>
                <div class="accordion-item my-3 border rounded border-secondary p-3 m-1">
                        <h2 class="accordion-header" id="flush-heading_proprietaire_lieu_{{ form.vars.id }}">
                                <button class="accordion-button bg-info py-0 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse_proprietaire_lieu_{{ form.vars.id }}" aria-expanded="false" aria-controls="flush-collapse_proprietaire_lieu_{{ form.vars.id }}">
                                        <h3>Propriétaire</h3>
                                </button>
                        </h2>
                        <div id="flush-collapse_proprietaire_lieu_{{ form.vars.id }}" class="accordion-collapse collapse" aria-labelledby="flush-heading_proprietaire_lieu_{{ form.vars.id }}" data-bs-parent="#accordionLieu_{{ form.vars.id }}">
                                <div class="accordion-body">
                                        <div class="form-group proprietaire_lieu">
                                                {{form_row(form.proprietaireEstPersonnePhysique)}}
                                        </div>
                                        <div class="alert alert-warning" role="alert">
                                                Dans le cas de l'utilisation d'un lieu de séjour appartenant à un particulier, il est obligatoire de recueillir le consentement de cette personne pour enregistrer ses coordonnées. Nous recommandons fortement la signature d'une convention entre le propriétaire et la direction du séjour, et qui permet de notifier le consentement d'enregistrement des données dans R.O.A.D.S
                                        </div>
                                        <div class="form-group convention_lieu">
                                                {{form_row(form.conventionLieu)}}
                                                {{ include('components/document_ressource.html.twig', { 
                                                        'doc': docConventionLieu}) }} 
                                        </div>
                                        <div class="form-group">
                                                {{form_row(form.coordonneesProprietaire.nom)}}
                                        </div>
                                        <div class="form-group">
                                                {{form_row(form.coordonneesProprietaire.prenom)}}
                                        </div>
                                        <div class="form-group">
                                                {{form_row(form.coordonneesProprietaire.telMobile)}}
                                        </div>
                                        <div class="form-group">
                                                {{form_row(form.coordonneesProprietaire.adresseMail)}}
                                        </div>
                                        <div class="form-group my-3 border rounded border-primary p-3 m-1">
                                                <h4>Adresse du·de la propriétaire</h4>
                                                {{form_row(form.coordonneesProprietaire.adressePostale)}}
                                        </div>
                                </div>
                        </div>
                </div>
        </div>
        <div class="form-group">
                {{form_row(form.siteInternet)}}
        </div>
</div>
