<div class="localisation">
        {{form_errors(form)}}
        <div class="rechercheParAdresse">
                
                <div class="my-2 adresseAuto">
                        
                </div>
                <div class="row">
                        {{form_row(form.rechercheAdresse)}}
                        <div class="col-6 adresseCarte" >
                                <div class="map" id="map_modif_{{ form.vars.id }}" style="height: 500px; z-index: 1"></div>
                        </div>
                        <div class="col-6">
                                
                                
                                <div class="adresseManuelle">
                                        <div class="alert alert-warning" role="alert">
                                               Vous pouvez modifier manuellement l'adresse postale du lieu.
                                        </div>
                                        {{form_row(form.adresse)}}
                                        {{form_row(form.complementAdresse)}}
                                        {{form_row(form.codePostalCommune)}}
                                        {{form_row(form.nomCommune)}}
                                        {{form_row(form.pays)}}
                                </div>
                                {{form_row(form.coordonneesGeo)}}
                                {{form_row(form.departement)}}
                        </div>
                
                </div>
        </div>
</div>
