
<div class="container py-2">
    <p>Retrouvez ici les informations sur la validation du projet de séjour</p>
    {% for message in app.flashes('danger_validation_internationale') %}
        <div class="alert alert-danger" role="alert">{{ message |raw}}</div>
    {% endfor %}
    {% for message in app.flashes('warning_validation_internationale') %}
        <div class="alert alert-warning" role="alert">{{ message |raw}}</div>
    {% endfor %}
    {% for message in app.flashes('success_validation_internationale') %}
        <div class="alert alert-success" role="alert">{{ message |raw}}</div>
    {% endfor %}
    <div class="wrapper">
        <div class="accordion" id="accordionValidationInternationale">
            <div class="row accordion-item my-3 ">
                <h2 class="col accordion-header " id="accordionValidationInternationale-headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordionValidationInternationale-collapseOne" aria-expanded="true" aria-controls="accordionValidationInternationale-collapseOne">
                        <h1>Validation internationale du projet</h1>
                    </button>
                </h2>
                {{ include('sejour/components/details_commentaires.html.twig', {
                        'sujet': constant('App\\Entity\\Commentaire::SUJET_SEJOUR_VALIDATION_INTERNATIONALE')}) }}
                <div id="accordionValidationInternationale-collapseOne" class="accordion-collapse collapse" aria-labelledby="accordionValidationInternationale-headingOne" data-bs-parent="#accordionValidationInternationale">
                    <div class="accordion-body">
                        {{form_start(form_validation_internationale_sejour)}}
                            <div class="border rounded border-primary p-3 my-1">
                                <div class="form_validation_internationale_sejour-group ">
                                    {{form_row(form_validation_internationale_sejour.documentValidationInternationale)}}
                                </div>
                                <div class="form_validation_internationale_sejour-group">
                                        {{ include('components/document_ressource.html.twig', { 
                                                                        'doc': docModeleValidation}) }}
                                </div>
                            </div>
                            <div class="form_validation_internationale_sejour-group border rounded border-primary p-3 my-1">
                                {{form_row(form_validation_internationale_sejour.commentaires)}}
                            </div>
                            <div class="form_validation_internationale_sejour-group border rounded border-primary p-3 my-1">
                                {{form_row(form_validation_internationale_sejour.estValide)}}
                            </div>
                            <a class= "btn btn-secondary m-3" data-target="#confirmation_validation_internationale" data-toggle="modal" href="#">Enregistrer les informations de validation</a>

                            <!-- modal de confirmation de validation/invalidation de séjour-->
                            <div class="modal" id="confirmation_validation_internationale" tabindex="-1" role="dialog">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Validation du séjour international</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Publier un avis international au projet du séjour veut dire que vous avez renseigné les informations nécessaires expliquant le choix, fait au nom de l'association, sur la qualité des aspects internationaux de préparation de ce séjour.</p>
                                            <p>Cette action enverra une notification aux principales personnes impliquées sur ce séjour.</p>
                                            <p>Le projet de séjour continue à pouvoir être enrichi ou modifié par son équipe.</p>
                                            <p>La validation du projet de séjour sera considérée comme effectivement favorable si l'avis de la structure en charge de la validation est lui aussi favorable.</p>
                                            <p>Ainsi, en cas d'avis favorable et de changement majeur dans le projet de séjour par la suite, vous pourrez donner à nouveau votre avis sur le projet au regard des nouvelles informations.</p>
                                            <p>En cas d'avis défavorable, l'équipe du séjour pourra apporter les modifications demandées et nécessaires au renouvellement de la demande de validation.</p>

                                        </div>
                                        <div class="modal-footer">
                                            <div class="form_validation_internationale_sejour-group">
                                                {{form_row(form_validation_internationale_sejour.save)}}
                                            </div>
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {{form_end(form_validation_internationale_sejour)}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


