<div class="item_encadrant item accordion-item my-3 border rounded border-secondary p-3 m-1 ">
        <h2 class="accordion-header" id="flush-heading_{{ form.vars.id }}">
                <button class="accordion-button bg-info py-0" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse_{{ form.vars.id }}" aria-expanded="false" aria-controls="flush-collapse_{{ form.vars.id }}">
                        <h5>
                                {% if form.natureEvenement.vars.value %} 
                                        {{ form.natureEvenement.vars.value }}
                                {% else %}
                                        Nouvel évenement grave
                                {% endif %}
                        </h5>
                </button>
        </h2>
        <div id="flush-collapse_{{ form.vars.id }}" class="accordion-collapse collapse" aria-labelledby="flush-heading_{{ form.vars.id }}" data-bs-parent="#accordionEvenementsGaves">
                <div class="accordion-body">
                        <div class="form-group">
                                {{ form_row(form.natureEvenement) }}
                        </div>
                        <div class="form-group">
                                {{ form_row(form.precisions) }}
                        </div>
                </div>
                
        </div>
        <div class="row">
                <div class="col-6">

                </div>
                <div class="col-6" id="delete">
                        
                </div>
        </div>
</div>