
    {% for message in app.flashes('success_peda') %}
        <div class="alert alert-success" role="alert">{{ message }}</div>
    {% endfor %}   
    {% for message in app.flashes('warning_peda') %}
        <div class="alert alert-warning" role="alert">{{ message }}</div>
    {% endfor %} 
    {% for message in app.flashes('danger_peda') %}
        <div class="alert alert-danger" role="alert">{{ message }}</div>
    {% endfor %} 
    <div class="accordion" id="accordionPeda">
        <div class="row accordion-item my-3 ">
            <h2 class="col accordion-header " id="accordionPeda-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordionPeda-collapseOne" aria-expanded="false" aria-controls="accordionPeda-collapseOne">
                    <h1>Projet pédagogique</h1>
                </button>
            </h2>
            {{ include('sejour/components/details_commentaires.html.twig', {
                'sujet': constant('App\\Entity\\Commentaire::SUJET_SEJOUR_PROJET_SEJOUR_PEDA_PROJET_PEDA')}) }}
            <div id="accordionPeda-collapseOne" class="accordion-collapse collapse" aria-labelledby="accordionPeda-headingOne" data-bs-parent="#accordionPeda">
                <div class="accordion-body">
                    {{form_start(form_projet_peda_sejour)}}
                        <div class="form-group">
                            <div class ="item border rounded border-secondary p-3 m-1">
                                {{ include('components/document_ressource.html.twig', { 
                                    'doc': docModeleProjetPeda , 
                                    'nom':"Modèle de projet pédagogique", 
                                    'description': "Une trame de dossier, en 14 chapitres, vous permettant de renseigner tous les aspects pédagogiques et organisationnels de votre séjour.  Son utilisation n’est pas obligatoire, et vous pouvez adapter son contenu en fonction de vos réalités de séjours."}) }}             
                                <p>A l'aide du modèle proposé ou non, veuillez charger pour le séjour la description des éléments suivants : 
                                    <ul>
                                        <li>Analyse de(s) unité(s)</li>
                                        <li>Intentions et priorités éducatives</li>
                                        <li>Projets des participant·e·s</li>
                                        <li>Description des objectifs pédagogiques</li>
                                        <li>Grille des activités</li>
                                        <li>Règles de vie</li>
                                        <li>Attitudes éducatives</li>
                                        <li>Organisation de la vie collective</li>
                                        <li>Gestion de la vie quotidienne</li>
                                        <li>Journée type</li>
                                        <li>Gestion de la sécurité</li>
                                        <li>Gestion sanitaire.</li>
                                    </ul>
                                </p>                              
                                {{form_row(form_projet_peda_sejour.documentProjetPeda)}}       
                            </div>     
                        </div>
                        <div class="form-group">
                            {{form_row(form_projet_peda_sejour.save)}}               
                        </div>                     
                    {{form_end(form_projet_peda_sejour)}}
                </div>
            </div>
        </div>
        {% if form_colo_apprenante_sejour is defined%}
            <div class="row accordion-item my-3 ">
                <h2 class="col accordion-header " id="accordionPeda-headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordionPeda-collapseTwo" aria-expanded="false" aria-controls="accordionPeda-collapseTwo">
                        <h1>Dispositif colos apprenantes</h1>
                    </button>
                </h2>
                {{ include('sejour/components/details_commentaires.html.twig', {
                        'sujet': constant('App\\Entity\\Commentaire::SUJET_SEJOUR_PROJET_SEJOUR_PEDA_COLOS_APPRENANTES')}) }}
                <div id="accordionPeda-collapseTwo" class="accordion-collapse collapse" aria-labelledby="accordionPeda-headingTwo" data-bs-parent="#accordionPeda">
                    <div class="accordion-body">
                        {{form_start(form_colo_apprenante_sejour)}}
                            <div class="form-group">
                                <div class ="item border rounded border-secondary p-3 m-1">
                                    {{ include('components/document_ressource.html.twig', { 
                                        'doc': docModeleColosApprenantes, 
                                        'nom':"Colos apprenantes Socle commun modèle", 
                                        'description': "Décrivez grâce à ce document à télécharger les liens et les activités entre votre projet de séjour et le socle commun des connaissances pour répondre au cahier des charges du dispositif colos apprenantes"}) }}                                           
                                    {{form_row(form_colo_apprenante_sejour.documentSocleCommunColosApprenantes)}}       
                                </div>                
                            </div>
                            <div class="form-group">
                                {{form_row(form_colo_apprenante_sejour.save)}}               
                            </div>                     
                        {{form_end(form_colo_apprenante_sejour)}}
                    </div>
                </div>
            </div>
        {% endif %}
        {% if form_projet_international_sejour.aspectInternational is defined %}
            <div class="row accordion-item my-3 ">
                <h2 class="col accordion-header " id="accordionPeda-headingFour">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordionPeda-collapseFour" aria-expanded="false" aria-controls="accordionPeda-collapseFour">
                        <h1>Camp international</h1>
                    </button>
                </h2>
                {{ include('sejour/components/details_commentaires.html.twig', {
                    'sujet': constant('App\\Entity\\Commentaire::SUJET_SEJOUR_PROJET_SEJOUR_PEDA_INTERNATIONAL')}) }}
                <div id="accordionPeda-collapseFour" class="accordion-collapse collapse" aria-labelledby="accordionPeda-headingFour" data-bs-parent="#accordionPeda">
                    <div class="accordion-body">
                        {{form_start(form_projet_international_sejour)}}
                            <div class="form-group">
                                <div class ="item border rounded border-secondary p-3 m-1">
                                    {{form_row(form_projet_international_sejour.aspectInternational)}}   
                                </div>             
                            </div>
                            <div class="form-group">
                                {{form_row(form_projet_international_sejour.save)}}               
                            </div>                     
                        {{form_end(form_projet_international_sejour)}}
                    </div>
                </div>
            </div>
        {% endif %}
    </div> 
    