$vert: #9abe37 !default;
$bleu: #32a2c6 !default;
$white: #fff !default;

$vert-clair: lighten($vert, 40%);
$light: $white !default;
$dark: $vert !default;

$colors: ("vert-clair": $vert-clair,
  "bleu": $bleu,
  "vert": $vert,
  "white": $white) !default;

$bleu-200: lighten($bleu, 40%);


$accordion-button-bg: $bleu-200 !default;
$accordion-button-active-bg: tint-color($bleu-200, 90%) !default;

$border-radius: .0rem !default;
$border-radius-sm: .0rem !default;
$border-radius-lg: .0rem !default;
$border-radius-pill: 50rem !default;

$primary: $vert !default;
$secondary: $bleu !default;
$info: $vert-clair !default;
// scss-docs-start theme-colors-map

$link-color: $dark !default;

$dropdown-bg: $dark !default;
$dropdown-link-color: $white !default;

$enable-gradients: false !default;
$gradient: linear-gradient(0.25turn, $vert, $bleu) !default;

// stylelint-disable value-keyword-case
$font-family-sans-serif: "Vista Slabot",
system-ui,
-apple-system,
"Segoe UI",
Roboto,
"Helvetica Neue",
Arial,
"Noto Sans",
"Liberation Sans",
sans-serif,
"Apple Color Emoji",
"Segoe UI Emoji",
"Segoe UI Symbol",
"Noto Color Emoji" !default;
$font-family-monospace: "Vista Slabot",
SFMono-Regular,
Menlo,
Monaco,
Consolas,
"Liberation Mono",
"Courier New",
monospace !default;
$headings-font-family: 'Bebas Neue' !default;
$input-btn-font-family: $headings-font-family !default;
$input-font-family: $font-family-sans-serif !default;

@import "node_modules/bootstrap/scss/bootstrap";

.nav-link {
  font-family: $headings-font-family;
}

footer .bandeau {
  width: 100%;
  height: 50px;
  background-image: linear-gradient(to right, #16a0c8, #97be0d);
  color: white;
}

footer .logo {
  display: inline-block;
  vertical-align: middle;
  margin-left: 50px;
  margin-right: 25px;
  height: 100%;
  width: 50px;
  background: url(/public/images/logo-blanc.svg), #22515C;
}

footer a {
  color: white;
}

footer div img.baseline {
  vertical-align: baseline;
}