{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block title %}Base de données des séjours{% endblock %}

{% block headerbody %}
    <h1>{{ include('components/icones/6 - Données de séjours.svg') }}Base de données des séjours</h1>
    <p>Vous pouvez retrouver sur cette page la liste de tous les séjours clôturés depuis la création de l'outil ROADS.</p>
{% endblock %}

{% block body %}
    <div class="wrapper">   
        <div class="table-responsive">
            <table class="table_a_trier table table-striped">
            <thead>
                <th>Structure</th>
                <th>Séjour</th>
                <th>Dates</th>
                <th>Type de séjour</th>
                <th>Direct·eur·rice</th>
                <th>Lieu(x)</th>
                <th>Détail</th>
            </thead>
            <tbody>       
                {% for sejour in sejoursClotures %}
                    <tr>
                        <td>{{ sejour.structureOrganisatrice.nom }} </td>
                        <td>{{ sejour.intitule }} </td>
                        <td data-sort="{{ sejour.dateDebut|date('U')}}">Du {{ sejour.dateDebut | format_datetime(pattern="d MMMM y", locale='fr')}} au {{ sejour.dateFin | format_datetime(pattern="d MMMM y", locale='fr')}} </td>
                        <td>{{ sejour.typeSejour }}</td>
                        <td>{% if sejour.directeur != null %}
                                {{ sejour.directeur.prenom }} {{ sejour.directeur.nom }}
                            {% endif %}
                        </td>
                        <td>
                            {% set arrayLieux = [] %}
                            {% for lieu in sejour.utilisationsLieuSejour %}
                                {% if lieu.lieu.localisation %}
                                    {% set arrayLieux = arrayLieux|merge([lieu.lieu.localisation.codePostalCommune]) %}
                                {% endif %}
                            {% endfor %}
                            {{ arrayLieux | join(', ', ' et ')}}
                        </td>
                        <td>
                            <a class= "btn btn-primary" href="{{ path('detail_sejour', {id: sejour.id}) }}">Détail</a>
                        </td>
                    </tr>
                {% else %}
                    <p>Il n'y a aucun séjour visible pour l'instant</p>
                {% endfor %}
            </tbody>
            </table>
        </div>
    </div> 
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    
    <script>
        $(document).ready(function() {
            $('.table_a_trier').DataTable({
                paging: true,
                info: false,
                searching: true,
                language: {
                    emptyTable: "Aucune donnée pour l'instant",
                    search: "Rechercher:",
                    paginate: {
                        previous: "Page précédente",
                        next: "Page suivante"
                    }
                },
                columnDefs: [
                    { orderable: false, targets: 6 }
                ],
                dom: 'fBtp',
                buttons: [
                    {
                        extend:'excel',
                        className: 'btn btn-secondary btn-xs m-2 py-1',
                        text:'Exporter le tableau',
                        exportOptions: {
                            columns: [ 0, 1, 2, 3, 4, 5 ]
                        },
                        title: 'Tous les séjours terminés'
                    }
                ]
            });
        } );
    </script>
{% endblock %}


