<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="shortcut icon" type="image/x-icon" href="{{ asset('images/favicon.ico')}}"/>
        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap-datetimepicker.min.css') }}"/ >
            <link rel="stylesheet" href="{{ asset('css/algolia-autocomplete.css') }}">
            {{ encore_entry_link_tags('app') }}
            <link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
        {% endblock %}
    </head>
    <body>
        <div class="sticky-top">
            {{ include('components/navbar.html.twig') }}
        </div>
        <div class="container-fluid bg-gradient text-white py-3">
            <div class="container">
                {% block headerbody %}{% endblock %}
            </div>
        </div>
        <main>
            <div class="container">
                {% block body %}{% endblock %}
            </div>
        </main>
        <footer>
            <div class="bandeau row">
                <div class="logo"></div>
                <div class="mentions_legales col my-auto">
                    <a href="{{ path('mentions_legales') }}">Mentions légales</a>
                </div>
                <div class="copyright col-md my-auto">
                    &copy; 2021 <a href="http://www.eedf.fr" target="_blank"><b>EEDF et …</b></a>
                </div>
                <div class="licence col-md my-auto">
                    Sous licence libre <a href="https://www.gnu.org/licenses/agpl-3.0.html" target="_blank"><b>AGPL</b></a>
                </div>
                <div class="github col-md my-auto">
                    Améliore moi sur <a href="https://gitlab.com/eedf/roads/" target="_blank"><b>Gitlab</b></a>
                </div>
            </div>
            <div class="container">
                <p class="text-muted">Le développement de cette plateforme est soutenu par:</p>
                <div class="row">
                    <div class="col-2">
                    </div>
                    <div class="col-2">
                        <img class="img-fluid my-1" src="{{ asset('images/partenaires/logo_AFD.jpg') }}" alt="Logo AFD">
                    </div>
                    <div class="col-4">
                    </div>
                    <div class="col-2">
                        <img class="img-fluid bg-white my-1" src="{{ asset('images/partenaires/logo_ANACT.svg') }}" alt="Logo ANACT">
                    </div>
                    <div class="col-2">
                    </div>
                </div>
            </div>
        </footer>

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/autocomplete.js/0/autocomplete.jquery.min.js"></script>
            <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
            <script src="https://cdn.datatables.net/buttons/1.7.0/js/dataTables.buttons.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
            <script src="https://cdn.datatables.net/buttons/1.7.0/js/buttons.html5.min.js"></script>
        {% endblock %}
    </body>
</html>
