{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/algolia-autocomplete.css') }}">
{% endblock %}
{% block title %}Aide au support{% endblock %}

{% block headerbody %}
    <h1>{{ include('components/icones/Aide au support.svg') }}Aide au support</h1>
    <p>Ici vous pouvez :
        <ul>
            <li>modifier l'adresse mail vers laquelle seront envoyés les messages de demandes de support</li>
            <li>vérifier le statut et les informations d'un compte d'utilisateur·rice de R.O.A.D.S</li>
        </ul>
    </p>
{% endblock %}

{% block body %}
    <div class="wrapper">
        <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item my-3 ">
                <h2 class="accordion-header " id="flush-headingFour">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="true" aria-controls="flush-collapseFour">
                        <h1>Adresse de support</h1>
                    </button>
                </h2>
                <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">        
                        <div class="container border rounded border-secondary p-3 my-1">
                            {% for message in app.flashes('success') %}
                                <div class="alert alert-success" role="alert">{{ message }}</div>
                            {% endfor %} 
                            {{form_start(formAdresseSupport)}}
                                <div class="form-group">
                                    {{form_row(formAdresseSupport.valeurParametre)}}               
                                </div>
                                <div class="form-group">
                                    {{ form_widget(formAdresseSupport.save, {'attr': {'class': 'btn btn-primary m-3'}}) }}
                                </div>
                            {{form_end(formAdresseSupport)}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item my-3 ">
                <h2 class="accordion-header " id="flush-headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="true" aria-controls="flush-collapseOne">
                        <h1>Vérifier le statut d'un compte</h1>
                    </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <div class="container border rounded border-secondary p-3 my-1">
                            {{form_start(formRecherchePersonneUniqueStatutCompte)}}
                                <div class="form-group">
                                    {{form_row(formRecherchePersonneUniqueStatutCompte.champRecherche)}}               
                                </div>
                                <div class="form-group">
                                    {{ form_widget(formRecherchePersonneUniqueStatutCompte.search, {'label': 'Rechercher', 'attr': {'class': 'btn btn-primary m-3'}}) }}
                                </div>
                            {{form_end(formRecherchePersonneUniqueStatutCompte)}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/autocomplete.js/0/autocomplete.jquery.min.js"></script>
    <script src="{{ asset('js/adherent-autocomplete.js') }}"></script>
{% endblock %}


