{% extends 'base.html.twig' %}

{% block title %}Statut du compte de {{personne.prenom}} {{personne.nom}} ({{personne.numeroAdherentOuMatricule}}){% endblock %}

{% block headerbody %}
    <h1>Statut du compte de {{personne.prenom}} {{personne.nom}} ({{personne.numeroAdherentOuMatricule}})</h1>
{% endblock %}

{% block body %}
    <div class="container border rounded border-secondary p-3 my-1">
        <h2>Statut du compte</h2>
        <div class="table-responsive">
            <table class="table table-striped">
                <tbody>   
                    <tr>                  
                        <td>Adresse de connexion</td>
                        <td>{{personne.adresseMailUsage}}</td>
                    </tr>          
                    <tr>                  
                        <td>Statut de l'adhésion</td>
                        <td><span class="badge bg-success">{{personne.statutAdherent}}</span></td>
                    </tr>
                    {% if personne.estSalarieValide %}
                    <tr>                  
                        <td>Statut employe</td>
                        <td><span class="badge bg-success">Employé·e</span></td>
                    </tr>
                    {% endif %}
                    <tr>                  
                        <td>Date de dernière mise à jour depuis Jéito</td>
                        <td>{{personne.dateModification|format_datetime(pattern="d MMMM y \à H\:mm", locale='fr') }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        {% for message in app.flashes('success') %}
            <div class="alert alert-success" role="alert">{{ message }}</div>
        {% endfor %}   
        {% for message in app.flashes('danger') %}
            <div class="alert alert-danger" role="alert">{{ message }}</div>
        {% endfor %} 
        </div>
        <a class= "btn btn-primary" href="{{ path('aide_support') }}">Retour</a>
    </div> 
{% endblock %}

