
{% if sejour.nominationsVisiteSejour | length > 0 %}
    {% set toutes_les_visites_effectuees = true %}
    {% for nomination_visite in sejour.nominationsVisiteSejour %}
        {% if nomination_visite.visiteSejour == null %}
            {% set toutes_les_visites_effectuees = false %}
        {% endif %}
    {% endfor %}
    {% if toutes_les_visites_effectuees %}
        <a class= "btn btn-outline-success" data-target="#detail_visites_{{sejour.id}}" data-toggle="modal" href="#"><span>Visite(s) terminée(s) </span><i class="fa fa-square-check" data-toggle="tooltip" title=""></i></a>
    {% else %}
        <a class= "btn btn-outline-warning" data-target="#detail_visites_{{sejour.id}}" data-toggle="modal" href="#"><span>Visite(s) programmée(s) </span><i class="fa fa-clock" data-toggle="tooltip" title=""></i></a>
    {% endif %}
    <div class="modal fade visites" id="detail_visites_{{sejour.id}}" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Détail des visites du séjour "{{sejour.intitule}}"</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{ include('components/tableau_visites_sejour_unique.html.twig', { 'sejour': sejour, 'page': page, 'modification': true}) }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>
{% else %}
    <span class="text-danger">Pas de visites prévues <i class="fa fa-calendar-xmark" data-toggle="tooltip" title=""></i></span>
{% endif %}


