{% if nominationVisite.visiteSejour.compteRendu %}
    <a class="btn btn-secondary" target='_blank' href="{{ vich_uploader_asset( nominationVisite.visiteSejour.compteRendu) }}">Compte Rendu</a>
{% else %}
    <a class="btn btn-outline-secondary" data-target="#detail_visite_{{nominationVisite.visiteSejour.id}}" data-toggle="modal" href="#">Détails</a>
    <div class="modal fade visites" id="detail_visite_{{nominationVisite.visiteSejour.id}}" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Détail de la visite</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row border rounded border-secondary p-3 my-1">
                        <div class="col-6">
                            Date de la visite
                        </div>
                        <div class="col-6">
                            <b>{{nominationVisite.visiteSejour.dateVisite |format_datetime(pattern="d MMMM y", locale='fr')}}</b>
                        </div>
                    </div>
                    <div class="row border rounded border-secondary p-3 my-1">
                        <div class="col-6">
                            Visiteu·r·se
                        </div>
                        <div class="col-6">
                            <b>{{nominationVisite.visiteur.prenom}} {{nominationVisite.visiteur.nom}}</b>
                        </div>
                    </div>
                    <div>
                        <div class="border rounded border-primary p-3 my-1">
                            <h5>Classeur du·de la direct·eur·rice</h5>
                            <div class="row border rounded border-secondary p-3 my-1">
                                <div class="col-6">
                                    Manque des documents
                                </div>
                                <div class="col-6">
                                    {% if nominationVisite.visiteSejour.evalManquesClasseurDirecteur %}
                                            Oui
                                    {% else %}
                                            Non
                                    {% endif %}    
                                </div>
                            </div>
                            <div class="row border rounded border-secondary p-3 my-1">
                                <div class="col-6">
                                    Précisions
                                </div>
                                <div class="col-6">
                                    {% if nominationVisite.visiteSejour.precisionsManquesClasseurDirecteur %}
                                            {{nominationVisite.visiteSejour.precisionsManquesClasseurDirecteur | raw}}
                                    {% else %}
                                            <p class="text-muted">Non renseigné</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="border rounded border-primary p-3 my-1">
                            <h5>Les mesures sanitaires liées à la CoVid</h5>
                            <div class="row border rounded border-secondary p-3 my-1">
                                <div class="col-6">
                                    Evaluation
                                </div>
                                <div class="col-6">
                                    {{nominationVisite.visiteSejour.evalMesuresSanitaires | raw}}
                                </div>
                            </div>
                            <div class="row border rounded border-secondary p-3 my-1">
                                <div class="col-6">
                                    Autres points repérés
                                </div>
                                <div class="col-6">
                                    {% if nominationVisite.visiteSejour.autresMesuresSanitaires %}
                                            {{nominationVisite.visiteSejour.autresMesuresSanitaires | raw}}
                                    {% else %}
                                            <p class="text-muted">Non renseigné</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="border rounded border-primary p-3 my-1">
                            <h5>Pédagogie et activités</h5>
                            <div class="row border rounded border-secondary p-3 my-1">                                                                            
                                <div class="col-6">
                                        Evaluation
                                </div>
                                <div class="col-6">
                                    {{nominationVisite.visiteSejour.evalPedagogie}}
                                </div>
                            </div>
                            <div class="row border rounded border-secondary p-3 my-1">
                                <div class="col-6">
                                    Autres points repérés
                                </div>
                                <div class="col-6">
                                    {% if nominationVisite.visiteSejour.autresPedagogie %}
                                            {{nominationVisite.visiteSejour.autresPedagogie | raw}}
                                    {% else %}
                                            <p class="text-muted">Non renseigné</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="border rounded border-primary p-3 my-1">
                            <h5>Le Fonctionnement et la gestion d'équipe</h5>
                            <div class="row border rounded border-secondary p-3 my-1">
                                <div class="col-6">
                                    Evaluation
                                </div>
                                <div class="col-6">
                                    {{nominationVisite.visiteSejour.evalGestionEquipe | raw}}
                                </div>
                            </div>
                            <div class="row border rounded border-secondary p-3 my-1">
                                <div class="col-6">
                                    Autres points repérés
                                </div>
                                <div class="col-6">
                                    {% if nominationVisite.visiteSejour.autresGestionEquipe %}
                                            {{nominationVisite.visiteSejour.autresGestionEquipe | raw}}
                                    {% else %}
                                            <p class="text-muted">Non renseigné</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="border rounded border-primary p-3 my-1">
                            <h5>La formation</h5>
                            <div class="row border rounded border-secondary p-3 my-1">                                                                            
                                <div class="col-6">
                                        Evaluation
                                </div>
                                <div class="col-6">
                                    {{nominationVisite.visiteSejour.evalFormation}}
                                </div>
                            </div>
                            <div class="row border rounded border-secondary p-3 my-1">
                                <div class="col-6">
                                    Autres points repérés
                                </div>
                                <div class="col-6">
                                    {% if nominationVisite.visiteSejour.autresFormation %}
                                            {{nominationVisite.visiteSejour.autresFormation | raw}}
                                    {% else %}
                                            <p class="text-muted">Non renseigné</p>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="row border rounded border-secondary p-3 my-1">
                                <div class="col-6">
                                    Besoins complémentaires
                                </div>
                                <div class="col-6">
                                    {% if nominationVisite.visiteSejour.sujetsComplementairesFormation %}
                                            {{nominationVisite.visiteSejour.sujetsComplementairesFormation | raw}}
                                    {% else %}
                                            <p class="text-muted">Non renseigné</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="border rounded border-primary p-3 my-1">
                            <h5>Les installations et les aménagements du camp</h5>
                            <div class="row border rounded border-secondary p-3 my-1">
                                <div class="col-6">
                                    Evaluation
                                </div>
                                <div class="col-6">
                                    {{nominationVisite.visiteSejour.evalAmenagement}}
                                </div>
                            </div>
                            <div class="row border rounded border-secondary p-3 my-1">
                                <div class="col-6">
                                    Autres points repérés
                                </div>
                                <div class="col-6">
                                    {% if nominationVisite.visiteSejour.autresAmenagement %}
                                            {{nominationVisite.visiteSejour.autresAmenagement | raw}}
                                    {% else %}
                                            <p class="text-muted">Non renseigné</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="border rounded border-primary p-3 my-1">
                            <h5>L'hygiène</h5>
                            <div class="row border rounded border-secondary p-3 my-1">
                                <div class="col-6">
                                    Evaluation
                                </div>
                                <div class="col-6">
                                    {{nominationVisite.visiteSejour.evalHygiene}}
                                </div>
                            </div>
                            <div class="row border rounded border-secondary p-3 my-1">
                                <div class="col-6">
                                    Autres points repérés
                                </div>
                                <div class="col-6">
                                    {% if nominationVisite.visiteSejour.autresHygiene %}
                                            {{nominationVisite.visiteSejour.autresHygiene | raw}}
                                    {% else %}
                                            <p class="text-muted">Non renseigné</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="border rounded border-primary p-3 my-1">
                            <h5>Cuisine et alimentation</h5>
                            <div class="row border rounded border-secondary p-3 my-1">
                                <div class="col-6">
                                        Evaluation
                                </div>
                                <div class="col-6">
                                    {{nominationVisite.visiteSejour.evalAlimentation}}
                                </div>
                            </div>
                            <div class="row border rounded border-secondary p-3 my-1">
                                <div class="col-6">
                                    Autres points repérés
                                </div>
                                <div class="col-6">
                                    {% if nominationVisite.visiteSejour.autresAlimentation %}
                                            {{nominationVisite.visiteSejour.autresAlimentation | raw}}
                                    {% else %}
                                            <p class="text-muted">Non renseigné</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="border rounded border-primary p-3 my-1">
                            <h5>La gestion administrative et financière</h5>
                            <div class="row border rounded border-secondary p-3 my-1">
                                <div class="col-6">
                                    Evaluation
                                </div>
                                <div class="col-6">
                                    {{nominationVisite.visiteSejour.evalGestionAdminFinanciere}}
                                </div>
                            </div>
                            <div class="row border rounded border-secondary p-3 my-1">
                                <div class="col-6">
                                    Autres points repérés
                                </div>
                                <div class="col-6">
                                    {% if nominationVisite.visiteSejour.autresGestionAdminFinanciere %}
                                            {{nominationVisite.visiteSejour.autresGestionAdminFinanciere | raw}}
                                    {% else %}
                                            <p class="text-muted">Non renseigné</p>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="row border rounded border-secondary p-3 my-1">
                                <div class="col-6">
                                    Une ligne de dépenses du budget a t-elle été sous évaluée ?
                                </div>
                                <div class="col-6">
                                    {% if nominationVisite.visiteSejour.sousEvaluationBudget %}
                                            {{nominationVisite.visiteSejour.sousEvaluationBudget | raw}}
                                    {% else %}
                                            <p class="text-muted">Non renseigné</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="border rounded border-primary p-3 my-1">
                            <h5>La communication et les relations extérieures</h5>
                            <div class="row border rounded border-secondary p-3 my-1">
                                <div class="col-6">
                                    Evaluation
                                </div>
                                <div class="col-6">
                                    {{nominationVisite.visiteSejour.evalCommunicationExterne}}
                                </div>
                            </div>
                            <div class="row border rounded border-secondary p-3 my-1">
                                <div class="col-6">
                                    Autres points repérés
                                </div>                                
                                <div class="col-6">
                                    {% if nominationVisite.visiteSejour.autresCommunicationExterne %}
                                            {{nominationVisite.visiteSejour.autresCommunicationExterne | raw}}
                                    {% else %}
                                            <p class="text-muted">Non renseigné</p>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="row border rounded border-secondary p-3 my-1">
                                <div class="col-6">
                                    Autres points repérés
                                </div>
                                <div class="col-6">
                                    {% if nominationVisite.visiteSejour.autresCommunicationExterne %}
                                            {{nominationVisite.visiteSejour.autresCommunicationExterne | raw}}
                                    {% else %}
                                            <p class="text-muted">Non renseigné</p>
                                    {% endif %}
                                </div>                                                                                
                            </div>
                            <div class="row border rounded border-secondary p-3 my-1">
                                <div class="col-6">
                                    Dispositif d'informations aux parents
                                </div>
                                <div class="col-6">
                                    {% if nominationVisite.visiteSejour.dispositifInfosParents %}
                                            {{nominationVisite.visiteSejour.dispositifInfosParents | raw}}
                                    {% else %}
                                            <p class="text-muted">Non renseigné</p>
                                    {% endif %}
                                </div>  
                            </div>
                        </div>
                        <div class="border rounded border-primary p-3 my-1">
                            <h5>La santé</h5>
                            <div class="row border rounded border-secondary p-3 my-1">
                                <div class="col-6">
                                    Evaluation
                                </div>
                                <div class="col-6">
                                    {{nominationVisite.visiteSejour.evalSante}}
                                </div>
                            </div>
                            <div class="row border rounded border-secondary p-3 my-1">
                                <div class="col-6">
                                    Autres points repérés
                                </div>
                                <div class="col-6">
                                    {% if nominationVisite.visiteSejour.autresSante %}
                                            {{nominationVisite.visiteSejour.autresSante | raw}}
                                    {% else %}
                                            <p class="text-muted">Non renseigné</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="border rounded border-primary p-3 my-1">
                            <h5>Général</h5>
                            <div class="row border rounded border-secondary p-3 my-1">
                                <div class="col-6">
                                    Points à valoriser / points à améliorer / questionnements
                                </div>
                                <div class="col-6">
                                    {% if nominationVisite.visiteSejour.evalPointsGeneraux %}
                                            {{nominationVisite.visiteSejour.evalPointsGeneraux | raw}}
                                    {% else %}
                                            <p class="text-muted">Non renseigné</p>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="row border rounded border-secondary p-3 my-1">
                                <div class="col-6">
                                    Avis général
                                </div>
                                <div class="col-6">
                                    {% if nominationVisite.visiteSejour.evalAvisGeneral %}
                                            {{nominationVisite.visiteSejour.evalAvisGeneral | raw}}
                                    {% else %}
                                            <p class="text-muted">Non renseigné</p>
                                    {% endif %}
                                </div>
                            </div>                                                                            
                        </div>
                    </div>
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>
{% endif %}