<div class="alert alert-secondary row my-1" role="alert">
    <div class="col-1">
        {{ include('components/icones/7 - Documents utiles.svg') }}
    </div>
    <div class="col-11">
        {% if doc.type == constant('App\\Entity\\DocumentRessource::TYPE_FICHIER') %}
            <a target='_blank' href="{{ vich_uploader_asset(doc.document) }}">
                {% if nom is defined %}
                    {{nom}}
                {% else %}
                    {{doc.nom}}
                {% endif %}
            </a>
        {% else %}
            <a target='_blank' href="{{doc.lien}}">
                {% if nom is defined %}
                    {{nom}}
                {% else %}
                    {{doc.nom}}
                {% endif %}
            </a>
        {% endif %}
        <br>
        <small class="text-muted">
            {% if description is defined %}
                {{description}}
            {% else %}
                {{doc.description}}
            {% endif %}
        </small>
    </div>
</div>