<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{url_portail}}">
        <img width="50" height="auto" src="{{ asset('images/logo.jpg') }}" alt="Logo EEDF">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="{{path('home')}}">
            {{ include('components/icones/1 - Accueil.svg') }}Accueil</a>
        </li>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
          {% set structures = app.user.structuresOrganisation|merge(app.user.structuresValidation)|reduce(
              (structures, item) => item in structures ? structures : structures|merge([item]), []
          ) %}
          {% if is_granted('ROLE_VALIDATION_NATIONALE') 
            or is_granted('ROLE_VALIDATION_INTERNATIONALE') 
            or (structures|length > 0 ) %}
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                {{ include('components/icones/Mes rôles.svg') }}Mes périmètres
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  {% for structure in structures %}
                    {% if structure.statut == constant('App\\Entity\\Structure::STATUT_STRUCTURE_AUTONOME') %}
                      <li>
                          <a class="dropdown-item" href="{{ path('gestion_structure', {id: structure.id}) }}">{{ structure.nom}} </a>
                      </li>
                    {% endif %}
                    {% if structure.statut == constant('App\\Entity\\Structure::STATUT_STRUCTURE_RATTACHEE') %}
                      <li>
                          <a class="dropdown-item" href="{{ path('gestion_structure', {id: structure.id}) }}">{{ structure.nom}} (sous tutelle) </a>
                      </li>
                    {% endif %}
                  {% endfor %}
                  {% if is_granted('ROLE_VALIDATION_NATIONALE')%}
                  <li>
                      <a class="dropdown-item" href="{{ path('gestion_sejours_nationaux') }}">Séjours nationaux</a>
                  </li>
                  {% endif %}
                  {% if is_granted('ROLE_VALIDATION_INTERNATIONALE')%}
                  <li>
                      <a class="dropdown-item" href="{{ path('gestion_sejours_internationaux') }}">Séjours internationaux</a>
                  </li>
                  {% endif %}
              </ul>
          </li>
          {% endif %}
          <li class="nav-item">
            <a class="nav-link" href="{{ path('tableau_de_bord') }}">
            {{ include('components/icones/3 - Mes séjours.svg') }}
            Mes séjours</a>
          </li>
        {% endif %}
        {% if is_granted('IS_AUTHENTICATED_FULLY')  %}
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                {{ include('components/icones/Outils.svg') }}Outils
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li>
                    <a class="dropdown-item" href="{{ path('documents_utiles') }}">
                      {{ include('components/icones/7 - Documents utiles.svg') }}Documents
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="{{ path('lieux_sejours') }}">
                      {{ include('components/icones/5 - Lieux de séjours.svg') }}Lieux de séjours
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="{{ path('base_sejours') }}">
                      {{ include('components/icones/6 - Données de séjours.svg') }}Tous les séjours
                    </a>
                  </li>
              </ul>
          </li>
        {% endif %}
        {% if is_granted('IS_AUTHENTICATED_FULLY')  %}
          <li class="nav-item dropdown">
              <a class="position-relative nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <div class="position-relative d-inline-block">
                  {{ include('components/icones/2 - Mon compte.svg') }}
                  {% if app.user.notificationsNonLues %}
                    <span class="position-absolute top-0 start-0 p-1 bg-danger border border-light rounded-circle">
                      <span class="visually-hidden">New alerts</span>
                    </span>
                  {% endif %}
                </div>
                Mon compte
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li>
                    <a class="dropdown-item" href="{{path('profil_utilisateur')}}">
                      {{ include('components/icones/Profil.svg') }}Profil
                    </a>
                  </li>
                  <li>
                      <a class=" dropdown-item" href="{{path('notifications')}}">
                        <div class="position-relative d-inline-block">
                          {{ include('components/icones/4 - Mes notifications.svg') }}
                          {% if app.user.notificationsNonLues %}
                            <span class="position-absolute top-0 start-0 p-1 bg-danger border border-light rounded-circle">
                              <span class="visually-hidden">New alerts</span>
                            </span>
                          {% endif %}
                        </div>
                        Mes notifications
                      </a>
                  </li>
              </ul>
          </li>
        {% endif %}
        {% if is_granted('ROLE_ANIMATION') 
            or is_granted('ROLE_SUPPORT') 
            or is_granted('ROLE_ADMIN')  %}        
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                {{ include('components/icones/Gestion.svg') }}Gestion de R.O.A.D.S
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  {% if is_granted('ROLE_ANIMATION') %}
                    <li>
                      <a class="dropdown-item" href="{{path('animation_general')}}">
                      {{ include('components/icones/Animation.svg') }}Animation</a>
                    </li>
                  {% endif %}
                  {% if is_granted('ROLE_SUPPORT') %}
                    <li>
                      <a class="dropdown-item" href="{{ path('aide_support') }}">
                      {{ include('components/icones/Aide au support.svg') }}Aide au support</a>
                    </li>
                  {% endif %}
                  {% if is_granted('ROLE_ADMIN') %}
                    <li>
                      <a class="dropdown-item" href="{{ path('admin_general') }}">
                      {{ include('components/icones/Administration.svg') }}Administration</a>
                    </li>
                  {% endif %}
              </ul>
          </li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link" href="{{ path('support') }}">
          {{ include('components/icones/Un problème.svg') }}Un problème ?</a>
        </li>
        
      </ul>
        {% if app.user %}
            <div class="d-flex flex-column ">
                <span class ="text-secondary fs-5 text" ><i class="fa fa-user-circle"></i> {{ app.user.prenom }} {{ app.user.nom}} </span>
                <a class="badge rounded-pill bg-secondary link-light fs-6 text" href="{{ path('app_logout') }}"><i class="fa fa-sign-out-alt"></i> Déconnexion</a>
            </div>
        {% else %}
            <div class="d-flex" >
                <br><a class="badge rounded-pill bg-secondary link-light fs-6 text" href="{{ path('jeito_connect') }}"><i class="fa fa-user-circle"></i> Se connecter</a>
            </div>
        {% endif %}  
    </div>
  </div>
</nav>