{% if sejour.visitable %}
        {% if sejour.nominationsVisiteSejour | length > 0 %}
            {% set toutes_les_visites_effectuees = true %}
            {% for nomination_visite in sejour.nominationsVisiteSejour %}
                {% if nomination_visite.visiteSejour == null %}
                    {% set toutes_les_visites_effectuees = false %}
                {% endif %}
            {% endfor %}
            {% if toutes_les_visites_effectuees %}
                <span class="text-success"><i class="fa fa-square-check" data-toggle="tooltip" title="Visite(s) terminée(s)"></i></span>
            {% else %}
                <span class="text-warning"><i class="fa fa-clock" data-toggle="tooltip" title="Visite(s) programmée(s)"></i></span>
            {% endif %}
        {% else %}
                <span class="text-danger"><i class="fa fa-calendar-xmark" data-toggle="tooltip" title="Pas de visites prévues"></i></span>
        {% endif %}
{% endif %}