{% for status in workflow_marked_places(sejour) %}
    <span class="badge rounded-pill"
        {% if status == constant('STATUT_SEJOUR_DECLARATION_INTENTION', sejour) %}
            style="background-color:#f7a800"
        {% elseif status == constant('STATUT_SEJOUR_ATTENTE_CONFIRMATION_DIRECTEUR', sejour) %}
            style="background-color:#dcae04"
        {% elseif status == constant('STATUT_SEJOUR_CONSTRUCTION_PROJET', sejour) %}
            style="background-color:#c1b508"
        {% elseif status == constant('STATUT_SEJOUR_ATTENTE_VALIDATION', sejour) %}
             style="background-color:#a6bb0b"
        {% elseif status == constant('STATUT_SEJOUR_VALIDE', sejour) %}
            style="background-color:#89bb23"
        {% elseif status == constant('STATUT_SEJOUR_SUSPENDU', sejour) %}
             style="background-color:#bd1220"
        {% elseif status == constant('STATUT_SEJOUR_ANNULE', sejour) %}
             style="background-color:#000000"
        {% elseif status == constant('STATUT_SEJOUR_EN_COURS', sejour) %}
             style="background-color:#67b258"
        {% elseif status == constant('STATUT_SEJOUR_TERMINE', sejour) %}
             style="background-color:#43a990"
        {% elseif status == constant('STATUT_SEJOUR_CLOTURE', sejour) %}
             style="background-color:#1fa0c8"
        {% else %}
             style="background-color:#000000"
        {% endif %}
    >
        {{ constant('MAP_LABEL_PAR_STATUT_SEJOUR', sejour)[status] }}
    </span>
{% endfor %}


