                {% if sejour.nominationsVisiteSejour | length > 0 %}
                    <div class="row border rounded border-secondary p-3 m-3">
                        <div class="form-group table-responsive" >
                            <table class="table table-striped">
                                <thead>
                                    <th>Visiteu·r·se</th>
                                    <th>Nommé·e par</th>
                                    <th>Visite effectuée</th>
                                    {% if modification is defined %}
                                        <th>Action</th>
                                    {% endif %}
                                </thead>
                                <tbody>
                                {% for nominationVisite in sejour.nominationsVisiteSejour %}
                                    <tr>
                                        <td>{{ nominationVisite.visiteur.prenom }} {{ nominationVisite.visiteur.nom }}</td>
                                        <td>{{ nominationVisite.nommePar.prenom }} {{ nominationVisite.nommePar.nom }}</td>
                                        <td>
                                            {% if nominationVisite.visiteSejour %}
                                                Oui ( le {{ nominationVisite.visiteSejour.dateVisite | format_datetime(pattern="d MMMM y", locale='fr')}} )
                                                {% if modification is not defined %}
                                                    {{ include('components/detail_compte_rendu_visite.html.twig', { 'nominationVisite': nominationVisite}) }}
                                                {% endif %}
                                            {% else %}
                                                Non
                                            {% endif %}
                                        </td>
                                        {% if modification is defined %}
                                            <td>
                                                {% if nominationVisite.visiteSejour %}
                                                    {{ include('components/detail_compte_rendu_visite.html.twig', { 'nominationVisite': nominationVisite}) }}
                                                {% else %}
                                                    {% if page == 'animation' %}
                                                        <a class= "btn btn-primary" href="{{ path('animation_supprimer_role_visite_sejour', {nominationVisiteSejour: nominationVisite.id}) }}">Annuler la visite</a>
                                                    {% elseif page == 'structure' %}
                                                        <a class= "btn btn-primary" href="{{ path('supprimer_role_visite_sejour', {structure: structure.id, nominationVisiteSejour: nominationVisite.id}) }}">Annuler la visite</a>
                                                    {% elseif page == 'international' %}
                                                        <a class= "btn btn-primary" href="{{ path('supprimer_role_visite_sejour_international', {nominationVisiteSejour: nominationVisite.id}) }}">Annuler la visite</a>
                                                    {% elseif page == 'national' %}
                                                        <a class= "btn btn-primary" href="{{ path('supprimer_role_visite_sejour_national', {nominationVisiteSejour: nominationVisite.id}) }}">Annuler la visite</a>
                                                    {% endif %}
                                                {% endif %}
                                            </td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                {% else %}
                    <div class="alert alert-danger" role="alert">Aucune visite n'est prévue pour ce séjour</div>
                {% endif %}
