                    
                        <div class="row border rounded border-primary p-3 my-1">
                            <div class="col-6">
                                Prénom
                            </div>
                            <div class="col-6" >
                                {{directeur.prenom}}  
                            </div>
                        </div>
                        <div class="row border rounded border-primary p-3 my-1">
                            <div class="col-6">
                                Nom
                            </div>
                            <div class="col-6">
                                {{directeur.nom}}
                            </div>
                        </div>
                        <div class="row border rounded border-primary p-3 my-1">
                            <div class="col-6">
                                Numéro d'adhérent·e ou matricule salarié
                            </div>
                            <div class="col-6" >
                                {{directeur.numeroAdherentOuMatricule}}
                            </div>
                        </div>
                        {% if type is not defined or type !='archive'%}
                            <div class="row border rounded border-primary p-3 my-1">
                                <div class="col-6">
                                    Téléphone
                                </div>
                                <div class="col-6" >
                                    {% if directeur.telephoneUsage %}
                                        {{directeur.telephoneUsage|phone_number_format('NATIONAL')}}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="row border rounded border-primary p-3 my-1">
                                <div class="col-6">
                                    Adresse e-mail
                                </div>
                                <div class="col-6" >
                                    {{directeur.adresseMailUsage}}
                                </div>
                            </div>
                        {% endif %}