<a class= "btn btn-outline-secondary m-3" data-target="#gestion_direction_{{type}}" data-toggle="modal" href="#">Détail</a>
<div class="modal fade direction" id="gestion_direction_{{type}}" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                        <div class="modal-header">
                                <h5 class="modal-title">
                                {{sejour.directeur.prenom}} {{sejour.directeur.nom}}
                                        <span class="small-text badge bg-warning rounded-pill" >Direct·eur·rice</span> 
                                </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                </button>
                        </div>
                        <div class="modal-body">
                                <h3>Fonctions et qualifications</h3>
                                <div class="row border rounded border-primary p-3 my-1">
                                        <div class="col">
                                                {% if (sejour.qualificationDirection is not null) and  (sejour.qualificationDirection.diplomesDirection|length >0) %}
                                                {{sejour.qualificationDirection.diplomesDirection|join(", "," et ") }} 
                                                {% if sejour.qualificationDirection.equivalenceDiplomeDirection is not null %}
                                                        {{sejour.qualificationDirection.equivalenceDiplomeDirection}} 
                                                {% endif %}
                                                {% else %}
                                                <p class="text-muted">Non renseigné</p>
                                                {% endif %}
                                        </div>
                                        <div class="col"> 
                                                {% if sejour.qualificationDirection is not null %}
                                                {{sejour.qualificationDirection.qualiteDirection}}
                                                {% else %}
                                                <p class="text-muted">Non renseigné</p>
                                                {% endif %}
                                        </div>
                                </div>
                                <div class="row border rounded border-primary p-3 my-1">
                                        <div class="col">
                                                Permis B
                                        </div>
                                        <div class="col">
                                                {% if sejour.qualificationDirection is not null %}
                                                {% if sejour.qualificationDirection.permisB %}
                                                        Oui
                                                {% else %}
                                                        Non
                                                {% endif %}
                                                {% else %}
                                                <p class="text-muted">Non renseigné</p>
                                                {% endif %}
                                        </div>
                                </div>
                                <div class="row border rounded border-primary p-3 my-1">
                                        <div class="col">
                                                PSC1 ou équivalent
                                        </div>
                                        <div class="col">
                                                {% if sejour.qualificationDirection is not null %}
                                                {% if sejour.qualificationDirection.statutAssistantSanitaire %}
                                                        Oui
                                                {% else %}
                                                        Non
                                                {% endif %}
                                                {% endif %}
                                        </div>
                                </div>
                                <div class="row border rounded border-primary p-3 my-1">
                                        <div class="col">
                                                Fonction(s) sur le séjour
                                        </div>
                                        <div class="col">
                                                {% if sejour.qualificationDirection is not null %}
                                                {% if sejour.qualificationDirection.fonction is not null %}
                                                        {{sejour.qualificationDirection.fonction|join(", "," et ") }} 
                                                {% else %}
                                                        <p class="text-muted">Non renseigné</p>
                                                {% endif %}
                                                {% endif %}
                                        </div>
                                </div>
                        </div>
                        <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Retour</button>
                        </div>
                </div>
        </div>
</div>