<div class="accordion" id="accordionInfos">
                    <div class="row accordion-item my-3 ">
                        <h2 class="col accordion-header " id="accordionInfos-headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordionInfos-collapseOne" aria-expanded="true" aria-controls="accordionInfos-collapseOne">
                                <h1>Informations de structure et déclaration</h1>
                            </button>
                        </h2>
                        {% if type == 'construction' %}
                            {{ include('sejour/components/details_commentaires.html.twig', {
                               'sujet': constant('App\\Entity\\Commentaire::SUJET_SEJOUR_PROJET_SEJOUR_INFOS_GENERALES_INFOS_GENERALES')}) }}
                        {% else %}
                            {{ include('sejour/components/details_commentaires.html.twig', {
                               'sujet': constant('App\\Entity\\Commentaire::SUJET_SEJOUR_CLOTURE_INFOS_GENERALES_INFOS_GENERALES')}) }}
                        {% endif %}
                        <div id="accordionInfos-collapseOne" class="accordion-collapse collapse" aria-labelledby="accordionInfos-headingOne" data-bs-parent="#accordionInfos">
                            <div class="accordion-body"> 
                                <div class="row border rounded border-primary p-3 my-1">
                                    <div class="col-6">
                                        Publiée le
                                    </div>
                                    <div class="col-6">
                                        {{sejour.dateModification |format_datetime(pattern="d MMMM y \à H\:mm", locale='fr') }}
                                    </div>
                                </div>
                                <div class="row border rounded border-primary p-3 my-1">
                                    <div class="col-6">
                                        Nom du séjour
                                    </div>
                                    <div class="col-6">
                                        {{sejour.intitule}}               
                                    </div>
                                </div>
                                <div class="row border rounded border-primary p-3 my-1">
                                    <div class="col-6">
                                        Structure organisatrice
                                    </div>
                                    <div class="col-6">
                                        {{sejour.structureOrganisatrice.nom}}
                                    </div>
                                </div>
                                <div class="row border rounded border-primary p-3 my-1">
                                    <div class="col-6">
                                        Responsable de la structure
                                    </div>
                                    <div class="col-6">
                                        {% set arrayResponsablesStructures = [] %}
                                        {% if sejour.structureOrganisatrice.equipeGestion is not null %}
                                            {% for fonction in sejour.structureOrganisatrice.equipeGestion.fonctionsActives(constant('App\\Entity\\Fonction::TYPE_FONCTION_RESPONSABLE'),sejour.dateDebut ) %}
                                                {% set arrayResponsablesStructures = arrayResponsablesStructures|merge([fonction.personne.prenom ~ " " ~ fonction.personne.nom]) %}
                                            {% endfor %} 
                                            {{ arrayResponsablesStructures | join(', ', ' et ')}}
                                        {% else %} 
                                            Non défini·e
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row border rounded border-primary p-3 my-1">
                                    <div class="col-6">
                                        Région de rattachement de l'organisateur
                                    </div>
                                    <div class="col-6">
                                        {% if sejour.structureOrganisatrice.structureParent.echelon == constant('ECHELON_STRUCTURE_REGIONAL', sejour.structureOrganisatrice) %}
                                            {{sejour.structureOrganisatrice.structureParent.nom}}
                                        {% else %}
                                            <p class="text-muted">N/A</p>
                                        {% endif %}
                                    </div>
                                </div>     
                                <div class="row border rounded border-primary p-3 my-1">
                                    <div class="col-6">
                                        La ou le représentant·e de l'organisat·eur·rice pour le séjour au regard de la fiche initiale
                                        <small><i>(si différent du responsable de la structure)</i></small>
                                    </div>
                                    <div class="col-6">
                                        {% if sejour.structureOrganisatrice.nomOrganisateurDDCS %}
                                            {{sejour.structureOrganisatrice.prenomOrganisateurDDCS}} {{sejour.structureOrganisatrice.nomOrganisateurDDCS}}
                                        {% else %}
                                            <p class="text-muted">N/A</p>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row border rounded border-primary p-3 my-1">
                                    <div class="col-6">
                                        Numéro de déclaration initiale de la déclaration sur TAM (SDJES)
                                        <p class="text-muted">La mise à jour de ce numéro se fait dans le menu "<b>mes périmètres</b>" accessible aux personnes avec le droit d'organisation de la structure.</p>
                                    </div>
                                    <div class="col-6">
                                        {{sejour.structureOrganisatrice.numeroDeclarationInitiale}}
                                    </div>
                                </div>
                                <div class="row border rounded border-primary p-3 my-1">
                                    <div class="col-6">
                                        Accompagnant·e
                                    </div>
                                    <div class="col-6">
                                        {% if sejour.accompagnant %}
                                            {{sejour.accompagnant.prenom}} {{sejour.accompagnant.nom}} ({{sejour.accompagnant.numeroAdherentOuMatricule}})               
                                        {% else %}
                                            <p class="text-muted">Non défini</p>
                                        {% endif %}
                                    </div>
                                </div>
                                {% if type !='archive'%}
                                    <div class="row border rounded border-primary p-3 my-1">
                                        <div class="col-6">
                                            Fiche complémentaire
                                        </div>
                                        <div class="col-6">
                                            {% if sejour.ficheComplementaire %}
                                                    <a target='_blank' href="{{ vich_uploader_asset(sejour.ficheComplementaire) }}">Télécharger</a>
                                            {% else %}
                                                    <p class="text-muted">Non renseignée</p>
                                            {% endif %}
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="row accordion-item my-3 ">
                        <h2 class="col accordion-header " id="accordionInfos-headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordionInfos-collapseTwo" aria-expanded="true" aria-controls="accordionInfos-collapseTwo">
                                <h1>Identification de la personne qui dirige le séjour</h1>
                            </button>
                        </h2>
                        {% if type == 'construction' %}
                            {{ include('sejour/components/details_commentaires.html.twig', {
                               'sujet': constant('App\\Entity\\Commentaire::SUJET_SEJOUR_PROJET_SEJOUR_INFOS_GENERALES_DIRECTION')}) }}
                        {% else %}
                            {{ include('sejour/components/details_commentaires.html.twig', {
                               'sujet': constant('App\\Entity\\Commentaire::SUJET_SEJOUR_CLOTURE_INFOS_GENERALES_DIRECTION')}) }}
                        {% endif %}
                        <div id="accordionInfos-collapseTwo" class="accordion-collapse collapse" aria-labelledby="accordionInfos-headingTwo" data-bs-parent="#accordionInfos">
                            <div class="accordion-body"> 
                                <div class="alert alert-secondary" role="alert">Les informations ci-dessous sont issues de Jéito à partir de la fiche de cette personne. Pour les modifier, vous devez le faire directement sur la fiche de cette personne.</div>
                                {{ include('sejour/components/suivi/_detail_identification_directeur_sans_modif.html.twig', {'directeur': sejour.directeur}) }}
                            </div>
                        </div>
                    </div>
                    <div class="row accordion-item my-3 ">
                        <h2 class="col accordion-header " id="accordionInfos-headingFour">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordionInfos-collapseFour" aria-expanded="false" aria-controls="accordionInfos-collapseFour">
                                <h1>Unité(s) participante(s)</h1>
                            </button>
                        </h2>
                        {% if type == 'construction' %}
                            {{ include('sejour/components/details_commentaires.html.twig', {
                                'sujet': constant('App\\Entity\\Commentaire::SUJET_SEJOUR_PROJET_SEJOUR_INFOS_GENERALES_UNITES_PARTICIPANTES')}) }}
                        {% else %}
                            {{ include('sejour/components/details_commentaires.html.twig', {
                                'sujet': constant('App\\Entity\\Commentaire::SUJET_SEJOUR_CLOTURE_INFOS_GENERALES_UNITES_PARTICIPANTES')}) }}
                        {% endif %}
                        <div id="accordionInfos-collapseFour" class="accordion-collapse collapse" aria-labelledby="accordionInfos-headingFour" data-bs-parent="#accordionInfos">
                            <div class="accordion-body"> 
                                <div class="row border rounded border-primary p-3 my-1">
                                    <div class="col-6">
                                        Type de séjour
                                    </div>
                                    <div class="col-6">
                                        {{sejour.typeSejour}}               
                                    </div>
                                </div>
                                <div class="row border rounded border-primary p-3 my-1">
                                    <h3>Unités de la structure organisatrice participant au séjour</h3>
                                    <div class="col-6">
                                        
                                        {% if sejour.unitesStructureOrganisatrice | length > 0 %}
                                            <ul>
                                                {% for uniteParticipante in sejour.unitesStructureOrganisatrice %}
                                                    <li>
                                                        {{uniteParticipante.equipe.nom}}
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        {% else %}
                                            <p>Aucune unité de la structure organisatrice ne participe au séjour pour l'instant</p>
                                        {% endif %}
                                    </div>
                                </div>
                                {% if (sejour.typeSejour == constant('TYPE_SEJOUR_RASSEMBLEMENT', sejour))
                                    or (sejour.typeSejour == constant('TYPE_SEJOUR_REGROUPEMENT', sejour)) %}
                                    <div class="accordion-item my-3" id="structures_regroupement">
                                        <h2 class="accordion-header " id="accordeonModalites-headingFive">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordeonModalites-collapseFive" aria-expanded="true" aria-controls="accordeonModalites-collapseFive">
                                                <h1>Autre(s) structure(s) participant au séjour</h1>
                                            </button>
                                        </h2>
                                        <div id="accordeonModalites-collapseFive" class="accordion-collapse collapse" aria-labelledby="accordeonModalites-headingFive" data-bs-parent="#accordeonModalites">
                                            <div class="accordion-body">  
                                                {% for structure in sejour.structuresRegroupees %}
                                                <div class="row border rounded border-primary p-3 my-1">
                                                    {% if structure.estEEDF %}
                                                        <div class="col-6">
                                                            <h5>{{structure.structureEEDF.nom}}</h5> 
                                                            {% if structure.statutDemande == constant('STATUT_DEMANDE_ACCEPTE', structure) %}
                                                                <span class="badge bg-success rounded-pill" >Accepté par le·la repsonsable de la structure</span>
                                                            {% else %}
                                                                <span class="badge bg-secondary rounded-pill" >En attente d'acceptation de la structure</span>
                                                            {% endif %}
                                                            
                                                            <p class="text-muted">({{structure.structureEEDF.type}})</p>
                                                            
                                                        </div>
                                                        <div class="col-6">
                                                            {% if structure.unitesParticipantes | length > 0 %}
                                                                <ul>
                                                                    {% for uniteParticipante in structure.unitesParticipantes %}
                                                                        <li>
                                                                            {{uniteParticipante.equipe.nom}}
                                                                        </li>
                                                                    {% endfor %}
                                                                </ul>
                                                            {% else %}
                                                                <p><i>Aucune unité de cette structure ne participe au séjour pour l'instant</i></p>
                                                            {% endif %}
                                                        </div>
                                                    {% else %}
                                                        <div class="col-6">
                                                            {{structure.nomStructureNonEEDF}} <span class="badge bg-success rounded-pill" >non EEDF</span>
                                                        </div>
                                                        <div class="col-6">
                                                            {{structure.descriptionStructureNonEEDF}}
                                                        </div>
                                                    {% endif %}
                                                </div>
                                                {% endfor %} 
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="row accordion-item my-3 ">
                        <h2 class="col accordion-header " id="accordionInfos-headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordionInfos-collapseThree" aria-expanded="true" aria-controls="accordionInfos-collapseThree">
                                <h1>Modalités de séjour</h1>
                            </button>
                        </h2>
                        {% if type == 'construction' %}
                            {{ include('sejour/components/details_commentaires.html.twig', {
                               'sujet': constant('App\\Entity\\Commentaire::SUJET_SEJOUR_PROJET_SEJOUR_INFOS_GENERALES_MODALITES')}) }}
                        {% else %}
                            {{ include('sejour/components/details_commentaires.html.twig', {
                               'sujet': constant('App\\Entity\\Commentaire::SUJET_SEJOUR_CLOTURE_INFOS_GENERALES_MODALITES')}) }}
                        {% endif %}
                        <div id="accordionInfos-collapseThree" class="accordion-collapse collapse" aria-labelledby="accordionInfos-headingThree" data-bs-parent="#accordionInfos">
                            <div class="accordion-body">  
                                <div class="accordion accordion-flush" id="accordeonModalites">
                                    <div class="row border rounded border-primary p-3 my-1">
                                        <div class="col-6">
                                            Séjour ouvert
                                        </div>
                                        <div class="col-6">
                                            {% if sejour.sejourOuvert %}
                                                Oui
                                            {% else %}
                                                Non
                                            {% endif %}    
                                        </div>
                                    </div>
                                    <div class="row border rounded border-primary p-3 my-1">
                                        <div class="col-6">
                                            Séjour itinérant
                                        </div>
                                        <div class="col-6">
                                            {% if sejour.sejourItinerant %}
                                                Oui
                                            {% else %}
                                                Non
                                            {% endif %}    
                                        </div>
                                    </div>
                                    <div class="row border rounded border-primary p-3 my-1">
                                        <div class="col-6">
                                            Séjour à l'international
                                        </div>
                                        <div class="col-6">
                                            {% if sejour.international %}
                                                Oui
                                            {% else %}
                                                Non
                                            {% endif %}    
                                        </div>
                                    </div>
                                    <div class="row border rounded border-primary p-3 my-1">
                                        <div class="col-6">
                                        Séjour en France avec accueil d'un groupe étranger
                                        </div>
                                        <div class="col-6">
                                            {% if sejour.sejourFranceAvecAccueilEtranger %}
                                                Oui
                                            {% else %}
                                                Non
                                            {% endif %}    
                                        </div>
                                    </div>
                                    <div class="row border rounded border-primary p-3 my-1">
                                        <div class="col-6">
                                            Vacances apprenantes
                                        </div>
                                        <div class="col-6">
                                            {% if sejour.coloApprenante %}
                                                Oui
                                            {% else %}
                                                Non
                                            {% endif %}    
                                        </div>
                                    </div>
                                    <div class="row border rounded border-primary p-3 my-1">
                                        <div class="col-6">
                                            Dispositif d'appui
                                        </div>
                                        <div class="col-6">
                                            {{sejour.dispositifAppui}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>