<div class="accordion" id="accordionEffectifs">
                    <div class="row accordion-item my-3 ">
                        <h2 class="col accordion-header " id="accordionEffectifs-headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordionEffectifs-collapseThree" aria-expanded="true" aria-controls="accordionEffectifs-collapseThree">
                                <h1>Résumé</h1>
                            </button>
                        </h2>
                        {% if type == 'construction' %}
                            {{ include('sejour/components/details_commentaires.html.twig', {
                               'sujet': constant('App\\Entity\\Commentaire::SUJET_SEJOUR_PROJET_SEJOUR_EFFECTIFS_RESUME')}) }}
                        {% else %}
                            {{ include('sejour/components/details_commentaires.html.twig', {
                               'sujet': constant('App\\Entity\\Commentaire::SUJET_SEJOUR_CLOTURE_EFFECTIFS_RESUME')}) }}
                        {% endif %}
                        <div id="accordionEffectifs-collapseThree" class="accordion-collapse collapse" aria-labelledby="accordionEffectifs-headingThree" data-bs-parent="#accordionEffectifs">
                            <div class="accordion-body">
                                {{ include('sejour/components/resume_encadrement.html.twig', { 'resumeEffectifs': resumeEffectifs, 'sejour':sejour}) }}
                            </div>
                        </div>
                    </div>
                    {% if type !='archive'%}
                        <div class="row accordion-item my-3 ">
                            <h2 class="col accordion-header " id="accordionEffectifs-headingOne">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordionEffectifs-collapseOne" aria-expanded="true" aria-controls="accordionEffectifs-collapseOne">
                                    <h1>Equipe d'encadrement</h1>
                                </button>
                            </h2>
                            {% if type == 'construction' %}
                                {{ include('sejour/components/details_commentaires.html.twig', {
                                'sujet': constant('App\\Entity\\Commentaire::SUJET_SEJOUR_PROJET_SEJOUR_EFFECTIFS_ENCADREMENT')}) }}
                            {% else %}
                                {{ include('sejour/components/details_commentaires.html.twig', {
                                'sujet': constant('App\\Entity\\Commentaire::SUJET_SEJOUR_CLOTURE_EFFECTIFS_ENCADREMENT')}) }}
                            {% endif %}
                            <div id="accordionEffectifs-collapseOne" class="accordion-collapse collapse" aria-labelledby="accordionEffectifs-headingOne" data-bs-parent="#accordionEffectifs">
                                <div class="accordion-body">
                                    <div class="table-responsive">  
                                        <table class="table table-striped">
                                            <thead>
                                                <th>Nom et prénom</th>
                                                <th>Numéro adhérent·e</th>
                                                <th>Rôle</th>
                                                <th>Fonction</th>
                                                <th>Qualification</th>
                                                <th>Autre</th>
                                                <th>Actions</th>
                                            </thead>
                                            <tbody name="encadrants" class="encadrantsModif" >
                                                <!-- D'abord les qualifications du directeur -->
                                                <tr>
                                                    <td>{{sejour.directeur.prenom}} {{sejour.directeur.nom}}</td>
                                                    <td>
                                                        {{ sejour.directeur.numeroAdherentOuMatricule }}
                                                    </td>
                                                    <td><span class="badge bg-secondary rounded-pill" >Direct·eur·rice</span></td>
                                                    <td> 
                                                        {% if sejour.qualificationDirection is not null %}
                                                            {{sejour.qualificationDirection.fonction|join(", "," et ")}}
                                                        {% endif %}    
                                                    </td>
                                                    <td>
                                                        {% if (sejour.qualificationDirection is not null) and  (sejour.qualificationDirection.diplomesDirection|length >0) %}
                                                            {{sejour.qualificationDirection.diplomesDirection|join(", "," et ") }} 
                                                            {% if sejour.qualificationDirection.equivalenceDiplomeDirection is not null %}
                                                                {{sejour.qualificationDirection.equivalenceDiplomeDirection}} 
                                                            {% endif %} ({{ sejour.qualificationDirection.qualiteDirection }})
                                                        {% endif %}
                                                    </td>
                                                    <td>
                                                        <div class="row">
                                                            {% if sejour.qualificationDirection is not null %}
                                                                {% if sejour.qualificationDirection.permisB %}
                                                                    <div class="col">
                                                                        <i class="fa fa-car-side"></i>
                                                                    </div>
                                                                {% endif %}
                                                                {% if sejour.qualificationDirection.statutAssistantSanitaire %}
                                                                    <div class="col">
                                                                        <i class="fa fa-briefcase-medical"></i>
                                                                    </div>
                                                                {% endif %}
                                                            {% endif %}
                                                        </div>
                                                    </td>
                                                    <td>                           
                                                        {{ include('sejour/components/suivi/detail_qualification_direction_sans_modif.html.twig', { 'sejour': sejour, 'type': type}) }}  
                                                    </td>
                                                </tr>
                                                <!-- Ensuite chaque encadrant·e -->
                                                {% for index,encadrant in sejour.rolesEncadrants %}
                                                <tr>
                                                    <td>{% if encadrant.estEncadrantEEDF %} 
                                                                {{ encadrant.encadrantEEDF.prenom }} {{ encadrant.encadrantEEDF.nom }}
                                                        {% else %}
                                                                {{ encadrant.infosEncadrantNonEEDF.prenom }} {{ encadrant.infosEncadrantNonEEDF.nom }}
                                                        {% endif %} 
                                                    </td>
                                                    <td>
                                                        {% if encadrant.estEncadrantEEDF %} 
                                                                {{ encadrant.encadrantEEDF.numeroAdherentOuMatricule }}
                                                        {% else %}
                                                                <p class="text-muted">Non défini</p>
                                                        {% endif %}
                                                    </td>
                                                    <td>{{ encadrant.equipe }}</td>
                                                    <td>
                                                        {% if encadrant.fonction is not null %}
                                                            {{encadrant.fonction|join(", "," et ") }} 
                                                        {% else %}
                                                            <p class="text-muted">Non renseigné</p>
                                                        {% endif %}
                                                    </td>
                                                    <td>{{encadrant.diplomesAnimation|join(", "," et ") }} 
                                                        {% if encadrant.equivalenceDiplomeAnimation is not null %}
                                                            {{encadrant.equivalenceDiplomeAnimation}} 
                                                        {% endif %} ({{ encadrant.qualiteAnimation }})
                                                    </td>
                                                    <td>
                                                        <div class="row">
                                                            {% if encadrant.permisB %}
                                                            <div class="col">
                                                                <i class="fa fa-car-side"></i>
                                                            </div>
                                                            {% endif %}
                                                            {% if encadrant.statutAssistantSanitaire %}
                                                                <div class="col">
                                                                    <i class="fa fa-briefcase-medical"></i>
                                                                </div>
                                                            {% endif %}
                                                        </div>
                                                    </td>
                                                    <td>
                                                        {{ include('sejour/components/suivi/detail_encadrant_sans_modif.html.twig', { 'encadrant': encadrant, 'id': index,'type': type}) }}
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row accordion-item my-3 ">
                            <h2 class="col accordion-header " id="accordionEffectifs-headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordionEffectifs-collapseTwo" aria-expanded="true" aria-controls="accordionEffectifs-collapseTwo">
                                    <h1>Participant·e·s</h1>
                                </button>
                            </h2>
                            {% if type == 'construction' %}
                                {{ include('sejour/components/details_commentaires.html.twig', {
                                'sujet': constant('App\\Entity\\Commentaire::SUJET_SEJOUR_PROJET_SEJOUR_EFFECTIFS_PARTICIPANTS')}) }}
                            {% else %}
                                {{ include('sejour/components/details_commentaires.html.twig', {
                                'sujet': constant('App\\Entity\\Commentaire::SUJET_SEJOUR_CLOTURE_EFFECTIFS_PARTICIPANTS')}) }}
                            {% endif %}
                            <div id="accordionEffectifs-collapseTwo" class="accordion-collapse collapse" aria-labelledby="accordionEffectifs-headingTwo" data-bs-parent="#accordionEffectifs">
                                <div class="accordion-body">
                                    {% set sejourAvecStructuresEEDF = false %}
                                    {% for structuresRegroupee in sejour.structuresRegroupees %}
                                        {% if (structuresRegroupee.estEEDF) %}
                                            {% set sejourAvecStructuresEEDF = true %}
                                        {% endif %}
                                    {% endfor %}
                                    {% if sejour.unitesStructureOrganisatrice|length > 0 %}
                                        {% set sejourAvecStructuresEEDF = true %}
                                    {% endif %}

                                    {% if (sejourAvecStructuresEEDF) %}
                                        <div class="row border rounded border-secondary p-3 my-1">
                                            <h3>Unités EEDF</h3>
                                            <div class="table-responsive">
                                                <table class="table table-striped">
                                                    <thead>
                                                        <th>Structure</th>
                                                        <th>Unité</th>
                                                        <th>Nombre participant·e·s</th>
                                                        <th>Nombre non adhérent·e·s</th>
                                                        <th>Details / Action</th>
                                                    </thead>
                                                    <tbody>    
                                                        {% for uniteParticipante in sejour.unitesStructureOrganisatrice %}
                                                            <tr>
                                                                <td>{{ sejour.structureOrganisatrice.nom }} </td>
                                                                <td>{{ uniteParticipante.equipe.nom }} </td>
                                                                <td>{{ uniteParticipante.participantsAdherents | length }}</td>
                                                                <td>{{ uniteParticipante.participantsNonAdherents | length }}</td>
                                                                <td>{{ include('sejour/components/suivi/details_participants_unite_eedf.html.twig', {'uniteParticipante':uniteParticipante })}}</td>
                                                            </tr>
                                                        {% endfor %}
                                                        {% for structuresRegroupee in sejour.structuresRegroupees %}
                                                            {% if structuresRegroupee.estEEDF %}
                                                                {% for uniteParticipante in structuresRegroupee.unitesParticipantes %}
                                                                    <tr>
                                                                        <td>{{ structuresRegroupee.structureEEDF.nom }} </td>
                                                                        <td>{{ uniteParticipante.equipe.nom }} </td>
                                                                        <td>{{ uniteParticipante.participantsAdherents | length }}</td>
                                                                        <td>{{ uniteParticipante.participantsNonAdherents | length }}</td>
                                                                        {% if structuresRegroupee.statutDemande == constant('STATUT_DEMANDE_ACCEPTE', structuresRegroupee) %}
                                                                            <td>{{ include('sejour/components/suivi/details_participants_unite_eedf.html.twig', {'uniteParticipante':uniteParticipante })}}</td>
                                                                        {% else %}
                                                                            <td><span class="badge bg-secondary rounded-pill" >En attente d'acceptation de la structure</span></td>
                                                                        {% endif %}
                                                                    </tr>
                                                                {% endfor %}
                                                            {% endif %}
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    {% endif %}
                                    {% set sejourAvecStructuresNonEEDF = false %}
                                    {% for structuresRegroupee in sejour.structuresRegroupees %}
                                        {% if not (structuresRegroupee.estEEDF) %}
                                            {% set sejourAvecStructuresNonEEDF = true %}
                                        {% endif %}
                                    {% endfor %}

                                    {% if sejourAvecStructuresNonEEDF %}
                                        <div class="row border rounded border-secondary p-3 my-1">
                                            <h3>Structures non EEDF</h3>
                                            <div class="table-responsive">
                                                <table class="table table-striped">
                                                    <thead>
                                                        <th>Structure</th>
                                                        <th>Nombre participant·e·s de moins de 14 ans</th>
                                                        <th>Nombre participant·e·s de plus de 14 ans</th>
                                                        <th>Total</th>
                                                    </thead>
                                                    <tbody>   
                                                        {% for structuresRegroupee in sejour.structuresRegroupees %}
                                                            {% if not (structuresRegroupee.estEEDF) %}
                                                                <tr>
                                                                    <td>{{ structuresRegroupee.nomStructureNonEEDF }} </td>
                                                                    <td>{{ structuresRegroupee.nbEnfantMoins14StructNonEEDF }}</td>
                                                                    <td>{{ structuresRegroupee.nbEnfantsPlus14StructNonEEDF }}</td>
                                                                    <td>{{ structuresRegroupee.nbEnfantMoins14StructNonEEDF +  structuresRegroupee.nbEnfantsPlus14StructNonEEDF }}</td>
                                                                </tr>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    {% endif %}
                                    <div class="row border rounded border-secondary p-3 my-1">
                                        <h3>Participant·e·s à besoins spécifiques</h3>
                                        <div class="row border rounded border-primary p-3 my-1">
                                            <div class="col-6" >
                                                {% if sejour.aspectsParticipantsBesoinsSpecifiquesSejour is not null %}
                                                    {{sejour.aspectsParticipantsBesoinsSpecifiquesSejour.descParticipantsBesoinsSpecifiques|raw}}
                                                {% else %}
                                                    <p class="text-muted">Non renseigné</p>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>