
<a class= "btn btn-outline-secondary m-3" data-target="#gestion_encadrant_{{id}}_{{type}}" data-toggle="modal" href="#">Détail</a>
<div class="modal fade encadrant" id="gestion_encadrant_{{id}}_{{type}}" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    {% if encadrant.encadrantEEDF %} 
                            {{ encadrant.encadrantEEDF.prenom }} {{ encadrant.encadrantEEDF.nom }}
                    {% elseif encadrant.infosEncadrantNonEEDF %}
                            {{ encadrant.infosEncadrantNonEEDF.prenom }} {{ encadrant.infosEncadrantNonEEDF.nom }} (Non adhérent·e)
                    {% else %}
                            Nouvel·le encadrant·e
                    {% endif %}
                    {% if encadrant.fonction is not null %}
                            {% if "Direction adjointe" in encadrant.fonction %}
                            <span class="small-text badge bg-warning rounded-pill" >Direct·eur·rice adjoint·e</span>
                            {% endif %}
                    {% endif %}
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class ="border rounded border-secondary p-3 m-1">
                    <h3>Identité</h3>
                    {% if encadrant.estEncadrantEEDF %} 
                        {{ encadrant.encadrantEEDF.prenom }} {{ encadrant.encadrantEEDF.nom }} ({{ encadrant.encadrantEEDF.numeroAdherentOuMatricule }})
                    {% else %}
                        {{ encadrant.infosEncadrantNonEEDF.prenom }} {{ encadrant.infosEncadrantNonEEDF.nom }} (Non adhérent·e) 
                    {% endif %}
                </div>
                <div class ="border rounded border-secondary p-3 m-1">
                    <h3>Rôles et fonctions pour ce séjour</h3>
                    <div class="row border rounded border-primary p-3 my-1">
                        <div class="col">
                            L'encadrant·e fait partie de
                        </div>
                        <div class="col">
                            {{encadrant.equipe}}
                        </div>
                    </div>
                    <div class="row border rounded border-primary p-3 my-1">
                        <div class="col">
                            Fonction(s) sur le séjour
                        </div>
                        <div class="col">
                            {% if encadrant.fonction is not null %}
                                {{encadrant.fonction|join(", "," et ") }} 
                            {% else %}
                                <p class="text-muted">Non renseigné</p>
                            {% endif %}
                        </div>
                    </div>
                    {% if encadrant.attacher != 'non' %}
                        <div class="row border rounded border-primary p-3 my-1">
                            <div class="col">
                                Rattaché·e à
                            </div>
                            <div class="col">
                                {% if encadrant.attacher == 'eedf' %}
                                    {{encadrant.uniteParticipante.equipe.nom }} 
                                {% elseif encadrant.attacher == 'non_eedf' %}
                                    {{ encadrant.structureNonEEDF.nomStructureNonEEDF}}
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}
                </div>
                <div class ="border rounded border-secondary p-3 m-1">
                    <h3>Qualifications</h3>
                    <div class="row border rounded border-primary p-3 my-1">
                        <div class="col">
                            {{encadrant.diplomesAnimation|join(", "," et ") }} 
                            {% if encadrant.equivalenceDiplomeAnimation is not null %}
                                {{encadrant.equivalenceDiplomeAnimation}} 
                            {% endif %}
                        </div>
                        <div class="col"> 
                            {{encadrant.qualiteAnimation}}
                        </div>
                    </div>
                    <div class="row border rounded border-primary p-3 my-1">
                        <div class="col">
                            PSC1 ou équivalent
                        </div>
                        <div class="col">
                            {% if encadrant.statutAssistantSanitaire %}
                                Oui
                            {% else %}
                                Non
                            {% endif %}
                        </div>
                    </div>
                    <div class="row border rounded border-primary p-3 my-1">
                        <div class="col">
                            Permis B
                        </div>
                        <div class="col">
                            {% if encadrant.permisB %}
                                Oui
                            {% else %}
                                Non
                            {% endif %}
                        </div>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Retour</button>
            </div>
        </div>
    </div>
</div>
