    <div class="tab-pane fade show active" id="projet-sejour" role="tabpanel" aria-labelledby="projet-sejour-tab">
        <div class="container py-2">
            <h2>Bilan du projet</h2> 
            <p>Au travers des différents onglets ci-dessous, retrouvez les informations de bilan du séjour.</p>
        </div>
        <div class="pane-content-inner">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="cloture-infos-generales-tab" data-bs-toggle="tab" data-bs-target="#cloture-infos-generales" type="button" role="tab" aria-controls="cloture-infos-generales" aria-selected="true">Informations générales</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="cloture-retours-generaux-tab" data-bs-toggle="tab" data-bs-target="#cloture-retours-generaux" type="button" role="tab" aria-controls="cloture-retours-generaux" aria-selected="true">Retours généraux</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link " id="cloture-effectifs-tab" data-bs-toggle="tab" data-bs-target="#cloture-effectifs" type="button" role="tab" aria-controls="cloture-effectifs" aria-selected="false">Effectifs</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="cloture-dates-lieux-tab" data-bs-toggle="tab" data-bs-target="#cloture-dates-lieux" type="button" role="tab" aria-controls="cloture-dates-lieux" aria-selected="false">Dates et lieux</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="cloture-peda-tab" data-bs-toggle="tab" data-bs-target="#cloture-peda" type="button" role="tab" aria-controls="cloture-peda" aria-selected="false">Démarches pédagogiques </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="cloture-logistique-tab" data-bs-toggle="tab" data-bs-target="#cloture-logistique" type="button" role="tab" aria-controls="cloture-logistique" aria-selected="false">Aspects logistiques</button>
                </li>
            </ul>
            <div class="tab-content" id="tabClotureSejourContent">
                <div class="tab-pane fade show active" id="cloture-infos-generales" role="tabpanel" aria-labelledby="cloture-infos-generales-tab">
                    {{ include('sejour/components/suivi/detail_informations_generales_sejour_sans_modif.html.twig', {'type': 'cloture'})}}
                </div>
                <div class="tab-pane fade" id="cloture-retours-generaux" role="tabpanel" aria-labelledby="cloture-retours-generaux-tab">
                    <div class="accordion" id="accordionRetoursGeneraux">
                        <div class="row accordion-item my-3 ">
                            <h2 class="col accordion-header " id="accordionRetoursGeneraux-headingOne">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordionRetoursGeneraux-collapseOne" aria-expanded="true" aria-controls="accordionRetoursGeneraux-collapseOne">
                                    <h1>Retours généraux</h1>
                                </button>
                            </h2>
                            {{ include('sejour/components/details_commentaires.html.twig', {
                                    'sujet': constant('App\\Entity\\Commentaire::SUJET_SEJOUR_CLOTURE_RETOURS_GENERAUX')}) }}
                            <div id="accordionRetoursGeneraux-collapseOne" class="accordion-collapse collapse" aria-labelledby="accordionRetoursGeneraux-headingOne" data-bs-parent="#accordionRetoursGeneraux">
                                <div class="accordion-body">
                                    <div class="wrapper">
                                        <div class="row border rounded border-primary p-3 my-1">
                                                <div class="col-6">
                                                Le séjour a fait l’objet d’une activité “Vis mon camp”
                                                </div>
                                                <div class="col-6">
                                                    {% if sejour.retourSejour and sejour.retourSejour.visMonCamp %}
                                                            Oui
                                                    {% else %}
                                                            Non
                                                    {% endif %}    
                                                </div>
                                        </div>
                                        {% if sejour.retourSejour and sejour.retourSejour.visMonCamp %}
                                            <div class="row border rounded border-primary p-3 my-1">
                                                <div class="col-6">
                                                    Précisions
                                                </div>
                                                <div class="col-6">
                                                    {% if sejour.retourSejour.precisionsVisMonCamp %}
                                                            {{sejour.retourSejour.precisionsVisMonCamp|raw }}
                                                    {% else %}
                                                            <p class="text-muted">Non renseigné</p>
                                                    {% endif %} 
                                                </div>
                                            </div>
                                        {% endif %}
                                        <div class="row border rounded border-primary p-3 my-1">
                                            <div class="col-6">
                                                Le séjour fait l'objet d'un reportage ou d'un article dans les médias
                                            </div>
                                            <div class="col-6">
                                                {% if sejour.retourSejour and sejour.retourSejour.parutionMedias %}
                                                        Oui
                                                {% else %}
                                                        Non
                                                {% endif %}    
                                            </div>
                                        </div>
                                        {% if sejour.retourSejour and sejour.retourSejour.parutionMedias %}
                                            <div class="row border rounded border-primary p-3 my-1">
                                                <div class="col-6">
                                                    Nom du média
                                                </div>
                                                <div class="col-6">
                                                    {{sejour.retourSejour.nomMedia}}   
                                                </div>
                                            </div>
                                            <div class="row border rounded border-primary p-3 my-1">
                                                <div class="col-6">
                                                    Date
                                                </div>
                                                <div class="col-6">
                                                    {{sejour.retourSejour.dateMedia |format_datetime(pattern="d MMMM y", locale='fr')}}   
                                                </div>
                                            </div>
                                        {% endif %}
                                        <div class="row border rounded border-primary p-3 my-1">
                                            <div class="col-6">
                                                Visites des services de l'Etat sur le séjour
                                            </div>
                                            <div class="col-6">
                                                {% if sejour.retourSejour and sejour.retourSejour.visiteEtat %}
                                                        Oui
                                                {% else %}
                                                        Non
                                                {% endif %}    
                                            </div>
                                        </div>
                                        {% if sejour.retourSejour and sejour.retourSejour.visiteEtat %}
                                            <div id="liste_visites" class="row border rounded border-primary p-3 my-1">
                                                <h3>Visites de l'Etat</h3>
                                                <div class="accordion visites" id="accordionVisites">
                                                    {% for visite in sejour.retourSejour.visites %}
                                                        {{ include('sejour/components/suivi/detail_visite_etat_sejour.html.twig', { 'visite': visite}) }}
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        {% endif %}
                                        <div class="row border rounded border-primary p-3 my-1">
                                            <div class="col-6">
                                                Survenue d'évenements graves sur le séjour
                                            </div>
                                            <div class="col-6">
                                                {% if sejour.retourSejour and sejour.retourSejour.evenementsGraves %}
                                                        Oui
                                                {% else %}
                                                        Non
                                                {% endif %}    
                                            </div>
                                        </div>
                                        {{ include('components/document_ressource.html.twig', { 'doc': docDefAccidentGrave}) }}                                           
                                        {% if sejour.retourSejour and sejour.retourSejour.evenementsGraves %}
                                            <div id="liste_evenements_graves" class="row border rounded border-primary p-3 my-1">
                                                <h3>Evenements graves</h3>
                                                <div class="accordion evenements_graves" id="accordionEvenementsGaves">
                                                    {% for evenementGrave in sejour.retourSejour.descriptionEvenementsGraves %}
                                                        {{ include('sejour/components/suivi/detail_evenement_grave_sejour.html.twig', { 'evenementGrave': evenementGrave}) }}
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        {% endif %}
                                        <div class="row border rounded border-primary p-3 my-1">
                                            <div class="col-6">
                                                Incidents mineurs éventuels
                                            </div>
                                            <div class="col-6">
                                            {% if sejour.retourSejour and sejour.retourSejour.incidentsMineurs %}
                                                {{sejour.retourSejour.incidentsMineurs|raw }}
                                            {% else %}
                                                <p class="text-muted">Non renseigné</p>
                                            {% endif %}    
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="cloture-effectifs" role="tabpanel" aria-labelledby="cloture-effectifs-tab">
                    {{ include('sejour/components/suivi/detail_effectifs_sejour_sans_modif.html.twig', {'type': 'cloture'})}}
                </div>
                <div class="tab-pane fade" id="cloture-dates-lieux" role="tabpanel" aria-labelledby="cloture-dates-lieux-tab">
                    {{ include('sejour/components/suivi/detail_dates_lieux_sejour_sans_modif.html.twig', {'type': 'cloture'})}}
                </div>
                <div class="tab-pane fade" id="cloture-peda" role="tabpanel" aria-labelledby="cloture-peda-tab">
                    <div class="accordion" id="accordionDemarchesPeda">
                        <div class="row accordion-item my-3 ">
                            <h2 class="col accordion-header " id="accordionDemarchesPeda-headingOne">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordionDemarchesPeda-collapseOne" aria-expanded="true" aria-controls="accordionDemarchesPeda-collapseOne">
                                    <h1>Bilans pédagogiques</h1>
                                </button>
                            </h2>
                            {{ include('sejour/components/details_commentaires.html.twig', {
                                    'sujet': constant('App\\Entity\\Commentaire::SUJET_SEJOUR_CLOTURE_PEDA')}) }}
                            <div id="accordionDemarchesPeda-collapseOne" class="accordion-collapse collapse" aria-labelledby="accordionDemarchesPeda-headingOne" data-bs-parent="#accordionDemarchesPeda">
                                <div class="accordion-body">
                                    <div class="row border rounded border-primary p-3 my-1">
                                        <div class="col-6">
                                            Bilan du séjour au regard des critères choisis
                                        </div>
                                        <div class="col-6">
                                            {% if sejour.bilanPeda %}
                                                {{sejour.bilanPeda|raw }}
                                            {% else %}
                                                <p class="text-muted">Non renseigné</p>
                                            {% endif %}    
                                        </div>
                                    </div>
                                    {% if (sejour.international or sejour.sejourFranceAvecAccueilEtranger) %}
                                        <div class="row border rounded border-primary p-3 my-1">
                                            <div class="col-6">
                                                Bilan international
                                            </div>
                                            <div class="col-6">
                                                {% if sejour.retourCampInternational %}
                                                    <a class="btn btn-secondary" target='_blank' href="{{ vich_uploader_asset(sejour.retourCampInternational) }}">Accéder au bilan international</a>
                                                {% else %}
                                                    <p class="text-muted">Non renseigné</p>
                                                {% endif %}
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="cloture-logistique" role="tabpanel" aria-labelledby="cloture-logistique-tab">
                    <div class="accordion" id="accordionLogistique">
                        <div class="row accordion-item my-3 ">
                            <h2 class="col accordion-header " id="accordionLogistique-headingOne">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordionLogistique-collapseOne" aria-expanded="true" aria-controls="accordionLogistique-collapseOne">
                                    <h1>Logistique</h1>
                                </button>
                            </h2>
                            {{ include('sejour/components/details_commentaires.html.twig', {
                                    'sujet': constant('App\\Entity\\Commentaire::SUJET_SEJOUR_CLOTURE_LOGISTIQUE')}) }}
                            <div id="accordionLogistique-collapseOne" class="accordion-collapse collapse" aria-labelledby="accordionLogistique-headingOne" data-bs-parent="#accordionLogistique">
                                <div class="accordion-body">
                                    <div class="row border rounded border-primary p-3 my-1">
                                        <div class="col-6">
                                            Compte de résultat
                                        </div>
                                        <div class="col-6">
                                            {% if sejour.compteResultat %}
                                                <a class="btn btn-secondary" target='_blank' href="{{ vich_uploader_asset(sejour.compteResultat) }}">Accéder au compte de résultat</a>
                                            {% else %}
                                                <p class="text-muted">Non renseigné</p>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

