
{% set id = random() %}
<a class= "btn btn-outline-secondary m-3" data-target="#gestion_participants_{{id}}" data-toggle="modal" href="#">Détails</a>
<div class="modal fade participants_unite" id="gestion_participants_{{id}}" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Gestion des participants de l'unité "{{uniteParticipante.equipe.nom}}"</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row border rounded border-secondary p-3 m-3">
                    <h4>Adhérent·e·s</h4>
                    <div class="form-group table-responsive" >
                        <table class="table table-striped">
                            <thead>
                                <th>Prénom</th>
                                <th>Nom</th>
                                <th>Numero d'adhérent·e</th>
                            </thead>
                            <tbody>
                            {% for participantEEDF in uniteParticipante.participantsAdherents %}
                                <tr>
                                    <td>{{ participantEEDF.nom }}</td>
                                    <td>{{ participantEEDF.prenom }}</td>
                                    <td>{{ participantEEDF.numeroAdherentOuMatricule }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row border rounded border-secondary p-3 m-3">
                    <h4>Non adhérent·e·s</h4>
                    <div class="form-group table-responsive" >
                        <table class="table table-striped">
                            <thead>
                                <th>Prénom</th>
                                <th>Nom</th>
                                <th>Âge</th>
                                <th>Commentaires</th>
                            </thead>
                            <tbody>
                            {% for participantNonEEDF in uniteParticipante.participantsNonAdherents %}
                                <tr>
                                    <td>{{ participantNonEEDF.nom }}</td>
                                    <td>{{ participantNonEEDF.prenom }}</td>
                                    <td>{{ participantNonEEDF.age }} ans</td>
                                    <td>{{ participantNonEEDF.commentaire }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>