
<div class="container py-2">
    <h2>Validation du projet</h2>
    <p>Retrouvez ici les informations sur la validation du projet de séjour</p>
    <div class="wrapper">
        <div class="accordion" id="accordionValidation">
            <div class="row accordion-item my-3 ">
                <h2 class="col accordion-header " id="accordionValidation-headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordionValidation-collapseOne" aria-expanded="true" aria-controls="accordionValidation-collapseOne">
                        <h1>Validation du projet</h1>
                    </button>
                </h2>
                {{ include('sejour/components/details_commentaires.html.twig', {
                        'sujet': constant('App\\Entity\\Commentaire::SUJET_SEJOUR_VALIDATION')}) }}
                <div id="accordionValidation-collapseOne" class="accordion-collapse collapse" aria-labelledby="accordionValidation-headingOne" data-bs-parent="#accordionValidation">
                    <div class="accordion-body">
                        {% if sejour.validationSejour %}
                            <div class="row border rounded border-primary p-3 my-1">
                                <div class="col-6">
                                    Modifié le
                                </div>
                                <div class="col-6">
                                    {{sejour.validationSejour.dateModification |format_datetime(pattern="d MMMM y \à H\:mm", locale='fr') }}
                                </div>
                            </div>
                            <div class="row border rounded border-primary p-3 my-1">
                                <div class="col-6">
                                    Document de validation
                                </div>
                                <div class="col-6">
                                    {% if sejour.validationSejour.documentValidation %}
                                        <a class="btn btn-secondary" target='_blank' href="{{ vich_uploader_asset(sejour.validationSejour.documentValidation) }}">Accéder au document</a>
                                    {% else %}
                                        <p class="text-muted">Non renseigné</p>
                                    {% endif %}
                                </div> 
                            </div>
                            <div class="row border rounded border-primary p-3 my-1">
                                <div class="col-6">
                                    Une visite du séjour est prévue ou souhaitée
                                </div>
                                <div class="col-6">
                                {% if sejour.validationSejour.necessiteVisite is null %}
                                    <p class="text-muted">Non renseigné</p>
                                {% elseif sejour.validationSejour.necessiteVisite %}
                                    Oui
                                {% else %}
                                    Non
                                {% endif %}
                                </div>
                                <div>
                                    {{ include('components/document_ressource.html.twig', {'doc': docModeleVisiteCamp})}}
                                </div>
                            </div>
                            
                            <div class="row border rounded border-primary p-3 my-1">
                                <div class="col-6">
                                    Commentaires
                                </div>
                                <div class="col-6">
                                    {% if sejour.validationSejour.commentaires %}
                                        {{sejour.validationSejour.commentaires|raw}}
                                    {% else %}
                                        <p class="text-muted">Non renseigné</p>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="row border rounded border-primary p-3 my-1">
                                <div class="col-6">
                                    Avis
                                </div>
                                <div class="col-6">
                                {% if sejour.validationSejour.estValide is null %}
                                    <span class="badge bg-secondary">En attente</span>
                                {% elseif sejour.validationSejour.estValide %}
                                    <span class="badge bg-success">Avis favorable</span>
                                {% else %}
                                    <span class="badge bg-danger">Avis défavorable</span>
                                {% endif %}
                                </div>
                            </div>
                        {% else %}
                            <div class="alert alert-secondary" role="alert">Les informations de validation n'ont pas encore été renseignées.</div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
