
<div class="container py-2">
    <p>Retrouvez ici les informations sur la validation internationale du projet de séjour</p>
    <div class="wrapper">
        <div class="accordion" id="accordionValidationInternationale">
            <div class="row accordion-item my-3 ">
                <h2 class="col accordion-header " id="accordionValidationInternationale-headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordionValidationInternationale-collapseOne" aria-expanded="true" aria-controls="accordionValidationInternationale-collapseOne">
                        <h1>Validation internationale du projet</h1>
                    </button>
                </h2>
                {{ include('sejour/components/details_commentaires.html.twig', {
                        'sujet': constant('App\\Entity\\Commentaire::SUJET_SEJOUR_VALIDATION_INTERNATIONALE')}) }}
                <div id="accordionValidationInternationale-collapseOne" class="accordion-collapse collapse" aria-labelledby="accordionValidationInternationale-headingOne" data-bs-parent="#accordionValidationInternationale">
                    <div class="accordion-body">
                        {% if sejour.validationInternationaleSejour %}
                            <div class="row border rounded border-primary p-3 my-1">
                                <div class="col-6">
                                    Modifié le
                                </div>
                                <div class="col-6">
                                    {{sejour.validationInternationaleSejour.dateModification |format_datetime(pattern="d MMMM y \à H\:mm", locale='fr') }}
                                </div>
                            </div>
                            <div class="row border rounded border-primary p-3 my-1">
                                <div class="col-6">
                                    Document de validation
                                </div>
                                <div class="col-6">
                                    {% if sejour.validationInternationaleSejour.documentValidationInternationale %}
                                        <a class="btn btn-secondary" target='_blank' href="{{ vich_uploader_asset(sejour.validationInternationaleSejour.documentValidationInternationale) }}">Accéder au document</a>
                                    {% else %}
                                        <p class="text-muted">Non renseigné</p>
                                    {% endif %}
                                </div> 
                            </div>
                            <div class="row border rounded border-primary p-3 my-1">
                                <div class="col-6">
                                    Commentaires
                                </div>
                                <div class="col-6">
                                    {% if sejour.validationInternationaleSejour.commentaires %}
                                        {{sejour.validationInternationaleSejour.commentaires|raw}}
                                    {% else %}
                                        <p class="text-muted">Non renseigné</p>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="row border rounded border-primary p-3 my-1">
                                <div class="col-6">
                                    Avis
                                </div>
                                <div class="col-6">
                                    {% if sejour.validationInternationaleSejour.estValide is null %}
                                        <span class="badge bg-secondary">En attente</span>
                                    {% elseif sejour.validationInternationaleSejour.estValide %}
                                        <span class="badge bg-success">Avis favorable</span>
                                    {% else %}
                                        <span class="badge bg-danger">Avis défavorable</span>
                                    {% endif %}
                                </div>
                            </div>
                        {% else %}
                            <div class="alert alert-secondary" role="alert">Les informations de validation n'ont pas encore été renseignées.</div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
