<div class="item_evenementGrave">
        <h2 class="accordion-header" id="flush-heading_evenementGrave_{{evenementGrave.id }}">
                <button class="accordion-button bg-info py-0" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse_evenementGrave_{{evenementGrave.id }}" aria-expanded="false" aria-controls="flush-collapse_evenementGrave_{{evenementGrave.id }} ">
                        <h1>
                                {{ evenementGrave.natureEvenement }}
                        </h1>
                </button>
        </h2>
        <div id="flush-collapse_evenementGrave_{{evenementGrave.id }}" class="accordion-collapse collapse" aria-labelledby="flush-heading_evenementGrave_{{evenementGrave.id }}" data-bs-parent="#accordionEvenementsGaves">
                <div class="accordion-body">
                        <div class="row border rounded border-primary p-3 my-1">
                                <div class="col-6">
                                        Précisions
                                </div>
                                <div class="col-6">
                                {% if evenementGrave.precisions %}
                                        {{evenementGrave.precisions|raw }}
                                {% else %}
                                        <p class="text-muted">Non renseigné</p>
                                {% endif %}    
                                </div>
                        </div>
                </div>
        </div>
</div>
