<div class="item_lieu item accordion-item my-3 border rounded border-secondary p-3 m-1">
        <h2 class="accordion-header" id="flush-heading_{{indexLieu}}_{{type}}">
                <button class="accordion-button bg-info py-0" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse_{{indexLieu}}_{{type}}" aria-expanded="false" aria-controls="flush-collapse_{{indexLieu}}_{{type}} ">
                        <h1>
                                {{ lieu.lieu.nom }}
                        </h1>
                </button>
        </h2>
        <div id="flush-collapse_{{indexLieu}}_{{type}}" class="accordion-collapse collapse" aria-labelledby="flush-heading_{{indexLieu}}_{{type}}" data-bs-parent="#accordionLieux">
                <div class="accordion-body">
                        {% if sejour.sejourItinerant %}
                        <div class="row border rounded border-primary p-3 my-1">
                        
                                <div class="col-6">
                                        Arrivée:    {{lieu.dateArrivee |format_datetime(pattern="d MMMM y", locale='fr')}}
                                </div>
                                <div class="col-6">
                                        Départ:    {{lieu.dateDepart |format_datetime(pattern="d MMMM y", locale='fr')}}
                                </div>
                        </div>
                        {% endif %}
                        <div class="row border rounded border-primary p-3 my-1">
                                <div class="col-6">
                                        Lieu EEDF
                                </div>
                                <div class="col-6">
                                        {% if lieu.lieu.estEEDF %}
                                                Oui
                                        {% else %}
                                                Non
                                        {% endif %}    
                                </div>
                        </div>
                        <div class="accordion lieux" id="accordionLieu_{{indexLieu}}_{{type}}">
                                <div class="accordion-item my-3 border rounded border-secondary p-3 m-1">
                                        <h2 class="accordion-header" id="flush-heading_adressse_lieu">
                                                <button class="accordion-button bg-info py-0" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse_adressse_lieu" aria-expanded="true" aria-controls="flush-collapse_adressse_lieu">
                                                        <h3>Adresse du lieu</h3>
                                                </button>
                                        </h2>
                                        <div id="flush-collapse_adressse_lieu" class="accordion-collapse collapse show" aria-labelledby="flush-heading_adressse_lieu" data-bs-parent="#accordionLieu_{{indexLieu}}_{{type}}">
                                                <div class="accordion-body">
                                                        {% if lieu.lieu.localisation %}
                                                                <div class="row lieu_lecture">
                                                                        <div class="col-6">
                                                                                <div class="map" id="map_lecture_{{indexLieu}}_{{type}}" style="height: 500px; z-index: 1"></div>
                                                                        </div>
                                                                        <div class="col-6">
                                                                                <p>{{lieu.lieu.localisation.adresse}}</p>
                                                                                <p>{{lieu.lieu.localisation.codePostalCommune}}</p>
                                                                                <p>{{lieu.lieu.localisation.nomCommune}}</p>
                                                                                <p>{{lieu.lieu.localisation.pays}}</p>
                                                                                <div class="latitude" style="display:none">{{lieu.lieu.localisation.coordonneesGeo.latitude}}</div>
                                                                                <div class="longitude" style="display:none">{{lieu.lieu.localisation.coordonneesGeo.longitude}}</div>
                                                                        </div>
                                                                </div>
                                                        {% else %}
                                                                <p class="text-muted">Non renseigné</p>
                                                        {% endif %}
                                                </div>
                                        </div>
                                </div>
                                {% if type !='archive'%}
                                        <div class="accordion-item my-3 border rounded border-secondary p-3 m-1">
                                                <h2 class="accordion-header" id="flush-heading_proprietaire">
                                                        <button class="accordion-button bg-info py-0" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse_proprietaire" aria-expanded="false" aria-controls="flush-collapse_proprietaire">
                                                                <h3>Propriétaire
                                                                        {% if lieu.lieu.proprietaireEstPersonnePhysique %}
                                                                                (personne physique)
                                                                        {% endif %} 
                                                                </h3>
                                                        </button>
                                                </h2>
                                                <div id="flush-collapse_proprietaire" class="accordion-collapse collapse" aria-labelledby="flush-heading_proprietaire" data-bs-parent="#accordionLieu_{{indexLieu}}_{{type}}">
                                                        <div class="accordion-body">        
                                                                <div class="alert alert-warning" role="alert">
                                                                        Dans le cas de l'utilisation d'un lieu de séjour appartenant à un particulier, il est obligatoire de recueillir le consentement de cette personne pour enregistrer ses coordonnées. Nous recommandons fortement la signature d'une convention entre le propriétaire et la direction du séjour, et qui permet de notifier le consentement d'enregistrement des données dans R.O.A.D.S
                                                                </div>
                                                                <div class="row border rounded border-primary p-3 my-1">
                                                                        <div class="col-6">
                                                                                Convention de lieu
                                                                        </div>
                                                                        <div class="col-6">
                                                                        {% if lieu.lieu.conventionLieu %}
                                                                                <a target='_blank' href="{{ vich_uploader_asset(lieu.lieu.conventionLieu) }}">Télécharger</a>
                                                                        {% else %}
                                                                                <p class="text-muted">Non renseignée</p>
                                                                        {% endif %}
                                                                        </div>
                                                                </div>
                                                                <div class="row border rounded border-primary p-3 my-1">
                                                                        <div class="col-6">
                                                                                Nom du·de la propriétaire
                                                                        </div>
                                                                        <div class="col-6">
                                                                        {% if lieu.lieu.coordonneesProprietaire and lieu.lieu.coordonneesProprietaire.nom %}
                                                                                {{lieu.lieu.coordonneesProprietaire.nom}}
                                                                        {% else %}
                                                                                <p class="text-muted">Non renseigné</p>
                                                                        {% endif %}
                                                                        </div>
                                                                </div>
                                                                <div class="row border rounded border-primary p-3 my-1">
                                                                        <div class="col-6">
                                                                                Prénom du·de la propriétaire
                                                                        </div>
                                                                        <div class="col-6">
                                                                        {% if lieu.lieu.coordonneesProprietaire and lieu.lieu.coordonneesProprietaire.prenom %}
                                                                                {{lieu.lieu.coordonneesProprietaire.prenom}}
                                                                        {% else %}
                                                                                <p class="text-muted">Non renseigné</p>
                                                                        {% endif %}
                                                                        </div>
                                                                </div>
                                                                <div class="row border rounded border-primary p-3 my-1">
                                                                        <div class="col-6">
                                                                                Téléphone du·de la propriétaire
                                                                        </div>
                                                                        <div class="col-6">
                                                                        {% if lieu.lieu.coordonneesProprietaire and lieu.lieu.coordonneesProprietaire.telMobile %}
                                                                                {{lieu.lieu.coordonneesProprietaire.telMobile}}
                                                                        {% else %}
                                                                                <p class="text-muted">Non renseigné</p>
                                                                        {% endif %}
                                                                        </div>
                                                                </div>
                                                                <div class="row border rounded border-primary p-3 my-1">
                                                                        <div class="col-6">
                                                                                E-mail du·de la propriétaire
                                                                        </div>
                                                                        <div class="col-6">
                                                                        {% if lieu.lieu.coordonneesProprietaire and lieu.lieu.coordonneesProprietaire.adresseMail %}
                                                                                {{lieu.lieu.coordonneesProprietaire.adresseMail}}
                                                                        {% else %}
                                                                                <p class="text-muted">Non renseigné</p>
                                                                        {% endif %}
                                                                        </div>
                                                                </div>
                                                                <div class="row form-group border rounded border-secondary  p-3 my-1">
                                                                        <div class="col-6">
                                                                                Adresse du·de la propriétaire
                                                                        </div>
                                                                        <div class="col-6">
                                                                                {% if lieu.lieu.coordonneesProprietaire and lieu.lieu.coordonneesProprietaire.adressePostale %}
                                                                                        <p>{{lieu.lieu.coordonneesProprietaire.adressePostale.adresse}}</p>
                                                                                        <p>{{lieu.lieu.coordonneesProprietaire.adressePostale.complementAdresse}}</p>
                                                                                        <p>{{lieu.lieu.coordonneesProprietaire.adressePostale.codePostal}}</p>
                                                                                        <p>{{lieu.lieu.coordonneesProprietaire.adressePostale.ville}}</p>
                                                                                        <p>{{lieu.lieu.coordonneesProprietaire.adressePostale.pays}}</p>
                                                                                {% else %}
                                                                                        <p class="text-muted">Non renseigné</p>
                                                                                {% endif %}
                                                                        </div>
                                                                </div>
                                                        </div>
                                                </div>
                                        </div>
                                {% endif %}
                        </div>
                        <div class="row border rounded border-primary p-3 my-1">
                                <div class="col-6">
                                        Site internet
                                </div>
                                <div class="col-6">
                                        {% if lieu.lieu.siteInternet %}
                                        <a target='_blank' href="{{lieu.lieu.siteInternet}}">Accéder au site</a>
                                        {% else %}
                                        <p class="text-muted">Non renseigné</p>
                                        {% endif %}
                                </div>
                        </div>
                </div>
        </div>
</div>
