                <div class="accordion" id="accordionDatesLieux">
                    <div class="row accordion-item my-3 ">
                        <h2 class="col accordion-header " id="accordionDatesLieux-headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordionDatesLieux-collapseOne" aria-expanded="true" aria-controls="accordionDatesLieux-collapseOne">
                                <h1>Dates du séjour</h1>
                            </button>
                        </h2>
                        {% if type == 'construction' %}
                            {{ include('sejour/components/details_commentaires.html.twig', {
                               'sujet': constant('App\\Entity\\Commentaire::SUJET_SEJOUR_PROJET_SEJOUR_DATES_LIEUX_DATES')}) }}
                        {% else %}
                            {{ include('sejour/components/details_commentaires.html.twig', {
                               'sujet': constant('App\\Entity\\Commentaire::SUJET_SEJOUR_CLOTURE_DATES_LIEUX_DATES')}) }}
                        {% endif %}
                    <div id="accordionDatesLieux-collapseOne" class="accordion-collapse collapse" aria-labelledby="accordionDatesLieux-headingOne" data-bs-parent="#accordionDatesLieux">
                            <div class="accordion-body">     
                                <div class="row border rounded border-primary p-3 my-1">
                                    <div class="col-6">
                                        Date de début de séjour
                                    </div>
                                    <div class="col-6">
                                        {{sejour.dateDebut |format_datetime(pattern="d MMMM y", locale='fr')}}
                                    </div>
                                </div>
                                <div class="row border rounded border-primary p-3 my-1">
                                    <div class="col-6">
                                        Date de fin de séjour
                                    </div>
                                    <div class="col-6">
                                        {{sejour.dateFin |format_datetime(pattern="d MMMM y", locale='fr')}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row accordion-item my-3 ">
                        <h2 class="col accordion-header " id="accordionDatesLieux-headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordionDatesLieux-collapseTwo" aria-expanded="true" aria-controls="accordionDatesLieux-collapseTwo">
                                <h1>Lieu(x)) du séjour</h1>
                            </button>
                        </h2>
                        {% if type == 'construction' %}
                            {{ include('sejour/components/details_commentaires.html.twig', {
                               'sujet': constant('App\\Entity\\Commentaire::SUJET_SEJOUR_PROJET_SEJOUR_DATES_LIEUX_LIEUX')}) }}
                        {% else %}
                            {{ include('sejour/components/details_commentaires.html.twig', {
                               'sujet': constant('App\\Entity\\Commentaire::SUJET_SEJOUR_CLOTURE_DATES_LIEUX_LIEUX')}) }}
                        {% endif %}
                        <div id="accordionDatesLieux-collapseTwo" class="accordion-collapse collapse" aria-labelledby="accordionDatesLieux-headingTwo" data-bs-parent="#accordionDatesLieux">
                            <div class="accordion-body" id="lieux_sejour"> 
                                <div class="accordion" id="accordionLieux">    
                                    {% set indexLieu = 1 %}
                                    {% for lieu in sejour.utilisationsLieuSejour %}
                                        {{ include('sejour/components/suivi/detail_lieu_sejour.html.twig', {'lieu': lieu, "sejour":sejour, "indexLieu": indexLieu }) }}
                                        {% set indexLieu = indexLieu + 1 %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>