                <div class="accordion" id="accordionLogistique">
                    <div class="row accordion-item my-3 ">
                        <h2 class="col accordion-header " id="accordionLogistique-headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordionLogistique-collapseOne" aria-expanded="true" aria-controls="accordionLogistique-collapseOne">
                                <h1>Budget prévisionnel</h1>
                            </button>
                        </h2>
                        {{ include('sejour/components/details_commentaires.html.twig', {
                               'sujet': constant('App\\Entity\\Commentaire::SUJET_SEJOUR_PROJET_SEJOUR_LOGISTIQUE_BUDGET')}) }}
                        <div id="accordionLogistique-collapseOne" class="accordion-collapse collapse" aria-labelledby="accordionLogistique-headingOne" data-bs-parent="#accordionLogistique">
                            <div class="accordion-body">
                                <div class="row border rounded border-primary p-3 my-1">
                                    <div class="col-6">
                                        <p>Prix moyen du séjour</p>
                                        <p class="text-muted">Prix moyen demandé aux parents</p>
                                    </div>
                                    <div class="col-6">
                                        {% if sejour.aspectBudgetSejour and sejour.aspectBudgetSejour.prixMoyen %}
                                            {{sejour.aspectBudgetSejour.prixMoyen}} €
                                        {% else %}
                                            <p class="text-muted">Non renseigné</p>
                                        {% endif %}
                                    </div> 
                                </div>
                                <div class="row border rounded border-primary p-3 my-1">
                                    <div class="col-6">
                                        Budget prévisionnel
                                    </div>
                                    <div class="col-6">
                                        {% if sejour.aspectBudgetSejour and sejour.aspectBudgetSejour.budgetPrevisionnel %}
                                            <a class="btn btn-secondary" target='_blank' href="{{ vich_uploader_asset(sejour.aspectBudgetSejour.budgetPrevisionnel) }}">Accéder au budget prévisionnel</a>
                                        {% else %}
                                            <p class="text-muted">Non renseigné</p>
                                        {% endif %}
                                    </div> 
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row accordion-item my-3 ">
                        <h2 class="col accordion-header " id="accordionLogistique-headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordionLogistique-collapseTwo" aria-expanded="true" aria-controls="accordionLogistique-collapseTwo">
                                <h1>Transports</h1>
                            </button>
                        </h2>
                           {{ include('sejour/components/details_commentaires.html.twig', {
                               'sujet': constant('App\\Entity\\Commentaire::SUJET_SEJOUR_PROJET_SEJOUR_LOGISTIQUE_TRANSPORT')}) }}
                        <div id="accordionLogistique-collapseTwo" class="accordion-collapse collapse" aria-labelledby="accordionLogistique-headingTwo" data-bs-parent="#accordionLogistique">
                            <div class="accordion-body">
                                <div class="row border rounded border-primary p-3 my-1">
                                    <div class="col-6">
                                        L’organisation du transports des participant·e·s
                                    </div>
                                    <div class="col-6">
                                        {% if sejour.descriptionOrganisationTransport %}
                                            {{sejour.descriptionOrganisationTransport|raw}}
                                        {% else %}
                                            <p class="text-muted">Non renseigné</p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" row accordion-item my-3 ">
                        <h2 class="col accordion-header" id="accordionLogistique-headingFour">
                            <button class=" accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordionLogistique-collapseFour" aria-expanded="true" aria-controls="accordionLogistique-collapseFour">
                                <h1>Le projet alimentaire</h1>
                            </button>
                        </h2>
                           {{ include('sejour/components/details_commentaires.html.twig', {
                               'sujet': constant('App\\Entity\\Commentaire::SUJET_SEJOUR_PROJET_SEJOUR_LOGISTIQUE_ALIMENTAIRE')}) }}
                        <div id="accordionLogistique-collapseFour" class="accordion-collapse collapse" aria-labelledby="accordionLogistique-headingFour" data-bs-parent="#accordionLogistique">
                            <div class="accordion-body">
                                <div class="form-group">
                                    <div class="row border rounded border-primary p-3 my-1">
                                        <div class="col-6">
                                            Choix d'organisations alimentaires
                                        </div>
                                        <div class="col-6">
                                            {% if sejour.aspectAlimentaireSejour and sejour.aspectAlimentaireSejour.choixOrganisation %}
                                                {{sejour.aspectAlimentaireSejour.choixOrganisation|raw}}
                                            {% else %}
                                                <p class="text-muted">Non renseigné</p>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="row border rounded border-primary p-3 my-1">
                                        <div class="col-6">
                                            Grille de menus
                                        </div>
                                        <div class="col-6">
                                            {% if sejour.aspectAlimentaireSejour and sejour.aspectAlimentaireSejour.grilleMenus %}
                                                <a class="btn btn-secondary" target='_blank' href="{{ vich_uploader_asset(sejour.aspectAlimentaireSejour.grilleMenus) }}">Accéder au document</a>
                                            {% else %}
                                                <p class="text-muted">Non renseigné</p>
                                            {% endif %}
                                        </div> 
                                    </div>            
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" row accordion-item my-3 ">
                        <h2 class=" col accordion-header " id="accordionLogistique-headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordionLogistique-collapseThree" aria-expanded="true" aria-controls="accordionLogistique-collapseThree">
                                <h1>Communication aux familles</h1>
                            </button>
                        </h2> 
                        {{ include('sejour/components/details_commentaires.html.twig', {
                               'sujet': constant('App\\Entity\\Commentaire::SUJET_SEJOUR_PROJET_SEJOUR_LOGISTIQUE_COMMUNCATION')}) }}
                        <div id="accordionLogistique-collapseThree" class="accordion-collapse collapse" aria-labelledby="accordionLogistique-headingThree" data-bs-parent="#accordionLogistique">
                            <div class="accordion-body">
                                <div class="row border rounded border-primary p-3 my-1">
                                    <div class="col-6">
                                        Présentation du projet de séjour en amont
                                    </div>
                                    <div class="col-6">
                                        {% if sejour.aspectCommunicationSejour and sejour.aspectCommunicationSejour.presentationAmont %}
                                            {{sejour.aspectCommunicationSejour.presentationAmont|raw}}
                                        {% else %}
                                            <p class="text-muted">Non renseigné</p>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row border rounded border-primary p-3 my-1">
                                    <div class="col-6">
                                        Menée d’une réunion d’information
                                    </div>
                                    <div class="col-6">
                                        {% if sejour.aspectCommunicationSejour and sejour.aspectCommunicationSejour.dateReunionInformation %}
                                            {{sejour.aspectCommunicationSejour.dateReunionInformation |format_datetime(pattern="d MMMM y \à H\:mm", locale='fr')}}
                                        {% else %}
                                            <p class="text-muted">Non renseigné</p>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row border rounded border-primary p-3 my-1">
                                    <div class="col-6">
                                        Moyens de communication durant le séjour
                                    </div>
                                    <div class="col-6">
                                        {% if sejour.aspectCommunicationSejour and sejour.aspectCommunicationSejour.moyenCommunicationPendant %}
                                            {{sejour.aspectCommunicationSejour.moyenCommunicationPendant|raw}}
                                        {% else %}
                                            <p class="text-muted">Non renseigné</p>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row border rounded border-primary p-3 my-1">
                                    <div class="col-6">
                                        <p>Moyens de communication après le séjour</p>
                                        <p class="text-muted">(projection d’un diaporama, remise d’un CD de photos, création d’un groupe fermé sur les réseaux sociaux, etc.)</p>
                                    </div>
                                    <div class="col-6">
                                        {% if sejour.aspectCommunicationSejour and  sejour.aspectCommunicationSejour.moyenRestitution %}
                                            {{sejour.aspectCommunicationSejour.moyenRestitution|raw}}
                                        {% else %}
                                            <p class="text-muted">Non renseigné</p>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row border rounded border-primary p-3 my-1">
                                    <div class="col-6">
                                        <p>Site de valorisation</p>
                                        <p class="text-muted">(projection d’un diaporama, remise d’un CD de photos, création d’un groupe fermé sur les réseaux sociaux, etc.)</p>
                                    </div>
                                    <div class="col-6">
                                        {% if sejour.aspectCommunicationSejour and sejour.aspectCommunicationSejour.siteValorisation %}
                                            <a target='_blank' href="{{sejour.aspectCommunicationSejour.siteValorisation}}">Accéder au site</a>
                                        {% else %}
                                            <p class="text-muted">Non renseigné</p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 