<div class="item_visite">
        <h2 class="accordion-header" id="flush-heading_visite_{{visite.id }}">
                <button class="accordion-button bg-info py-0" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse_visite_{{visite.id }}" aria-expanded="false" aria-controls="flush-collapse_visite_{{visite.id }} ">
                        <h1>
                                {{ visite.serviceConcerne }}
                        </h1>
                </button>
        </h2>
        <div id="flush-collapse_visite_{{visite.id }}" class="accordion-collapse collapse" aria-labelledby="flush-heading_visite_{{visite.id }}" data-bs-parent="#accordionVisites">
                <div class="accordion-body">
                        <div class="row border rounded border-primary p-3 my-1">
                                <div class="col-6">
                                        Date de la visite
                                </div>
                                <div class="col-6">
                                        {{visite.date |format_datetime(pattern="d MMMM y", locale='fr')}}
                                </div>
                        </div>
                        <div class="row border rounded border-primary p-3 my-1">
                                <div class="col-6">
                                        Retours sur la visite
                                </div>
                                <div class="col-6">
                                {% if visite.retours %}
                                        {{visite.retours|raw }}
                                {% else %}
                                        <p class="text-muted">Non renseigné</p>
                                {% endif %}    
                                </div>
                        </div>
                </div>
        </div>
</div>
