                <div class="accordion" id="accordionArome">
                    <div class="row accordion-item my-3 ">
                        <h2 class="col accordion-header " id="accordionArome-headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordionArome-collapseOne" aria-expanded="true" aria-controls="accordionArome-collapseOne">
                                <h1>Projet pédagogique</h1>
                            </button>
                        </h2>
                        {{ include('sejour/components/details_commentaires.html.twig', {
                               'sujet': constant('App\\Entity\\Commentaire::SUJET_SEJOUR_PROJET_SEJOUR_PEDA_PROJET_PEDA')}) }}
                        <div id="accordionArome-collapseOne" class="accordion-collapse collapse" aria-labelledby="accordionArome-headingOne" data-bs-parent="#accordionArome">
                            <div class="accordion-body">
                                <div class="row border rounded border-primary p-3 my-1">
                                    <div class="col-6">
                                        Projet pédagogique
                                    </div>
                                    <div class="col-6">
                                        {% if sejour.documentProjetPeda %}
                                            <a class="btn btn-secondary" target='_blank' href="{{ vich_uploader_asset(sejour.documentProjetPeda) }}">Accéder au projet pédagogique</a>
                                        {% else %}
                                            <p class="text-muted">Non renseigné</p>
                                        {% endif %}
                                    </div> 
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if sejour.coloApprenante %}
                        <div class="row accordion-item my-3 ">
                            <h2 class="col accordion-header " id="accordionArome-headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordionArome-collapseTwo" aria-expanded="true" aria-controls="accordionArome-collapseTwo">
                                    <h1>Dispositif colos apprenantes</h1>
                                </button>
                            </h2> 
                            {{ include('sejour/components/details_commentaires.html.twig', {
                               'sujet': constant('App\\Entity\\Commentaire::SUJET_SEJOUR_PROJET_SEJOUR_PEDA_COLOS_APPRENANTES')}) }}
                            <div id="accordionArome-collapseTwo" class="accordion-collapse collapse" aria-labelledby="accordionArome-headingTwo" data-bs-parent="#accordionArome">
                                <div class="accordion-body">
                                    <div class="row border rounded border-primary p-3 my-1">
                                        <div class="col-6">
                                            <p>Socle commun colos apprenantes</p>
                                            <p class="text-muted">Retrouvez ici les éléments de socle commun déjà renseignés.</p>
                                        </div>
                                        <div class="col-6">
                                            {% if sejour.documentSocleCommunColosApprenantes %}
                                                <a target='_blank' calss="btn btn-secondary" href="{{ vich_uploader_asset(sejour.documentSocleCommunColosApprenantes) }}">Accéder au document</a> 
                                            {% else %}
                                                <p class="text-muted">Non renseigné</p>
                                            {% endif %}
                                        </div> 
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    {% if sejour.aspectInternational %}
                        <div class="row accordion-item my-3 ">
                            <h2 class="col accordion-header " id="accordionArome-headingFour">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordionArome-collapseFour" aria-expanded="true" aria-controls="accordionArome-collapseFour">
                                    <h1>Camp international</h1>
                                </button>
                            </h2>
                            {{ include('sejour/components/details_commentaires.html.twig', {
                               'sujet': constant('App\\Entity\\Commentaire::SUJET_SEJOUR_PROJET_SEJOUR_PEDA_INTERNATIONAL')}) }}
                            <div id="accordionArome-collapseFour" class="accordion-collapse collapse" aria-labelledby="accordionArome-headingFour" data-bs-parent="#accordionArome">
                                <div class="accordion-body">
                                    <div class="row border rounded border-primary p-3 my-1">
                                        <div class="col-6">
                                            Participation à un temps de formation avec l’équipe internationale des EEDF dans les 24 derniers mois
                                        </div>
                                        <div class="col-6">
                                            <div class="col-6">
                                                {% if sejour.aspectInternational.participationFormationInternationale %}
                                                    Oui
                                                {% else %}
                                                    Non
                                                {% endif %}    
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row border rounded border-primary p-3 my-1">
                                        <div class="col-6">
                                            Date de la formation aux projets internationaux
                                        </div>
                                        <div class="col-6">
                                            {{sejour.aspectInternational.dateFormation |format_datetime(pattern="d MMMM y", locale='fr') }}
                                        </div>
                                    </div>
                                    <div class="row border rounded border-primary p-3 my-1">
                                        <div class="col-6">
                                        Lieu de la formation
                                        </div>
                                        <div class="col-6">
                                            {{sejour.aspectInternational.lieuFormation }}
                                        </div>
                                    </div>
                                    <div class="row border rounded border-primary p-3 my-1">
                                        <div class="col-6">
                                        Format·eur·rice, direct·eur·rice de la session de formation
                                        </div>
                                        <div class="col-6">
                                            {{sejour.aspectInternational.referentFormation }}
                                        </div>
                                    </div>
                                    <div class="row border rounded border-primary p-3 my-1">
                                        <div class="col-6">
                                        Identification du partenaire
                                        </div>
                                        <div class="col-6">
                                        {% if sejour.aspectInternational.partenaireInternational %}
                                            {{sejour.aspectInternational.partenaireInternational|raw }}
                                        {% else %}
                                            <p class="text-muted">Non renseigné</p>
                                        {% endif %}    
                                        </div>
                                    </div>
                                    <div class="row border rounded border-primary p-3 my-1">
                                        <div class="col-6">
                                        Identification des éventuels financements
                                        </div>
                                        <div class="col-6">
                                        {% if sejour.aspectInternational.financements %}
                                            {{sejour.aspectInternational.financements|raw }}
                                        {% else %}
                                            <p class="text-muted">Non renseigné</p>
                                        {% endif %}
                                        </div>
                                    </div>
                                    <div class="row border rounded border-primary p-3 my-1">
                                        <div class="col-6">
                                        Identification d'un plan de repli
                                        </div>
                                        <div class="col-6">
                                        {% if sejour.aspectInternational.planRepli %}
                                            {{sejour.aspectInternational.planRepli|raw }}
                                        {% else %}
                                            <p class="text-muted">Non renseigné</p>
                                        {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>