{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/algolia-autocomplete.css') }}">
{% endblock %}
{% block title %}Administration{% endblock %}

{% block headerbody %}
    <h1>{{ include('components/icones/Administration.svg') }}Page d'administration</h1>
    <p>Vous pouvez ici
        <ul>
            <li>Gérer les droits pour
                <ul>
                    <li>Les animat·eur·rice·s/modérat·eur·rice·s</li>
                    <li>Les membres des l'aide au support</li>
                    <li>Les administrat·eur·rice·s</li>
                </ul>
            </li>
            <li>Faire des modifications
                <ul>
                    <li>Les différents documents</li>
                </ul>
            </li>
        </ul>
    </p>
{% endblock %}

{% block body %}
    <div class="wrapper">
        <div class="accordion" id="accordionFlushExample">
            <div class="accordion-item my-3 ">
                <h2 class="accordion-header " id="flush-headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="true" aria-controls="flush-collapseThree">
                        <h1>Aide au support du site R.O.A.D.S</h1>
                    </button>
                </h2>
                <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">     
                        {% for message in app.flashes('success_support') %}
                            <div class="alert alert-success" role="alert">{{ message }}</div>
                        {% endfor %}   
                        {% for message in app.flashes('warning_support') %}
                            <div class="alert alert-warning" role="alert">{{ message }}</div>
                        {% endfor %} 
                        {% for message in app.flashes('danger_support') %}
                            <div class="alert alert-danger" role="alert">{{ message }}</div>
                        {% endfor %} 
                        <p>Une personne ayant les droits d'aide au support a accès à l'utilitaire permettant de résoudre les problèmes de connexion des personnes. Il·elle peut modifier l'adresse mail de destination des messages des utilisat·eur·rice·s rencontrant des problèmes.</p>
                        <h2>Liste des personnes ayant les droits d'aide au support</h2>
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <th>Prénom</th>
                                    <th>Nom</th>
                                    <th>Actions</th>
                                </thead>
                                <tbody>       
                                    {% for support in supports %}
                                        <tr>
                                            <td>{{ support.prenom }} </td>
                                            <td>{{ support.nom }}</td>
                                            <td>
                                                <a class= "btn btn-primary" href="{{ path('admin_supprimer_support', {id: support.id}) }}">Supprimer</a> 
                                            </td>
                                        </tr>
                                    {% else %}
                                        <p>Il n'y a aucune personne ayant les droits d'aide au support pour l'instant</p>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="container border rounded border-secondary p-3 my-1">
                            <h3>Ajouter une personne à l'aide au support</h3>
                            {{form_start(formRecherchePersonneUniqueSupport)}}
                                <div class="form-group">
                                    {{form_row(formRecherchePersonneUniqueSupport.champRecherche)}}               
                                </div>
                                <div class="form-group">
                                    {{ form_widget(formRecherchePersonneUniqueSupport.search, {'label': 'Ajouter', 'attr': {'class': 'btn btn-primary m-3'}}) }}
                                </div>
                            {{form_end(formRecherchePersonneUniqueSupport)}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item my-3 ">
                <h2 class="accordion-header " id="flush-headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="true" aria-controls="flush-collapseOne">
                        <h1>Animat·eur·rice·s / modérat·eur·rice·s du site R.O.A.D.S</h1>
                    </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">      
                        {% for message in app.flashes('success_animation') %}
                            <div class="alert alert-success" role="alert">{{ message }}</div>
                        {% endfor %}   
                        {% for message in app.flashes('warning_animation') %}
                            <div class="alert alert-warning" role="alert">{{ message }}</div>
                        {% endfor %} 
                        {% for message in app.flashes('danger_animation') %}
                            <div class="alert alert-danger" role="alert">{{ message }}</div>
                        {% endfor %}   
                        <p>Un·e animat·eur·rice/modérat·eur·rice peut:
                            <ul>
                                <li>Paramétrer certains textes d'accueil des pages</li>
                                <li>Actualiser les documents de références</li>
                                <li>Afficher les demandes de modération</li>
                                <li>Modérer les messages des participant·e·s</li>
                            </ul>
                        </p>
                        <h2>Liste des animat·eur·rice·s/modérat·eur·rice·s</h2>
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <th>Prénom</th>
                                    <th>Nom</th>
                                    <th>Actions</th>
                                </thead>
                                <tbody>       
                                    {% for animateur in animateurs %}
                                        <tr>
                                            <td>{{ animateur.prenom }} </td>
                                            <td>{{ animateur.nom }}</td>
                                            <td>
                                                <a class= "btn btn-primary" href="{{ path('admin_supprimer_animation', {id: animateur.id}) }}">Supprimer</a> 
                                            </td>
                                        </tr>
                                    {% else %}
                                        <p>Il n'y a aucun·e animat·eur·rice/modérat·eur·rice pour l'instant</p>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="container border rounded border-secondary p-3 my-1">
                            <h3>Ajouter un·e animat·eur·rice/modérat·eur·rice</h3>
                            {{form_start(formRecherchePersonneUniqueAnimateur)}}
                                <div class="form-group">
                                    {{form_row(formRecherchePersonneUniqueAnimateur.champRecherche)}}               
                                </div>
                                <div class="form-group">
                                    {{ form_widget(formRecherchePersonneUniqueAnimateur.search, {'label': 'Ajouter', 'attr': {'class': 'btn btn-primary m-3'}}) }}
                                </div>
                            {{form_end(formRecherchePersonneUniqueAnimateur)}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item my-3 ">
                <h2 class="accordion-header " id="flush-headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="true" aria-controls="flush-collapseTwo">
                        <h1>Administrat·eur·rice·s du site R.O.A.D.S</h1>
                    </button>
                </h2>
                <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">    
                        {% for message in app.flashes('success_administration') %}
                            <div class="alert alert-success" role="alert">{{ message }}</div>
                        {% endfor %}   
                        {% for message in app.flashes('warning_administration') %}
                            <div class="alert alert-warning" role="alert">{{ message }}</div>
                        {% endfor %} 
                        {% for message in app.flashes('danger_administration') %}
                            <div class="alert alert-danger" role="alert">{{ message }}</div>
                        {% endfor %}       
                        <p>Un·e administrat·eur·rice:
                            <ul>
                                <li>peut nommer/destituer d'autres administrat·eur·rice·s</li>
                                <li>peut nommer/destituer des personnes aidant au support de l'outil</li>
                                <li>peut nommer/destituer des animat·eur·rice·s/modérat·eur·rice·s</li>
                                <li>a les droits de modération/d'animation et d'aide au support</li>
                            </ul>
                        </p>
                        <h2>Liste des Administrat·eur·rice·s</h2>
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <th>Prénom</th>
                                    <th>Nom</th>
                                    <th>Actions</th>
                                </thead>
                                <tbody>       
                                    {% for admin in admins %}
                                        <tr>
                                            <td>{{ admin.prenom }} </td>
                                            <td>{{ admin.nom }}</td>
                                            <td>
                                                <a class= "btn btn-primary {% if admins|length == 1  %}disabled{% endif %}"  href="{{ path('admin_supprimer_admin', {id: admin.id}) }}">Supprimer</a> 
                                            </td>
                                        </tr>
                                    {% else %}
                                        <p>Il n'y a aucun·e administrat·eur·rice pour l'instant</p>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="container border rounded border-secondary p-3 my-1">
                            <h3>Ajouter une administrat·eur·rice</h3>
                            {{form_start(formRecherchePersonneUniqueAdministrateur)}}
                                <div class="form-group">
                                    {{form_row(formRecherchePersonneUniqueAdministrateur.champRecherche)}}               
                                </div>
                                <div class="form-group">
                                    {{ form_widget(formRecherchePersonneUniqueAdministrateur.search, {'label': 'Ajouter', 'attr': {'class': 'btn btn-primary m-3'}}) }}
                                </div>
                            {{form_end(formRecherchePersonneUniqueAdministrateur)}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item my-3 ">
                <h2 class="accordion-header " id="flush-headingFour">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="true" aria-controls="flush-collapseFour">
                        <h1>Gestion des rôles métier</h1>
                    </button>
                </h2>
                <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">    
                        <div class="container border rounded border-secondary p-3 my-1">
                            <h3>Visualiser les rôles d'une personne</h3>
                            {{form_start(formRecherchePersonneUniqueRoles)}}
                                <div class="form-group">
                                    {{form_row(formRecherchePersonneUniqueRoles.champRecherche)}}               
                                </div>
                                <div class="form-group">
                                    {{ form_widget(formRecherchePersonneUniqueRoles.search, {'label': 'Rechercher', 'attr': {'class': 'btn btn-primary m-3'}}) }}
                                </div>
                            {{form_end(formRecherchePersonneUniqueRoles)}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/autocomplete.js/0/autocomplete.jquery.min.js"></script>
    <script src="{{ asset('js/adherent-autocomplete.js') }}"></script>
{% endblock %}


