{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/algolia-autocomplete.css') }}">
{% endblock %}
{% block title %}Rôles de la personne {{ personne.prenom }} {{ personne.nom }} ({{ personne.numeroAdherentOuMatricule }}) dans R.O.A.D.S{% endblock %}

{% block headerbody %}
    <h1>Rôles de la personne {{ personne.prenom }} {{ personne.nom }} ({{ personne.numeroAdherentOuMatricule }}) dans R.O.A.D.S</h1>
    <p>Ici vous pouvez visualiser, pour la personne recherchée, ses rôles dans R.O.A.D.S. Vous pouvez également lui ajouter/supprimer des rôles.</p>
{% endblock %}

{% block body %}
    <div class="wrapper">
        <div class="container border rounded border-secondary p-3 my-1">
            <h2>Rôles de la personne</h2>
            {% for message in app.flashes('success') %}
                <div class="alert alert-success" role="alert">{{ message }}</div>
            {% endfor %}   
            {% for message in app.flashes('warning') %}
                <div class="alert alert-warning" role="alert">{{ message }}</div>
            {% endfor %} 
            {% for message in app.flashes('danger') %}
                <div class="alert alert-danger" role="alert">{{ message }}</div>
            {% endfor %} 
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <th>Rôle</th>
                        <th>Périmètre</th>
                        <th>Actions</th>
                    </thead>
                    <tbody>       
                        {% for role_metier_personne in roles_metier_personne %}
                            <tr>
                                {% if role_metier_personne.type_perimetre is constant('PERIMETRE_ROLE_METIER_GLOBAL', personne) %}
                                    <td>{{ role_metier_personne.role }} </td>
                                    <td>Tous les séjours</td>
                                    <td>
                                        <a class= "btn btn-primary" href="{{ path('admin_supprimer_role_personne_global', {personne : personne.id,  role: role_metier_personne.role }) }}">Supprimer</a> 
                                    </td>
                                {% elseif (role_metier_personne.type_perimetre is constant('PERIMETRE_ROLE_METIER_STRUCTURE', personne)) %}
                                    <td>{{ role_metier_personne.role }} </td>
                                    <td>{{ role_metier_personne.perimetre.nom }} ({{ role_metier_personne.perimetre.type }})</td>
                                    <td>
                                        <a class= "btn btn-primary" href="{{ path('admin_supprimer_role_personne_structure', {personne : personne.id, structure: role_metier_personne.perimetre.id, role: role_metier_personne.role }) }}">Supprimer</a> 
                                    </td>
                                {% elseif (role_metier_personne.type_perimetre is constant('PERIMETRE_ROLE_METIER_SEJOUR', personne)) %}
                                    <td>{{ role_metier_personne.role }} </td>
                                    <td>{{ role_metier_personne.perimetre.intitule }} (Séjour)</td>
                                    <td>
                                        {% if role_metier_personne.role in constant('LISTE_ROLES_METIERS_MODIFIABLES_PAR_ADMIN', personne)%}
                                            <a class= "btn btn-primary" href="{{ path('admin_supprimer_role_personne_sejour', {personne : personne.id,  sejour: role_metier_personne.perimetre.id, role: role_metier_personne.role }) }}">Supprimer</a> 
                                        {% endif %}
                                    </td>
                                {% endif %}
                            </tr>
                        {% else %}
                            <p>la personne n'a aucun rôle particulier</p>
                        {% endfor %}
                    </tbody>
                </table>
            </div> 
        </div> 
        <div class="container border rounded border-secondary p-3 my-1">
            <h2>Ajouter un rôle à la personne</h2>
            {{form_start(formAjoutRole)}}
            <div class="form-group">
                {{form_row(formAjoutRole.role)}}               
            </div>
            <div id="selection_structure" style="display:none" disabled>
                <div class="form-group">
                    {{form_row(formAjoutRole.structure)}}
                </div>
            </div>
            <div id="selection_sejour" style="display:none" disabled >
                <div class="form-group">
                        {{form_row(formAjoutRole.all)}}
                </div>
                <div id="liste_sejour">
                    <div class="form-group">
                        {{form_row(formAjoutRole.sejour)}}
                    </div>
                </div>
            </div>
            <div class="form-error">
                {{ form_errors(formAjoutRole) }}
            </div>
            {{form_end(formAjoutRole)}}
        </div>
        <a class= "btn btn-primary" href="{{ path('admin_general')}}">Retour</a> 
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script >
        $(document).on('change', '#formAjoutRole_structure', function () {
        let $field = $(this)
        let $structureField = $('#formAjoutRole_structure')
        let $form = $field.closest('form')
        let target = '#' + $field.attr('id').replace('structure', 'sejour')
        console.log(target);
        // Les données à envoyer en Ajax
        let data = {}
        data[$structureField.attr('name')] = $structureField.val()
        data[$field.attr('name')] = $field.val()
        // On soumet les données
        $.post($form.attr('action'), data).then(function (data) {
            // On récupère le nouveau <select>
            let $input = $(data).find(target)
            // On remplace notre <select> actuel
            $(target).replaceWith($input)
        })
        })
    </script>
    <script>
        var radioValidationSejoursNationaux = document.getElementById("formAjoutRole_role_0");
        var radioValidationSejoursInternationaux = document.getElementById("formAjoutRole_role_1");
        var radioValidationSejours = document.getElementById("formAjoutRole_role_2");
        var radioValidationDelegueeSejours = document.getElementById("formAjoutRole_role_3");
        var radioSuiviSejours = document.getElementById("formAjoutRole_role_4");
        var radioOrganisationSejours = document.getElementById("formAjoutRole_role_5");
        
        var blocSelectionStructure = document.getElementById("selection_structure");
        var blocSelectionSejour = document.getElementById("selection_sejour");
        var blocListeSejour = document.getElementById("liste_sejour");
        var selectStructure = document.getElementById("formAjoutRole_structure");
        var selectSejour = document.getElementById("formAjoutRole_sejour");
        var checkboxTouteLaStructure = document.getElementById("formAjoutRole_all");

        checkboxTouteLaStructure.onclick= function(e){
            if ($(this).is(':checked')) {
                blocListeSejour.style.display = "none";
                selectSejour.required=false
                selectSejour.disabled=true;
            } else {
                blocListeSejour.style.display = "block";
                selectSejour.required=true
                selectSejour.disabled=false;
            }
        };
        
        radioValidationSejoursNationaux.onclick= function(e) 
        {
            selectStructure.required=false
            selectStructure.disabled=true;

            selectSejour.required=false
            selectSejour.disabled=true;

            checkboxTouteLaStructure.disabled=true;

            blocSelectionStructure.style.display = "none";
            blocSelectionSejour.style.display = "none";
        };
        radioValidationSejoursInternationaux.onclick= function(e) 
        {
            blocSelectionStructure.style.display = "none";
            selectStructure.required=false
            selectStructure.disabled=true;

            blocSelectionSejour.style.display = "none";
            selectSejour.required=false
            selectSejour.disabled=true;
            checkboxTouteLaStructure.disabled=true;
            
        };
        radioValidationSejours.onclick= function(e) 
        {
            //Selection de structure seulement
            blocSelectionStructure.style.display = "block";
            selectStructure.required=true
            selectStructure.disabled=false;

            blocSelectionSejour.style.display = "none";
            selectSejour.required=false
            selectSejour.disabled=true;
            checkboxTouteLaStructure.disabled=true;
            
        };
        radioValidationDelegueeSejours.onclick= function(e) 
        {
            blocSelectionStructure.style.display = "block";
            selectStructure.required=true
            selectStructure.disabled=false;

            blocSelectionSejour.style.display = "block";
            selectSejour.required=true
            selectSejour.disabled=false;
            checkboxTouteLaStructure.disabled=false;
            
        };
        radioSuiviSejours.onclick= function(e) 
        {
            blocSelectionStructure.style.display = "block";
            selectStructure.required=true
            selectStructure.disabled=false;

            blocSelectionSejour.style.display = "block";
            selectSejour.required=true
            selectSejour.disabled=false;
            checkboxTouteLaStructure.disabled=false;
            
        };
        radioOrganisationSejours.onclick= function(e) 
        {
            //Selection de structure seulement
            blocSelectionStructure.style.display = "block";
            selectStructure.required=true
            selectStructure.disabled=false;

            blocSelectionSejour.style.display = "none";
            selectSejour.required=false
            selectSejour.disabled=true;
            checkboxTouteLaStructure.disabled=true;
        };

    </script>
{% endblock %}


