{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}
{% block headerbody %}
    <h1>Page non trouvée !</h1>
{% endblock %}
{% block body %}
    <div class="border rounded border-primary p-3 my-1">
        <p>
        La page requise n'existe pas. Veuillez vérifier l'URL
        </p>
        <a class= "btn btn-primary" href="{{ path('home') }}">Retour à l'accueil</a>.
        
    </div>
{% endblock %}
