{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}
{% block headerbody %}
    <h1>Erreur</h1>
{% endblock %}
{% block body %}
    <div class="border rounded border-primary p-3 my-1">
        <p>
        Une erreur est survenue, si le problème persiste, merci de contacter le support.
        </p>
        <a class= "btn btn-primary" href="{{ path('home') }}">Retour à l'accueil</a>.
        
    </div>
{% endblock %}
