{% extends 'base.html.twig' %}

{% block title %}Signalement d'un commentaire{% endblock %}

{% block headerbody %}
    <h1>{{ include('components/icones/Un problème.svg') }}Signalement d'un commentaire</h1>
    <p>Dans le cas où vous trouvez qu'un commentaire est inapproprié, insultant ou erroné, vous pouvez en décrire ici la raison, et déposer une demande aux animat·eur·rices de R.O.A.D.S. qui étudieront la demande.</p>
{% endblock %}

{% block body %}
    <div class="container border border-secondary m-3 p-3">
        <h4>Commentaire que vous souhaitez signaler</h4>
         <div class="row">
            <div class="col align-self-start text-secondary">{{commentaire.personne.prenom}} {{commentaire.personne.nom}} </div>
            <div class="col align-self-end text-end text-secondary"> le {{commentaire.date|format_datetime(pattern="d MMMM y \à H\:mm", locale='fr')}}</div>
        </div>
        <div class="row border rounded border-primary p-3 my-1">{{commentaire.texte}}</div>
    </div>
    <div class="container border border-primary m-3 p-3">
            <h2>Raisons du signalement</h2>
        {{form_start(formSignalement)}}
            <div class="form-group">
                {{form_row(formSignalement.raison)}}
            </div>
            <div class ="row">
                <div class="col-6">
                    {{ form_widget(formSignalement.envoyer, {'attr': {'class': 'btn btn-secondary m-3'}}) }}
                </div>
                <div class="col-6">
                    <a class= "btn m-3 btn-outline-secondary" href="{{ path('detail_sejour', {id: commentaire.sejour.id}) }}">Annuler</a>
                </div>
            </div>
        {{form_end(formSignalement)}}
    </div> 
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
