{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/algolia-autocomplete.css') }}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
     integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
     crossorigin=""/>
{% endblock %}
{% block title %}Construction du projet de séjour "{{sejour.intitule}}"{% endblock %}

{% block headerbody %}
    <h1> {{ include('components/icones/3 - Mes séjours.svg') }}Construction du projet de séjour "{{sejour.intitule}}"</h1>
    <p>Sur cette page et grâce aux différents onglets, vous pouvez retrouver toutes les informations du séjour en fonction de l'état du séjour.</p>
    <p>En fonction de votre rôle, vous pouvez modifier ou consulter et commenter les différents aspects du séjour. </p>
    {{ include('sejour/components/bandeau_infos_etat.html.twig', { 'sejour': sejour}) }}
{% endblock %}

{% block body %}
    {% for message in app.flashes('danger_suspension') %}
        <div class="alert alert-danger" role="alert">{{ message }}</div>
    {% endfor %}
    {% if not sejour.exportable %}
        {% for message in app.flashes('danger_envoi_validation') %}
            <div class="alert alert-danger" role="alert">{{ message |raw}}</div>
        {% endfor %}
        {% for message in app.flashes('warning_envoi_validation') %}
            <div class="alert alert-warning" role="alert">{{ message |raw}}</div>
        {% endfor %}
        {% for message in app.flashes('info_envoi_validation') %}
            <div class="alert alert-secondary" role="alert">{{ message |raw}}</div>
        {% endfor %}
    {% endif %}

    <!--Messages flash des commentaires-->
    {% for message in app.flashes('danger_commentaire') %}
        <div class="alert alert-danger" role="alert">{{ message}}</div>
    {% endfor %}
    {% for message in app.flashes('warning_commentaire') %}
        <div class="alert alert-warning" role="alert">{{ message}}</div>
    {% endfor %}
    {% for message in app.flashes('success_commentaire') %}
        <div class="alert alert-success" role="alert">{{ message}}</div>
    {% endfor %}
    
    <!--Messages flash des demande de moderation -->    
    {% for message in app.flashes('danger_envoi_demande_moderation') %}
        <div class="alert alert-danger" role="alert">{{ message}}</div>
    {% endfor %}
    {% for message in app.flashes('warning_envoi_demande_moderation') %}
        <div class="alert alert-warning" role="alert">{{ message}}</div>
    {% endfor %}
    {% for message in app.flashes('success_envoi_demande_moderation') %}
        <div class="alert alert-success" role="alert">{{ message}}</div>
    {% endfor %}

    <!--Messages flash d'envoi vers la cloture de séjour-->
    {% if workflow_can(sejour, 'cloture_sejour') %}
        {% for message in app.flashes('danger_envoi_cloture') %}
            <div class="alert alert-danger" role="alert">{{ message |raw}}</div>
        {% endfor %}
        {% for message in app.flashes('warning_envoi_cloture') %}
            <div class="alert alert-warning" role="alert">{{ message |raw}}</div>
        {% endfor %}
        {% for message in app.flashes('info_envoi_cloture') %}
            <div class="alert alert-secondary" role="alert">{{ message |raw}}</div>
        {% endfor %}
    {% endif %}


    {% set afficher_bouton_envoi_validation = (is_granted('envoi_validation', sejour) or is_granted('export', sejour)) and workflow_can(sejour, 'envoi_pour_validation') %}
    {% set afficher_boutons_export = (is_granted('organisation', sejour) or is_granted('export', sejour)) and sejour.exportable %}
    {% set afficher_bouton_suspension = is_granted('organisation', sejour) and sejour.suspendable %}
    {% set afficher_bouton_cloture = is_granted('cloture', sejour) and workflow_can(sejour, 'cloture_sejour') %}
    <a id="haut"></a>
    {% if afficher_bouton_envoi_validation or afficher_bouton_suspension or afficher_bouton_cloture %}
        <div class="row border rounded border-secondary p-3 m-3">
            <h5>Faire évoluer l’état de mon projet de séjour</h5>
            {% if afficher_bouton_envoi_validation %}
                <div class="col-6">
                    {{ include('sejour/components/changement_etat/_envoi_validation_sejour.html.twig', { 'sejour': sejour}) }}
                </div>
            {% endif %}
            {% if afficher_bouton_suspension %}
                <div class="col-6">
                    {{ include('sejour/components/changement_etat/_suspension_sejour.html.twig', { 'sejour': sejour}) }}
                </div>
            {% endif %}
            {% if afficher_bouton_cloture %}
                <div class="col-6">
                    {{ include('sejour/components/changement_etat/_envoi_cloture_sejour.html.twig', { 'sejour': sejour}) }}
                </div>
            {% endif %}
        </div>    
    {% endif %}  
    {% if afficher_boutons_export %}
        <div class="row border rounded border-secondary p-3 m-3">
            <h5>Exporter des informations du séjour</h5>
            <div class="col-6">
                <a class= "btn btn-outline-dark m-3" href="{{ path('export_tam', {sejour:sejour.id})}}">Exporter les informations pour la déclaration TAM</a>
            </div>
            <div class="col-6">
                <a class= "btn btn-outline-dark m-3" href="{{ path('export_projet', {sejour:sejour.id})}}">Exporter les informations complètes du séjour</a>
            </div>
            <div class="col-6">
                <a class= "btn btn-outline-dark m-3" href="{{ path('export_participants', {sejour:sejour.id})}}">Exporter la liste des participant·e·s</a>
            </div>
        </div>
    {% endif %}
    


    <!-- Nav tabs -->
    <div class="pane-content-inner">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link {% if sejour.panelActif.panelActifGeneral == constant('PANEL_GENERAL_DECLARATION_INTENTION', sejour.panelActif) %} active {% endif %}" id="decla_intention-tab" data-bs-toggle="tab" data-bs-target="#decla_intention" type="button" role="tab" aria-controls="decla_intention" aria-selected="true">Déclaration d'intention</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link {% if sejour.panelActif.panelActifGeneral == constant('PANEL_GENERAL_CONSTRUCTION', sejour.panelActif) %} active {% endif %}" id="projet-sejour-tab" data-bs-toggle="tab" data-bs-target="#projet-sejour" type="button" role="tab" aria-controls="projet-sejour" aria-selected="false">Projet de séjour</button>
            </li>
            {% if 
                sejour.validable
                or (sejour.validationVisible and sejour.validationSejour is not null )
            %}
                <li class="nav-item" role="presentation">
                    <button class="nav-link {% if sejour.panelActif.panelActifGeneral == constant('PANEL_GENERAL_VALIDATION', sejour.panelActif) %} active {% endif %}" id="validation-sejour-tab" data-bs-toggle="tab" data-bs-target="#validation-sejour" type="button" role="tab" aria-controls="validation-sejour" aria-selected="false">Validation du séjour</button>
                </li>
            {% endif %}
            {% if 
                sejour.validable
                or (sejour.validationVisible and sejour.validationInternationaleSejour is not null )
            %}
                {% if (sejour.international or sejour.sejourFranceAvecAccueilEtranger) %}
                    <li class="nav-item" role="presentation">
                        <button class="nav-link {% if sejour.panelActif.panelActifGeneral == constant('PANEL_GENERAL_VALIDATION_INTERNATIONALE', sejour.panelActif) %} active {% endif %}" id="validation-internationale-tab" data-bs-toggle="tab" data-bs-target="#validation-internationale" type="button" role="tab" aria-controls="validation-internationale-sejour" aria-selected="false">Validation internationale du séjour</button>
                    </li>
                {% endif %}
            {% endif %}
            {% if sejour.visitable %}
                <li class="nav-item" role="presentation">
                    <button class="nav-link {% if sejour.panelActif.panelActifGeneral == constant('PANEL_GENERAL_VISITE', sejour.panelActif) %} active {% endif %}" id="visite-tab" data-bs-toggle="tab" data-bs-target="#visite" type="button" role="tab" aria-controls="validation-internationale-sejour" aria-selected="false">
                    Visites du séjour {{ include('components/status_visite_sejour.html.twig', {'sejour': sejour}) }}
                    </button>
                </li>
            {% endif %}
            {% if workflow_can(sejour, 'cloture_sejour') %}
                <li class="nav-item" role="presentation">
                    <button class="nav-link {% if sejour.panelActif.panelActifGeneral == constant('PANEL_GENERAL_CLOTURE', sejour.panelActif) %} active {% endif %}" id="cloture_sejour-tab" data-bs-toggle="tab" data-bs-target="#cloture_sejour" type="button" role="tab" aria-controls="cloture_sejour-sejour" aria-selected="false">Clôture du séjour</button>
                </li>
            {% endif %}
        </ul>
        <!-- Tab panes -->
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade {% if sejour.panelActif.panelActifGeneral == constant('PANEL_GENERAL_DECLARATION_INTENTION', sejour.panelActif) %} show active {% endif %}" id="decla_intention" role="tabpanel" aria-labelledby="decla_intention-tab">
                <div class="container py-2">
                    <h2>Détails de la déclaration d'intention du projet</h2>
                    <p>Retrouvez ici les informations d'intention initiale du séjour. Ces informations sont figées, pour les modifier en fonction de l'évolution de votre projet, rendez-vous dans l'onglet "projet de séjour"</p>
                    {{ include('sejour/detail_declaration_intention.html.twig', { 'sejour': decla_intention_sejour, 'commentaires': sejour.commentaires}) }}
                </div>
            </div>
            <div class="tab-pane fade {% if sejour.panelActif.panelActifGeneral == constant('PANEL_GENERAL_CONSTRUCTION', sejour.panelActif) %} show active {% endif %}" id="projet-sejour" role="tabpanel" aria-labelledby="projet-sejour-tab">
                {% if workflow_has_marked_place(sejour, constant('STATUT_SEJOUR_TERMINE', sejour)) %}
                    {{ include('sejour/detail_construction_sejour_sans_modif.html.twig', {'sejour': infos_construction_sejour, 'resumeEffectifs':resume_effectifs_infos_construction_sejour, 'panelActif':sejour.panelActif, 'commentaires': sejour.commentaires, 'type': 'construction'}) }}
                {% else %}
                    {{ include('sejour/detail_construction_sejour.html.twig', {'sejour': sejour, 'resumeEffectifs':resumeEffectifs, 'panelActif':sejour.panelActif, 'commentaires': sejour.commentaires, 'type': 'construction'}) }}
                {% endif %}
            </div>
            {% if sejour.validable or (sejour.validationVisible and sejour.validationSejour is not null )  %}
                <div class="tab-pane fade {% if sejour.panelActif.panelActifGeneral == constant('PANEL_GENERAL_VALIDATION', sejour.panelActif) %} show active {% endif %}" id="validation-sejour" role="tabpanel" aria-labelledby="validation-sejour-tab">
                    {% if workflow_has_marked_place(sejour, constant('STATUT_SEJOUR_TERMINE', sejour)) %}
                        {{ include('sejour/components/validation_sejour.html.twig', {'sejour': infos_construction_sejour, 'commentaires': sejour.commentaires}) }}
                    {% else %}
                        {{ include('sejour/components/validation_sejour.html.twig', {'sejour': sejour, 'commentaires': sejour.commentaires}) }}
                    {% endif %}
                </div>
            {% endif %}
            {% if sejour.validable  or (sejour.validationVisible and sejour.validationInternationaleSejour is not null )          %}
                {% if (sejour.international or sejour.sejourFranceAvecAccueilEtranger) %}
                    <div class="tab-pane fade {% if sejour.panelActif.panelActifGeneral == constant('PANEL_GENERAL_VALIDATION_INTERNATIONALE', sejour.panelActif) %} show active {% endif %}" id="validation-internationale" role="tabpanel" aria-labelledby="validation-internationale-tab">
                        {% if workflow_has_marked_place(sejour, constant('STATUT_SEJOUR_TERMINE', sejour)) %}
                            {{ include('sejour/components/validation_internationale_sejour.html.twig', {'sejour': infos_construction_sejour, 'commentaires': sejour.commentaires}) }}
                        {% else %}
                            {{ include('sejour/components/validation_internationale_sejour.html.twig', {'sejour': sejour, 'commentaires': sejour.commentaires}) }}
                        {% endif %}
                    </div>
                {% endif %}
            {% endif %}    
            {% if sejour.visitable
            or workflow_has_marked_place(sejour, constant('STATUT_SEJOUR_CLOTURE', sejour)) %}
                <div class="tab-pane fade {% if sejour.panelActif.panelActifGeneral == constant('PANEL_GENERAL_VISITE', sejour.panelActif) %} show active {% endif %}" id="visite" role="tabpanel" aria-labelledby="visite-tab">
                    {{ include('sejour/components/visites_sejour.html.twig', {'sejour': sejour, 'commentaires': sejour.commentaires}) }}
                </div>
            {% endif %}
            {% if workflow_has_marked_place(sejour, constant('STATUT_SEJOUR_TERMINE', sejour))
            or workflow_has_marked_place(sejour, constant('STATUT_SEJOUR_CLOTURE', sejour)) %}
                <div class="tab-pane fade {% if sejour.panelActif.panelActifGeneral == constant('PANEL_GENERAL_CLOTURE', sejour.panelActif) %} show active {% endif %}" id="cloture_sejour" role="tabpanel" aria-labelledby="cloture_sejour-tab">
                    {{ include('sejour/components/cloture_sejour.html.twig', {'commentaires': sejour.commentaires}) }}
                </div>
            {% endif %}  
        </div>
    </div>
    <a href="#haut" class= "btn btn-outline-dark m-3" >Retour en haut de la page</a>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    <script src="{{ asset('js/adherent-autocomplete.js') }}"></script>
    <script src="{{ asset('js/utils.js') }}"></script>
    <script src="{{ asset('js/rechercheLocalisation.js') }}"></script>
    <script>
    
        jQuery(document).ready(function() {
            

            // Pour chacun des lieux en lecture, on gère l'affichage sur la carte
            $('.lieu_lecture').each(     
                function() {affichageLocalisation($(this))}
            )
            gestionDateTimePicker();
            autorisationStructuresRegroupement();
            gestionAjoutSuppressionObjetsListe('structuresRegroupeesModif','Supprimer la structure')
            gestionAjoutSuppressionObjetsListe('lieuxModif','Supprimer le lieu')
            gestionAjoutSuppressionObjetsListe('visites','Supprimer la visite')
            gestionAjoutSuppressionObjetsListe('evenements_graves','Supprimer l\'évenement grave')
            
            
            $("tbody[name='body_participant_non_eedf']").each(
                function() 
                {
                    gestionAjoutSuppressionObjetsTableau($(this).attr('class'),'Supprimer ce·tte participant·e')
                }
            );

            $('.encadrant').each(     
                function() {gestionAffichageEncadrants($(this))}
            )
                
                        
            {% if is_granted('organisation', sejour) %}
                affichageInfosDirecteur($('#direction_sejour_directeur'))
                $('#direction_sejour_directeur').on('autocomplete:selected',function() {
                    affichageInfosDirecteur($(this))
                });
            {% endif %}
            gestionAffichagePrecisionEquivalence($("#gestion_direction_construction"))

            {% if workflow_has_marked_place(sejour, constant('STATUT_SEJOUR_TERMINE', sejour)) %}
                gestionClotureVisMonCamp($("#cloture_visMonCamp"))
                gestionClotureMedias($("#cloture_medias"))
                gestionClotureVisites($("#cloture_visites"))
                gestionClotureEvenementsGraves($("#cloture_evenements_graves"))
                gestionAffichagePrecisionEquivalence($("#gestion_direction_cloture"))
            {% endif %}
            developperComposantsAvantSubmit();
            gestionModeCRVisite($("#visites_sejour"))         
            
        })
        //Permet de développer tous les accordéons et de fermer tous les modal lors de la soumission du formulaire
        function developperComposantsAvantSubmit()
        {
            $('button[type="submit"]').on('click',
                function() 
                {
                    $(".accordion-collapse").each(
                        function() 
                        {
                            $(this).addClass("show");
                        }
                    );
                    $(".modal.show").each(
                        function() 
                        {
                            if(
                                !$(this).hasClass( 'encadrant' ) && 
                                !$(this).hasClass( 'direction' ) &&
                                !$(this).hasClass( 'participants_unite' ) &&
                                !$(this).hasClass( 'participants_structure_non_eedf') )
                            {
                                $(this).find('.close').first().click()   
                            }
                                                    
                        }
                    );
                }
            )
        }


        function gestionRequireConventionLieu($divLieu)
        {
            var $bloc_proprietaire_lieu=$divLieu.find(".proprietaire_lieu").first();

            var $input_convention_lieu = $divLieu.find(".convention_lieu").first().find('input[type="file"]').first();

            //Personne non Physique
            if ($bloc_proprietaire_lieu.find('[type="radio"]:checked').val() == "0")
            {
                $input_convention_lieu.prop('required',false);
            //Personne physique
            } else if ($bloc_proprietaire_lieu.find('[type="radio"]:checked').val() == "1") {
                $input_convention_lieu.prop('required',true);
            }


            $bloc_proprietaire_lieu.find('[type="radio"]').change(function () {
                //Personne non Physique
                if ($(this).val() == "0")
                {
                    $input_convention_lieu.prop('required',false);
                //Personne physique
                } else {
                    $input_convention_lieu.prop('required',true);
                }
            });
        }

        //Affiche la sélection des structure de regroupement uniquement si type séjour = TYPE_SEJOUR_RASSEMBLEMENT ou TYPE_SEJOUR_REGROUPEMENT
        function gestionAffichageEncadrants($divEncadrant)
        {
            
            gestionAfficageRattachementEquipeAnimation($divEncadrant)
            
            
            gestionAffichagePrecisionEquivalence($divEncadrant)


            var $bloc_est_eedf=$divEncadrant.find(".est_eedf").first();

            var $bloc_encadrant_non_eedf = $divEncadrant.find(".encadrant_non_eedf").first();
            var $bloc_encadrant_eedf = $divEncadrant.find(".encadrant_eedf").first();
            var $input_doc_consentement_non_eedf = $bloc_encadrant_non_eedf.find('input[type="file"]').first();

            desactiverEtMasquerDivForm($bloc_encadrant_non_eedf); 
            desactiverEtMasquerDivForm($bloc_encadrant_eedf);
            
            afficher_masquer($bloc_est_eedf)

            $bloc_est_eedf.find('[type="radio"]').change(function () {
                afficher_masquer($bloc_est_eedf)
            });
            function afficher_masquer($bloc_est_eedf)
            {
                //Encadrant non EEDF
                if ($bloc_est_eedf.find('[type="radio"]:checked').val() == "0")
                {
                    desactiverEtMasquerDivForm($bloc_encadrant_eedf);
                    activerEtAfficherDivForm($bloc_encadrant_non_eedf);
                    $input_doc_consentement_non_eedf.prop('required',true);
                //Encadrtant EEDF
                } else if ($bloc_est_eedf.find('[type="radio"]:checked').val() == "1") {
                    desactiverEtMasquerDivForm($bloc_encadrant_non_eedf);
                    activerEtAfficherDivForm($bloc_encadrant_eedf);
                    $input_doc_consentement_non_eedf.prop('required',false);
                }
            }
        }

        function gestionAffichagePrecisionEquivalence($divEncadrant)
        {
            var $bloc_diplome = $divEncadrant.find(".diplome").first();
            var $bloc_precision_equivalence = $divEncadrant.find(".equivalence").first();
            var $bloc_precision_qualite = $divEncadrant.find(".qualite").first();


            desactiverEtMasquerDivForm($bloc_precision_equivalence); 
            desactiverEtMasquerDivForm($bloc_precision_qualite); 

            afficher_masquer($bloc_diplome)
            
            $bloc_diplome.find('[type="checkbox"]').change(function () {
                afficher_masquer($bloc_diplome)
            });

            function afficher_masquer($bloc_diplome)
            {
                desactiverEtMasquerDivForm($bloc_precision_equivalence);
                desactiverEtMasquerDivForm($bloc_precision_qualite); 
                $bloc_diplome.find('[type="checkbox"]:checked').each(function()
                {
                    activerEtAfficherDivForm($bloc_precision_qualite);
                    if($(this).val() == "Equivalence")
                    {
                        activerEtAfficherDivForm($bloc_precision_equivalence)
                    }
                })
            }
        }

        function gestionAfficageUniteOuStructureRattacheEncadrant($divEncadrant)
        {
            var $bloc_attacher=$divEncadrant.find(".attacher").first();

            var $bloc_attacher_unite_eedf = $divEncadrant.find(".unite_eedf").first();
            var $bloc_attacher_stucture_non_eedf = $divEncadrant.find(".structure_non_eedf").first();

            desactiverEtMasquerDivForm($bloc_attacher_unite_eedf); 
            desactiverEtMasquerDivForm($bloc_attacher_stucture_non_eedf);

            afficher_masquer($bloc_attacher)
            
            $bloc_attacher.find('[type="radio"]').change(function () {
                afficher_masquer($bloc_attacher)
            });

            function afficher_masquer($div_attacher)
            {
                //Unité EEDF
                if ($div_attacher.find('[type="radio"]:checked').val() == "eedf")
                {
                    activerEtAfficherDivForm($bloc_attacher_unite_eedf); 
                    desactiverEtMasquerDivForm($bloc_attacher_stucture_non_eedf);;
                //Structure non EEDF
                } else if ($div_attacher.find('[type="radio"]:checked').val() == "non_eedf") {
                    desactiverEtMasquerDivForm($bloc_attacher_unite_eedf); 
                    activerEtAfficherDivForm($bloc_attacher_stucture_non_eedf);
                //Pas rattaché
                } else if ($div_attacher.find('[type="radio"]:checked').val() == "non"){
                    desactiverEtMasquerDivForm($bloc_attacher_unite_eedf); 
                    desactiverEtMasquerDivForm($bloc_attacher_stucture_non_eedf);
                }
            }
        }
        function gestionAfficageRattachementEquipeAnimation($divEncadrant)
        {
            var $bloc_equipe=$divEncadrant.find(".equipe").first();

            var $bloc_equipe_animation = $divEncadrant.find(".equipe_animation").first();

            desactiverEtMasquerDivForm($bloc_equipe_animation); 

            afficher_masquer($bloc_equipe)
            
            $bloc_equipe.find('[type="radio"]').change(function () {
                afficher_masquer($bloc_equipe)
            });
            function afficher_masquer($bloc_equipe)
            {
                //Unité EEDF
                if ($bloc_equipe.find('[type="radio"]:checked').val() == "L'équipe d'animation")
                {
                    activerEtAfficherDivForm($bloc_equipe_animation);
                    gestionAfficageUniteOuStructureRattacheEncadrant($divEncadrant)
                    
                //Structure non EEDF
                } else {
                    desactiverEtMasquerDivForm($bloc_equipe_animation);
                }
            }
        }

        function gestionClotureVisMonCamp($div)
        {
            var $bloc_precisions = $div.find('#precisionsVisMonCamp').first();

            desactiverEtMasquerDivForm($bloc_precisions); 

            afficher_masquer($div)
            
            $div.find('[type="radio"]').change(function () {
                afficher_masquer($div)
            });
            function afficher_masquer($div)
            {
                if ($div.find('[type="radio"]:checked').val() == 1)
                {
                    activerEtAfficherDivForm($bloc_precisions);
                   //$('#retours_sejour_precisionsVisMonCamp.editor').ckeditor();
                } else {
                    desactiverEtMasquerDivForm($bloc_precisions);
                }
            }
        }

        function gestionClotureMedias($div)
        {
            var $bloc_precisions = $div.find('#precisionsMedias').first();
            desactiverEtMasquerDivForm($bloc_precisions); 

            afficher_masquer($div)
            
            $div.find('[type="radio"]').change(function () {
                afficher_masquer($div)
            });
            function afficher_masquer($div)
            {
                if ($div.find('[type="radio"]:checked').val() == 1)
                {
                    activerEtAfficherDivForm($bloc_precisions);
                } else {
                    desactiverEtMasquerDivForm($bloc_precisions);
                }
            }
        }

        function gestionClotureVisites($div)
        {
            var $bloc_precisions = $div.find('#liste_visites').first();
            desactiverEtMasquerDivForm($bloc_precisions); 

            afficher_masquer($div)
            
            $div.find('[type="radio"]').change(function () {
                afficher_masquer($div)
            });
            function afficher_masquer($div)
            {
                if ($div.find('[type="radio"]:checked').val() == 1)
                {
                    activerEtAfficherDivForm($bloc_precisions);
                } else {
                    desactiverEtMasquerDivForm($bloc_precisions);
                }
            }
        }

        function gestionClotureEvenementsGraves($div)
        {
            var $bloc_precisions = $div.find('#liste_evenements_graves').first();
            desactiverEtMasquerDivForm($bloc_precisions); 

            afficher_masquer($div)
            
            $div.find('[type="radio"]').change(function () {
                afficher_masquer($div)
            });
            function afficher_masquer($div)
            {
                if ($div.find('[type="radio"]:checked').val() == 1)
                {
                    activerEtAfficherDivForm($bloc_precisions);
                } else {
                    desactiverEtMasquerDivForm($bloc_precisions);
                }
            }
        }

        //Affiche la sélection des structure de regroupement uniquement si type séjour = TYPE_SEJOUR_RASSEMBLEMENT ou TYPE_SEJOUR_REGROUPEMENT
        function autorisationStructuresRegroupement()
        {
            var $bloc_type_sejour=$("#type_sejour");

            var $blocStructuresRegroupement = $("#accordeonUnitesParticipantes-headingTwo");

            if (
                ($bloc_type_sejour.find('[type="radio"]:checked').val() == "{{ constant('TYPE_SEJOUR_REGROUPEMENT', sejour) }}")
                || ($bloc_type_sejour.find('[type="radio"]:checked').val() == "{{ constant('TYPE_SEJOUR_RASSEMBLEMENT', sejour) }}")
            )
            {
                activerEtAfficherDivForm($blocStructuresRegroupement)
                $blocStructuresRegroupement.show();
            } else{
                desactiverEtMasquerDivForm($blocStructuresRegroupement)
                $blocStructuresRegroupement.hide();
                //On supprime tous les items:
                $("#structures_regroupement div.item ").remove();
            }


            $bloc_type_sejour.find('[type="radio"]').change(function () {
                if (
                    ($(this).val() == "{{ constant('TYPE_SEJOUR_REGROUPEMENT', sejour) }}")
                    || ($(this).val() == "{{ constant('TYPE_SEJOUR_RASSEMBLEMENT', sejour) }}")
                )
                {
                    activerEtAfficherDivForm($blocStructuresRegroupement)
                    $blocStructuresRegroupement.show();
                } else {
                    desactiverEtMasquerDivForm($blocStructuresRegroupement)
                    $blocStructuresRegroupement.hide();
                    //On supprime tous les items:
                    $("#structures_regroupement div.item ").remove();
                }
            });
        }

        function gestionAjoutSuppressionObjetsTableau($nomListe,$labelSuppression)
        {
            // Get the ul that holds the collection of tags
            var $collectionHolder = $('tbody.'+$nomListe);

            // add a delete link to all of the existing tag form li elements
            $collectionHolder.find('tr').each(function() {
                addFormDeleteLinkForTable($(this),$labelSuppression);
            });

            // count the current form inputs we have (e.g. 2), use that as the new
            // index when inserting a new item (e.g. 2)
            $collectionHolder.data('index', $collectionHolder.find('input').length);

            $('body').on('click', '#add_'+$nomListe, function(e) {
                var $collectionHolderClass = $(e.currentTarget).data('collectionHolderClass');
                // add a new tag form (see next code block)
                addFormToCollectionTableau($collectionHolderClass,$labelSuppression);
            })
        }

         function addFormToCollectionTableau($collectionHolderClass,$labelSuppression)
        {
            // Get the ul that holds the collection of tags
            var $collectionHolder = $('.' + $collectionHolderClass);

            // Get the data-prototype explained earlier
            var prototype = $collectionHolder.data('prototype');
            // get the new index
            var index = $collectionHolder.data('index');

            var newForm = prototype;
            // You need this only if you didn't set 'label' => false in your tags field in TaskType
            // Replace '__name__' in the prototype's HTML to
            // instead be a number based on how many items we have
            newForm = newForm.replace(/__name__/g, index);

            // increase the index with one for the next item
            $collectionHolder.data('index', index + 1);

            // Display the form in the page in an li, before the "Add a tag" link li
            var $newRow=$('<tr></tr>');
            var $newFormRow = $newRow.append(newForm);

            // add a delete link to the new form
            addFormDeleteLinkForTable($newRow,$labelSuppression);
            $collectionHolder.append($newRow)
        }

        function addFormDeleteLinkForTable($ligneTableau,$labelSuppression) {
            var $removeFormButton = $('<button type="button" class="btn btn-primary" >'+$labelSuppression+'</button>');
            $ligneTableau.append($('<td></td>').append($removeFormButton));

            $removeFormButton.on('click', function(e) {
                // remove the li for the tag form
                $ligneTableau.remove();
            });
        }

        function gestionAjoutSuppressionObjetsListe($nomListe,$objet)
        {
            // Get the ul that holds the collection of tags
            var $collectionHolder = $('div.'+$nomListe);
            // add a delete link to all of the existing tag form li elements
            $collectionHolder.find('div.item').each(function(index) 
            {
                
                if($nomListe == "structuresRegroupeesModif")
                {
                    addFormDeleteLink($(this),$objet);
                    gestionChangementStructureRegroupement($(this))
                    selectionUniteParticipante($(this),index)
                }else if($nomListe == "lieuxModif")
                {
                    if( index>0)
                    {
                        addFormDeleteLink($(this),$objet,);
                    }
                    gestionRequireConventionLieu($(this))
                    rechercheLocalisation($(this))
                    
                }else if($nomListe == "visites")
                {
                    addFormDeleteLink($(this),$objet,$(this).find('#delete').first());
                }else if($nomListe == "evenements_graves")
                {
                    addFormDeleteLink($(this),$objet,$(this).find('#delete').first());
                }
                
            });

            // count the current form inputs we have (e.g. 2), use that as the new
            // index when inserting a new item (e.g. 2)
            $collectionHolder.data('index', $collectionHolder.find('input').length);

            $('body').on('click', '#add_'+$nomListe, function(e) {
                var $collectionHolderClass = $(e.currentTarget).data('collectionHolderClass');
                // add a new tag form (see next code block)
                addFormToCollection($collectionHolderClass,$objet,$nomListe);
            })
        }
        function addFormToCollection($collectionHolderClass,$labelSuppression,$nomListe)
        {
            // Get the ul that holds the collection of tags
            var $collectionHolder = $('.' + $collectionHolderClass);

            // Get the data-prototype explained earlier
            var prototype = $collectionHolder.data('prototype');
            // get the new index
            var index = $collectionHolder.data('index');

            var newForm = prototype;
            // You need this only if you didn't set 'label' => false in your tags field in TaskType
            // Replace '__name__' in the prototype's HTML to
            // instead be a number based on how many items we have
            newForm = newForm.replace(/__name__/g, index);

            // increase the index with one for the next item
            $collectionHolder.data('index', index + 1);

            // Display the form in the page in an li, before the "Add a tag" link li
            var $newLi=$('<div class ="item border rounded border-secondary p-3 m-1" ></div>');
            var $newFormLi = $newLi.append(newForm);
            
            if($nomListe == "structuresRegroupeesModif")
            {
                gestionChangementStructureRegroupement($newFormLi)
                selectionUniteParticipante($newLi,index)
                addFormDeleteLink($newLi,$labelSuppression);
            }else
            {
                $newLi=$(newForm);
                console.log($newLi)
                // add a delete link to the new form
                addFormDeleteLink($newLi,$labelSuppression,$newLi.find('#delete').first());
            }  
            
            
            $collectionHolder.append($newFormLi)

            if($nomListe == "structuresRegroupeesModif")
            {
                gestionChangementStructureRegroupement($newLi)
                selectionUniteParticipante($newLi,index)
                addFormDeleteLink($newLi,$labelSuppression);
            }else if($nomListe == "lieuxModif")
            {
                gestionRequireConventionLieu($newFormLi)
                rechercheLocalisation($newFormLi)
                addFormDeleteLink($newFormLi,$labelSuppression);
            }
            
            developperComposantsAvantSubmit();
            gestionDateTimePicker();
        }

        function addFormDeleteLink($tagFormLi,$labelSuppression, $divContainerEmplacementBoutonSupprimer=null) {
            var $removeFormButton = $('<button type="button" class="btn btn-secondary m-3" >'+$labelSuppression+'</button>');
            if($divContainerEmplacementBoutonSupprimer)
            {
                $divContainerEmplacementBoutonSupprimer.append($removeFormButton);
            }else{
                $tagFormLi.append($removeFormButton);
            }
            

            $removeFormButton.on('click', function(e) {
                // remove the li for the tag form
                console.log($tagFormLi)
                $(this).parents(".item").remove();
            });
        }

        // On affiche soit le chargement du fichier, soit tous les champs à remplir
        function gestionModeCRVisite($div) 
        {
            var $choixModeVisite=$div.find("#choixModeVisite").first();
            var $blocSaisieManuelle = $div.find("#modeManuel").first();
            var $blocChargementFichier = $div.find("#modeFichier").first();

            desactiverEtMasquerDivForm($blocSaisieManuelle)
            desactiverEtMasquerDivForm($blocChargementFichier)
            

            afficher_masquer($choixModeVisite)
            
            $choixModeVisite.find('[type="radio"]').change(function () {
                afficher_masquer($choixModeVisite)
            });

            function afficher_masquer($choixModeVisite)
            {
                //Unité EEDF
                if ($choixModeVisite.find('[type="radio"]:checked').val() == "1")
                {
                    desactiverEtMasquerDivForm($blocChargementFichier)
                    activerEtAfficherDivForm($blocSaisieManuelle)
                //Structure non EEDF
                } else if ($choixModeVisite.find('[type="radio"]:checked').val() == "0") {
                    desactiverEtMasquerDivForm($blocSaisieManuelle)
                    activerEtAfficherDivForm($blocChargementFichier)
                }
            }
        }


        // On affiche le champ autres uniquement si la case est cochée
        function gestionChangementStructureRegroupement($divForm) 
        {
            var $bloc_est_eedf=$divForm.find("#est_eedf").first();
            var $blocSelectionEEDF = $divForm.find("#selection_eedf").first();
            var $blocSelectionNonEEDF = $divForm.find("#selection_non_eedf").first();

            desactiverEtMasquerDivForm($blocSelectionEEDF)
            desactiverEtMasquerDivForm($blocSelectionNonEEDF)
            

            afficher_masquer($bloc_est_eedf)
            
            $bloc_est_eedf.find('[type="radio"]').change(function () {
                afficher_masquer($bloc_est_eedf)
            });

            function afficher_masquer($div_est_eedf)
            {
                //Unité EEDF
                if ($div_est_eedf.find('[type="radio"]:checked').val() == "0")
                {
                    desactiverEtMasquerDivForm($blocSelectionEEDF)
                    activerEtAfficherDivForm($blocSelectionNonEEDF)
                //Structure non EEDF
                } else if ($div_est_eedf.find('[type="radio"]:checked').val() == "1") {
                    desactiverEtMasquerDivForm($blocSelectionNonEEDF)
                    activerEtAfficherDivForm($blocSelectionEEDF)
                }
            }
        }


        //Sélection des unités participantes
        function selectionUniteParticipante($div, index)
        {
            var $structureSelect = $($div).find('.js-structure_regroupement-form-structure_eedf');
            //appelPriseUniteParticipante($structureSelect,$div, index)

            $structureSelect.on('change', function(e) 
            {
                appelPriseUniteParticipante($(this),$div, index)

            });
        }

        function appelPriseUniteParticipante($div_structure,$div,$index)
        {
            var $url=($div_structure.data('specific-structure-url'));
            var $specificStructureTarget=$div.find('.js-specific-structure-target')
            $.ajax({
                url: $url,
                data: {
                    structure: $div_structure.val(),
                    index: $index
                },
                success: function (result) {
                    let input = $(result).find('.js-specific-structure-target')
                    if(input)
                    {
                        var replaced = $(result).html().replaceAll(
                            
                            'name="unites_participantes_sejour_structuresRegroupees_'+$index+'[unites][]"',
                            'name="unites_participantes_sejour[structuresRegroupees]['+$index+'][unites][]"');
                        // On remplace notre <select> actuel
                        $($specificStructureTarget).replaceWith(replaced)
                    }
                    
                }
            });
        }

    </script>
    <!-- Gestion de la sélection des dates -->
    <script src="{{ asset('js/bootstrap-datetimepicker.min.js') }}"></script>
    <script>


        function gestionDateTimePicker()
        {
        
            jQuery.datetimepicker.setLocale('fr');
            $('.js-datepicker').datetimepicker(
                {
                    timepicker: false,
                    datepicker: true,
                    format:'d/m/Y',
                    inline:false,
                    scrollMonth : false,
                    scrollInput : false
                }

            );
        }
    </script>
{% endblock %}


