{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/algolia-autocomplete.css') }}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
     integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
     crossorigin=""/>
{% endblock %}
{% block title %}
    {% if workflow_has_marked_place(sejour, constant('STATUT_SEJOUR_CLOTURE', sejour)) %}
        Séjour "{{sejour.intitule}}"
    {% else %}
        Construction du projet de séjour "{{sejour.intitule}}"
    {% endif %}
{% endblock %}

{% block headerbody %}
    {% if workflow_has_marked_place(sejour, constant('STATUT_SEJOUR_CLOTURE', sejour)) %}
        <h1> {{ include('components/icones/3 - Mes séjours.svg') }}Projet de séjour "{{sejour.intitule}}"</h1>
        <p>Sur cette page et grâce aux différents onglets, vous pouvez retrouver l'évolution de toutes les informations du séjour renseignées lors des différents états du séjour. </p>
    {% else %}
        <h1> {{ include('components/icones/3 - Mes séjours.svg') }}Construction du projet de séjour "{{sejour.intitule}}"</h1>
        <p>Sur cette page et grâce aux différents onglets, vous pouvez retrouver toutes les informations du séjour en fonction de l'état du séjour.</p>
        <p>En fonction de votre rôle, vous pouvez modifier ou consulter et commenter les différents aspects du séjour. </p>
    {% endif %}
    {{ include('sejour/components/bandeau_infos_etat.html.twig', { 'sejour': sejour}) }}
{% endblock %}

{% block body %}

<!--Messages flash des commentaires-->
    {% for message in app.flashes('danger_commentaire') %}
        <div class="alert alert-danger" role="alert">{{ message}}</div>
    {% endfor %}
    {% for message in app.flashes('warning_commentaire') %}
        <div class="alert alert-warning" role="alert">{{ message}}</div>
    {% endfor %}
    {% for message in app.flashes('success_commentaire') %}
        <div class="alert alert-success" role="alert">{{ message}}</div>
    {% endfor %}
<!--Messages flash des demande de moderation -->    
    {% for message in app.flashes('danger_envoi_demande_moderation') %}
        <div class="alert alert-danger" role="alert">{{ message}}</div>
    {% endfor %}
    {% for message in app.flashes('warning_envoi_demande_moderation') %}
        <div class="alert alert-warning" role="alert">{{ message}}</div>
    {% endfor %}
    {% for message in app.flashes('success_envoi_demande_moderation') %}
        <div class="alert alert-success" role="alert">{{ message}}</div>
    {% endfor %}
    <a id="haut"></a>
<!-- Nav tabs -->
<div class="pane-content-inner">
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link {% if sejour.panelActif.panelActifGeneral == constant('PANEL_GENERAL_DECLARATION_INTENTION', sejour.panelActif) %} active {% endif %}" id="decla_intention-tab" data-bs-toggle="tab" data-bs-target="#decla_intention" type="button" role="tab" aria-controls="decla_intention" aria-selected="true">Déclaration d'intention</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link {% if sejour.panelActif.panelActifGeneral == constant('PANEL_GENERAL_CONSTRUCTION', sejour.panelActif) %} active {% endif %}" id="projet-sejour-tab" data-bs-toggle="tab" data-bs-target="#projet-sejour" type="button" role="tab" aria-controls="projet-sejour" aria-selected="false">Projet de séjour</button>
        </li>
        {% if 
            sejour.validable
            or (sejour.validationVisible and sejour.validationSejour is not null )
        %}
            <li class="nav-item" role="presentation">
                <button class="nav-link {% if sejour.panelActif.panelActifGeneral == constant('PANEL_GENERAL_VALIDATION', sejour.panelActif) %} active {% endif %}" id="validation-sejour-tab" data-bs-toggle="tab" data-bs-target="#validation-sejour" type="button" role="tab" aria-controls="validation-sejour" aria-selected="false">Validation du séjour</button>
            </li>
        {% endif %}
        {% if 
            sejour.validable
            or (sejour.validationVisible and sejour.validationInternationaleSejour is not null )
        %}
            {% if (sejour.international or sejour.sejourFranceAvecAccueilEtranger) %}
                <li class="nav-item" role="presentation">
                    <button class="nav-link {% if sejour.panelActif.panelActifGeneral == constant('PANEL_GENERAL_VALIDATION_INTERNATIONALE', sejour.panelActif) %} active {% endif %}" id="validation-internationale-tab" data-bs-toggle="tab" data-bs-target="#validation-internationale" type="button" role="tab" aria-controls="validation-internationale-sejour" aria-selected="false">Validation internationale du séjour</button>
                </li>
            {% endif %}
        {% endif %}
        {% if sejour.visitable or workflow_has_marked_place(sejour, constant('STATUT_SEJOUR_CLOTURE', sejour)) %}
            <li class="nav-item" role="presentation">
                <button class="nav-link {% if sejour.panelActif.panelActifGeneral == constant('PANEL_GENERAL_VISITE', sejour.panelActif) %} active {% endif %}" id="visite-tab" data-bs-toggle="tab" data-bs-target="#visite" type="button" role="tab" aria-controls="validation-internationale-sejour" aria-selected="false">
                Visites du séjour {{ include('components/status_visite_sejour.html.twig', {'sejour': sejour}) }}
                </button>
            </li>
        {% endif %}
        {% if workflow_has_marked_place(sejour, constant('STATUT_SEJOUR_TERMINE', sejour))
            or workflow_has_marked_place(sejour, constant('STATUT_SEJOUR_CLOTURE', sejour)) %}
            <li class="nav-item" role="presentation">
                <button class="nav-link {% if sejour.panelActif.panelActifGeneral == constant('PANEL_GENERAL_CLOTURE', sejour.panelActif) %} active {% endif %}" id="cloture-tab" data-bs-toggle="tab" data-bs-target="#cloture" type="button" role="tab" aria-controls="cloture-sejour" aria-selected="false">Clôture du séjour</button>
            </li>
        {% endif %}
    </ul>
    <!-- Tab panes -->
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade {% if sejour.panelActif.panelActifGeneral == constant('PANEL_GENERAL_DECLARATION_INTENTION', sejour.panelActif) %} show active {% endif %}" id="decla_intention" role="tabpanel" aria-labelledby="decla_intention-tab">
            <h2>Détails de la déclaration d'intention du projet</h2>
            <p>Retrouvez ici les informations d'intention initiale du séjour. Ces informations sont figées, pour les modifier en fonction de l'évolution de votre projet, rendez-vous dans l'onglet "projet de séjour"</p>
            {{ include('sejour/detail_declaration_intention.html.twig', { 'sejour': decla_intention_sejour, 'commentaires': sejour.commentaires}) }}
        </div>
        <div class="tab-pane fade {% if sejour.panelActif.panelActifGeneral == constant('PANEL_GENERAL_CONSTRUCTION', sejour.panelActif) %} show active {% endif %}" id="projet-sejour" role="tabpanel" aria-labelledby="projet-sejour-tab">
             {% if workflow_has_marked_place(sejour, constant('STATUT_SEJOUR_TERMINE', sejour))
            or workflow_has_marked_place(sejour, constant('STATUT_SEJOUR_CLOTURE', sejour)) %}
                {{ include('sejour/detail_construction_sejour_sans_modif.html.twig', {'sejour': infos_construction_sejour, 'resumeEffectifs': resume_effectifs_infos_construction_sejour, 'panelActif':sejour.panelActif, 'commentaires': sejour.commentaires}) }}
            {% else %}
                {{ include('sejour/detail_construction_sejour_sans_modif.html.twig', {'sejour': sejour, 'resumeEffectifs':resumeEffectifs, 'panelActif':sejour.panelActif, 'commentaires': sejour.commentaires}) }}
            {% endif %}
        </div>
        <div class="tab-pane fade {% if sejour.panelActif.panelActifGeneral == constant('PANEL_GENERAL_VALIDATION', sejour.panelActif) %} show active {% endif %}" id="validation-sejour" role="tabpanel" aria-labelledby="validation-sejour-tab">
             {% if workflow_has_marked_place(sejour, constant('STATUT_SEJOUR_TERMINE', sejour))
            or workflow_has_marked_place(sejour, constant('STATUT_SEJOUR_CLOTURE', sejour)) %}
                {{ include('sejour/components/validation_sejour.html.twig', {'sejour': infos_construction_sejour, 'commentaires': sejour.commentaires}) }}
            {% else %}
                {{ include('sejour/components/validation_sejour.html.twig', {'sejour': sejour, 'commentaires': sejour.commentaires}) }}
            {% endif %}
        </div>
        <div class="tab-pane fade {% if sejour.panelActif.panelActifGeneral == constant('PANEL_GENERAL_VALIDATION_INTERNATIONALE', sejour.panelActif) %} show active {% endif %}" id="validation-internationale" role="tabpanel" aria-labelledby="validation-internationale-tab">
             {% if workflow_has_marked_place(sejour, constant('STATUT_SEJOUR_TERMINE', sejour))
            or workflow_has_marked_place(sejour, constant('STATUT_SEJOUR_CLOTURE', sejour)) %}
                {{ include('sejour/components/validation_internationale_sejour.html.twig', {'sejour': infos_construction_sejour, 'commentaires': sejour.commentaires}) }}
            {% else %}
                {{ include('sejour/components/validation_internationale_sejour.html.twig', {'sejour': sejour, 'commentaires': sejour.commentaires}) }}
            {% endif %}
        </div>
        {% if sejour.visitable 
        or workflow_has_marked_place(sejour, constant('STATUT_SEJOUR_CLOTURE', sejour)) %}
            <div class="tab-pane fade {% if sejour.panelActif.panelActifGeneral == constant('PANEL_GENERAL_VISITE', sejour.panelActif) %} show active {% endif %}" id="visite" role="tabpanel" aria-labelledby="visite-tab">
                {{ include('sejour/components/visites_sejour.html.twig', {'sejour': sejour, 'commentaires': sejour.commentaires}) }}
            </div>
        {% endif %}
         {% if workflow_has_marked_place(sejour, constant('STATUT_SEJOUR_TERMINE', sejour))
            or workflow_has_marked_place(sejour, constant('STATUT_SEJOUR_CLOTURE', sejour)) %}
            <div class="tab-pane fade {% if sejour.panelActif.panelActifGeneral == constant('PANEL_GENERAL_CLOTURE', sejour.panelActif) %} show active {% endif %}" id="cloture" role="tabpanel" aria-labelledby="cloture-tab">
                {{ include('sejour/components/cloture_sejour.html.twig', {'sejour': sejour, 'commentaires': sejour.commentaires}) }}
            </div>
        {% endif %}
    </div>
</div>
<a href="#haut" class= "btn btn-outline-dark m-3" >Retour en haut de la page</a>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    <script src="{{ asset('js/utils.js') }}"></script>
    <script src="{{ asset('js/rechercheLocalisation.js') }}"></script>
    <script>
    
        jQuery(document).ready(function() {

            developperComposantsAvantSubmit();
            gestionModeCRVisite($("#visites_sejour"))

            // Pour chacun des lieux en lecture, on gère l'affichage sur la carte
            $('.lieu_lecture').each(     
                function() {affichageLocalisation($(this))}
            )
            
        })

        // On affiche soit le chargement du fichier, soit tous les champs à remplir
        function gestionModeCRVisite($div) 
        {
            var $choixModeVisite=$div.find("#choixModeVisite").first();
            var $blocSaisieManuelle = $div.find("#modeManuel").first();
            var $blocChargementFichier = $div.find("#modeFichier").first();

            desactiverEtMasquerDivForm($blocSaisieManuelle)
            desactiverEtMasquerDivForm($blocChargementFichier)
            

            afficher_masquer($choixModeVisite)
            
            $choixModeVisite.find('[type="radio"]').change(function () {
                afficher_masquer($choixModeVisite)
            });

            function afficher_masquer($choixModeVisite)
            {
                //Unité EEDF
                if ($choixModeVisite.find('[type="radio"]:checked').val() == "1")
                {
                    desactiverEtMasquerDivForm($blocChargementFichier)
                    activerEtAfficherDivForm($blocSaisieManuelle)
                //Structure non EEDF
                } else if ($choixModeVisite.find('[type="radio"]:checked').val() == "0") {
                    desactiverEtMasquerDivForm($blocSaisieManuelle)
                    activerEtAfficherDivForm($blocChargementFichier)
                }
            }
        }
        //Permet de développer tous les accordéons et de fermer tous les modal lors de la soumission du formulaire
        function developperComposantsAvantSubmit()
        {
            $('button[type="submit"]').on('click',
                function() 
                {
                    $(".accordion-collapse").each(
                        function() 
                        {
                            $(this).addClass("show");
                        }
                    );
                    $(".modal.show").each(
                        function() 
                        {
                            $(this).find('.close').first().click()
                        }
                    );
                }
            )
        }
    </script>
{% endblock %}


