{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/algolia-autocomplete.css') }}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
     integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
     crossorigin=""/>
{% endblock %}
{% block title %}Déclaration d'intention{% endblock %}

{% block headerbody %}
    <h1> {{ include('components/icones/3 - Mes séjours.svg') }}Déclaration d'intention</h1>
    <p>Publier la déclaration d'intention, à l'aide du bouton dédié en bas de page, permet d'ouvrir une fiche de séjour et de la rendre visible à toutes les parties prenantes.</p>
    <p>Les informations déclarées ici ne sont que prévisionnelles et elles seront modifiables dans l'état suivant (en construction). L'enregistrement seul ne fait que conserver votre brouillon pour vous seul·e et ne permet pas le partage d'informations.</p>
    <p>Les champs avec des astérisques rouges sont obligatoires pour publier, il faut donc nécessairement mettre une valeur (même zéro).</p>
{% endblock %}

{% block body %}
    <div class="wrapper">
    <a id="haut"></a>
    {{form_start(form_declaration_intention)}}
        <div class="row border rounded border-secondary p-3 m-3">
            <h5>Faire évoluer l’état de mon projet de séjour</h5>
            <div class="col-6">
                <a class= "btn btn-secondary m-3" data-target="#confirmation_publish" data-toggle="modal" href="#">Publier la déclaration d'intention</a>
            </div>
            <div class="col-6">
                {% if is_granted('organisation', sejour) %}
                    {{ include('sejour/components/changement_etat/_annulation_sejour.html.twig', { 'sejour': sejour}) }}
                {% endif %}
            </div>
        </div>
        <div class="accordion" id="accordionDeclarationIntention">
            {% for message in app.flashes('success_sejour') %}
                <div class="alert alert-success" role="alert">{{ message |raw }}</div>
            {% endfor %}   
            {% for message in app.flashes('warning_sejour') %}
                <div class="alert alert-warning" role="alert">{{ message |raw }}</div>
            {% endfor %} 
            {% for message in app.flashes('danger_sejour') %}
                <div class="alert alert-danger" role="alert">{{ message |raw }}</div>
            {% endfor %} 
            <div class="accordion-item my-3 "> <!-- Informations générales -->
                <h2 class="accordion-header " id="flush-headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="true" aria-controls="flush-collapseOne">
                        <h1>Informations de structure et déclaration</h1>
                    </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionDeclarationIntention">
                    <div class="accordion-body">     
                        <p>Retrouvez ici les informations de la structure organisatrice et nommez votre séjour de manière spécifique.</p>
                        <div class="row border rounded border-primary p-3 my-1">
                            <div class="form-group">
                                {{form_row(form_declaration_intention.intitule)}}               
                            </div>
                        </div>
                        <div class="row border rounded border-primary p-3 my-1">
                            <div class="col-6">
                                Structure organisatrice
                            </div>
                            <div class="col-6">
                                {{sejour.structureOrganisatrice.nom}}
                            </div>
                        </div>
                        <div class="row border rounded border-primary p-3 my-1">
                            <div class="col-6">
                                Responsable(s) de la structure
                            </div>
                            <div class="col-6">
                            {% set arrayResponsablesStructures = [] %}
                            {% if sejour.structureOrganisatrice.equipeGestion is not null %}
                                {% for fonction in sejour.structureOrganisatrice.equipeGestion.fonctionsActives(constant('App\\Entity\\Fonction::TYPE_FONCTION_RESPONSABLE'),null ) %}
                                    {% set arrayResponsablesStructures = arrayResponsablesStructures|merge([fonction.personne.prenom ~ " " ~ fonction.personne.nom]) %}
                                {% endfor %} 
                                {{ arrayResponsablesStructures | join(', ', ' et ')}}
                            {% else %} 
                                Non défini·e
                            {% endif %}
                            </div>
                        </div>
                        <div class="row border rounded border-primary p-3 my-1">
                            <div class="col-6">
                                Région de rattachement de l'organisateur
                            </div>
                            <div class="col-6">
                                {% if sejour.structureOrganisatrice.structureParent.echelon == constant('ECHELON_STRUCTURE_REGIONAL', sejour.structureOrganisatrice) %}
                                    {{sejour.structureOrganisatrice.structureParent.nom}}
                                {% else %}
                                    <p class="text-muted">N/A</p>
                                {% endif %}
                            </div>
                        </div>
                        <div class="row border rounded border-primary p-3 my-1">
                            <div class="col-6">
                                La ou le représentant·e de l'organisateur pour le séjour au regard de la fiche initiale
                                <small><i>(si différent du responsable de la structure)</i></small>
                            </div>
                            <div class="col-6">
                                {% if sejour.structureOrganisatrice.nomOrganisateurDDCS %}
                                    {{sejour.structureOrganisatrice.prenomOrganisateurDDCS}} {{sejour.structureOrganisatrice.nomOrganisateurDDCS}}
                                {% else %}
                                    <p class="text-muted">N/A</p>
                                {% endif %}
                            </div>
                        </div>
                        <div class="row border rounded border-primary p-3 my-1">
                            <div class="col-6">
                                Numéro de déclaration initiale de la déclaration sur TAM (SDJES)
                                <p class="text-muted">La mise à jour de ce numéro se fait dans le menu "<b>mes périmètres</b>" accessible aux personnes avec le droit d'organisation de la structure.</p>
                            </div>
                            <div class="col-6">
                                {{sejour.structureOrganisatrice.numeroDeclarationInitiale}}
                            </div>
                        </div>
                        <div class="row border rounded border-primary p-3 my-1">
                            <div class="form-group">
                                {{form_row(form_declaration_intention.accompagnant)}}               
                            </div>
                        </div>
                        <div class="row border rounded border-primary p-3 my-1">
                            <div class="form-group">
                                {{form_row(form_declaration_intention.ficheComplementaire)}}               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item my-3 "> <!-- Direct·eur·rice -->
                <h2 class="accordion-header " id="flush-headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="true" aria-controls="flush-collapseTwo">
                        <h1>Personne qui dirige le séjour</h1>
                    </button>
                </h2>
                <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionDeclarationIntention">
                    <div class="accordion-body">  
                        <div class="row border rounded border-primary p-3 my-1">
                            <h3>Identification</h3>
                            <div class="form-group mb-2">
                                {{form_row(form_declaration_intention.directeur)}}               
                            </div>
                        
                            <div class="alert alert-secondary" role="alert">Les informations ci-dessous sont issues de Jéito à partir de la fiche de cette personne. Pour les modifier, vous devez le faire directement sur la fiche de cette personne.</div>
                            <div class="row border rounded border-primary p-3 my-1">
                                <div class="col-6">
                                    Prénom
                                </div>
                                <div class="col-6" id="prenom_dir">
                                </div>
                            </div>
                            <div class="row border rounded border-primary p-3 my-1">
                                <div class="col-6">
                                    Nom
                                </div>
                                <div class="col-6" id="nom_dir">
                                </div>
                            </div>
                            <div class="row border rounded border-primary p-3 my-1">
                                <div class="col-6">
                                    Numéro d'adhérent·e ou matricule salarié
                                </div>
                                <div class="col-6" id="num_adh_dir">
                                </div>
                            </div>
                            <div class="row border rounded border-primary p-3 my-1">
                                <div class="col-6">
                                    Téléphone
                                </div>
                                <div class="col-6" id="tel_dir">
                                </div>
                            </div>
                            <div class="row border rounded border-primary p-3 my-1">
                                <div class="col-6">
                                    Adresse e-mail
                                </div>
                                <div class="col-6" id="mail_dir">
                                </div>
                            </div>
                        </div>
                        <div id="sejour_declaration_intention_qualification_directeur" class="row border rounded border-primary p-3 my-1">
                            <h3>Fonctions et Qualifications</h3>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group diplome">
                                            {{ form_row(form_declaration_intention.qualificationDirection.diplomesDirection) }}
                                            
                                    </div>
                                    <div class="form-group equivalence">
                                            {{ form_row(form_declaration_intention.qualificationDirection.equivalenceDiplomeDirection) }}
                                    </div>  
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                            {{ form_row(form_declaration_intention.qualificationDirection.qualiteDirection) }}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                {{ include('components/document_ressource.html.twig', {'doc': docEquivalenceAnimationDirection}) }}
                            </div>
                            <div class="form-group">
                                {{ form_row(form_declaration_intention.qualificationDirection.statutAssistantSanitaire) }}
                                {{ include('components/document_ressource.html.twig', {'doc': docEquivalencePSC1}) }}
                            </div>
                            <div class="form-group">
                                {{ form_row(form_declaration_intention.qualificationDirection.permisB) }}
                            </div>
                            <div class="form-group">
                                {{ form_row(form_declaration_intention.qualificationDirection.fonction) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item my-3 "> <!-- Modalités -->
                <h2 class="accordion-header " id="flush-headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="true" aria-controls="flush-collapseThree">
                        <h1>Modalités de séjour</h1>
                    </button>
                </h2>
                <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionDeclarationIntention">
                    <div class="accordion-body">  
                        <div class="accordion accordion-flush" id="accordeonModalites">
                            <div class="row border rounded border-primary p-3 my-1">
                                <div class="form-group">
                                    {{form_row(form_declaration_intention.dateDebut)}}
                                </div>
                            </div>
                            <div class="row border rounded border-primary p-3 my-1">
                                <div class="form-group">
                                    {{form_row(form_declaration_intention.dateFin)}}
                                </div>
                            </div>
                            <div class="row border rounded border-primary p-3 my-1">
                                <div class="form-group" id="type_sejour">
                                    {{form_row(form_declaration_intention.typeSejour)}}     
                                    {{ include('components/document_ressource.html.twig', { 
                                        'doc': docTypoSejour , 
                                        'nom':"Typologie des séjours", 
                                        'description': "Présentation des différents types de séjours pour bien se repérer."}) }}          
                                </div>
                            </div>
                            <div class="accordion-item my-3" id="structures_regroupement">
                                <h2 class="accordion-header " id="flush-headingFive">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="true" aria-controls="flush-collapseFive">
                                        <h1>Autres structures participant au séjour</h1>
                                    </button>
                                </h2>
                                <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordeonModalites">
                                    <div class="accordion-body">  
                                        <div class="form-group">
                                            <div class="structuresRegroupees" data-prototype="{{ include('sejour/components/modification/_form_structure_regroupement_declaration_intention.html.twig', { 'form': form_declaration_intention.structuresRegroupees.vars.prototype })|escape}}">
                                                {% for structure in form_declaration_intention.structuresRegroupees %}
                                                <div class ="item border rounded border-secondary p-3 m-1">
                                                    {{ include('sejour/components/modification/_form_structure_regroupement_declaration_intention.html.twig', { 'form': structure}) }}
                                                </div>
                                                {% endfor %}
                                            </div>
                                            <button type="button" id="add_structuresRegroupees" class="btn btn-primary add_item_link" data-collection-holder-class="structuresRegroupees">Ajouter une structure</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row border rounded border-primary p-3 my-1">
                                <div class="form-group">
                                    {{form_row(form_declaration_intention.sejourOuvert)}}               
                                </div>
                            </div>                            
                            <div class="row border rounded border-primary p-3 my-1">
                                <div class="form-group">
                                    {{form_row(form_declaration_intention.international)}}               
                                </div>
                            </div>
                            <div class="row border rounded border-primary p-3 my-1">
                                <div class="form-group">
                                    {{form_row(form_declaration_intention.sejourFranceAvecAccueilEtranger)}}               
                                </div>
                            </div>
                            <div class="row border rounded border-primary p-3 my-1">
                                <div class="form-group">
                                    {{form_row(form_declaration_intention.coloApprenante)}}  
                                    {{ include('components/document_ressource.html.twig', { 
                                        'doc': docCahierDesChargesColosApprenantes , 
                                        'nom':"Cahier des charges des colos apprenantes", 
                                        'description': "Pour comprendre ce qui est attendu dans le dispositif vacances apprenantes."}) }}                  
                                </div>
                            </div>
                            <div class="row border rounded border-primary p-3 my-1">
                                <div class="form-group">
                                    {{form_row(form_declaration_intention.dispositifAppui)}}
                                    {{ include('components/document_ressource.html.twig', { 
                                        'doc': docCampsDeBase , 
                                        'nom':"Informations sur les camps de base", 
                                        'description': "Comprendre ce qu'est un camp de base et toutes les opportunités qui y sont offertes."}) }}  
                                    {{ include('components/document_ressource.html.twig', { 
                                    'doc': docCampsAccompagnes , 
                                    'nom':"Informations sur les camps accompagnés", 
                                    'description': "Comprendre ce qu'est un camp accompagné et comment se faire accompagner."}) }} 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item my-3 "> <!-- Lieux -->
                <h2 class="accordion-header " id="flush-headingFour">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="true" aria-controls="flush-collapseFour">
                        <h1>Lieu(x) envisagé(s)</h1>
                    </button>
                </h2>
                <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordeonModalites">
                    <div class="accordion-body">  
                        <div class="row border rounded border-primary p-3 my-1">
                            <div class="form-group" id="itinerance">
                                {{form_row(form_declaration_intention.sejourItinerant)}}               
                            </div>
                        </div>
                        <div class="form-group" id="lieux_sejour">
                            <div class="lieux" data-prototype="{{ include('sejour/components/modification/_form_utilisation_lieu_intention.html.twig', { 'form': form_declaration_intention.utilisationsLieuSejour.vars.prototype })|escape}}">
                                {% for utilisationLieuSejour in form_declaration_intention.utilisationsLieuSejour %}
                                    <div class ="item border rounded border-secondary p-3 m-1">
                                        {{ include('sejour/components/modification/_form_utilisation_lieu_intention.html.twig', { 'form': utilisationLieuSejour}) }}
                                    </div>
                                {% endfor %}
                            </div>
                            <button type="button" id="add_lieux" class="btn btn-primary add_item_link" data-collection-holder-class="lieux">Ajouter un Lieu</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item my-3 "> <!-- Effectifis prévisionnels -->
                <h2 class="accordion-header " id="flush-headingSix">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="true" aria-controls="flush-collapseSix">
                        <h1>Effectifs prévisionnels</h1>
                    </button>
                </h2>
                <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix" data-bs-parent="#accordionDeclarationIntention">
                    <div class="accordion-body"> 
                            {{form_errors(form_declaration_intention.effectifsPrevisionnels)}}
                        <div class="row border rounded border-primary p-3 my-1">
                            <h4>Participant·e·s</h4>
                            <div class="form-group">
                                {{form_row(form_declaration_intention.effectifsPrevisionnels.nbLutins)}}
                            </div>
                            <div class="form-group">
                                {{form_row(form_declaration_intention.effectifsPrevisionnels.nbLouveteaux)}}
                            </div>
                            <div class="form-group">
                                {{form_row(form_declaration_intention.effectifsPrevisionnels.nbEcles)}}
                            </div>
                            <div class="form-group">
                                {{form_row(form_declaration_intention.effectifsPrevisionnels.nbAines)}}
                            </div>
                            <div class="form-group">
                                {{form_row(form_declaration_intention.effectifsPrevisionnels.nbHandicap)}}
                            </div>
                        </div>
                        <div class="row border rounded border-primary p-3 my-1">
                            <h4>Encadrement</h4>
                            <div class="form-group">
                                {{form_row(form_declaration_intention.effectifsPrevisionnels.nbEncadrantsLutins)}}
                            </div>
                            <div class="form-group">
                                {{form_row(form_declaration_intention.effectifsPrevisionnels.nbEncadrantsLouveteaux)}}
                            </div>
                            <div class="form-group">
                                {{form_row(form_declaration_intention.effectifsPrevisionnels.nbEncadrantsEcles)}}
                            </div>
                            <div class="form-group">
                                {{form_row(form_declaration_intention.effectifsPrevisionnels.nbEncadrantsAines)}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                {{form_row(form_declaration_intention.save)}}
            </div>
            
            <!-- modal de confirmation publication-->
            <div class="modal" id="confirmation_publish" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Publication de la déclaration d'intention</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            {% for message in app.flashes('warning_dates_decla_sejour') %}
                                <div class="alert alert-warning" role="alert">{{ message }}</div>
                            {% endfor %}   
                            <p>Êtes-vous sûr·e de vouloir publier la déclaration d'intention?</p>
                        </div>
                        <div class="modal-footer">
                            <div class="form-group">
                                {{form_row(form_declaration_intention.publish)}}
                            </div>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                        </div>
                    </div>
                </div>
            </div>
            {{form_end(form_declaration_intention)}}
        </div>
        <a href="#haut" class= "btn btn-outline-dark m-3" >Retour en haut de la page</a>
    </div> 

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/autocomplete.js/0/autocomplete.jquery.min.js"></script>
    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    <script src="{{ asset('js/adherent-autocomplete.js') }}"></script>
    <script src="{{ asset('js/utils.js') }}"></script>
    <script src="{{ asset('js/rechercheLocalisation.js') }}"></script>
    <script>
    
        jQuery(document).ready(function() {
            gestionAjoutSuppressionObjetsListe('structuresRegroupees','Supprimer la structure')
            autorisationStructuresRegroupement();
            autorisationMultiLieu();
            affichageInfosDirecteur($('#sejour_declaration_intention_directeur'))
            $('#sejour_declaration_intention_directeur').on('autocomplete:selected',function() {
                affichageInfosDirecteur($(this))
            })
            gestionAjoutSuppressionObjetsListe('lieux','Supprimer le lieu');
            developperComposantsAvantSubmit()
            gestionAffichagePrecisionEquivalence($("#sejour_declaration_intention_qualification_directeur"))
        });
        //Permet d'afficher la précision du diplome lors d'une équivalence
        function gestionAffichagePrecisionEquivalence($divEncadrant)
        {
            var $bloc_diplome = $divEncadrant.find(".diplome").first();
            var $bloc_precision_equivalence = $divEncadrant.find(".equivalence").first();
            var $bloc_precision_qualite = $divEncadrant.find(".qualite").first();


            desactiverEtMasquerDivForm($bloc_precision_equivalence); 
            desactiverEtMasquerDivForm($bloc_precision_qualite); 

            afficher_masquer($bloc_diplome)
            
            $bloc_diplome.find('[type="checkbox"]').change(function () {
                afficher_masquer($bloc_diplome)
            });

            function afficher_masquer($bloc_diplome)
            {
                desactiverEtMasquerDivForm($bloc_precision_equivalence);
                desactiverEtMasquerDivForm($bloc_precision_qualite); 
                $bloc_diplome.find('[type="checkbox"]:checked').each(function()
                {
                    activerEtAfficherDivForm($bloc_precision_qualite);
                    if($(this).val() == "Equivalence")
                    {
                        activerEtAfficherDivForm($bloc_precision_equivalence)
                    }
                })
            }
        }
        //Permet de développer tous les accordéons et de fermer tous les modal lors de la soumission du formulaire
        function developperComposantsAvantSubmit()
        {
            $('button[type="submit"]').on('click',
                function() 
                {
                    $(".accordion-collapse").each(
                        function() 
                        {
                            $(this).addClass("show");
                        }
                    );
                    $(".modal.show .close").click();
                    $('.modal-backdrop').remove();
                    $('body').removeClass( "modal-open" );
                }
            )
        }
       
        //Affiche ou non les infos complémentaire lors d'un leu défini
        function gestionAffichageLieuIntention($divForm)
        {
            console.log("[gestionAffichageLieuIntention]Start")
            var $bloc_est_defini=$divForm.find("#defini").first();
            var $bloc_lieu_defini = $divForm.find("#lieu_defini").first();
            var $bloc_lieu_indefini = $divForm.find("#lieu_indefini").first();

            
            afficher_masquer($bloc_est_defini)
            
            $bloc_est_defini.find('select').change(function () {
                afficher_masquer($bloc_est_defini)
            });

            function afficher_masquer($bloc_est_defini)
            {
                //Lieu défini
                if ($bloc_est_defini.find('select option:selected').val() == "1")
                {
                    activerEtAfficherDivForm($bloc_lieu_defini)
                    desactiverEtMasquerDivForm($bloc_lieu_indefini)
                    console.log("[gestionAffichageLieuIntention]Lieu défini")
                //Lieu non défini
                } else if ($bloc_est_defini.find('select option:selected').val() == "0") {
                    desactiverEtMasquerDivForm($bloc_lieu_defini)
                    activerEtAfficherDivForm($bloc_lieu_indefini)
                    console.log("[gestionAffichageLieuIntention]Lieu indéfini")
                }
            }
            console.log("[gestionAffichageLieuIntention]End")
        }
        //Affiche la sélection des structure de regroupement uniquement si type séjour = TYPE_SEJOUR_RASSEMBLEMENT ou TYPE_SEJOUR_REGROUPEMENT
        function autorisationMultiLieu()
        {
            var $bloc_sejour_itinerant=$("#itinerance");
            var $bouton_ajout_lieu=$("#add_lieux");

            if ($bloc_sejour_itinerant.find('[type="radio"]:checked').val() == 1)
            {
                $bouton_ajout_lieu.prop('disabled', false);
            } else{
                
                $bouton_ajout_lieu.prop('disabled', true);
                //On supprime tous les lieux:
                $("#lieux_sejour div.item ").each(function( index ) {
                    if(index > 0)
                    {
                        $(this).remove()
                    }
                });
            }


            $bloc_sejour_itinerant.find('[type="radio"]').change(function () {
                if ($(this).val() == 1)
                {
                    $bouton_ajout_lieu.prop('disabled', false);
                } else{
                    $bouton_ajout_lieu.prop('disabled', true);
                    //On supprime tous les lieux:
                    $("#lieux_sejour div.item ").each(function( index ) {
                    if(index > 0)
                    {
                        $(this).remove()
                    }
                });
                }
            });
        }



        //Affiche la sélection des structure de regroupement uniquement si type séjour = TYPE_SEJOUR_RASSEMBLEMENT ou TYPE_SEJOUR_REGROUPEMENT
        function autorisationStructuresRegroupement()
        {
            var $bloc_type_sejour=$("#type_sejour");

            var $blocStructuresRegroupement = $("#structures_regroupement");

            if (
                ($bloc_type_sejour.find('[type="radio"]:checked').val() == "{{ constant('TYPE_SEJOUR_REGROUPEMENT', sejour) }}")
                || ($bloc_type_sejour.find('[type="radio"]:checked').val() == "{{ constant('TYPE_SEJOUR_RASSEMBLEMENT', sejour) }}")
            )
            {
                $blocStructuresRegroupement.show(); 
                $blocStructuresRegroupement.prop('disabled', false);
            } else{
                $blocStructuresRegroupement.hide();
                $blocStructuresRegroupement.prop('disabled', true);
                //On supprime tous les items:
                $("#structures_regroupement div.item ").remove();
            }


            $bloc_type_sejour.find('[type="radio"]').change(function () {
                if (
                    ($(this).val() == "{{ constant('TYPE_SEJOUR_REGROUPEMENT', sejour) }}")
                    || ($(this).val() == "{{ constant('TYPE_SEJOUR_RASSEMBLEMENT', sejour) }}")
                )
                {
                    $blocStructuresRegroupement.show(); 
                    $blocStructuresRegroupement.prop('disabled', false);
                } else {
                    $blocStructuresRegroupement.hide();
                    $blocStructuresRegroupement.prop('disabled', true);
                    //On supprime tous les items:
                    $("#structures_regroupement div.item ").remove();
                }
            });
        }

        function gestionAjoutSuppressionObjetsListe($nomListe,$objet)
        {
            // Get the ul that holds the collection of tags
            var $collectionHolder = $('div.'+$nomListe);
            // add a delete link to all of the existing tag form li elements
            $collectionHolder.find('div.item').each(function(index) {
                if(index>0 || ($nomListe!=="lieux"))
                {
                    addFormDeleteLink($(this),$objet);
                }
                if(($nomListe=="lieux"))
                {
                    gestionAffichageLieuIntention($(this))
                    rechercheLocalisation($(this))
                }
                gestionChangementStructureRegroupement($(this))
            });

            // count the current form inputs we have (e.g. 2), use that as the new
            // index when inserting a new item (e.g. 2)
            $collectionHolder.data('index', $collectionHolder.find('input').length);

            $('body').on('click', '#add_'+$nomListe, function(e) {
                var $collectionHolderClass = $(e.currentTarget).data('collectionHolderClass');
                // add a new tag form (see next code block)
                addFormToCollection($collectionHolderClass,$objet);
            })
        }
        function addFormToCollection($collectionHolderClass,$labelSuppression)
        {
            // Get the ul that holds the collection of tags
            var $collectionHolder = $('.' + $collectionHolderClass);

            // Get the data-prototype explained earlier
            var prototype = $collectionHolder.data('prototype');
            // get the new index
            var index = $collectionHolder.data('index');

            var newForm = prototype;
            // You need this only if you didn't set 'label' => false in your tags field in TaskType
            // Replace '__name__' in the prototype's HTML to
            // instead be a number based on how many items we have
            newForm = newForm.replace(/__name__/g, index);

            // increase the index with one for the next item
            $collectionHolder.data('index', index + 1);

            // Display the form in the page in an li, before the "Add a tag" link li
            var $newLi=$('<div class ="item border rounded border-secondary p-3 m-1" ></div>');
            var $newFormLi = $newLi.append(newForm);
            gestionChangementStructureRegroupement($newFormLi)
            
            
            // add a delete link to the new form
            addFormDeleteLink($newLi,$labelSuppression);
            $collectionHolder.append($newLi)
            if($collectionHolderClass == "lieux")
            {
                gestionAffichageLieuIntention($newFormLi)
                rechercheLocalisation($newFormLi)
            }
            
        }
        function addFormDeleteLink($tagFormLi,$labelSuppression) {
            var $removeFormButton = $('<button type="button" class="btn btn-secondary m-3" >'+$labelSuppression+'</button>');
            $tagFormLi.append($removeFormButton);

            $removeFormButton.on('click', function(e) {
                // remove the li for the tag form
                $tagFormLi.remove();
            });
        }

        // On affiche le champ autres uniquement si la case est cochée
        function gestionChangementStructureRegroupement($divForm) 
        {
            var $bloc_radio=$divForm.find("#est_eedf").first();

            var $blocSelectionEEDF = $divForm.find("#selection_eedf").first();
            var $selectEEDF=$blocSelectionEEDF.find("select.form-control").first();

            var $blocSelectionNonEEDF = $divForm.find("#selection_non_eedf").first();
            var $textNomNonEEDF=$blocSelectionNonEEDF.find('input.form-control').first();
            var $textareaDescNonEEDF=$blocSelectionNonEEDF.find("textarea.form-control").first();

            //Structure non EEDF
            if ($divForm.find('[type="radio"]:checked').val() == "0")
            {
                $blocSelectionNonEEDF.show(); 
                $blocSelectionEEDF.hide();
                $selectEEDF.prop('disabled', true); 
                $textNomNonEEDF.prop('disabled', false);
                $textareaDescNonEEDF.prop('disabled', false);
            //Structure EEDF
            } else if ($divForm.find('[type="radio"]:checked').val() == "1") {
                $blocSelectionNonEEDF.hide();
                $blocSelectionEEDF.show();
                $selectEEDF.prop('disabled', false);
                $textNomNonEEDF.prop('disabled', true);
                $textareaDescNonEEDF.prop('disabled', true);
            }


            $divForm.find('[type="radio"]').change(function () {
                //Structure non EEDF
                if ($(this).val() == "0")
                {
                    $blocSelectionNonEEDF.show(); 
                    $blocSelectionEEDF.hide();
                    $selectEEDF.prop('disabled', true); 
                    $textNomNonEEDF.prop('disabled', false);
                $textareaDescNonEEDF.prop('disabled', false);
                //Structure EEDF
                } else {
                    $blocSelectionNonEEDF.hide();
                    $blocSelectionEEDF.show();
                    $selectEEDF.prop('disabled', false);
                    $textNomNonEEDF.prop('disabled', true);
                $textareaDescNonEEDF.prop('disabled', true);
                }
            });
        }

    </script>
    <script src="{{ asset('js/bootstrap-datetimepicker.min.js') }}"></script>
    <script>
        $(document).ready(function() {
            jQuery.datetimepicker.setLocale('fr');
            $('.js-datepicker').datetimepicker(
                {
                    timepicker: false,
                    datepicker: true,
                    format:'d/m/Y',
                    inline:false,
                    scrollMonth : false,
                    scrollInput : false
                    
                }

            );
        });
    </script>
{% endblock %}


