<div class="wrapper">
    <div class="accordion" id="accordionDeclarationIntention">
        <div class="row accordion-item my-3 "> <!-- Informations générales -->
            <h2 class="col accordion-header " id="flush-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="true" aria-controls="flush-collapseOne">
                    <h1>Informations de structure et déclaration</h1>
                </button>
            </h2>
            {{ include('sejour/components/details_commentaires.html.twig', {
                    'sujet': constant('App\\Entity\\Commentaire::SUJET_SEJOUR_DECLARATION_INTENTION_INFOS_GENERALES')}) }}
            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionDeclarationIntention">
                <div class="accordion-body">      
                    <div class="row border rounded border-primary p-3 my-1">
                        <div class="col-6">
                            Publiée le
                        </div>
                        <div class="col-6">
                            {{sejour.dateModification |format_datetime(pattern="d MMMM y \à H\:mm", locale='fr') }}
                        </div>
                    </div>
                    <div class="row border rounded border-primary p-3 my-1">
                        <div class="col-6">
                            Nom du séjour
                        </div>
                        <div class="col-6">
                            {{sejour.intitule}}               
                        </div>
                    </div>
                    <div class="row border rounded border-primary p-3 my-1">
                        <div class="col-6">
                            Structure organisatrice
                        </div>
                        <div class="col-6">
                            {{sejour.structureOrganisatrice.nom}}
                        </div>
                    </div>
                    <div class="row border rounded border-primary p-3 my-1">
                        <div class="col-6">
                            Responsable de la structure
                        </div>
                        <div class="col-6">
                            {% set arrayResponsablesStructures = [] %}
                            {% if sejour.structureOrganisatrice.equipeGestion is not null %}
                                {% for fonction in sejour.structureOrganisatrice.equipeGestion.fonctionsActives(constant('App\\Entity\\Fonction::TYPE_FONCTION_RESPONSABLE'),sejour.dateDebut ) %}
                                        {% set arrayResponsablesStructures = arrayResponsablesStructures|merge([fonction.personne.prenom ~ " " ~ fonction.personne.nom]) %}
                                {% endfor %} 
                                {{ arrayResponsablesStructures | join(', ', ' et ')}}
                            {% else %} 
                                Non défini·e
                            {% endif %}
                        </div>
                    </div>
                    <div class="row border rounded border-primary p-3 my-1">
                        <div class="col-6">
                            Région de rattachement de l'organisateur
                        </div>
                        <div class="col-6">
                            {% if sejour.structureOrganisatrice.structureParent.echelon == constant('ECHELON_STRUCTURE_REGIONAL', sejour.structureOrganisatrice) %}
                                {{sejour.structureOrganisatrice.structureParent.nom}}
                            {% else %}
                                <p class="text-muted">N/A</p>
                            {% endif %}
                        </div>
                    </div>                         
                    <div class="row border rounded border-primary p-3 my-1">
                        <div class="col-6">
                            La ou le représentant·e de l'organisat·eur·rice pour le séjour au regard de la fiche initiale
                            <small><i>(si différent du responsable de la structure)</i></small>
                        </div>
                        <div class="col-6">
                            {% if sejour.structureOrganisatrice.nomOrganisateurDDCS %}
                                {{sejour.structureOrganisatrice.prenomOrganisateurDDCS}} {{sejour.structureOrganisatrice.nomOrganisateurDDCS}}
                            {% else %}
                                <p class="text-muted">N/A</p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row border rounded border-primary p-3 my-1">
                        <div class="col-6">
                            Numéro de déclaration initiale de la déclaration sur TAM (SDJES)
                            <p class="text-muted">La mise à jour de ce numéro se fait dans le menu "<b>mes périmètres</b>" accessible aux personnes avec le droit d'organisation de la structure.</p>
                        </div>
                        <div class="col-6">
                            {{sejour.structureOrganisatrice.numeroDeclarationInitiale}}
                        </div>
                    </div>
                    <div class="row border rounded border-primary p-3 my-1">
                        <div class="col-6">
                            Accompagnant·e
                        </div>
                        <div class="col-6">
                            {% if sejour.accompagnant %}
                                {{sejour.accompagnant.prenom}} {{sejour.accompagnant.nom}} ({{sejour.accompagnant.numeroAdherentOuMatricule}})               
                            {% else %}
                                <p class="text-muted">Non défini</p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row border rounded border-primary p-3 my-1">
                        <div class="col-6">
                            Fiche complémentaire
                        </div>
                        <div class="col-6">
                            {% if sejour.ficheComplementaire %}
                                    <a target='_blank' href="{{ vich_uploader_asset(sejour.ficheComplementaire) }}">Télécharger</a>
                            {% else %}
                                    <p class="text-muted">Non renseignée</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row accordion-item my-3 ">
            <h2 class="col accordion-header " id="flush-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="true" aria-controls="flush-collapseTwo">
                    <h1>Identification du·de la direct·eur·rice</h1>
                </button>
            </h2>
            
                {{ include('sejour/components/details_commentaires.html.twig', {
                               'sujet': constant('App\\Entity\\Commentaire::SUJET_SEJOUR_DECLARATION_INTENTION_DIRECTION')}) }}  

            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionDeclarationIntention">
                <div class="accordion-body">  
                    <div class="row border rounded border-primary p-3 my-1">
                    <h3>Identification</h3>
                        {{ include('sejour/components/suivi/_detail_identification_directeur_sans_modif.html.twig', {'directeur': sejour.directeur}) }}
                    </div>
                    <div class="row border rounded border-primary p-3 my-1">
                        <h3>Fonctions et qualifications</h3>
                        <div class="row border rounded border-primary p-3 my-1">
                                <div class="col">
                                    {% if (sejour.qualificationDirection is not null) and  (sejour.qualificationDirection.diplomesDirection|length >0) %}
                                        {{sejour.qualificationDirection.diplomesDirection|join(", "," et ") }} 
                                        {% if sejour.qualificationDirection.equivalenceDiplomeDirection is not null %}
                                            {{sejour.qualificationDirection.equivalenceDiplomeDirection}} 
                                        {% endif %}
                                    {% else %}
                                        <span class="text-muted">Diplôme non renseigné</spam>
                                    {% endif %}
                                </div>
                                <div class="col"> 
                                        {% if sejour.qualificationDirection is not null %}
                                        {{sejour.qualificationDirection.qualiteDirection}}
                                        {% else %}
                                        <p class="text-muted">Non renseigné</p>
                                        {% endif %}
                                </div>
                        </div>
                        <div class="row border rounded border-primary p-3 my-1">
                                <div class="col">
                                        Permis B
                                </div>
                                <div class="col">
                                        {% if sejour.qualificationDirection is not null %}
                                        {% if sejour.qualificationDirection.permisB %}
                                                Oui
                                        {% else %}
                                                Non
                                        {% endif %}
                                        {% else %}
                                        <p class="text-muted">Non renseigné</p>
                                        {% endif %}
                                </div>
                        </div>
                        <div class="row border rounded border-primary p-3 my-1">
                            <div class="col">
                                    PSC1 ou équivalent
                            </div>
                            <div class="col">
                                    {% if sejour.qualificationDirection is not null %}
                                    {% if sejour.qualificationDirection.statutAssistantSanitaire %}
                                            Oui
                                    {% else %}
                                            Non
                                    {% endif %}
                                    {% endif %}
                            </div>
                        </div>
                        <div class="row border rounded border-primary p-3 my-1">
                            <div class="col">
                                    Fonction(s) sur le séjour
                            </div>
                            <div class="col">
                                    {% if sejour.qualificationDirection is not null %}
                                    {% if sejour.qualificationDirection.fonction is not null %}
                                            {{sejour.qualificationDirection.fonction|join(", "," et ") }} 
                                    {% else %}
                                            <p class="text-muted">Non renseigné</p>
                                    {% endif %}
                                    {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row accordion-item my-3 ">
            <h2 class="col accordion-header " id="flush-headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="true" aria-controls="flush-collapseThree">
                    <h1>Modalités de séjour</h1>
                </button>
            </h2>
            {{ include('sejour/components/details_commentaires.html.twig', {
                               'sujet': constant('App\\Entity\\Commentaire::SUJET_SEJOUR_DECLARATION_INTENTION_MODALITES')}) }}
            <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionDeclarationIntention">
                <div class="accordion-body">  
                    <div class="accordion accordion-flush" id="accordeonModalites">
                        <div class="row border rounded border-primary p-3 my-1">
                            <div class="col-6">
                                Date de début de séjour envisagée
                            </div>
                            <div class="col-6">
                                {{sejour.dateDebut |format_datetime(pattern="d MMMM y", locale='fr')}}
                            </div>
                        </div>
                        <div class="row border rounded border-primary p-3 my-1">
                            <div class="col-6">
                                Date de fin de séjour envisagée
                            </div>
                            <div class="col-6">
                                {{sejour.dateFin |format_datetime(pattern="d MMMM y", locale='fr')}}
                            </div>
                        </div>
                        <div class="row border rounded border-primary p-3 my-1">
                            <div class="col-6">
                                Type de séjour
                            </div>
                            <div class="col-6">
                                {{sejour.typeSejour}}               
                            </div>
                        </div>
                        {% if (sejour.typeSejour is constant('TYPE_SEJOUR_RASSEMBLEMENT', sejour))
                            or (sejour.typeSejour is constant('TYPE_SEJOUR_REGROUPEMENT', sejour)) %}
                        <div class="accordion-item my-3" id="structures_regroupement">
                            <h2 class="accordion-header " id="flush-headingFive">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="true" aria-controls="flush-collapseFive">
                                    <h1>Autre(s) structure(s) participant au séjour</h1>
                                </button>
                            </h2>
                            <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordeonModalites">
                                <div class="accordion-body">  
                                    {% for structure in sejour.structuresRegroupees %}
                                    <div class="row border rounded border-primary p-3 my-1">
                                        {% if structure.estEEDF %}
                                            <div class="col-6">
                                                {{structure.structureEEDF.nom}}
                                            </div>
                                            <div class="col-6">
                                                {{structure.structureEEDF.type}}
                                            </div>
                                        {% else %}
                                            <div class="col-6">
                                                {{structure.nomStructureNonEEDF}}
                                            </div>
                                            <div class="col-6">
                                                {{structure.descriptionStructureNonEEDF}}
                                            </div>
                                        {% endif %}
                                    </div>
                                    {% endfor %} 
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        <div class="row border rounded border-primary p-3 my-1">
                            <div class="col-6">
                                Séjour ouvert
                            </div>
                            <div class="col-6">
                                {% if sejour.sejourOuvert %}
                                    Oui
                                {% else %}
                                    Non
                                {% endif %}    
                            </div>
                        </div>
                        <div class="row border rounded border-primary p-3 my-1">
                            <div class="col-6">
                                Séjour à l'international
                            </div>
                            <div class="col-6">
                                {% if sejour.international %}
                                    Oui
                                {% else %}
                                    Non
                                {% endif %}    
                            </div>
                        </div>
                        <div class="row border rounded border-primary p-3 my-1">
                            <div class="col-6">
                            Séjour en France avec accueil d'un groupe étranger
                            </div>
                            <div class="col-6">
                                {% if sejour.sejourFranceAvecAccueilEtranger %}
                                    Oui
                                {% else %}
                                    Non
                                {% endif %}    
                            </div>
                        </div>
                        <div class="row border rounded border-primary p-3 my-1">
                            <div class="col-6">
                                Vacances apprenantes
                            </div>
                            <div class="col-6">
                                {% if sejour.coloApprenante %}
                                    Oui
                                {% else %}
                                    Non
                                {% endif %}    
                            </div>
                        </div>
                        <div class="row border rounded border-primary p-3 my-1">
                            <div class="col-6">
                                Dispositif d'appui
                            </div>
                            <div class="col-6">
                                {{sejour.dispositifAppui}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row accordion-item my-3 ">
            <h2 class="col accordion-header " id="flush-headingFour">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="true" aria-controls="flush-collapseFour">
                    <h1>Lieu(x) envisagé(s)</h1>
                </button>
            </h2>
            {{ include('sejour/components/details_commentaires.html.twig', {
                    'sujet': constant('App\\Entity\\Commentaire::SUJET_SEJOUR_DECLARATION_INTENTION_LIEUX')}) }}
            <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordeonModalites">
                <div class="accordion-body"> 
                    <div class="row border rounded border-primary p-3 my-1">
                        <div class="col-6">
                            Séjour itinérant
                        </div>
                        <div class="col-6">
                            {% if sejour.sejourItinerant %}
                                Oui
                            {% else %}
                                Non
                            {% endif %}    
                        </div>
                    </div> 
                    {% if sejour.sejourItinerant %}
                        <div class="form-group" id="lieux_sejour">
                            {% set indexLieu = 1 %}
                            {% for lieu in sejour.utilisationsLieuSejour %}
                                <div class="row border rounded border-primary p-3 my-1">
                                    <div class="col-6">
                                        Lieu n°{{indexLieu}}
                                    </div>
                                    <div class="col-6">
                                        {% if lieu.estDefini %}
                                            {{lieu.lieu.nom}}
                                        {% else %}
                                            A déterminer (zone envisagée: {{lieu.zoneEnvisagee}})
                                        {% endif %}               
                                    </div>
                                </div>
                                {% set indexLieu = indexLieu + 1 %}
                            {% endfor %}
                        </div>
                    {% else %}
                        <div class="row border rounded border-primary p-3 my-1">
                            <div class="col-6">
                                Lieu envisagé
                            </div>
                            <div class="col-6">
                                {% if sejour.utilisationsLieuSejour[0].estDefini and sejour.utilisationsLieuSejour[0].lieu %}
                                    {{sejour.utilisationsLieuSejour[0].lieu.nom}}
                                {% else %}
                                    A déterminer (zone envisagée: {{sejour.utilisationsLieuSejour[0].zoneEnvisagee}})
                                {% endif %}               
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row accordion-item my-3 ">
            <h2 class="col accordion-header " id="flush-headingSix">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="true" aria-controls="flush-collapseSix">
                    <h1>Effectifs prévisionnels</h1>
                </button>
            </h2>
            {{ include('sejour/components/details_commentaires.html.twig', {
                               'sujet': constant('App\\Entity\\Commentaire::SUJET_SEJOUR_DECLARATION_INTENTION_EFFECTIFS_PREVISIONNELS')}) }}
            <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix" data-bs-parent="#accordionDeclarationIntention">
                <div class="accordion-body"> 
                    <div class="border rounded border-primary p-3 my-1">
                        <div class="row">
                            <div class="col-6">
                                    Nombre de lutin·e·s (6-8 ans)
                            </div>
                            <div class="col-6">
                                {{sejour.effectifsPrevisionnels.nbLutins}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                    Nombre de louvet·tes.eaux (8-11 ans)
                            </div>
                            <div class="col-6">
                                {{sejour.effectifsPrevisionnels.nbLouveteaux}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                    Nombre d'éclé·e·s (11-15 ans)
                            </div>
                            <div class="col-6">
                                {{sejour.effectifsPrevisionnels.nbEcles}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                    Nombre d'aîné·e·s (15-18 ans)
                            </div>
                            <div class="col-6">
                                {{sejour.effectifsPrevisionnels.nbAines}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                    Nombre de mineur·e·s en situation de handicap
                            </div>
                            <div class="col-6">
                                {{sejour.effectifsPrevisionnels.nbHandicap}}
                            </div>
                        </div>
                    </div>
                    <div class="border rounded border-primary p-3 my-1">
                        <div class="row">
                            <div class="col-6">
                                    Nombre d'encadrant·e·s lutin·e·s
                            </div>
                            <div class="col-6">
                                {{sejour.effectifsPrevisionnels.nbEncadrantsLutins}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                    Nombre d'encadrant·e·s louvet·tes.eaux
                            </div>
                            <div class="col-6">
                                {{sejour.effectifsPrevisionnels.nbEncadrantsLouveteaux}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                    Nombre d'encadrant·e·s éclé·e·s
                            </div>
                            <div class="col-6">
                                {{sejour.effectifsPrevisionnels.nbEncadrantsEcles}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                    Nombre d'encadrant·e·s aîné·e·s
                            </div>
                            <div class="col-6">
                                {{sejour.effectifsPrevisionnels.nbEncadrantsAines}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 



