{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block title %}Archive du séjour "{{sejour.intitule}}"{% endblock %}

{% block headerbody %}
    <h1> {{ include('components/icones/3 - Mes séjours.svg') }}Archive du séjour "{{sejour.intitule}}"</h1>
    <p>Sur cette page et grâce aux différents onglets, vous pouvez retrouver les informations principales du séjour.</p>
{% endblock %}

{% block body %}
<!-- Nav tabs -->
    <div class="pane-content-inner">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="modalites-tab" data-bs-toggle="tab" data-bs-target="#modalites" type="button" role="tab" aria-controls="modalites" aria-selected="true">Informations générales</button>
            </li>
                <li class="nav-item" role="presentation">
                <button class="nav-link" id="effectifs-tab" data-bs-toggle="tab" data-bs-target="#effectifs" type="button" role="tab" aria-controls="effectifs" aria-selected="false">Effectifs</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="dates-lieux-tab" data-bs-toggle="tab" data-bs-target="#dates-lieux" type="button" role="tab" aria-controls="dates-lieux" aria-selected="false">Dates et lieux</button>
            </li>
        </ul>
        <div class="tab-content" id="tabConstructionSejourContent">
            <div class="tab-pane fade show active" id="modalites" role="tabpanel" aria-labelledby="modalites-tab">
                {{ include('sejour/components/suivi/detail_informations_generales_sejour_sans_modif.html.twig', {'type': 'archive'})}}
            </div>
            <div class="tab-pane fade" id="effectifs" role="tabpanel" aria-labelledby="effectifs-tab">
                {{ include('sejour/components/suivi/detail_effectifs_sejour_sans_modif.html.twig', {'type': 'archive'})}}
            </div>
            <div class="tab-pane fade " id="dates-lieux" role="tabpanel" aria-labelledby="dates-lieux-tab">
                {{ include('sejour/components/suivi/detail_dates_lieux_sejour_sans_modif.html.twig', {'type': 'archive'})}}
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}


