
    <div class="container py-2">
        <h2>Détails de la construction du projet</h2>
        <p>Retrouvez ici les différents aspects du projet de séjour</p>
    </div>
    <div class="pane-content-inner">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link {% if panelActif.panelActifConstruction == constant('PANEL_CONSTRUCTION_INFOS_GENERALES', panelActif) %} active {% endif %}" id="modalites-tab" data-bs-toggle="tab" data-bs-target="#modalites" type="button" role="tab" aria-controls="modalites" aria-selected="true">Informations générales</button>
            </li>
                <li class="nav-item" role="presentation">
                <button class="nav-link {% if panelActif.panelActifConstruction == constant('PANEL_CONSTRUCTION_EFFECTIFS', panelActif) %} active {% endif %}" id="effectifs-tab" data-bs-toggle="tab" data-bs-target="#effectifs" type="button" role="tab" aria-controls="effectifs" aria-selected="false">Effectifs</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link {% if panelActif.panelActifConstruction == constant('PANEL_CONSTRUCTION_DATES_LIEUX', panelActif) %} active {% endif %}" id="dates-lieux-tab" data-bs-toggle="tab" data-bs-target="#dates-lieux" type="button" role="tab" aria-controls="dates-lieux" aria-selected="false">Dates et lieux</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link {% if panelActif.panelActifConstruction == constant('PANEL_CONSTRUCTION_DEMARCHES_PEDA', panelActif) %} active {% endif %}" id="arome-tab" data-bs-toggle="tab" data-bs-target="#arome" type="button" role="tab" aria-controls="arome" aria-selected="false">Démarches pédagogiques </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link {% if panelActif.panelActifConstruction == constant('PANEL_CONSTRUCTION_LOGISTIQUE', panelActif) %} active {% endif %}" id="logistique-tab" data-bs-toggle="tab" data-bs-target="#logistique" type="button" role="tab" aria-controls="arome" aria-selected="false">Aspects logistiques</button>
            </li>
        </ul>
        <div class="tab-content" id="tabConstructionSejourContent">
            <div class="tab-pane fade {% if panelActif.panelActifConstruction == constant('PANEL_CONSTRUCTION_INFOS_GENERALES', panelActif) %} show active {% endif %}" id="modalites" role="tabpanel" aria-labelledby="modalites-tab">
                {{ include('sejour/components/suivi/detail_informations_generales_sejour_sans_modif.html.twig', {'type': 'construction'})}}
            </div>
            <div class="tab-pane fade {% if panelActif.panelActifConstruction == constant('PANEL_CONSTRUCTION_EFFECTIFS', panelActif) %} show active {% endif %}" id="effectifs" role="tabpanel" aria-labelledby="effectifs-tab">
                {{ include('sejour/components/suivi/detail_effectifs_sejour_sans_modif.html.twig', {'type': 'construction'})}}
            </div>
            <div class="tab-pane fade {% if panelActif.panelActifConstruction == constant('PANEL_CONSTRUCTION_DATES_LIEUX', panelActif) %} show active {% endif %}" id="dates-lieux" role="tabpanel" aria-labelledby="dates-lieux-tab">
                {{ include('sejour/components/suivi/detail_dates_lieux_sejour_sans_modif.html.twig', {'type': 'construction'})}}
            </div>
            <div class="tab-pane fade {% if panelActif.panelActifConstruction == constant('PANEL_CONSTRUCTION_DEMARCHES_PEDA', panelActif) %} show active {% endif %}" id="arome" role="tabpanel" aria-labelledby="arome-tab">
                {{ include('sejour/components/suivi/detail_peda_sejour_sans_modif.html.twig')}}
            </div>
            <div class="tab-pane fade {% if panelActif.panelActifConstruction == constant('PANEL_CONSTRUCTION_LOGISTIQUE', panelActif) %} show active {% endif %}" id="logistique" role="tabpanel" aria-labelledby="logistique-tab">
                {{ include('sejour/components/suivi/detail_logistique_sejour_sans_modif.html.twig')}}
            </div>
        </div>
    </div>
