    <div class="container py-2">
        <h2>Détails de la construction du projet</h2>
        <p>Retrouvez ici les différents aspects du projet de séjour</p>
        {{ include('components/document_ressource.html.twig', { 
                                                'doc': docModeleProjetSejour}) }} 
    </div>
    <div class="pane-content-inner">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link {% if sejour.panelActif.panelActifConstruction == constant('PANEL_CONSTRUCTION_INFOS_GENERALES', sejour.panelActif) %} active {% endif %}" id="modalites-tab" data-bs-toggle="tab" data-bs-target="#modalites" type="button" role="tab" aria-controls="modalites" aria-selected="true">Informations générales</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link {% if sejour.panelActif.panelActifConstruction == constant('PANEL_CONSTRUCTION_EFFECTIFS', sejour.panelActif) %} active {% endif %}" id="effectifs-tab" data-bs-toggle="tab" data-bs-target="#effectifs" type="button" role="tab" aria-controls="effectifs" aria-selected="false">Effectifs</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link {% if sejour.panelActif.panelActifConstruction == constant('PANEL_CONSTRUCTION_DATES_LIEUX', sejour.panelActif) %} active {% endif %}" id="dates-lieux-tab" data-bs-toggle="tab" data-bs-target="#dates-lieux" type="button" role="tab" aria-controls="dates-lieux" aria-selected="false">Dates et lieux</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link {% if sejour.panelActif.panelActifConstruction == constant('PANEL_CONSTRUCTION_DEMARCHES_PEDA', sejour.panelActif) %} active {% endif %}" id="arome-tab" data-bs-toggle="tab" data-bs-target="#arome" type="button" role="tab" aria-controls="arome" aria-selected="false">Démarches pédagogiques </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link {% if sejour.panelActif.panelActifConstruction == constant('PANEL_CONSTRUCTION_LOGISTIQUE', sejour.panelActif) %} active {% endif %}" id="logistique-tab" data-bs-toggle="tab" data-bs-target="#logistique" type="button" role="tab" aria-controls="arome" aria-selected="false">Aspects logistiques</button>
            </li>
        </ul>
        <div class="tab-content" id="tabConstructionSejourContent">
            <div class="tab-pane fade {% if sejour.panelActif.panelActifConstruction == constant('PANEL_CONSTRUCTION_INFOS_GENERALES', sejour.panelActif) %} show active {% endif %}" id="modalites" role="tabpanel" aria-labelledby="modalites-tab">
                {{ include('sejour/components/modification/_form_infos_generales_sejour.html.twig')}}
            </div>
            <div class="tab-pane fade {% if sejour.panelActif.panelActifConstruction == constant('PANEL_CONSTRUCTION_EFFECTIFS', sejour.panelActif) %} show active {% endif %}" id="effectifs" role="tabpanel" aria-labelledby="effectifs-tab">
                {{ include('sejour/components/effectifs_sejour.html.twig')}}
            </div>
            <div class="tab-pane fade {% if sejour.panelActif.panelActifConstruction == constant('PANEL_CONSTRUCTION_DATES_LIEUX', sejour.panelActif) %} show active {% endif %}" id="dates-lieux" role="tabpanel" aria-labelledby="dates-lieux-tab">
                {{ include('sejour/components/modification/_form_dates_lieux_sejour.html.twig')}}
            </div>
            <div class="tab-pane fade {% if sejour.panelActif.panelActifConstruction == constant('PANEL_CONSTRUCTION_DEMARCHES_PEDA', sejour.panelActif) %} show active {% endif %}" id="arome" role="tabpanel" aria-labelledby="arome-tab">
                {{ include('sejour/components/modification/_form_peda_sejour.html.twig')}}
            </div>
            <div class="tab-pane fade {% if sejour.panelActif.panelActifConstruction == constant('PANEL_CONSTRUCTION_LOGISTIQUE', sejour.panelActif) %} show active {% endif %}" id="logistique" role="tabpanel" aria-labelledby="logistique-tab">
                {{ include('sejour/components/modification/_form_logistique_sejour.html.twig')}}
            </div>
        </div>
    </div>