{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/algolia-autocomplete.css') }}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
     integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
     crossorigin=""/>
{% endblock %}
{% block title %}Projet de séjour "{{sejour.intitule}}" (suspendu){% endblock %}

{% block headerbody %}
    <h1> {{ include('components/icones/3 - Mes séjours.svg') }}Projet de séjour "{{sejour.intitule}}" (suspendu)</h1>
    <div class="alert alert-warning" role="alert">Séjour suspendu par l'organisateur, les modifications et les commentaires ne sont plus possibles pour le moment.</div>
{% endblock %}

{% block body %}

{% for message in app.flashes('success_suspension') %}
    <div class="alert alert-success" role="alert">{{ message }}</div>
{% endfor %}   
{% for message in app.flashes('danger_reactivation') %}
    <div class="alert alert-danger" role="alert">{{ message }}</div>
{% endfor %} 
<!-- Nav tabs -->
{% if is_granted('organisation', sejour) %}
    <div class="row border rounded border-secondary p-3 m-3">
        <h5>Faire évoluer l’état de mon projet de séjour</h5>
        <div class="col-6">
            {% if is_granted('organisation', sejour) %}
                {{ include('sejour/components/changement_etat/_annulation_sejour.html.twig', { 'sejour': sejour}) }}
            {% endif %}
        </div>
        <div class="col-6">
            {% if is_granted('organisation', sejour) %}
                {{ include('sejour/components/changement_etat/_reactivation_sejour.html.twig', { 'sejour': sejour}) }}
            {% endif %}
        </div>
    </div>
{% endif %}
<div class="pane-content-inner">
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link " id="decla_intention-tab" data-bs-toggle="tab" data-bs-target="#decla_intention" type="button" role="tab" aria-controls="decla_intention" aria-selected="true">Déclaration d'intention</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="projet-sejour-tab" data-bs-toggle="tab" data-bs-target="#projet-sejour" type="button" role="tab" aria-controls="projet-sejour" aria-selected="false">Projet de séjour</button>
        </li>
        {% if sejour.validationVisible and sejour.validationSejour is not null  %}
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="validation-sejour-tab" data-bs-toggle="tab" data-bs-target="#validation-sejour" type="button" role="tab" aria-controls="validation-sejour" aria-selected="false">Validation du séjour</button>
            </li>
        {% endif %}
        {% if sejour.validationVisible and sejour.validationInternationaleSejour is not null  %}
            {% if (sejour.international or sejour.sejourFranceAvecAccueilEtranger) %}
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="validation-internationale-tab" data-bs-toggle="tab" data-bs-target="#validation-internationale" type="button" role="tab" aria-controls="validation-internationale-sejour" aria-selected="false">Validation internationale du séjour</button>
                </li>
            {% endif %}
        {% endif %}
    </ul>
    <!-- Tab panes -->
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade" id="decla_intention" role="tabpanel" aria-labelledby="decla_intention-tab">
            {{ include('sejour/detail_declaration_intention.html.twig', { 'sejour': decla_intention_sejour, 'commentaires': sejour.commentaires, 'panelActif':sejour.panelActif}) }}
        </div>
        <div class="tab-pane fade show active" id="projet-sejour" role="tabpanel" aria-labelledby="projet-sejour-tab">
            {{ include('sejour/detail_construction_sejour_sans_modif.html.twig', {'sejour': sejour, 'resumeEffectifs': resumeEffectifs, 'commentaires': sejour.commentaires, 'panelActif':sejour.panelActif}) }}
        </div>
        <div class="tab-pane fade" id="validation-sejour" role="tabpanel" aria-labelledby="validation-sejour-tab">
            {{ include('sejour/components/validation_sejour.html.twig',{ 'commentaires': sejour.commentaires, 'panelActif':sejour.panelActif}) }}
        </div>
        <div class="tab-pane fade" id="validation-internationale" role="tabpanel" aria-labelledby="validation-internationale-tab">
            {{ include('sejour/components/validation_internationale_sejour.html.twig',{ 'commentaires': sejour.commentaires, 'panelActif':sejour.panelActif}) }}
        </div>
    </div>
</div>


{% endblock %}
{% block javascripts %}
    {{ parent() }}
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/autocomplete.js/0/autocomplete.jquery.min.js"></script>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    <script src="{{ asset('js/utils.js') }}"></script>
    <script src="{{ asset('js/rechercheLocalisation.js') }}"></script>

    <script>
        jQuery(document).ready(function() {
            // Pour chacun des lieux en lecture, on gère l'affichage sur la carte
            $('.lieu_lecture').each(     
                function() {affichageLocalisation($(this))}
            )
        })           
    </script>
{% endblock %}


